@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);
body {font-size: 14px; font-family: Arial, Arial, Helvetica, sans-serif; color: #666; overflow-x: hidden; -webkit-overflow-scrolling: touch;}

.wrapper {background: url("../img/wrapper_bg.jpg") center top no-repeat; background-size: auto 100%; -webkit-background-size: auto 100%; -moz-background-size: auto 100%; -o-background-size: auto 100%; height: 100%;}
a.layer {background: url("../img/layer.png") center top no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; position: relative; min-height: 100%; display: block;}
a.layer:hover {text-decoration: none;}

/* home */
#main {position: relative; height: 100%; overflow-x: hidden;}
.sidebar {background: #f9f9f9; position: fixed; top: 0; right: 0; width: 201px; height: 100%; overflow: scroll; overflow-x: hidden; overflow-y: auto; border-left: 1px solid #ccc; z-index: 12; -webkit-overflow-scrolling: touch; overflow-scrolling: touch;}
a.logo {background: url("../img/sd_sprite.png") no-repeat; width: 112px; height: 47px; text-indent: -9000px; overflow: hidden; display: block; margin: 21px 44px 0 0;}
.page {padding: 0 200px 49px 1px;}
.block {border-bottom: 1px solid #ccc; text-align: center; padding: 6px 0 20px 0;}
.block p {margin: 0; font-size: 23px; color: #000;}
.block p small {display: block; font-size: 11px; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 1.1;}
.block a {transition: 0.5s linear; letter-spacing: 1px;}
.block a:hover,.block a:active {text-decoration: none; color: #65423f;}
.block a:hover p,.block a:hover p small {color: #666;}
#nav {border-bottom: 1px solid #ccc; padding: 18px 37px 51px 13px;}
#nav li { padding: 0; line-height: 1.0;}
#nav li a {font-family: 'Open Sans', sans-serif; font-weight: 300; color: #000; font-size: 17px; display: inline-block; padding: 0 7px 0 9px; transition: 0.5s linear; letter-spacing: 1px;}
#nav li.activ a,#nav li:hover a {text-decoration: none; color: #666;}
.cart-list {padding: 16px 41px 0 0; margin: 0 0 -15px 0;}
.cart-list li {padding: 0 0 11px 0;}
.count-cart {float: right; width: 28px; height: 28px; background: #333; border: 1px solid #333; color: #fff; padding: 5px 0 0 0; text-align: center; position: relative;}
.count-cart .ar {background: url("../img/sd_sprite.png") -107px -53px no-repeat; width: 8px; height: 15px; position: absolute; left: -8px; top: 6px;}
.cart-list li a {float: right; font-size: 17px; color: #000; padding: 5px 22px 0 0;}
.cart-list li.curr .count-cart {background: #f9f9f9; border-color: #cfcfcf; color: #333;}
.cart-list li.curr .count-cart .ar {background-position: -107px -69px;}
.loginn {font-size: 17px; color: #666; letter-spacing: 1px; padding: 11px 30px 0 0;}
.loginn a:hover {text-decoration: none; color: #666;}
.loginn span {padding: 0 6px 0 7px;}
.catalog-list {text-align: center;}
.catalog-list li {display: inline-block; width: 20%; vertical-align: top; margin: 0 0 0 -4px; position: relative;}
.catalog-list li > a {display: block; position: relative; z-index: 9;}
.catalog-list li > a:hover {text-decoration: none;}
.catalog-list li > a > img {min-width: 100%; border: 1px solid #fff;}
.catalog-list li > a:hover > img {-moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9; border-color: #362221;}
.add {position: absolute; bottom: 20px; width: 100%; padding: 0 6% 0 9%; z-index: 10;}
.add-inner {background: rgba(0, 0, 0, 0.4); color: #fff; padding: 6px;}
.add-inner p {margin: 0 0 0 160px; text-align: right;}
a.add-link {width: 147px; height: 44px; background: #65423f; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; float: left; color: #fff; padding: 8px 11px 0 12px; font-size: 11px; position: relative; text-align: right; transition: 0.5s linear;}
a.add-link:hover {background: #362221; text-decoration: none;}
a.add-link span {display: block;}
a.add-link .plus {background: url("../img/sd_sprite.png") -60px -53px no-repeat; width: 21px; height: 21px; position: absolute; top: 12px; left: 12px;}
a.clMenuLink {display: block; width: 30px; height: 30px; background: rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; position: fixed; top: 5px; right: 5px; z-index: 13; padding: 7px 5px 5px 5px; display: none;}
a.clMenuLink i {display: block; width: 15px; height: 3px; background: #fff; margin: 2px auto;}
a.clMenuLink.cur {right: 205px!important;}
/* End home */


/* item_page */
.product_list > li {display: inline-block; width: 50%; vertical-align: top; margin: 0 0 0 -4px; position: relative;}
.product_list li > img {min-width: 100%;}
.product-info {padding: 35px 35px 100px 30px;}
.product-info h1 {color: #333; margin: 0; font-size: 20px; font-weight: normal; border-bottom: 1px dotted #000; padding: 0 0 25px 0;}
.product-feature {padding: 0 0 18px 0;}
.product-feature dt {padding: 0 0 19px 0;}
.product-feature dd {padding: 0 0 1px 0;}
a.add-cart {width: 204px; height: 60px; background: #65423f; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: block; color: #fff; padding: 8px 17px 0 17px; font-size: 16px; position: relative; text-align: right; transition: 0.5s linear;}
a.add-cart:hover {background: #362221; text-decoration: none;}
a.add-cart .plus-cart {background: url("../img/sd_sprite.png") 0px -53px no-repeat; width: 30px; height: 30px; position: absolute; top: 16px; left: 17px;}
a.add-cart span {display: block;}
.product-details {border: 1px dotted #000; border-width: 1px 0; margin: 0 0 30px 0; padding: 8px 0 19px 0;}
.details-list > li {display: inline-block; vertical-align: top; width: 52px; margin: 0 0 0 6px; position: relative;}
.current-det {width: 52px; height: 57px; text-align: center; padding: 9px 0 0 0; border: 1px solid #fff; position: relative; z-index: 1;}
.details-list > li:hover .current-det {background: #ebebeb; border-color: #ccc; cursor: pointer;}
.current-det .title {font: italic 22px Georgia1, Georgia, serif;}
.current-det .title img {position: relative; top: -4px;}
.current-det .entry {padding: 1px 0 9px 0;}
.det-arrow {background: url("../img/sd_sprite.png") 0px -168px no-repeat; width: 14px; height: 8px; margin: 0 auto; overflow: hidden;}
.select-list {width: 52px; background: #ebebeb; border: 1px solid #ccc; position: absolute; top: 0; left: 0; z-index: 2; display: none; cursor: pointer;}
.select-list > dt {font-weight: bold; font-size: 11px; color: #000; text-align: center; padding: 1px 0 5px 0;}
.select-list > dd {font: italic 13px Georgia1, Georgia, serif; text-align: center; padding: 3px 0 4px 0; position: relative;}
.select-list > dd > a {display: block; padding: 7px 0;}
.select-list > dd > a > img {display: block; margin: 0 auto;}
.select-list > dd > a:hover {text-decoration: none; background: #65423f; color: #fff;}
.select-list > dd > span {color: #fff; background: #65423f; height: 33px; line-height: 33px; min-width: 110px; padding: 0 5px; border: 1px solid #ccc; border-right: 0; position: absolute; top: 2px; right: 0px; font-style: normal; font-size: 10px; text-align: right; -moz-opacity: 0; -khtml-opacity: 0; opacity: 0;}
.select-list > dd:hover > span {right: 50px; -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; -moz-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transition-property: all; -moz-transition-property: all; -o-transition-property: all; transition-property: all;}
/* End item_page */


/* profile */
.page-inner {padding: 33px 40px 0 33px;}
.page-title {background: url("../img/page-title-bg.png") center 14px repeat-x; max-width: 454px; margin: 0 auto; text-align: center;}
.page-title span {background: #fff; display: inline-block; font-size: 24px; min-width: 140px;}
.hd-outer {text-align: center; padding: 21px 0 37px 0;}
.hd_1 {background: url("../img/hd_1_big.png") no-repeat; width: 230px; height: 54px; display: inline-block;}
.hd-outer p {text-align: right; padding: 4px 0 0 0;}
.box {padding: 0 0 36px 0;}
.box-title {border-top: 1px solid #ccc; text-align: center;}
.box-title span {display: inline-block; background: #fff; min-width: 242px; position: relative; top: -12px; color: #000;}
.box-title span strong {padding: 0 0 0 5px;}
.bix-entry {padding: 13px 0 0 0;}
.bix-entry p {margin: 0;}
.box-right {width: 50%; float: right;}
.box-left {width: 40%; float: left;}
.contact-lists {padding: 4px 0 0 0;}
.contact-lists li {padding: 0 0 7px 0;}
.contact-lists li strong {font-size: 18px; font-weight: normal;}
.contact-lists li span {color: #999; padding: 0 0 0 6px;}
.contact-lists li em {font-weight: normal; font-style: normal; color: #333;}
.contact-lists li em a {color: #333;}
.contact-lists li a.redact {float: left; font-size: 11px;}
.box-right .contact-lists {padding-left: 17%;}
.box-left .contact-lists {padding-left: 5%;}
.box-p {padding: 0 0 15px 0;}
.contact-lists li.userr figure {float: right; margin: 0 0 0 18px;}
.contact-lists li.userr small {float: right; font-size: 11px;}
.order-lists {border-top: 1px dotted #000; margin: 7px 0 50px 0;}
.order-lists > li {border-bottom: 1px dotted #000; padding: 5px 0 10px 0;}
.oreder-right {width: 80%; float: right;}
.oreder-left {width: 20%; float: left;}
.order-fotos {padding: 9px 0 0 0;}
.order-fotos li {display: inline-block; vertical-align: top;}
.oreder-right p {color: #999;}
.oreder-right p strong {font-weight: normal; color: #333;}
.oreder-right p span {color: #333; padding: 0 6px 0 0;}
.order-staus {width: 40px; text-align: center; float: left; padding: 39px 0 0 0;}
.order-staus em {font-style: normal; font-weight: normal; top: -2px; position: relative;}
.order-staus .ic {display: inline-block; background: url("../img/sd_sprite.png") no-repeat;}
.order-made .ic {width: 18px; height: 19px; background-position: -92px -157px;}
.order-treatment .ic {width: 21px; height: 21px;  background-position: -90px -182px;}
/* End profile */


/* coordination */
.hd_2 {background: url("../img/hd_2_big.png") no-repeat; width: 299px; height: 53px; display: inline-block;}
.informer-list {padding: 0 0 19px 0;}
.informer-list > li {float: right; width: 50%;}
.informer-list > li.last {width: 40%; float: left;}
.informer-list > li label {float: right; font-size: 14px; padding: 8px 0 0 32px;}
.select-outer {float: right;}
.sbHolder {width: 129px; height: 34px; background: #fff; border: 1px solid #ccc; position: relative;}
a.sbSelector{display: block; height: 34px; left: 0; line-height: 34px; outline: none; overflow: hidden; position: absolute; text-align: left; padding: 0 0 0 38px; top: 0; width: 100%; color: #666; text-decoration: none;}
.sbToggle{background: url("../img/sd_sprite.png") -69px -168px no-repeat; width: 9px; height: 5px; display: block; outline: none; position: absolute; right: 11px; top: 14px;}
.sbToggleOpen{background-position: -69px -177px;}
.sbOptions{background: #fff; border: solid 1px #ccc; left: -1px; position: absolute; top: 52px; width: 129px; z-index: 1; overflow-y: auto;}
.sbOptions li{text-align: left; padding: 10px 7px 10px 35px;}
.sbOptions a{display: block; outline: none; padding: 0px 0 0px 3px;}
.sbOptions a:link, .sbOptions a:visited{color: #969696;	text-decoration: none;}
.sbOptions a:hover,.sbOptions a:focus,.sbOptions a.sbFocus{color: #333;}
.sbOptions li.last a{border-bottom: none;}
.sbOptions .sbDisabled{border-bottom: dotted 1px #515151; color: #999; display: block; padding: 7px 0 7px 3px;}
.sbOptions .sbGroup{border-bottom: dotted 1px #515151; color: #EBB52D; display: block; padding: 7px 0 7px 3px;}
.sbOptions .sbSub{padding-left: 17px;}
.calendar-outer {width: 181px; height: 34px; float: right; background: #fff; border: 1px solid #ccc; position: relative; padding: 0 6px 0 20px;}
.calendar-outer #datepicker {width: 120px; border: 0; padding: 10px 0  0; float: left; text-align: left; font: 14px Arial, Arial, Helvetica, sans-serif; color: #666;}
.calendar-outer img {position: absolute; top: 3px; right: 6px; cursor: pointer;}
.dann-list {width: 565px; margin: 0 auto; padding: 4px 0 0 0;}
.dann-list li {float: right; width: 259px; margin: 0 0 30px 47px;}
.dann-list li:nth-child(2n) {margin-left: 0;}
.dann-list li input {border: 1px solid #ccc; width: 100%; background: #fff; padding: 8px 14px 7px 14px; font: 14px Arial, Arial, Helvetica, sans-serif; color: #666;}
.siz-list {width: 50%;}
.siz-list li {padding: 0 0 20px 0; position: relative;}
.numbers {float: left; font-family: Times New Roman, Times New Roman, Times, serif; font-size: 30px; padding: 24px 0 0 0;}
.siz-inner {float: right;}
.siz-inner figure {float: right; margin: 0 0 0 26px;}
.siz-inner h3 {font-size: 14px; margin: 2px 88px 7px 0;}
.siz-inner p {margin: 0 88px 0 0; font-family: Georgia1, Georgia, serif; font-style: italic; text-transform: uppercase;}
.eddit {border: 1px solid #ccc; border-width: 1px 0; text-align: center; padding: 17px 0 14px 0;}
a.edd-a {background: #333; display: inline-block; width: 148px; line-height: 36px; color: #fff; font-size: 18px; text-align: center;}
.booking {padding: 20px 0 50px 0;}
.booking a.edd-a {float: left; margin: 0 15px 0 0; text-decoration: none;}
.booking a.edd-a:hover {text-decoration: underline;}
.booking p {float: left; margin: 0; font-size: 12px;}
.booking p a {text-decoration: underline;}
.booking p a:hover {text-decoration: none;}
/* End coordination */


/* basket */
.hd_3 {background: url("../img/hd_3_big.png") no-repeat; width: 227px; height: 54px; display: inline-block;}
.siz-list-second {width: 100%;}
.count-outer {width: 68px; margin: 0 auto; position: relative; top: 12px;}
.count-inner {width: 68px; height: 65px; border: 1px solid #ccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.count-inner input {font-size: 24px; font-weight: bold; width: 47px; text-align: center; float: left; border: 0; color: #666; padding: 16px 0 0 0;}
.count-inner .rules {border-left: 1px solid #ccc; height: 63px; width: 19px;}
.count-inner .rules span {display: block; text-align: center; color: #5e5e5e; cursor: pointer;}
.count-inner .rules span.upp {border-bottom: 1px solid #ccc; height: 33px; padding: 8px 0 0 0;}
.count-inner .rules span.down {padding: 5px 0 8px 0;}
.count-outer p {text-align: center;}
.clozze {background: url("../img/sd_sprite.png") -21px -160px no-repeat; width: 30px; height: 30px; cursor: pointer; float: left; margin: 32px 0 0 7px;}
.bt {background: #333; width: 148px; line-height: 36px; color: #fff; font-size: 18px; text-align: center; border: 0; margin: 0 10px;}
/* End basket */


/* footer */
#footer {background: #f7f7f7; position: fixed; bottom: 0; left: 0; z-index: 11; border-top: 1px solid #ebebeb; min-height: 49px; width: 100%; padding-right: 200px;}
.social {float: left; padding: 18px 0 0 18px;}
.social li {float: left; padding: 0 16px 0 0;}
.social li a {float: left;}
.social li a span {background: url("../img/sd_sprite.png") -1px -208px no-repeat; display: inline-block; text-indent: -900px; overflow: hidden; width: 16px; height: 16px;}
.social li a span.soc-2 {background-position: -29px -208px; width: 8px;}
.social li a span.soc-3 {background-position: -60px -208px; width: 17px;}
.footer-nav {float: right; padding: 9px 18px 0 0;}
.footer-nav li {float: right; margin: 0 0 0 4px;}
.footer-nav li a {display: inline-block; padding: 6px 7px 9px 9px; transition: 0.5s linear;}
.footer-nav li.activ a,.footer-nav li:hover a {background: #333333; color: #fff; text-decoration: none;}