@font-face {
	font-family: 'Segoe';
	src: url('fonts/SEGOEUIL.eot');
	src: local('SEGOEUIL'), url('fonts/SEGOEUIL.woff') format('woff'), url('fonts/SEGOEUIL.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Y5yuUJGDLtmYv2_3fMB4fA.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans'), local('NotoSans'), url(fonts/EPnyo3HZu7kw.woff) format('woff');
}
