/*ios*/
.ios .header { height:60px; }
.ios .footer { background-image: url(../img/bg/ios_footer.jpg);  height: 245px; }
.ios .wigetbox .top_item img {
	margin-right: 20px;
}

.ios_wg_bg1, .ios_wg_bg2, .ios_wg_bg3, .ios_wg_bg4 {
	margin:6px 3px 7px 4px;
	width: 230px;
	height: 173px;
	float: left;

}
.ios_wg_bg1 span, .ios_wg_bg2 span , .ios_wg_bg3 span , .ios_wg_bg4 span{
	color:#245588
}
.ios_wg_bg1 {
	background-image: url(../img/wiget/ios/1.png);
}
.ios_wg_bg2 {
	background-image: url(../img/wiget/ios/2.png);
}
.ios_wg_bg3 {
	background-image: url(../img/wiget/ios/3.png);
}
.ios_wg_bg4 {
	background-image: url(../img/wiget/ios/4.png);
}
.ios .wigetbox h3 { color:#235588; font-size: 14px; }
.ios .wigetbox h3 a { color:#235588; }
.ioscontentbox { text-align:justify; color:#1d2300; line-height:21px; min-height:285px; }

.ioscontentbox button.add-funds { 
	background-image: url(../img/btn_green.png);
	background-repeat: no-repeat;
	background-color: transparent;
	color:#fff; 
	padding:10px 10px;
	border-style: none;
	width: 250px;
	height:57px;
	font-size: 25px;
	font-family: 'Noto Sans';
	cursor: pointer;
}
.ioscontentbox button.download {
	background-image: url(../img/ico_bg_ios.png);
	background-repeat: no-repeat;
	background-color: transparent;
	color: #235588;
	padding: 7px 10px 8px 30px;
	height:83px;
	width: 250px;
	border-style: none;
	font-size: 35px;
	font-family: 'Noto Sans';
	cursor: pointer;
}
.ioscontentbox button.reg_b, .ioscontentbox button.login_b  {
	color: #fff;
	padding: 4px 10px 8px 10px;
	width: 250px;
	height:57px;
	border-style: none;	
	font-size: 25px;
	font-family: 'Noto Sans';
	cursor: pointer;
	margin-top:25px;
	background-size: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
}
.ioscontentbox button.reg_b {
	background-image:url(../img/btn_blue.png);
}
.ioscontentbox button.login_b {
	background-image:url(../img/btn_green.png);	
}
.ioscontentbox  h3 { padding: 0 0 22px 0; font-family: 'Segoe'; font-size: 20px !important; color:#1d2100 !important; }
.iossliderbox { 
	height: 400px;
	background-image: url(../img/bg/slider.jpg);
	padding: 50px 0;
	background-repeat: repeat-x;
	background-position: 0 -250px;	
	margin-top: 40px;
}
.iossliderbox div.step-info{
	width: 600px;
	float: left;
	padding: 0 30px;
	color: #d5d5d5;
	font-size: 20px;
	font-family: 'Segoe';
	font-size:15px;
}
.iossliderbox div.step-info h3 { font-family: 'Segoe'; color:#fff !important; font-size: 25px !important; margin-bottom:15px; }
.iossliderbox div.step-info h3 span { font-family: 'Segoe'; color:#46a5dd; margin-right:7px;}
.iossliderbox div.step-info p.green { color:#46a5dd; }
.iossliderbox div.step-info p b { font-family: 'Segoe'; color:#fff;}
.iossliderbox img { }
.iossliderbox p { line-height:40px; }
.sliderbox_arr { 
	background-image:url(../img/arr.png);
	background-repeat:no-repeat;
	width:50px;
	height:20px;
	position: absolute;
	margin: -70px 815px;
	z-index:1000;
}
.anythingSlider-default.activeSlider .anythingControls a.cur,
.anythingSlider-default.activeSlider .anythingControls a:hover {	
	background-position: -37px 0;
	color: #fff;
}