* {padding: 0; margin :0;}
html {background: #fbfbfb url(../images/body-bg0.png) repeat-x; height: 100%;}
body {background: url(../images/body-bg.png); font: 12px Arial, Helvetica, sans-serif; color: #666; height: auto !important; height: 100%; min-height: 100%; position: relative; overflow-x:hidden; min-width:1002px;}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a:link, a:visited {text-decoration: underline;}
a:hover, a:active {text-decoration: none;}
a:focus {outline: none;}
button:focus {outline: none;}
/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/

.left {float: left;} 
.right {float: right;}


.wrapper {width: 1002px; margin: 0 auto; padding-bottom: 247px;}
.head {height: 281px; position: relative; z-index: 3;}
.logo {float: left; padding: 10px 0 0 38px;}
.head-inner {width: 757px; float: right;}
#icons {padding: 39px 0 13px 29px;}
#icons li {float: left; margin: 0 25px 0 0;}
#icons li a {color: #7d8794; text-decoration: none; padding: 0 0 0 16px;}
#icons li a:hover {text-decoration: underline;}
#icons li.li-01 a {background: url(../images/li-01-bg.png) left 3px no-repeat;}
#icons li.li-02 a {background: url(../images/li-02-bg.png) left 2px no-repeat;}
#icons li.li-03 a {background: url(../images/li-03-bg.png) left 4px no-repeat;}
.box {background: url(../images/box-bg.png) repeat-x; height: 160px; position: relative; border: 1px solid #c5deab; z-index: 10;
-moz-border-radius: 23px; -webkit-border-radius: 23px; -khtml-border-radius: 23px; border-radius: 23px; behavior: url(js/PIE.php);}
.box h2 {font-family: Garamond, Helvetica, sans-serif; font-size: 21px; color: #fff; text-transform: uppercase; float: left; line-height: 1.0; padding: 41px 0 0 59px;}
.actions {background: url(../images/actions.png) no-repeat; width: 162px; height: 133px; right: 53px; top: 0; position: absolute; color: #fff; padding: 31px 20px 0 32px;} 
.actions h3 {font-size: 18px; text-transform: uppercase; padding: 0 0 12px 0;}
.actions p a {font-size: 14px; text-decoration: none; color: #fff; line-height: 1.0;}
.actions p a:hover {text-decoration: underline;}
.actions p a img {margin: 0 0 0 5px; position: relative; top: -1px;}
.contact {background: url(../images/contact-bg.png) repeat-x; height: 48px; width: 230px; position: relative; float: left; text-align: center; font-family: Verdana, Geneva, sans-serif; color: #fff;
-moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; behavior: url(js/PIE.php); margin: 4px 0 0 0;}
.contact span {font-size: 15px; display: block; padding: 1px 0 0 0;}
.contact p {font-size: 20px;}
.menu {float: left; margin: 11px 0 0 34px;}
.menu li {background: url(../images/menu-li-bg.png) repeat-x; height: 39px; position: relative; float: left;
-moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; behavior: url(js/PIE.php); margin: 0 2px 0 0;}
.menu li a {display: inline-block; line-height: 39px; height: 39px; font-size: 13px; text-transform: uppercase; font-weight: bold; text-shadow: 1px 1px 1px #1b87bf; color: #fff; text-decoration: none; padding: 0 9px;}
.menu li a:hover {text-decoration: underline;}
.iconca-1 {position: absolute; left: 212px; top: 35px; z-index: 11;}
.iconca-2 {position: absolute; left: 192px; top: 95px; z-index: 11;}
.iconca-3 {position: absolute; right: -7px; top: 155px; z-index: 11;}
.iconca-4 {position: absolute; right: 85px; top: -2px; z-index: 11;}
.iconca-5 {position: absolute; right: 134px; top: -9px; z-index: 11;}
.children {position: absolute; top: -21px; right: 250px; z-index: 11;}
.iconca-9 {position: absolute; top: 19px; right: 220px; z-index: 11;}
.iconca-10 {z-index: 9; position: absolute; right: -62px; top: -53px;}
.iconca-13 {position: absolute; left: 205px; top: 115px; z-index: 100;}
.iconca-17 {position: absolute; top: 10px; right: 19px; z-index: 11;}

.content {width: 100%; position: relative; z-index: 2;}
.left-col {width: 247px; float: left;}
.center-col {width: 501px; float: left; padding: 16px 0 0 28px;}
.right-col {width: 226px; float: left;}
.sumenu {padding: 17px 0 0 0;}
.sumenu li {background: url(../images/submenu-li-bg.png) left 50% no-repeat; padding: 0 0 0 23px; margin: 0 0 2px 0;}
.sumenu li div {background: url(../images/m-01.png) no-repeat; width: 213px; height: 33px; text-align: right; padding: 0 0 0 10px;}
.sumenu li div a {font-size: 13px; font-weight: bold; text-transform: uppercase; color: #fff; text-decoration: none; padding: 9px 17px 0 0; display: block; line-height: 1.1;}
.sumenu li div a:hover {text-decoration: underline;}
.sumenu li.m-02 div {background: url(../images/m-02.png) no-repeat; height: 55px;}
.sumenu li.m-02 div a {padding: 6px 17px 0 0;}
.sumenu li.m-03 div {background: url(../images/m-03.png) no-repeat; height: 42px;}
.sumenu li.m-03 div a {padding: 7px 17px 0 0;}
.inner {position: relative;}
.banners {padding: 14px 0 4px 0;}
.banners img {display: block; margin: 0 0 12px 0;}
.center-col h2.title {background: url(../images/h2-bg.png) left 2px no-repeat; padding: 0 0 31px 29px; color: #008caa; font-size: 18px; line-height: 1.1;}
.center-col p {line-height: 1.5; padding: 0 0 21px 0;}
.center-col p a {color: #00bbe7;}
.center-col img {border: 1px solid #e9edf2;}
.center-col img.right {margin: 3px 0 0 35px;}
.inside p {padding: 0 0 15px 0;}
.inside .zagolovok {padding: 0 0 0 44px;}
.preambule {padding: 0 0 32px 0;}
.preambule p {background: url(../images/preambule-p-bg.png) left 0 no-repeat; padding: 7px 0 13px 27px; margin: 0 10px 0 155px;}
.address {padding: 13px 150px 0 0;}
.address h3 {font-size: 12px; padding: 0 0 11px 0;}
.articles {padding: 14px 0 0 0;}
.articles .clearfix {padding: 0 0 25px 0;}
.articles .date {width: 80px; float: left; font: 11px Verdana, Geneva, sans-serif; padding: 18px 0 0 0;}
.articles .com-outer {width: 389px; float: left;}
.articles .com {background: #e9ecf1 url(../images/com-bg.png) repeat-x; border: 1px solid #ffff; position:relative; padding: 17px 20px 0 20px; float: left;
-moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; behavior: url(js/PIE.php);}
.articles .com p a {color: #21b9c7; font-size: 12px; line-height: 1.1;}
.last-news {padding: 6px 0 0 6px;}
.last-news-titl {background: #eff2f5 url(../images/last-news-titl-bg.png) repeat-x; border: 1px solid #fff; position:relative; padding: 10px 0 8px 21px;
-moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; behavior: url(js/PIE.php);}
.last-news-titl p {font-size: 15px; font-weight: bold; color: #898a8a; padding: 0 80px 0 0; line-height: 0.8;}
.last-news-titl-last {background: #f1f3f5; border: 0; padding-top: 15px; padding-bottom: 15px;}
.last-news-titl-last p {padding: 0;}
.news {padding: 8px 0 0 30px;}
.news li {padding: 35px 0 0 0;}
.news li .hd {padding: 0 0 4px 0;}
.news li .hd span {font-family: Verdana, Geneva, sans-serif;}
.news li .hd a {background: #01b0c0; color: #fff; margin: 0 0 0 1px;}
.news li p {line-height: 1.7; padding: 0 0 2px 0;}
.news li .more {float: right; color: #01b0c0;}
.box-in {padding: 1px 0 0 6px; position: relative;}
.iconca-11 {position: absolute; left: 8px; top: 28px;}
.iconca-18 {position: absolute; left: -21px; top: -251px;}

.last-news-second .last-news-titl p {color: #fb062d;}
.last-news-second .news li .hd span {font: 10px Verdana, Geneva, sans-serif;}
.last-news-second .news li .hd a {background: none; color: #fff; margin: 0;}


.last-news-second .news li .hd a i {
	
background: #74B2D4;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#74B2D4), to(#0b6baf));
background: -webkit-linear-gradient(#74B2D4, #0b6baf);
background: -moz-linear-gradient(#74B2D4, #0b6baf);
background: -ms-linear-gradient(#74B2D4, #0b6baf);
background: -o-linear-gradient(#74B2D4, #0b6baf);
background: linear-gradient(#74B2D4, #0b6baf);
-pie-background: linear-gradient(#74B2D4, #0b6baf);
-moz-border-radius: 12px; -webkit-border-radius: 12px; -khtml-border-radius: 12px; border-radius: 12px; behavior: url(js/PIE.php); position: relative;
padding: 0 9px; text-decoration: underline;
font-style: normal; font-size: 13px; font-weight: bold;

	
	}


.iconca-12 {display: block;}
.cnopca {background: url(../images/iconca-12.png) no-repeat; width: 203px; height: 118px;}
.cnopca.activ {background: url(../images/iconca-12a.png) 31px 2px no-repeat;}
.banners-second {padding: 100px 0 0 0;}
.iconca-14 {position: absolute; left: -21px; top: 39px;}
.banners-therd {padding: 348px 0 0 0;}
.iconca-15 {position: absolute; left: 24px; top: 8px; z-index: 100;}
.iconca-16 {position: absolute; left: -13px; top: 28px;}

.footer {background: #fcfcfc url(../images/footer-bg.png) repeat-x; width: 100%; position: absolute; bottom: 0; min-height: 181px; color: #8e97a2;}
.footer-main {width: 1002px; margin: 0 auto; position: relative;}
.footer-main p {text-align: center; text-align: center;}
.iconca-8 {position: absolute; left: 0; top: -269px;}
.footer-navi {text-align: center; padding: 15px 0 0 0;}
.footer-navi li {display: inline;}
.footer-navi li a {font-size: 10px; text-transform: uppercase; color: #fff; text-decoration: none;}
.footer-navi li a:hover {text-decoration: underline;}
.footer-navi li span {color: #c6dcd4; font-size: 11px; padding: 0 11px 0 13px; position: relative; top: -1px;}
.footer-menu {text-align: center; padding: 38px 0 7px 0;}
.footer-menu li {display: inline;}
.footer-menu li a {font-size: 9px; text-transform: uppercase; color: #01b0c0; text-decoration: none;}
.footer-menu li a:hover {text-decoration: underline;}
.footer-menu li span {color: #a587b6; font-size: 11px; padding: 0 7px 0 8px; position: relative; top: -1px;}
.meter {text-align: center; padding: 0 0 4px 0;}
.copy {padding: 0 0 4px 0;}