body {font-family: Arial, Helvetica, sans-serif; font-size: 14px; background: #f9f9f9 url(../img/body-bg.png) center top repeat-x; color: #666;}

.wrapper {background: url(../img/wrapper-bg.png) center top repeat-y; width: 960px; margin: 0 auto; padding: 0 21px; position: relative; min-height: 100%;}
.logo {float: left; margin: 10px 0 0 0;}
.header-inner {float: right; padding: 18px 0 0 0;}
.lang {float: right; padding: 0 1px 0 0;}
.lang li {float: left; padding: 0 3px 2px 4px; margin: 0 0 0 5px; border: 1px solid #fff;}
.lang li a {color: #333; text-transform: uppercase; text-decoration: none;}
.lang li a img {position: relative; top: 3px;}
.lang li a span {padding: 0 5px 0 0;}
.lang li.activ,.lang li:hover {border: 1px solid #e3e3e3;}
.lang li.activ span,.lang li:hover span {font-weight: bold;}
.contacts {float: right; text-align: right; padding: 20px 0 0 0;}
.phone {color: #a71e23; font-weight: bold; font-size: 20px; line-height: 1.1;}
.address {color: #333; font-size: 12px;}
#nav {padding: 4px 0 0 0;}
#nav ul {background: url(../img/nav-bg.png) repeat-x; height: 40px; overflow: hidden;}
#nav ul li {background: url(../img/nav-li-bg.png) right top no-repeat; padding: 0 2px 0 0; float: left; height: 40px; }
#nav ul li:last-child {background: none; padding: 0;}
#nav ul li:last-child a {width: 96px;}
#nav ul li a {float: left; height: 29px; font-weight: bold; text-decoration: none; color: #fff; text-shadow: 1px -1px 1px #164e75; padding: 11px 0 0 0; display: block; width: 94px; text-align: center;}
#nav ul li a:hover,#nav ul li.activ a{background: url(../img/nav-a-hover.png) repeat-x;}



/* main */
.content-main {background: none!important; padding-top: 20px;}
.preambule {padding: 0 0 40px 0;}
.slider-outers {width: 960px; float: left; position: relative;}
#slides {background: url(../img/plashka-bg.png) left bottom no-repeat; padding: 0 0 19px 0; width: 960px; height: 290px; overflow: hidden; z-index:100;}
.slides_container {overflow:hidden; position:relative; display:none;}
.slides_container div.slide {width: 960px;height: 290px; display:block;}
.slides_container div.slide img { float: left;}
.slides_container div.slide .texts {width: 290px; float: right; padding: 2px 20px 0 0;}
.texts h2 {margin: 0; color: #a71e23; padding: 0 0 24px 0; font-size: 30px;}
.texts p {margin: 0; color: #333;}
.pagination {position:absolute; left: 3px; bottom: 22px; padding: 0; z-index:99;}
.pagination li {float:left;margin: 0px 0 0 0;list-style:none;}
.pagination li a {display:block; width: 22px; height: 22px; background: url(../img/default.png); float:left; overflow:hidden; text-indent: -90000px;}
.pagination li.current a {background:url(../img/active.png) no-repeat;}
a.prev {background: url(../img/prew.png) no-repeat; width: 30px; height: 30px; position: absolute; text-indent: -9000px; overflow: hidden; left: -16px; top: 126px; z-index: 10000;}
a.next {background: url(../img/next.png) no-repeat; width: 30px; height: 30px; position: absolute; text-indent: -9000px; overflow: hidden; left: 614px; top: 126px; z-index: 10000;}
a.mor {background: url(../img/mor-bg.png) no-repeat; width: 101px; height: 28px; margin: 48px 0 0 0; font-size: 17px; padding: 7px 0 0 28px; display: block; color: #f0f5f9; text-decoration: none; text-shadow: 1px 1px 1px #146095;}
a.mor:hover { background: url(../img/mor-hover-bg.png) no-repeat; text-decoration: underline;}
.photo-gallery {background: url(../img/photo-gallery-bg.png) center bottom no-repeat; position: relative; padding: 0 0 19px 0;}
.photo-gallery ul li {display: inline-block; vertical-align: top; width: 160px; margin: 0;}
.photo-gallery ul li .inn {width: 150px; padding: 5px 4px 47px 4px; border: 1px solid #fff; position: relative;}
.photo-gallery ul li .inn h3 {margin: 0; padding: 0 10px 6px 0;}
.photo-gallery ul li .inn h3 a {text-decoration: none; float: none;}
.photo-gallery ul li .inn h3 a:hover {text-decoration: underline;}
.photo-gallery ul li .inn figcaption {font-size: 12px; padding: 3px 0 0 0; color: #8c8c8c;}
.photo-gallery ul li .inn .title {position: absolute; bottom: 0; left: 0; width: 150px; height: 21px; background: #e7f1f8; padding: 2px 0 0 8px; color: #478fc8; display: none;}
.photo-gallery ul li .inn .title a {text-decoration: none;}
.photo-gallery ul li .inn .title a:hover {text-decoration: underline;}
.photo-gallery ul li:hover .inn {border-color: #cfe3f2;
-moz-box-shadow: 0 0 5px #cfe3f2;
-webkit-box-shadow: 0 0 5px #cfe3f2;
box-shadow: 0 0 5px #cfe3f2;} 
.photo-gallery ul li:hover .inn .title {display: block;}
.photo-gallery .jcarousel-next-horizontal {bottom: -8px;}
.photo-gallery .jcarousel-prev-horizontal {bottom: -8px;}
.postambule {padding: 23px 0 0 0;}
.left-col {width: 560px; float: left;}
.left-col h2 {color: #0f75bc; margin: 10px 0;}
.left-col p {font-size: 12px; margin: 14px 0;}
.left-col a.mor {margin: -2px 0 0 0;}
.right-col {background: url(../img/right-col-bg.png) no-repeat; padding: 0 0 0 20px; width: 366px; float: right; margin: 10px 0 0 0;}
.right-col h2 {margin: 0; padding: 0 0 15px 21px;}
.vertical-slide-outer {position: relative; height: 295px; padding: 0 0 36px 0; overflow: hidden;}
#verticalslide li {padding: 7px 17px 6px 17px; margin: 0 0 4px 0; float: none!important;}
#verticalslide li:nth-child(2n+1) {background: #f3f8fb;}
#verticalslide li figure {float: left;}
#verticalslide li figure img {position: relative; display: block; padding: 5px; background: #fff; border: 1px solid #e1e6e8;
-moz-box-shadow: 0 0 3px #e1e6e8;
-webkit-box-shadow: 0 0 3px #e1e6e8;
box-shadow: 0 0 3px #e1e6e8;}
#verticalslide li h3 {margin: 0 0 0 94px; padding: 23px 0 0 0;}
#verticalslide li h3 a {text-decoration: none; float: none; color: #0f75bc;}
.vertical-slide-outer .jcarousel-next-vertical {background: url(../img/down-bg.gif) no-repeat; width: 25px; height: 25px; display: block; cursor: pointer; position: absolute; bottom: -34px; left: 18px;}
.vertical-slide-outer .jcarousel-prev-vertical {background: url(../img/up-bg.gif) no-repeat; width: 25px; height: 25px; display: block; cursor: pointer; position: absolute; bottom: -34px; left: 45px;}
.vertical-slide-outer .jcarousel-next-disabled-vertical {background: url(../img/down-bg-disabled.gif) no-repeat;}
.vertical-slide-outer .jcarousel-prev-disabled-vertical {background: url(../img/up-bg-disabled.gif) no-repeat;}
.vertical-slide-outer .jcarousel-clip {height: 295px;}

.partners {padding: 38px 0 56px 0;}
.partners-outer {padding: 24px 0 0 5px; position: relative;}
.partners-list {}
.partners-list li {float: left;}
.partners-list li a {text-indent: -9000px; overflow: hidden; display: block;}
.partners-list li.m-01 a {background: url(../img/partner-1.jpg) no-repeat; width: 392px; height: 62px;}
.partners-list li.m-02 {margin: 3px 0 0 34px;}
.partners-list li.m-02 a {background: url(../img/partner-2.jpg) no-repeat; width: 135px; height: 49px;}
.partners-list li.m-02 a:hover {background: url(../img/partner-2-hover.jpg) no-repeat;}
.partners-list li.m-03 {margin: 7px 0 0 34px;}
.partners-list li.m-03 a {background: url(../img/partner-3.jpg) no-repeat; width: 166px; height: 41px;}
.partners-list li.m-03 a:hover {background: url(../img/partner-3-hover.jpg) no-repeat;}
.partners-list li.m-04 {margin: 0 0 0 33px;}
.partners-list li.m-04 a {background: url(../img/partner-4.jpg) no-repeat; width: 159px; height: 66px;}
.partners-list li.m-04 a:hover {background: url(../img/partner-4-hover.jpg) no-repeat;}

/* about */
.content {background: url(../img/content-bg.jpg) no-repeat; padding-bottom: 80px;}
.content-inner {background: url(../img/content-inner-bg.jpg) left bottom no-repeat; padding-bottom: 89px;}
.container {width: 662px; float: left;}
.container h2 {color: #0f75bc;}
.photo {padding: 0 0 2px 0;}
.photo figure img {border: 2px solid #0f76bd; display: block;}
aside {width: 280px; float: right; padding: 15px 0 0 0;}
aside h2 {margin: 0;}
aside h2.act {color: #cc3333;}
.licenses {padding: 0 0 10px 0;}
.licenses ul {padding: 8px 0 0 0;}
.licenses ul li {width: 132px; display: inline-block; vertical-align: top; margin: 0 7px 0 0; padding: 0 0 21px 0;}
.licenses ul li a {display: block; color: #2f87c5;}
.licenses ul li a span {display: block; padding: 0 0 5px 0;}
.licenses ul li a figure img {display: block; border: 1px solid #d9dee1; position: relative;
-moz-box-shadow: 0 0 5px #d9dee1;
-webkit-box-shadow: 0 0 5px #d9dee1;
box-shadow: 0 0 5px #d9dee1;}
.reviews {padding: 17px 0 0 0;}
.reviews span {display: block; padding: 8px 0;}
.reviews a {color: #2f87c5;}
.reviews figure img {display: block; border: 1px solid #d9dee1; position: relative;
-moz-box-shadow: 0 0 5px #d9dee1;
-webkit-box-shadow: 0 0 5px #d9dee1;
box-shadow: 0 0 5px #d9dee1;}
.services ul {padding: 21px 0 0 0;}
.services ul li {padding: 0 0 9px 0;}
.services ul li a {display: block; line-height: 1.1;}


/* clients */
.box h2 {padding: 0 0 9px 0;}
.client-list {width: 100%;}
.client-list li {min-height: 99px; position: relative;}
.client-list li.li-01 {z-index: 6;}
.client-list li.li-02 {z-index: 5;}
.client-list li.li-03 {z-index: 4;}
.client-list li.li-04 {z-index: 3;}
.client-list li.li-05 {z-index: 2;}
.client-list li.li-06 {z-index: 1;}
.client-list li .col-1 {background: url(../img/col-bg.png) center bottom repeat-x; width: 258px; min-height: 98px; border-right: 1px dashed #c1c1c1; border-bottom: 1px dashed #c1c1c1; float: left;}
.client-list li .col-1 a {display: block; width: 258px; min-height: 98px; text-indent: -9000px; overflow: hidden;}
.client-list li.li-01 .col-1 a {background: url(../img/client-1.png) 38px 19px no-repeat;}
.client-list li.li-01 .col-1 a:hover,.client-list li.cur.li-01 .col-1 a {background-image: url(../img/client-1-hover.png);}
.client-list li.li-02 .col-1 a {background: url(../img/client-2.png) 22px 21px no-repeat;}
.client-list li.li-02 .col-1 a:hover,.client-list li.cur.li-02 .col-1 a {background-image: url(../img/client-2-hover.png);}
.client-list li.li-03 .col-1 a {background: url(../img/client-3.png) 55px 25px no-repeat;}
.client-list li.li-03 .col-1 a:hover,.client-list li.cur.li-03 .col-1 a {background-image: url(../img/client-3-hover.png);}
.client-list li.li-04 .col-1 a {background: url(../img/client-4.png) 73px 19px no-repeat;}
.client-list li.li-04 .col-1 a:hover,.client-list li.cur.li-04 .col-1 a {background-image: url(../img/client-4-hover.png);}
.client-list li.li-05 .col-1 a {background: url(../img/client-5.png) 61px 6px no-repeat;}
.client-list li.li-05 .col-1 a:hover,.client-list li.cur.li-05 .col-1 a {background-image: url(../img/client-5-hover.png);}
.client-list li.li-06 .col-1 a {background: url(../img/client-6.png) 28px 15px no-repeat;}
.client-list li.li-06 .col-1 a:hover,.client-list li.cur.li-06 .col-1 a {background-image: url(../img/client-6-hover.png);}
.client-list li .col-2 {float: left; position: relative; width: 400px;}
.client-list li .col-2 .col-2-inner {background: url(../img/col-bg.png) center bottom repeat-x; width: 356px; padding: 0 30px 0 14px; min-height: 98px;
border-left: 1px dashed #f6f6f6; border-bottom: 1px dashed #c1c1c1; position: absolute; left: 0; top: 0;}
.client-list li .col-2 .col-2-inner .inside {height: 86px; overflow: hidden;}
.client-list li.cur .col-2 .col-2-inner .inside {height: auto;}
.client-list li.cur .col-2 .col-2-inner {background: url(../img/col-bg.png) center bottom repeat-x;}
.client-list li .col-2 .col-2-inner h2 {margin: 0; color: #cdcdcd; padding: 11px 0 4px 0; text-shadow: 1px 1px 1px #fff;}
.client-list li .col-2 .col-2-inner p {margin: 0; color: #cdcdcd; text-shadow: 1px 1px 1px #fff; padding: 0 0 12px 0;}
.client-list li.cur .col-2 .col-2-inner h2 {color: #0f75bc;}
.client-list li.cur .col-2 .col-2-inner p {color: #212121;}
.client {padding: 40px 0 35px 0;}
.client ul {padding: 17px 0 0 0;}
.client ul li a {color: #0f75bc;}
.client ul li i {font-weight: bold; font-style: normal; color: #0f75bc;}


/* project */
.project {padding: 7px 0 0 0;}
.project h2 {color: #cc3333;}
.map {border: 3px solid #2f93d8; position: relative;}
.map img, .map object {display: block;}
.map-plashka {background: url(../img/map-plashka-bg.png) no-repeat; width: 303px; height: 105px; position: absolute; padding: 0 25px 38px 0;}
.map-plashka figure {padding: 15px 0 0 13px; float: left;}
.map-plashka .map-info {margin: 0 0 0 107px; padding: 11px 0 0 0; height: 95px; overflow: hidden; width: 191px;}
.map-plashka .map-info h3 {margin: 0; color: #0f75bc; font-size: 20px; padding: 0 0 19px 0;}
.map-plashka .map-info p {margin: 0; color: #707070; font-size: 12px; font-weight: bold; line-height: 1.2;}
.map-plashka .map-info .read-mor {color: #0f75bc; font-size: 12px;}
.position-1 {bottom: 62px; left: 235px;}
.accordion {padding: 19px 0 0 0;}
.accordion-list li {position: relative; margin: 0 0 13px 0;}
.accordion-list li h3 {background: url(../img/accordion-h3-bg.png) no-repeat; width: 650px; height: 27px; margin: 0; font-size: 18px; color: #0f5f96; padding: 5px 0 0 12px; cursor: pointer;}
.accordion-list li.cure h3 {background: url(../img/accordion-h3-bg-cur.png) no-repeat; color: #999;}
.accordion-list li.activ h3 {background: url(../img/accordion-h3-bg-activ.png) no-repeat; color: #fff; text-shadow: 1px 1px 1px #2872a6;}
.accordion-list li.activ .li-inner {
-moz-box-shadow: 0 0 5px #cfe3f2;
-webkit-box-shadow: 0 0 5px #cfe3f2;
box-shadow: 0 0 5px #cfe3f2;}
.accordion-list li .more-text {display: none;}
.accordion-list li.activ .more-text {display: block;}
.accordion-list li .text {padding: 10px;}
.accordion-list li .text img {float: left; margin: 1px 0 0 0;}
.accordion-list li .text p {color: #7a7a7a; font-size: 12px; margin: 0 0 0 99px;}
.accordion-list li .info {background: #e7f1f8; padding: 0 0 0 10px; position: relative; height: 25px;}
.accordion-list li .info p {margin: 0; float: left; color: #0f75bc; padding: 4px 0 0 0;}
.accordion-list li .info p span {padding: 0 19px 0 0;}
.accordion-list li .info p strong {padding: 0 4px 0 0;}
.accordion-list li .info p i {font-style: normal; color: #666;}
.accordion-list li .info .more {background: url(../img/more-bg.png) no-repeat; width: 63px; height: 22px; position: absolute; right: 0; bottom: 0; 
color: #f0f5f9; text-decoration: none; padding: 4px 0 0 33px; text-shadow: 1px 1px 1px #2872a6;}
.accordion-list li .info .more:hover {text-decoration: underline;}


/*project1 */
.patway {padding: 16px 0 0 9px;}
.patway li {display: inline; margin: 0 1px 0 0;}
.patway li a {background: url(../img/patway-a-bg.png) right 6px no-repeat; padding: 0 11px 0 0; color: #666; text-decoration: none;}
.patway li span {color: #0f75bc;}
.client-second {padding-top: 0;}
.client-second h2 {padding-bottom: 11px;}
.client-second ul {padding-top: 9px;}
.gallery {position: relative; padding: 0 0 30px 0;}
.big-photo img {display: block; border: 2px solid #0f76bd;}
.slider-list {position: relative; padding: 4px 0 0 0;}
.slid {width: 100%!important; position: relative;}
.jcarousel-container {position: relative;}
.jcarousel-clip {overflow: hidden;}
.jcarousel-next-horizontal {background: url(../img/next-bg.gif) no-repeat; width: 25px; height: 25px; display: block; cursor: pointer; position: absolute; right: 0; bottom: -33px;}
.jcarousel-prev-horizontal {background: url(../img/prew-bg.gif) no-repeat; width: 25px; height: 25px; display: block; cursor: pointer; position: absolute; right: 27px; bottom: -33px;}
.jcarousel-next-disabled-horizontal { background: url(../img/next-bg-disabled.gif) no-repeat;}
.jcarousel-prev-disabled-horizontal { background: url(../img/prew-bg-disabled.gif) no-repeat;} 
.jcarousel-container li {float: left; margin: 0 4px 0 0;}
.jcarousel-container li a {float: left;}
.jcarousel-container li a img {display: block; border: 1px solid #999;}
#mycarousel li a img {
-moz-opacity: 0.5; 
-khtml-opacity: 0.5; 
opacity: 0.5;}
#mycarousel li a:hover img,#mycarousel li a img.activ {border-color: #0f76bd; 
-moz-opacity: 1.0; 
-khtml-opacity: 1.0; 
opacity: 1.0;}



footer {background: #0f75bc url(../img/footer-bg.png) center top repeat-x; height: 80px; width: 1002px; margin: -80px auto 0 auto; position: relative;}
.footer-inner {width: 960px; margin: 0 auto;}
.footer-left {width: 464px; float: left; padding: 24px 0 0 0;}
.footer-logo {float: left; position: relative; left: -2px;}
.footer-left p {margin: 0; float: left; color: #fff; padding: 9px 0 0 7px;}
.footer-right {width: 470px; float: right; padding: 25px 0 0 0;}
.meter {float: right;}
.footer-right ul {float: right; padding: 7px 26px 0 0;}
.footer-right ul li {display: inline; font-size: 12px;}
.footer-right ul li span {color: #8bbee2; padding: 0 6px 0 11px;}
.footer-right ul li a {color: #fff;}
.meter img {display: block; position: relative;
-moz-box-shadow: 0 0 5px #b2b2b2;
-webkit-box-shadow: 0 0 5px #b2b2b2;
box-shadow: 0 0 5px #b2b2b2;}