* {margin: 0; padding: 0;}
html, body {width:100%; height:100%;}
table {border-collapse: collapse; width: 100%;} 
input:focus {outline: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
img, table {border: none;}
a:link, a:visited {text-decoration: underline; color: #d14518;}
a:hover, a:active {text-decoration: none;}
button {outline: none;}

/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/


header,footer,article,section,hgroup,nav,menu,aside,figure{display:block;}
.left {float: left;}
.right {float: right;}

body {font: 15px Arial, Helvetica, sans-serif; line-height: 22px; background: #fff; color:#463834;}

h1, h2, h3, h4, h5, h6 {margin: 15px 0;}
h1 {font-size: 32px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 16px;}
h6 {font-size: 12px;}

ul, ol {list-style:none;}

p {margin: 21px 0;}


@font-face {
font-family: 'lobsterregular';
src: url('../fonts/lobster-webfont.eot');
src: url('../fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/lobster-webfont.woff') format('woff'),
 url('../fonts/lobster-webfont.ttf') format('truetype'),
 url('../fonts/lobster-webfont.svg#lobsterregular') format('svg');
font-weight: normal;
font-style: normal;}


.wrapper {width: 100%; position:relative; min-height: 100%; height: auto !important; height: 100%;}


#header {background: url(../images/header-bg.png) center bottom repeat-x; padding: 0 0 10px 0; position: relative;}
.header-inner {background: url(../images/header-inner-bg.jpg) center bottom no-repeat;}
.header-inside {background: url(../images/header-inside-bg.png) center 34px no-repeat;}
.header-in {width: 980px; margin: 0 auto; position: relative; min-height: 242px;}
.logo {position: absolute; left: 352px; top: 25px; z-index: 10;}
.shadow {background: url(../images/shadow-bg.png) no-repeat; width: 468px; height: 204px; position: absolute; top: 0; left: 260px; z-index: 8;}
#nav {padding: 106px 0 0 0; position: relative; z-index: 9;}
#nav ul li {float: left; margin: 0 43px 0 0; position: relative;}
#nav ul li a {font-family: 'lobsterregular'; color: #fff; font-size: 18px; text-shadow: 1px 1px 1px #ad360c;
text-decoration: none; display: block; padding: 73px 0 0 0; text-align: center; position: relative; z-index: 2;}
#nav ul li.m01 a {background: url(../images/m01-a.png) center top no-repeat;}
#nav ul li.m02 a {background: url(../images/m02-a.png) center 2px no-repeat;}
#nav ul li.m03 a {background: url(../images/m03-a.png) center 8px no-repeat;}
#nav ul li.m04 a {background: url(../images/m04-a.png) center 3px no-repeat;}
#nav ul li.m05 a {background: url(../images/m05-a.png) center 16px no-repeat;}
#nav ul li.m06 a {background: url(../images/m06-a.png) center top no-repeat;}
#nav ul li.m07 {margin: 0;}
#nav ul li.m07 a {background: url(../images/m07-a.png) center top no-repeat;}
#nav ul li i {background: url(../images/li-hover.png) no-repeat; width: 88px; height: 120px; display: none; 
position: absolute; top: -15px; left: 50%; z-index: 1; margin: 0 0 0 -44px;}
#nav ul li:hover i,#nav ul li.activ i {display: block;}
.dogs {background: url(../images/dogs-bg.png) center top no-repeat; height: 523px; margin: 44px 0 0 0; position: relative;}
.dogs p {font-size: 12px; font-style: italic; text-align: center; color: #6b3b2c; text-shadow: 1px 1px 1px #fff; margin: 0; line-height: 17px;}
.text-1 {width: 254px; position: absolute; left: 6px; top: 36px;}
.text-2 {width: 234px; position: absolute; right: 0; top: 50px;}


.content {width: 980px; margin: 0 auto; position: relative; padding: 45px 0 129px 0;}
#aside {width: 231px; float: left;}
#container {width: 696px; float: right; padding: 1px 0 0 0;}
#container article {padding: 0 0 18px 0;}
#container article h2 {font-family: 'lobsterregular'; color: #d14518; margin: 0; line-height: 0.7;}
#container article .p1 {color: #111;}
.news {position: relative; border: 2px solid #f7a55c; padding: 21px 18px 18px 18px;
margin: 0 0 33px 0;
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
border-radius: 18px;
behavior: url(js/PIE.php);}
.news h3 {color: #d14518; font-size: 18px; margin: 0;}
.news p {font-size: 13px; color: #463834; line-height: 18px; color: #463834; margin: 0; padding: 10px 10px 10px 0;}
.arrow {background: url(../images/arrow-bg.gif) no-repeat; width: 31px; height: 79px; position: absolute; bottom: -79px; left: 29px;}
.dog {margin: 0 0 0 7px;}


footer {background: url(../images/footer-bg.png) center top repeat-x; height: 118px; width: 100%; position: relative; margin-top: -118px;}
.footer-main {background: url(../images/footer-main-bg.png) center top no-repeat;}
.footer-inner {width: 980px; margin: 0 auto; height: 118px;}
.footer-left {width: 284px; float: left; padding: 46px 0 0 0;}
.footer-left p {color: #fad289; font-size: 12px; margin: 0; line-height: 18px;}
.footer-center {width: 204px; float: left; padding: 48px 0 0 105px;}
.footer-right {width: 370px; float: right; padding: 53px 0 0 0;}
.footer-nav {float: right;}
.footer-nav li {display: inline;}
.footer-nav li a {font-size: 12px; text-decoration: none; color: #fff; text-decoration: none;}
.footer-nav li a:hover {text-decoration: underline;}
.footer-nav li span {color: #ed8659; padding: 0 7px 0 12px;}