* {margin: 0; padding: 0;}
html, body {width:100%; height:100%;}
table {border-collapse: collapse; width: 100%;} 
input:focus {outline: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
img, table {border: none;}
a:link, a:visited {text-decoration: none; color: #2ca9e1;}
a:hover, a:active {text-decoration: underline;}
button {outline: none; cursor: pointer;}

/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/


header,footer,article,section,hgroup,nav,menu,aside,figure{display:block;}
.floatLeft {float: left;}
.floatRight {float: right;}

h1, h2, h3, h4, h5, h6 {margin: 15px 0;}
h1 {font-size: 45px;}
h2 {font-size: 35px;}
h3 {font-size: 25px;}
h4 {font-size: 15px;}
h5 {font-size: 10px;}
h6 {font-size: 8px;}

ul, ol {list-style:none;}

p {margin: 15px 0; line-height: 1.4;}

img{width:auto\9;height:auto;max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}

::-webkit-input-placeholder { /* для webkit браузеров */
	color: #2e3641;
}
:-moz-placeholder { /* для браузеров mozilla */
	color: #2e3641;
}



