/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {	
	.headerInner {width: 758px;}
	#nav ul li a {padding: 0 5px; font-size: 12px;}
	.pagination {width: 758px; margin-left: -379px;}
	.pagination li {margin-right: 5px;}
	.preambuleContent {width: 100%;}
	.list li {margin-left: 15px; width: 235px;}
	.list li:nth-child(3n-2) {margin-left: 12px!important;}
	.main {width: 758px;}
	.listInnerEnter {padding-left: 15px; padding-right: 15px;}
	.servicesList {width: 758px; text-align: center;}
	.servicesList li {width: 253px;}
	.preambuleContent h3 {font-size: 20px;}
	.preambuleContent h1 {font-size: 40px;}
	.box {width: 521px; height: 195px; background-size: 758px 228px; padding-left: 237px;}
	.box h3 {font-size: 16px;}
	.box h2 {font-size: 30px; margin-bottom: 18px;}
	.box .line {margin-bottom: 20px;}
	a.links {width: 200px; line-height: 57px; font-size: 18px;}
	.clientsList {padding: 40px 20px 0 20px;}
	.clientsList li {margin-left: 0; width: auto;}
	footer {width: 758px;}
	.postambuleInnerPage {width: 100%;}
	.postambule p {font-size: 18px;}
	.personsInner {width: 758px;}
	.listThird {text-align: left;}
	.projqctInner {width: 758px;}
	.projqctInner div.floatLeft {width: 369px;}
	.projqctInner div.floatRight {width: 369px;}
	.partnersList {width: 758px;}
	.partnersList li {width: 246px; margin-left: 10px;}
	.tableOuter {width: 758px;} 
}
/* #Mobile (Portrait)
================================================== */

 /* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {	
	html {-webkit-text-size-adjust: none;}
	a.logo {width: 147px; height: 20px; background-size: 220px 250px;}
	.headerInner {width: 300px;}
	#nav {padding: 10px 0 0 0;}
	#nav ul {display:none;}
	#nav select {width: 148px; display:block; cursor:pointer; padding: 6px 2px 2px 2px; margin: 0; position: relative; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	background:#acb7bd;border:1px solid #acb7bd;color:#fff; font-size: 11px; text-transform: uppercase;}
	#nav select option {background: #07aee3; border-bottom: 1px solid #fff; font-size: 11px; text-transform: uppercase; padding: 4px 5px 4px 5px;}
	#nav select option:hover {background: #fff; color: #5ac9ec;}
	.pagination {width: 300px; margin-left: -150px;}
	.pagination li {margin-right: 5px;}
	.preambuleContent {width: 100%; padding-top: 5px;}
	.preambuleContent h3 {font-size: 11px; margin-bottom: 0px;}
	.preambuleContent h1 {font-size: 13px; margin-bottom: 5px;}
	.description {font-size: 11px; line-height: 1.5; padding: 2px 0;}
	.preambuleContent a.links {width: 100px; line-height: 30px; font-size: 10px;}
	.pagination li a {background-size: 9px 9px; width: 9px; height: 9px;}
	.pagination li.current a {background-size: 9px 9px;}	
	#slides {height: 118px;}
	.preambule {background-size: 640px 118px; height: 118px;}
	.preambuleSecond {background-size: 506px 118px;}
	.main {width: 100%;}
	.list li {display: block; margin: 0 auto 30px auto!important;}
	.postambule h2 {font-size: 25px;}
	.postambule p {font-size: 12px;}
	.servicesList {width: 100%;}
	.servicesList li {display: block; margin: 0 auto 30px auto!important;}
	.box {width: 205px; height: 90px; background-size: 300px 90px; padding: 0 0 0 95px;}
	.box h3 {font-size: 11px; padding-top: 5px; margin: 0;}
	.box h2 {font-size: 13px; margin: 0 0 5px 0;}
	.box .line {margin-bottom: 5px;}
	.box a.links {width: 100px; line-height: 30px; font-size: 10px;}
	.block h2 {font-size: 25px;}
	.clientsList {padding: 40px 5px 0 5px;}
	.clientsList li {margin-left: 0; width: auto;}
	footer {width: 300px;}
	.footerNav li {margin: 0 4px;}
	.footerNav li a {font-size: 11px;}
	.copy {font-size: 11px; padding: 0 10px 0 0;}
	.postambuleInnerPage {width: auto; padding: 0 5px;}
	.personsInner {width: 100%;}
	.projqctInner {width: 100%;}
	.projqctInner div.floatLeft {width: auto; padding: 0 5px; float: none; clear: both;}
	.projqctInner div.floatLeft figure {text-align: center;}
	.projqctInner div.floatRight {width: auto; padding: 0 5px; float: none; clear: both;}
	.projqctInner div.floatRight figure {text-align: center;}
	.partnersList {width: auto; padding: 0 5px;}
	.partnersList li {width: 270px; float: none; display: block; margin: 0 auto 20px auto!important;}
	.reportTable tr th {font-size: 14px;}
	.reportTable tr td {font-size: 11px; text-transform: none;}
	.contactForm {width: 300px; padding: 0 5px; margin: 0 auto;}
	.contactForm div.clearfix label {width: 100%; float: none; clear: both; display: block; padding: 0 0 5px 0;}
	.contactForm div.clearfix input {width: 298px;}
	.contactForm div.clearfix.phon input {float: left; width: 209px; margin-left: 10px;}
	.contactForm div.clearfix textarea {width: 278px;}
	.sbHolder {width: 298px;}
	.sbOptions {width: 296px;}
	.btn {margin: 0;}
	.tableOuter {width: 100%;}	
	.projectTextNoTop {padding-top: 25px;}
}