* {padding: 0; margin :0;}
html, body {width: 100%; height: 100%;}
img, table {border: none;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline; cursor: pointer;}
a:hover {text-decoration: none;}
a:focus {outline: none;}

/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/

	
	body {background: url(../images/fon.jpg) repeat; font: 12px Arial, Helvetica, sans-serif; color: #122c80;}
	
		.wrapper {width: 960px; margin: 0 auto;}
		.mainn {width: 960px; position: relative;}
		.mainn-bg1 {background: url(../images/mainn-bg.png) repeat-y;}
		.mainn-bg2 {background: url(../images/mainn-bg2_new.png) left 88px no-repeat;}
			
			.head {width: 960px; height: 138px; position: relative; z-index: 5;}
				.head .logo {position: absolute; top: 25px; left: 43px; z-index: 20;}
				.head h1 {float: left; font-size: 16px; font-weight: normal; font-style: italic; color: #fff; padding: 12px 0 0 299px;}
				.head dl {float: right; padding: 13px 0 0 0;}
				.head dl dt {display: inline; position: relative; bottom: 8px; padding: 0 12px 0 0; color: #182b9c;}
				.head dl dd {display: inline; padding: 0 9px 0 0;}
				.head .menu {background: url(../images/menu-bg.png) no-repeat; width: 653px; height: 58px; position: absolute; top: 48px; left: -14px; z-index: 10; padding: 7px 0 0 321px;}
				.head .menu li {float: left;}
				.head .menu li a {font-size: 14px; color: #fff; text-decoration: none; float: left; padding: 7px 24px 0 29px; white-space: nowrap;}
				.head .menu li.current {background: url(../images/menu-li-current-bg.png) right top no-repeat; padding: 0 16px 0 0;}
				.head .menu li.current a {background: url(../images/menu-li-current-a-bg.png) no-repeat; height: 26px; padding: 7px 9px 0 22px;}
				.head .seletc {position: absolute; left: 300px; top: 106px;}
				.head .seletc form label {font-size: 14px; color: #fff; float: left; padding: 4px 18px 0 0;}
				.head .seletc form .lineForm {float: left;}
				
			
			.content {width: 960px; position: relative; z-index: 4;}
				
				.left-column {width: 275px; padding: 0 24px 0 0; float: left;}
					.search {padding: 36px 0 0 21px;}
					.search form .text {background: url(../images/input-bg.png) no-repeat; width: 178px; height: 29px; line-height: 29px; padding: 0 10px; border: 0; float: left;}
					.search form .submit {background: url(../images/zoom-bg.png) no-repeat; width: 37px; height: 33px; float: left; border: 0; margin: -2px 0 0 4px; cursor: pointer;}
					.submenu {padding: 21px 15px 0 86px;}
					.submenu li {padding: 0 0 14px 0;}
					.submenu li a {font-size: 14px; color: #fff; text-decoration: none;}
					.submenu li a:hover {text-decoration: underline;}
					.submenu li.activ a {text-decoration: underline;}
					.submenu li img {margin: 0 6px 0 0;}
					.banners {padding: 17px 0 0 15px;}
					.banners li {padding: 0 0 11px 0;}
					
				.right-column {width: 661px; float: left;}
					.container-bg1 {background: url(../images/container-bg1.png) no-repeat; padding: 8px 0 0 0;}
					.container-bg2 {width: 661px;}
					.container-bg3 {background: #fff; padding: 0 10px 8px 19px; width: 632px; position: relative;}
					.shadow {position: absolute; bottom: -20px; right: -3px;}
					.bottom {position: absolute; bottom: -19px; left: 0; height: 19px;}
					.bottom-1 {position: absolute; bottom: -7px; left: 0;}
					
					.preambule {padding: 2px 0 0 0;}
					.preambule img {float: left; margin: 0 16px 0 0;}
					.preambule h2 {font-size: 18px; color: #011d77; padding: 0 0 9px 0;}
					.preambule h3 {font-size: 14px; font-style: italic; font-weight: normal; line-height: 1.3;}
					.preambule .info {padding: 20px 0 0 0; font-size: 14px; float: left;}
					.preambule .info p {padding: 0 0 8px 0;}
					.preambule .info p span {float: left;}
					.preambule .info p span i {font-style: normal; color: #55a85f; padding: 0 24px 0 6px;}
					
					
					
					
					.preambule .info p .buy {background: url(../images/buy-bg.png) right top no-repeat; height: 23px; float: left; padding: 0 9px 0 0; text-decoration: none; font-size: 14px; margin: 0 0 0 3px;}
					.preambule .info p .buy span {background: url(../images/buy-span-bg.png) no-repeat; height: 21px; float: left; text-align: center; color: #fff; padding: 2px 3px 0 11px;}
					.preambule .info p .buy:hover {background: url(../images/add-coment-hover.png) right top no-repeat;}
					.preambule .info p .buy:hover span {background: url(../images/add-coment-span-hover.png) no-repeat;}
				
					.list-outer {padding: 14px 0 6px 0;}
					.list-outer h3 {font-size: 16px; font-weight: normal; color: #007d0f; padding: 0 0 8px 0;}
					.list-outer ul li {padding: 0 0 7px 0;}
					.list-outer ul li img {margin: 0 4px 0 0;}
					.left-part {width: 303px; padding: 0 25px 0 0; float: left;}
					.right-part {width: 304px; float: left;}
					.about {border: 1px solid #011e7a; border-width: 1px 0; margin: 0 10px 0 0; padding: 0 0 1px 0; width: 622px;}
					.about h2 {font-size: 16px; font-weight: normal; color: #007d0f; padding: 11px 0 7px 0;}
					.about p {padding: 0 0 13px 0;}
					.comments {margin: 0 10px 0 0; width: 622px;}
					.comments h2 {font-size: 16px; font-weight: normal; color: #007d0f; padding: 11px 0 7px 0; float: left;}		
					.add-coment {background: url(../images/buy-bg.png) right top no-repeat; height: 23px; float: right; padding: 0 9px 0 0; text-decoration: none; font-size: 14px; margin: 15px 0 0 0;}
					.add-coment span {background: url(../images/buy-span-bg.png) no-repeat; height: 21px; float: left; text-align: center; color: #fff; padding: 2px 3px 0 11px;}
					.add-coment:hover {background: url(../images/add-coment-hover.png) right top no-repeat;}
					.add-coment:hover span {background: url(../images/add-coment-span-hover.png) no-repeat;}
					.pagenavi li {display: inline; padding: 0 5px 0 0;}
					.pagenavi li a {font-size: 11px; color: #233b89;}
					.pagenavi li.cur a, .pagenavi li a:hover {text-decoration: none;}
					.block {border-bottom: 1px solid #b3c0e9; padding: 13px 0 14px 0;}
					.block img {float: left; margin: 0 9px 0 0;}
					.block h4 {color: #011d77; font-size: 12px; float: left; padding: 2px 0 0 0;}
					.block .date {float: left; color: #007d0f; font-size: 11px; padding: 2px 0 0 15px;}
					.block .add {background: url(../images/add-bg.png) right top no-repeat; padding: 0 2px 0 0; height: 19px; float: right; text-decoration: none;}
					.block .add span {background: url(../images/add-span-bg.png) no-repeat; text-align: center; color: #fff; height: 18px; float: left; padding: 1px 4px 0 6px;}
					.block p {clear: right; padding: 4px 0 0 59px;}
					.no-border {border-bottom: 0!important; padding-bottom: 10px;}
					.rating {float: left; padding: 2px 0 0 11px;}
					.rating img {float: left; margin: 0 2px 0 0;}
					
				
				#body {background: #fff;}
				.page {width: 484px; margin: 0 auto; padding: 22px 0 0 0;}
				.page .log {margin: 0 0 0 76px; display: block;}
				.box {padding: 20px 0 0 0;}
				.navi {position: relative; z-index: 11; padding: 0 0 0 5px;}
				.navi li {background: url(../images/navi-li-bg.png) no-repeat; width: 139px; height: 28px; text-align: center; float: left; margin: 0 4px 0 0; padding: 5px 0 0 0;}
				.navi li.active {background: url(../images/navi-li-activ-bg.png) no-repeat;}
				.navi li a {color: #fff; text-decoration: none;}
				.inner {background: url(../images/inner-bg.png) no-repeat; width: 484px; height: 201px; margin: -9px 0 0 0; position: relative; z-index: 10;}
				.form-1 {padding: 30px 0 0 14px; width: 470px;}
				.form-11 {padding-top: 19px;}
				.form-1 label {float: left; font-size: 14px; color: #fff; padding: 0 6px 0 0;}
				.form-1 .size {float: left; padding-bottom: 6px;}
				.accont {padding: 19px 0 0 0;}
				.accont h3 {font-size: 14px; font-weight: normal; font-style: italic; color: #fff; text-align: center;}
				.accont ul {padding: 9px 0 0 85px;}
				.accont ul li { float: left; padding: 0 14px 0 0;}
				.accont ul li a {text-indent: -9000px; overflow: hidden; float: left;}
				.accont ul li.l01 a { background: url(../images/vkontakte.png) no-repeat; width: 96px; height: 27px;}
				.accont ul li.l01 a:hover { background: url(../images/vkontakte_new.png) no-repeat;}
				.accont ul li.l02 a { background: url(../images/facebook.png) no-repeat; width: 82px; height: 27px;}
				.accont ul li.l02 a:hover { background: url(../images/facebook_new.png) no-repeat;}
				.accont ul li.l03 a { background: url(../images/twitter.png) no-repeat; width: 88px; height: 27px;}
				.accont ul li.l03 a:hover { background: url(../images/twitter_new.png) no-repeat;}
				.foo {width: 471px; margin: 0 auto; color: #04148d; padding: 12px 0 0 0;}
				.foo .ab {color: #04148d; float: left; padding: 0 0 0 18px;}
				.foo span {float: left; padding: 0 0 0 103px;}
				.foo .lang {float: right; padding: 0 25px 0 0;}
				.foo .lang li {display: inline;}
				.foo .lang li a {color: #04148d; text-decoration: none;}
				.foo .lang li a:hover {text-decoration: underline;}
				.foo .lang li i {font-style: normal; padding: 0 3px 0 7px;}
				.foo .meter {width: 30px; height: 30px; margin: 10px auto 0 auto;}
				.tabs-box {display: none;}
				.tabs-box.visible {display: block;}
				.form-1 .inside {padding: 6px 0 0 0;}
				.form-1 .inside label {width: 126px; text-align: right; padding: 0 12px 0 0;}
				.form-1 .inside .tx {background: url(../images/tx-bg.png) no-repeat; width: 215px; height: 22px; line-height: 22px; border: 0; float: left; padding: 0 5px;}
				
				.form-1 .inside .tx-outer-bg1 { background: url(../images/tx-outer-bg1.png) right top no-repeat; padding: 0 5px 0 0; height: 22px; float: left;}
				.form-1 .inside .tx-outer-bg2 { background: url(../images/tx-outer-bg2.png) no-repeat;  height: 22px; float: left; padding: 0 0 0 5px;}
				.form-1 .inside .tx-outer-bg2 input { border: 0; padding: 0; height: 18px; margin: 3px 0 0 0; min-width: 215px;}
				
				
				
				.form-1 div .submit-outer-bg1 { background: url(../images/submit-outer-bg1.png) right top no-repeat; padding: 0 13px 0 0; height: 31px; float: left; margin: 8px 0 0 158px; _margin: 8px 0 0 79px;}
				.form-1 div .submit-outer-bg1:hover { background: url(../images/submit-outer-bg1-hover.png) right top no-repeat;}
				.form-1 div .submit-outer-bg1:hover .submit-outer-bg2 { background: url(../images/submit-outer-bg2-hover.png) left top no-repeat;}
				.form-1 div .submit-outer-bg2 { background: url(../images/submit-outer-bg2.png) left top no-repeat; float: left; height: 31px; padding: 0 0 0 10px;}
				.form-1 div .submit-outer-bg2 input { background: none; border: 0; padding: 5px 7px 0 8px; text-align: center; font-size: 14px; color: #fff; cursor: pointer;}
				
				
				.form-1 .disp {display: none;}
				.form-1 div .submit-2 {background: url(../images/submit-bg1.png) no-repeat; width: 148px; height: 32px; line-height: 32px; font-size: 14px; text-align: center; color: #fff; border: 0; cursor: pointer; margin: 12px 0 0 185px; display: block;}
				.form-1 div .submit-2, x:-moz-any-link {padding-bottom: 4px;}
				.form-1 div .submit-2:hover { background: url(../images/submit-bg1-hover.png) no-repeat;}
				.form-1 div a {color: #fff; float: left; padding: 16px 0 0 77px;}

		
		.footer {width: 960px; margin: 0 auto; color: #04148d; padding: 19px 0 20px 0;}
			.copy {float: left; padding: 20px 0 0 80px;}
			.footer-inner {float: right; padding: 10px 22px 0 0;}
			.footer-inner a.map {float: left; color: #04148d; padding: 8px 37px 0 0;}
			.footer-inner .meter {float: left;}