* {margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased;}
html, body {width:100%; height:100%;}
table {border-collapse: collapse; width: 100%; word-wrap: break-word; table-layout: fixed;}
input:focus {outline: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
img, table {border: none;}

a:link, a:visited {text-decoration: none; color: #0372e7;}
a:hover, a:active {text-decoration: underline;}
 				
button {outline: none; cursor: pointer;}
svg:not(:root) {overflow: hidden;}


header,footer,article,section,hgroup,nav,menu,aside,figure,main,video{display:block;}
.floatLeft {float: left;}
.floatRight {float: right;}

h1, h2, h3, h4, h5, h6 {font-weight: normal; margin: 15px 0;}
h1 {font-size: 37px;}
h2 {font-size: 26px;}
h3 {font-size: 20px;}
h4 {font-size: 16px;}
h5 {font-size: 12px;}
h6 {font-size: 8px;}

ul, ol {list-style:none;}

p {margin: 15px 0; line-height: 1.4;}

img{width:auto\9;height:auto;max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
textarea {resize: vertical;}


::-webkit-input-placeholder {
 color: #8d8383;
}
:-moz-placeholder {/* Firefox 18- */
 color: #8d8383;
}
::-moz-placeholder {/* Firefox 19+ */
 color: #8d8383;
}
:-ms-input-placeholder {
 color: #8d8383;
}

input[type=text],input[type=password],input[type=url],input[type=tel],input[type=number],input[type=color],input[type=email],input[type=search],textarea {font-family: 'Open Sans', sans-serif; background: #f6f6f6; border: 1px solid #ddd; border-radius: 4px; padding: 7px 15px 8px 15px; font-size: 14px; color: #8d8383; width: 100%;}



[class*="ic-"] {background: url("../img/mx.png") no-repeat;}

body {background: #eaeaea; font-family: 'Open Sans', sans-serif; font-size: 14px; color: #333;}



.header {position: fixed; width: 100%; top: 0; left: 0; min-height: 60px; background: #fff; z-index: 100;}
.inner {position: relative;}
.inner:after {content: ""; display: table; clear: both;}
.menu-ico {position: fixed; top: 24px; left: 23px;}
.menu-ico.activ {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);}
.menu-ico .ic-menu {background-position: -100px -15px; width: 14px; height: 12px; display: block; cursor: pointer;}
a.logo {color: #575757; font-weight: bold; float: left; font-size: 20px; margin: 15px 0 0 56px;}
a.logo:hover {text-decoration: none;}
.user-wrap {float: right; padding: 0 20px 0 0; margin: 9px 29px 0 0; cursor: pointer; position: relative;}
.user-wrap > i {font-style: normal; color: #555; float: left; padding: 12px 8px 0 0; max-width: 90px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.ic-log {float: left; width: 42px; height: 42px; border-radius: 50%; position: relative;}
.ic-log:before {content: " "; width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 6px solid #555; position: absolute; top: 20px; right: -20px;}
.user-wrap.activ .ic-log:before {border-bottom: 6px solid #555; border-top: 0;}
.user-wrap > ul {position: absolute; right: 0; top: 45px; width: 100%; border: 1px solid #cccaca; display: none;}
.user-wrap > ul li {background: #fff; border-top: 1px solid #cccaca;}
.user-wrap > ul li a {display: block; padding: 5px 5px 5px 17px; color: #555; font-size: 12px; position: relative;}
.user-wrap > ul li a:hover {text-decoration: none; color: #9d9797;}
.user-wrap > ul li a span {position: absolute; left: 3px; top: 7px; font-size: 11px;}
.user-wrap > ul li:first-child {border-top: 0;}

.main {padding: 60px 0 0 225px;}
.main.open {padding-left: 0;}
.sidebar {position: fixed; width: 225px; left: 0; top: 0; background: #575757; height: 100%; z-index: 90;}
.nav {padding: 60px 0 0 0;}
.menu > li {border-top: 1px solid #666665;}
.menu li a:hover {text-decoration: none;}
.menu > li:first-child {border-top: 0;}
.menu > li > a {display: block; color: #fff; font-size: 15px; padding: 13px 14px 13px 29px; position: relative; margin: 0 16px 0 22px;}
.menu > li > a span {position: absolute; left: 0; top: 17px; font-size: 14px;}
.menu > li > a span.icon-chevron-down {right: 0; top: 16px; left: auto; color: #929292;}
.menu > li.curr > a span.icon-chevron-down {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);}
.menu > li > ul {background: #424242; padding: 8px 0 7px 0; display: none;}
.menu > li > ul > li.activ > a,.menu > li > ul > li:hover > a {color: #92bdff; font-weight: bold;}
.menu > li > ul > li > a {display: block; padding: 7px 0 8px 50px; color: #fff; font-size: 15px;}
.menu > li > ul li > ul {padding: 0 5px;}
.menu > li > ul li > ul > li > a {font-size: 12px; font-weight: bold; display: block; padding: 7px 0 8px 55px; color: #fff;}
.menu > li > ul li > ul > li > a:hover {text-decoration: underline;}

.content {padding: 0 0 100px 0;}
.contet-title {background: #e5e5e5; border-bottom: 1px solid #dcdcdc; padding: 18px 0 14px 0;}
.contet-title > .inner {padding: 0 2.06% 0 2.8%;}
.contet-title h1 {margin: 0; color: #0372d7; float: left;}
.bread-crumbs {background: #4A53AF; border-bottom: 1px solid #dcdcdc; padding: 12px 0 10px 0; font-size: 12px; color: #DAD175;}
.bread-crumbs a {color: #C2DEFC;}
.bread-crumbs > .inner {padding: 0 2.06% 0 2.8%;}
.title-form {float: right; padding: 7px 0 0 0;}
.title-form label {float: left; color: #979797; padding: 8px 14px 0 0;}
.title-form .select-outer {float: left; width: 112px;}
.title-form .chzn-container-single .chzn-single {background: #fff;}
.contet-body {padding: 31px 0 0 0;}
.contet-body > .inner {padding: 0 0.99% 0 2.8%;}
.box-left {width: 49.19%; float: left;}
.box-right {width: 48.59%; float: right;}
.box {margin: 0 0 28px 0;}
.box h3 {margin: 0 0 11px 0; color: #808080; font-weight: 600;}
.tabs-list:after {content: ""; display: table; clear: both;}
.tabs-list li {float: left; border-left: 1px solid #dbdbdb;}
.tabs-list li a {background: #f4f4f4; color: #424242; padding: 14px 44px 13px 42px; display: block; border-top: 2px solid #eaeaea; border-bottom: 1px solid #dbdbdb;}
.tabs-list li.cur a,.tabs-list li:hover a {background: #fff; color: #0372d7; border-top-color: #0372d7; border-bottom-color: #fff; text-decoration: none;}
.tabBox {background: #fff; border: 1px solid #dbdbdb; margin: -1px 0 0 0; padding: 18px 0 16px 0; display: none;}
.tabBox.visible {display: block;}
.user-outer {padding: 0 2.79% 0 4.54%;}
.user-outer-title {padding: 0 0 12px 0; position: relative;}
.user-outer-title:after {content: ""; border-bottom: 1px dashed #cfcfcf; width: 100%; height: 1px; position: absolute; bottom: 0; left: 0;}
.user-outer-title h2 {margin: 0; font-weight: 600; display: inline-block; vertical-align: top;}
.lang {display: inline-block; vertical-align: top; padding: 9px 0 0 7px;}
.lang span {display: inline-block; vertical-align: top; position: relative; top: 4px;}
.lang i {display: inline-block; vertical-align: top; text-transform: uppercase; font-weight: 600; font-style: normal; padding: 0 0 0 2px;}
.user-info {position: relative;}
.user-info:before {content: ""; background: url("../img/vertical-line.png") repeat-y; width: 6px; height: 100%; position: absolute; top: 0; left: 56.69%;}
.user-info:after {content: ""; display: table; clear: both;}
.user-list {width: 52.82%; float: left; padding: 7px 0 0 0;}
.user-list > li:after {content: ""; display: table; clear: both;}
.user-list > li > label {width: 38.79%; float: left; color: #424242; padding: 8px 0 0 8.54%; position: relative;}
.user-list > li > label span {color: #bdbdbd; position: absolute; left: 0; top: 10px; font-size: 15px;}
.inn {width: 61.21%; float: right; position: relative; margin: 0 0 13px 0;}
.inn > p {margin: 0; padding: 8px 0 0 0; color: #0372dd;}
.inn > b {padding: 8px 0 0 0; display: block;}
.btn-success {border: 0; background: #62a531; color: #fff; text-transform: uppercase; margin: 5px 0 14px 0; font-size: 12px; padding: 1px 5px;}
a.edit {position: absolute; right: 0; top: 9px; color: #86c2ea; font-size: 12px;}
.inn > .currency {padding: 8px 0 0 0; display: block; font-style: normal; font-weight: bold;}
.user-more-info {width: 39.29%; float: right; padding: 8px 0 0 0;}
.row {font-size: 13px; padding: 10px 0 13px 0;}
.row:after {content: ""; display: table; clear: both;}
.col_first {width: 39.23%; float: left; color: #95959e;}
.col_second {width: 60.77%; float: right;}
.inn > p.mail {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-right: 30px;}
.status-wrap {padding: 8px 6.43% 4px 6.09%;}
.status-list > li {padding: 10px 0 9px 0;}
.status-list > li:after {content: ""; display: table; clear: both;}
.left-status > label {font-weight: 600; font-size: 19px; padding: 3px 0 0 0; display: block;}
.left-status {width: 16.77%; float: left;}
.right-status {width: 80.04%; float: right;}
.status-select-first {width: 48.38%; float: left;}
.status-select-second {width: 46.88%; float: right;}
.status-list .chzn-container {text-transform: none;}
.status-list .chzn-container-single .chzn-single {color: #83838d;}
.right-status input {padding: 6px 15px!important;}
.btn {height: 36px; border-radius: 3px; border: 1px solid #d8d8d8; font-weight: 600; font-size: 15px; padding: 0 16px; color: #616161;
  background: #fcfcfc;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), to(#dfdfdf));
  background: -webkit-linear-gradient(#fcfcfc, #dfdfdf);
  background: -moz-linear-gradient(#fcfcfc, #dfdfdf);
  background: -ms-linear-gradient(#fcfcfc, #dfdfdf);
  background: -o-linear-gradient(#fcfcfc, #dfdfdf);
  background: linear-gradient(#fcfcfc, #dfdfdf);
  -pie-background: linear-gradient(#fcfcfc, #dfdfdf);
}
.btn:hover {
  background: #dfdfdf;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dfdfdf), to(#FCFCFC));
  background: -webkit-linear-gradient(#dfdfdf, #FCFCFC);
  background: -moz-linear-gradient(#dfdfdf, #FCFCFC);
  background: -ms-linear-gradient(#dfdfdf, #FCFCFC);
  background: -o-linear-gradient(#dfdfdf, #FCFCFC);
  background: linear-gradient(#dfdfdf, #FCFCFC);
  -pie-background: linear-gradient(#dfdfdf, #FCFCFC);}
.btn .btn-skip {float: left;}

.btn.btn-next {float: right; color: #fff; border-color: #007fff; margin-left: 3.6%;
  background: #297cfd;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#297cfd), to(#0273d7));
  background: -webkit-linear-gradient(#297cfd, #0273d7);
  background: -moz-linear-gradient(#297cfd, #0273d7);
  background: -ms-linear-gradient(#297cfd, #0273d7);
  background: -o-linear-gradient(#297cfd, #0273d7);
  background: linear-gradient(#297cfd, #0273d7);
  -pie-background: linear-gradient(#297cfd, #0273d7);}
.btn.btn-next:hover {
  background: #0273d7;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#0273d7), to(#297CFD));
  background: -webkit-linear-gradient(#0273d7, #297CFD);
  background: -moz-linear-gradient(#0273d7, #297CFD);
  background: -ms-linear-gradient(#0273d7, #297CFD);
  background: -o-linear-gradient(#0273d7, #297CFD);
  background: linear-gradient(#0273d7, #297CFD);
  -pie-background: linear-gradient(#0273d7, #297CFD);}
.btn.btn-save {float: right; color: #fff; border-color: #63a631;
  background: #65b926;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#65b926), to(#60a12f));
  background: -webkit-linear-gradient(#65b926, #60a12f);
  background: -moz-linear-gradient(#65b926, #60a12f);
  background: -ms-linear-gradient(#65b926, #60a12f);
  background: -o-linear-gradient(#65b926, #60a12f);
  background: linear-gradient(#65b926, #60a12f);
  -pie-background: linear-gradient(#65b926, #60a12f);}
.btn.btn-save:hover {
  background: #60a12f;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#60a12f), to(#65B926));
  background: -webkit-linear-gradient(#60a12f, #65B926);
  background: -moz-linear-gradient(#60a12f, #65B926);
  background: -ms-linear-gradient(#60a12f, #65B926);
  background: -o-linear-gradient(#60a12f, #65B926);
  background: linear-gradient(#60a12f, #65B926);
  -pie-background: linear-gradient(#60a12f, #65B926);}
.inside {padding: 19px 2.11% 0 3.35%;}
.table {border: 1px solid #e4e4e4;}
col.width-1 {width: 1%;}
col.width-2 {width: 2%;}
col.width-3 {width: 3%;}
col.width-4 {width: 4%;}
col.width-5 {width: 5%;}
col.width-6 {width: 6%;}
col.width-7 {width: 7%;}
col.width-8 {width: 8%;}
col.width-9 {width: 9%;}
col.width-10 {width: 10%;}
col.width-15 {width: 15%;}
col.width-20 {width: 20%;}
col.width-25 {width: 25%;}
col.width-30 {width: 30%;}
col.width-35 {width: 35%;}
col.width-40 {width: 40%;}
col.width-45 {width: 45%;}
col.width-50 {width: 50%;}
col.width-55 {width: 55%;}
col.width-60 {width: 60%;}
col.width-65 {width: 65%;}
col.width-70 {width: 70%;}
col.width-75 {width: 75%;}
col.width-80 {width: 80%;}
col.width-85 {width: 85%;}
col.width-90 {width: 90%;}
col.width-95 {width: 95%;}
col.width-100 {width: 100%;}
.table tr th {text-align: left; font-weight: 600; background: #f9f9f9; border-bottom: 2px solid #e4e4e4; padding: 12px 5px 8px 5px; vertical-align: bottom;}
.table tr td {border-top: 1px solid #e4e4e4; padding: 7px 5px 12px 5px; vertical-align: top;}
.table tr th:first-child {padding-left: 3.38%;}
.table tr td:first-child {padding-left: 3.38%;}
.table tr:nth-child(2n) td {background: #fbfbfb;}
.more-text {padding: 35px 10.32% 31px 2.25%; border-bottom: 1px dashed #cfcfcf; margin: 0 0 15px 0;}
.more-text h4 {margin: 0 0 13px 0; color: #808080;}
.more-text p {margin: 0;}
a.linked-info {display: block; margin: 0 0 0 2.25%;}

/* responsive menu */
.slicknav_menu {display: none;}
.slicknav_btn {background: url("../img/mx.png") -100px -15px no-repeat; width: 14px; height: 13px; position: relative; display: block; vertical-align: middle; cursor: pointer; z-index: 1;}
.slicknav_btn.slicknav_open {background-position: -100px 0px;}
.slicknav_menu .slicknav_menutxt {display: none;}
.slicknav_menu .slicknav_icon {display: none;}
.slicknav_menu .slicknav_no-text {margin: 0;}
.slicknav_menu .slicknav_icon-bar {display: none;}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {display: none;}
.slicknav_nav {clear: both}
.slicknav_nav ul,.slicknav_nav li {display: block;}
.slicknav_nav li .icon-chevron-down {display: none;}
.slicknav_nav .slicknav_arrow {font-size: 0.8em; margin: 0 0 0 0.4em;}
.slicknav_nav .slicknav_item {cursor: pointer;}
.slicknav_nav .slicknav_row {display: block;}
.slicknav_nav a {display: block;}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {display: inline}
.slicknav_menu:before,
.slicknav_menu:after {content: " "; display: table;}
.slicknav_menu:after {clear: both}
.slicknav_menu {position: fixed; top: 24px; left: 23px; z-index: 100001; width: 14px;}
.slicknav_nav {padding: 45px 0 10px 0; background: #fff; position: fixed; top: 0px; left: 0; width: 100%;}
.slicknav_nav, .slicknav_nav ul {overflow:hidden;}
.slicknav_nav ul {padding: 0;}
.slicknav_nav ul li a {padding: 5px 30px;}
.slicknav_nav .slicknav_row {padding: 5px 10px; margin:2px 5px;}
.slicknav_nav .slicknav_row a {color: #575757;}
.slicknav_nav li > a{padding: 5px 10px; margin:2px 5px; text-decoration: none; font-size: 14px; color: #575757; text-transform: uppercase; border-bottom: 1px solid #ddd;}
.slicknav_nav .slicknav_row:hover {background:#ccc; color:#fff;}
.slicknav_nav a:hover{background:#ccc; color:#fff;}
.slicknav_nav .slicknav_txtnode {margin-left:15px;}


.search {padding: 20px 0;}
.search:after {content: ""; display: table; clear: both;}
.search input {width: 70%; float: left;}
.btn.btn-search {float: left; margin-left: 2%;}

.outside {padding: 0 5.32% 0 0;}
.search-weights {width: 48.02%; padding: 0 0 31px 0;}
.table-result {background: #f9f9f9; border: 1px solid #e4e4e4; color: #424242;}
.table-result tr th {background: #f9f9f9; border-left: 1px solid #eaeaea; border-bottom: 2px solid #eaeaea; font-weight: bold; font-size: 12px; text-align: left; line-height: 1.1; padding: 10px 0.5% 9px 0.5%; vertical-align: top;}
.table-result tr th:first-child {border-left: 0;}
.table-result tr td {font-size: 17px; background: #fff; border-left: 1px solid #eaeaea; border-top: 1px solid #eaeaea; text-align: center; padding: 14px 0.5% 18px 0.5%; vertical-align: middle;}
.table-result tr td:first-child {border-left: 0;}
.table-result tr td span {font-size: 12px; line-height: 1.1; display: block; font-weight: bold;}
.table-result tr td input {background: none; border: 0; border-radius: 0; padding: 0; font-size: 17px; text-align: center; color: #424242;}
.table-result tr:nth-child(2n) td {background: #fbfbfb;}
.table-result tr td:hover,.table-result tr td.betterhover:hover {color: #fff; background: #5db2ff;}
.table-result tr td.betterhover {background: #ebebeb;}

.table-result tr td:hover input {color: #fff;}
.table-result col {width: 5%;}
.table-result col:first-child {width: 10%;}


.table-outside {padding: 0 0 35px 0;}
.table-outside .table tr th {padding: 7px 5px 10px 5px;}
.table-outside .table tr td {padding: 14px 5px 16px 5px;}
.table-outside .table tr th:first-child {padding-left: 12px;}
.table-outside .table tr td:first-child {padding-left: 12px;}
a.trigger {position: relative; padding: 0 11px 0 0; color: #333;}
a.trigger:hover {text-decoration: none; color: #297cfd;}
a.trigger:after {content: ""; width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-bottom: 6px solid #297cfd; position: absolute; right: 0; top: 8px;}
a.trigger:hover:after {border-bottom: 0; border-top: 6px solid #297cfd;}
.table-title {padding: 0 0 10px 0;}
.table-title:after {content: ""; display: table; clear: both;}
.table-title h3 {font-weight: bold; float: left; margin: 0;}
.page .inside {padding: 5px 1.48% 0 1.48%;}
.clock {float: right; padding: 5px 4px 0 0;}
.clock i {font-weight: bold; font-style: normal; font-size: 15px;}
.icon-clock-o {color: #61ba00; ont-weight: bold; font-size: 18px; position: relative; top: 1px; margin-right: 2px;}
.empty {text-align: center; border: 1px solid #e4e4e4; border-top: 0; padding: 37px 1% 39px 1%;}
.empty p {margin: 0; color: #a3a3a3; font-weight: bold;}



/* responsive */
@media only screen and (max-width: 1299px) {
  .table tr td {font-size: 12px;}
  .table tr th {font-size: 12px;}
  .row {font-size: 12px;}
  .user-info {font-size: 13px;}
  .more-text p {font-size: 13px;}
  .table-result tr th {font-size: 11px;}
  .table-result tr td span {font-size: 11px;}
  .table-result tr td {font-size: 15px;}
  .table-result tr td input {font-size: 15px;}
}

@media only screen and (max-width: 1199px) {
  .tabs-list li a {padding-left: 32px; padding-right: 30px;}
  .box-left {width: 100%; float: none; margin-bottom: 15px;}
  .box-right {width: 100%; float: none;}
  .table-result {word-wrap: break-word;}
  .table-result tr th {font-size: 10px;}
  .table-result tr td span {font-size: 10px;}
  .table-result tr td {font-size: 13px;}
  .table-result tr td input {font-size: 13px;}
  .outside {padding-right: 1%;}
  .table-outside .table tr td {font-size: 11px;}
}

@media only screen and (max-width: 1050px) {
  .tabs-list li a {padding-left: 10px; padding-right: 10px;}
  .btn {font-size: 14px; padding: 0 8px;}
}

@media only screen and (max-width: 850px) {
    a.trigger {padding: 5px 0 0 0;}
    a.trigger::after {top: 0px; right: auto; left: 50%; margin-left: -2px;}
}



@media only screen and (max-width: 840px) {
  .table-result tr th {font-size: 9px;}
  .table-result tr td span {font-size: 9px;}
  .table-result tr td {font-size: 12px;}
  .table-result tr td input {font-size: 12px;}
}


/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  body {word-wrap: break-word;}
  .slicknav_menu {display: block;}
  .menu-ico {display: none;}
  .sidebar {display: none;}
  .main {padding-left: 0;}
  .contet-body > .inner {padding: 0 2%;}
  .contet-title > .inner {padding: 0 2%;}
  .tabs-list li a {font-size: 12px;}
  .table-result tr td input {font-size: 10px;}


}

@media only screen and (max-width: 480px) {
  .user-list {width: 100%; float: none; border-bottom: 1px dashed #cfcfcf; margin-bottom: 15px; padding-bottom: 10px;}
  .user-more-info {width: 100%; float: none;}
  .user-info::before {display: none;}
  .left-status {width: 100%; float: none;}
  .left-status > label {font-size: 16px; padding: 0 0 5px 0;}
  .right-status {width: 100%; float: none;}
  .btn {font-size: 13px;}
  a.logo {font-size: 13px; margin: 22px 0 0 36px;}
  .contet-title h1 {font-size: 24px; margin-top: 5px;}
  .user-wrap {margin-right: 10px;}
  .menu-ico {left: 13px;}
  .slicknav_menu {left: 13px;}
  .title-form label {padding-right: 6px; font-size: 13px;}
}








