.login {padding: 1px 0 0 0;}
.login .tx {margin-bottom: 1px;}
.login-inner { padding-top: 2px;}
.submenu li input {margin: 3px 0 0 -3px;}
.jqGSPagination {bottom: -1px;}
.table .tabe tr ul li { float: left; margin: 0 3px 0 2px;}
.outer .left-part .avto .clearfix label {width: 76px;}
.outer .left-part .avto-second .clearfix label {width: 66px;}