.catalog ul li {display: inline;}
.catalog ul li h4 {margin: 4px 0 0 0;}
.photo-inner a {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}