/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
* {padding: 0; margin :0;}
html, body {width:100%; height:100%;}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}


/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/

	
body {background: #edeee0 url(../images/body.png) center top repeat-x; font: 11px Tahoma, Geneva, sans-serif; color: #858681;}

	.wrapper {width: 976px; margin: 0 auto; position:relative; min-height: 100%; height: auto !important; height: 100%; z-index: 100;}
		
		.head {width: 976px; height: 265px;}
			.head ul.menu {height: 51px; overflow: hidden;}
			.head ul.menu li {float: left;}
			.head ul.menu li.first a {padding-left: 22px;}
			.head ul.menu li.activ {background: url(../images/menu-li-a-bg.png) center top repeat-x; height: 51px;}
			.head ul.menu li a {font-size: 15px; color: #fff; float: left; line-height: 51px; padding: 0 31px; margin: 0 4px;}
			.head ul.menu li a:hover {background: url(../images/menu-li-a-bg.png) center top repeat-x;}
			.head .classification-bg1 {background: url(../images/classification-bg1.png) no-repeat; padding: 0 0 0 8px;}
			.head .classification-bg2 {background: url(../images/classification-bg2.png) right top no-repeat; padding: 0 9px 0 0;}
			.head .classification-bg3 {background: url(../images/classification-bg3.png) repeat-x; height: 35px;}
			.head .classification-bg3 dl {font-size: 14px; padding: 6px 0 0 0;}
			.head .classification-bg3 dl dt {float: left; color: #5b676b; padding: 0 16px 0 15px;}
			.head .classification-bg3 dl dd {float: left; padding: 0 26px 0 0;}
			.head .classification-bg3 dl dd span {padding: 0 0 0 5px; float: left;}
			.head .classification-bg3 dl dd span b {padding: 0 5px 0 0; float: left; font-weight: normal;}
			.head .classification-bg3 dl dd span b a {float: left; color: #5aa6bd; line-height: 21px; padding: 0 4px;}	
			.head .classification-bg3 dl dd.activ span {background: url(../images/dl-dd-span-bg.png) no-repeat;}
			.head .classification-bg3 dl dd.activ span b {background: url(../images/dl-dd-span-b-bg.png) right top no-repeat;}
			.head .classification-bg3 dl dd.activ span b a {background: #a2ac42; color: #fff; text-decoration: none;}
			.head .classification-bg3 dl dd:hover span {background: url(../images/dl-dd-span-bg.png) no-repeat;}
			.head .classification-bg3 dl dd:hover span b {background: url(../images/dl-dd-span-b-bg.png) right top no-repeat;}
			.head .classification-bg3 dl dd:hover span b a {background: #a2ac42; color: #fff; text-decoration: none;}
			.no-padding {padding-right: 0!important;}
			.head .logo {float: left; padding: 8px 0 0 14px;}
			.searching {float: left; width: 726px; padding: 14px 0 0 15px; position: relative;}
			.top-nav {background: url(../images/top-nav-bg.png) left bottom no-repeat; width: 418px; height: 33px; margin: 0 0 0 21px;}
			.top-nav li {background: url(../images/top-nav-li-bg.gif) right 2px no-repeat; float: left; position: relative; left: -7px; width: 78px; text-align: center;}
			.top-nav li.currernt {width: 100px; background: none;}
			.top-nav li.currernt a {color: #828b8e; padding: 0; background: url(../images/top-nav-li-current.png) no-repeat;}
			.top-nav li a {font-size: 15px; text-decoration: none; color: #fff; line-height: 33px; display: block;}
			.top-nav li.no-bg {background: none;}
			.search {background: url(../images/serch-bg.png) no-repeat; width: 686px; height: 93px; padding: 0 0 0 40px;}
			.search input {width: 515px; font-size: 17px; color: #667175; border: 0; padding: 0; margin: 37px 0 0 0; float: left;}
			.search .sub {float: left; width: 132px; height: 58px; margin: 17px 0 0 20px;}
			.links {position: absolute; top: 13px; right: 15px;}
			.links li {float: left; text-align: center;}
			.links li a {font-size: 13px; text-decoration: none; color: #fff; float: left; height: 25px; padding: 6px 0 0 0;}
			.links li a.a0 {background: url(../images/a0.png) no-repeat; width: 87px; color: #000;}
			.links li a.a1 {background: url(../images/a1.png) no-repeat; width: 65px; color: #000;}
			.links li a.a2 {background: url(../images/a2.png) no-repeat; width: 72px;}
			.list {font-size: 14px; padding: 9px 0 0 19px; float: left;}
			.list dt {display: inline; color: #5b676b; padding-right: 6px;}
			.list dd {display: inline; padding: 0 3px 0 2px;}
			.list dd a {font-size: 13px; color: #429ab5; text-transform: uppercase;}
			.list dd a:hover {color: #5b676b; text-decoration: none;}
			.list dd.cur a {color: #5b676b; text-decoration: none;}


		.content {width: 976px; padding-bottom: 263px;}
			.content-bg1 {background: url(../images/content-bg1.png) no-repeat; padding: 7px 0 0 0; margin: 0 0 17px 2px;}
			.content-bg2 {background: url(../images/content-bg2.png) left bottom no-repeat; padding: 0 0 9px 0;}
			.content-bg3 {background: url(../images/content-bg3.png) left top repeat-y; padding: 0 4px 0 3px; width: 965px;}
			.content-bg4 {background: url(../images/content-bg4.png) center top repeat-x; width: 965px; padding-bottom: 16px;}
			.content-bg5 { padding-bottom: 43px;}
			.heading-wrapper {padding: 4px 0 13px 14px; position: relative; width: 951px;}
			#heading li {float: left;}
			
			#heading li.curr .heading-bg1 {background: url(../images/heading-activ-bg1.png) right top no-repeat!important; float: left!important; padding: 0 5px 0 0!important; margin: 0 13px 0 0!important; top: 0!important;}
			#heading li.curr .heading-bg2 {background: url(../images/heading-activ-bg2.png) no-repeat; height: 25px; float: left; padding: 7px 0 0 0; position: relative;}
			#heading li.curr .heading-bg2 a {font-size: 15px; color: #fff; text-decoration: none; padding: 0 9px 0 18px;}
			#heading li.curr .heading-bg2 strong {font-size: 15px; color: #fff; text-decoration: none; padding: 0 9px 0 18px; font-weight: normal;}
			#heading li.curr .heading-bg2 span {background: url(../images/span-bg.png) no-repeat; width: 12px; height: 10px; position: absolute; bottom: -10px; left: 50%; margin-left: -6px; display: block!important;}
			#heading li.curr .heading-bg2 .classic {padding: 0 44px 0 41px;}
			
			.heading-activ-bg1 {background: url(../images/heading-activ-bg1.png) right top no-repeat; float: left; padding: 0 5px 0 0; margin: 0 13px 0 0;}
			.heading-activ-bg2 {background: url(../images/heading-activ-bg2.png) no-repeat; height: 25px; float: left; padding: 7px 0 0 0; position: relative;}
			.heading-activ-bg2 a {font-size: 15px; color: #fff; text-decoration: none; padding: 0 6px 0 13px;}
			.heading-activ-bg2 strong {font-size: 15px; color: #fff; text-decoration: none; padding: 0 9px 0 18px; font-weight: normal;}
			.heading-activ-bg2 strong.width {padding: 0 49px 0 52px;}
			.heading-activ-bg2 span {background: url(../images/span-bg.png) no-repeat; width: 12px; height: 10px; position: absolute; bottom: -10px; left: 50%; margin-left: -6px; display: block;}
			
			.heading-bg1 {background: url(../images/heading-bg1.png) right top no-repeat; padding: 0 7px 0 0; float: left; margin: 0 9px 0 0; position: relative; top: -2px;}
			.heading-bg2 {background: url(../images/heading-bg2.png) no-repeat; height: 28px; float: left; padding: 8px 0 0 0;}
			.heading-bg2 a {font-size: 15px; color: #fff; text-decoration: none; padding: 0 9px 0 18px;}
			.heading-bg2 strong {font-size: 15px; color: #fff; text-decoration: none; padding: 0 9px 0 18px; font-weight: normal;}
			.heading-bg2 span {display: none;}
			.block-outer {padding: 0 0 0 12px; display: none;}
			.block-inner {width: 941px; margin: 13px 0 0 0; position: relative;}
			.block-inner .star {position: absolute; top: 28px; left: -10px; z-index: 1000;}
			.block-top {background: url(../images/block-top-bg.png) no-repeat; width: 941px; height: 44px;}
			.block-top table tr td.first {padding: 0 0 0 32px;}
			.block-top table tr td.second {padding: 0 0 0 11px;}
			.block-top table tr td.third .play {background: url(../images/play-bg.png) no-repeat; width: 711px; height: 38px; margin: 3px 0 0 2px; overflow: hidden;}
			.block-top table tr td.third .play h3 {font-size: 17px; color: #636357; font-weight: normal; padding: 5px 61px 0 30px; position: relative; overflow: hidden;}
			.block-top table tr td.third .play h3 a {font-size: 17px; color: #636357; text-decoration: none;}
			.block-top table tr td.third .play h3 span {font-size: 14px; color: #9e9e9e; position: absolute; top: 8px; right: 21px;}
			

			.block-top table tr td.third .play h1 {font-size: 17px; color: #636357; font-weight: normal; padding: 5px 61px 0 30px; position: relative; overflow: hidden;}
			.block-top table tr td.third .play h1 a {font-size: 17px; color: #636357; text-decoration: none;}
			.block-top table tr td.third .play h1 span {font-size: 14px; color: #9e9e9e; position: absolute; top: 8px; right: 21px;}
			
			.block-top table tr td.third .play .track {width: 275px; height: 5px; display: block; overflow: hidden; margin: 1px 0 0 29px;}
			.block-top table tr td.fofth {padding: 0 0 0 6px;}
			.block-top table tr td.fifth a {font-size: 14px; color: #a2ac42; padding: 0 30px 0 6px; position: relative; overflow: hidden; display: block; text-decoration: none;}
			.block-top table tr td.fifth a img {position: absolute; right: 14px; top: 2px;}
			.block-bottom {background: url(../images/block-bottom-bg.png) left bottom no-repeat; width: 941px; padding: 0 0 9px 0;}
			.block-bottom-bg1 {background: url(../images/block-bottom-bg1.png) left top repeat-y; width: 941px;}
			.block-bottom-bg1 table.info tr td {padding: 6px 5px 8px 0; overflow: hidden;}
			.block-bottom-bg1 table.info tr td span {color: #bdbdbd; padding: 0 3px 0 0;}
			.block-bottom-bg1 table.info tr td.one {padding-left: 16px;}
			.other .block-top table tr td {padding-top: 12px;}
			.other .block-top table tr td.third h3 {color: #848c34; padding: 0 0 0 29px; font-weight: normal; font-size: 14px;}
			.other .block-top table tr td.third h3 a {color: #848c34; font-size: 14px; text-decoration: none;}
			.heading-wrapper-second {background: url(../images/arrow-bg.png) 913px 13px no-repeat; overflow: hidden; cursor: pointer;}
			.heading-wrapper-second .heading-activ-bg2 a {padding: 0 9px 0 18px;}
			.active {background-position: 913px -57px;}
			.tags ul {padding: 10px 40px 10px 32px;}
			.tags ul li {display: inline;}
			.tags ul li a {text-decoration: none; color: #848c34;}
			.visible {display: block;}
			
			.lists {padding: 30px 0 0 20px;}
			.lists ul {width: 228px; float: left; padding: 0 10px 0 0;}
			.lists ul li {background: url(../images/list-li-ul-li-bg.gif) left 5px no-repeat; padding: 0 0 11px 9px;}
			.lists ul li a {color: #848c34;}
			.lists ul li a:hover {text-decoration: none; color: #429ab5;}
			.list-second ul li {background: none;}
			.list-third {padding: 6px 0 4px 20px;}
			
			.period {float: left;}
			.period dl {float: left; color: #5b676b; padding: 11px 0 0 2px;}
			.period dl dt {float: left; padding: 0 10px 0 0;}
			.period dl dd {float: left;}
			.period dl dd a {color: #848c34; text-decoration: none;}
			.period dl dd span {padding: 0 3px;}
			.period dl dd i {background: url(../images/period-dd-i-bg.gif) left 5px no-repeat; font-style: normal; float: left; padding: 0 3px 0 8px; margin: 0 0 0 5px;}
			.period dl dd .lineForm {float: left; position: relative; top: -5px; margin-right: 5px;}
			.period dl dd .submit-6 {background: url(../images/period-submit-bg.png) no-repeat; width: 82px; height: 25px; border: 0; position: relative; top: -5px; float: left;}
			.period dl dd.to {padding-right: 3px;}
			
			
			.paganavi {padding: 16px 0 15px 14px;}
			.paganavi-bottom {padding: 30px 0 0 14px;}
			.paganavi ul {float: left;}
			.paganavi ul li {background: url(../images/pagenavi-ul-li-bg.png) right top no-repeat; padding: 0 7px 0 0; float: left; margin: 0 4px 0 0 ;}
			.paganavi ul li a {background: url(../images/pagenavi-ul-li-a-bg.png) no-repeat; float: left; text-decoration: none; color: #429ab5; line-height: 25px; padding: 0 4px 0 8px;}
			.paganavi ul li a i {font-style: normal; display: block; float: left;}
			.paganavi ul li.prev a i {background: url(../images/prev-i-bg.gif) left 11px no-repeat; padding: 0 0 0 11px;}
			.paganavi ul li.next {background: url(../images/pagenavi-ul-li-activ-bg.png) right top no-repeat;}
			.paganavi ul li.next a {background: url(../images/pagenavi-ul-li-a-activ-bg.png) no-repeat; color: #fff;}
			.paganavi ul li.next a i {background: url(../images/next-i-bg.gif) right 11px no-repeat; display: block; padding: 0 11px 0 4px;}
			.paganavi ul li div {background: url(../images/pagenavi-ul-li-a-bg.png) no-repeat; padding: 0 0 0 5px; float: left;}
			.paganavi ul li div a {background: none; border-right: 1px solid #e1e6ea; padding: 0 10px 0 10px; position: relative; left: -5px;}
			.paganavi ul li div a.current span {background: #429ab5; color: #fff;}
			.paganavi ul li div a:hover {background: #429ab5; color: #fff;}
			.paganavi ul li div a.current {background: #429ab5;}
			
			
			.paganavi ul li div a.first:hover {background: url(../images/pagenavi-ul-li-a-activ-bg.png) no-repeat; padding: 0 10px 0 12px!important; display: block;}
			.paganavi ul li div a.first:hover span {background: none!important; display: block;}
			.paganavi ul li div a.current.first {background: url(../images/pagenavi-ul-li-a-activ-bg.png) no-repeat; padding: 0 10px 0 12px!important; display: block;}
			.paganavi ul li div a.current.first span {background: none!important; display: block;}
			.paganavi ul li div a.current.first:hover {background: url(../images/pagenavi-ul-li-a-activ-bg.png) no-repeat;}

			.paganavi ul li div a.current.last {background: url(../images/pagenavi-ul-li-activ-bg.png) right top no-repeat!important; padding: 0 7px 0 0!important; position: relative; left: auto; margin: 0 -7px 0 -5px;}
			.paganavi ul li div a.current.last span {background: url(../images/last-bg.png) repeat-x!important; display: block; padding: 0 4px 0 10px;}
			.paganavi ul li div a.current.last:hover {background: url(../images/pagenavi-ul-li-activ-bg.png) right top no-repeat;}
			.paganavi ul li div a.current.last:hover span {background: url(../images/last-bg.png) repeat-x;}
			.paganavi ul li div a.last {border-right: 0!important; background: none!important; padding: 0 5px 0 5px!important; left: auto;}
			.paganavi ul li div a.last span {background: none!important;}
			.paganavi ul li div a.last:hover {background: url(../images/pagenavi-ul-li-activ-bg.png) right top no-repeat!important; padding: 0 7px 0 0!important; position: relative; left: auto; margin: 0 -7px 0 -5px;}
			.paganavi ul li div a.last:hover span {background: url(../images/last-bg.png) repeat-x!important; display: block; padding: 0 4px 0 11px;}
			
			.result {float: right; padding: 5px 0 0 0;}
			.result dl {float: left; padding: 0 19px 0 0;}
			.result dl dt {display: inline; font-weight: bold; color: #5b676b;}
			.result dl dd {display: inline; font-weight: bold; color: #429ab5;}
			.result dl dd i {font-weight: normal; font-style: normal; color: #666; padding-left: 3px;}
			
			.textarea-bg1 {background: url(../images/textarea-bg1.png) no-repeat; padding: 9px 0 0 0; margin: 22px 0 0 13px;}
			.textarea-bg2 {background: url(../images/textarea-bg2.png) left bottom no-repeat; padding: 0 0 6px 0;}
			.textarea-bg3 {background: url(../images/textarea-bg3.png) repeat-y; width: 905px; padding: 2px 16px 0 16px;}		
			.textarea-bg3 textarea {width: 900px; height: 103px; border: 0; padding: 0; font-size: 14px; color: #8297a5; overflow: hidden;}
			.captcha {padding: 12px 14px 0 0;}
			.captcha-inner {float: right;}
			.captcha a {font-size: 14px; color: #5ba7bf; float: left; margin: 16px 10px 0 0;}
			.captcha img {float: left; margin: 0 14px 0 0;}
			.captcha .input {background: url(../images/captch-input-bg.gif) no-repeat; width: 172px; height: 37px; line-height: 37px; border: 0; padding: 0 0 0 12px; color: #8297a5; font-size: 14px; float: left; margin: 4px 15px 0 0;}
			.captcha .submit {background: url(../images/captcha-submit-bg.png) no-repeat; width: 114px; height: 38px; border: 0; float: left; margin: 4px 0 0 0; cursor: pointer;}
			.captcha .submit-2 {background: url(../images/submit-bg2.png) no-repeat;}
			.captcha .submit-3 {background: url(../images/submit-bg3.png) no-repeat;}
			.text-wrap {padding: 19px 0 0 14px;}
			.text-wrap .text {background: url(../images/captch-input-bg.gif) no-repeat; width: 172px; height: 37px; line-height: 37px; border: 0; padding: 0 0 0 12px; color: #8297a5; font-size: 14px; margin: 0 0 15px 0; display: block;}
			.text-wrap .t {background: url(../images/t-bg.png) no-repeat; width: 490px; height: 37px; line-height: 37px; border: 0; padding: 0 0 0 12px; color: #8297a5; font-size: 14px; margin: 0 0 15px 0; display: block;}
			.submiturl p {color: #8297a5; padding: 7px 0 6px 31px;}
			.submiturl p span {color: #e50303; padding: 0 3px 0 0;}
			.outer {width: 502px; margin: 0 auto; padding: 0 0 5px 0;}
			.outer .text-wrap {padding: 31px 0 0 0;}
			.outer .captcha {padding: 0;}
			
			.serchs {position: absolute; right: 15px; top: 2px;}
			.serchs form .input {background: url(../images/captch-input-bg.gif) no-repeat; width: 172px; height: 37px; line-height: 37px; border: 0; padding: 0 0 0 12px; color: #8297a5; font-size: 14px; float: left; margin: 0 15px 0 0;}
			.serchs form .submit-1 {background: url(../images/submit-bg1.png) no-repeat; width: 114px; height: 38px; border: 0; float: left; cursor: pointer;}
			
			.box-wrapper {padding: 18px 0 0 11px;}
			.box {width: 941px; margin-bottom: 13px;}
			.box .box-top {background: url(../images/box-top-bg.png) no-repeat; height: 9px; overflow: hidden;}
			.box .box-middle-bg1 {background: url(../images/box-middle-bg1.png) repeat-y;}
			.box .box-middle {background: url(../images/box-middle-bg.png) left bottom no-repeat; padding: 6px 40px 10px 26px; width: 875px;}
			.box .box-bottmom {background: url(../images/box-bottom-bg.png) no-repeat; height: 9px; overflow: hidden;}	
			.avatarka {background: url(../images/avatarka-bg1.png) no-repeat; width: 90px; height: 90px; overflow: hidden; float: left;}
			.avatarka div {vertical-align: middle; display: table-cell; width: 90px; height: 90px; text-align: center;}
			.avatarka div a {display: block;}
			*+html .avatarka div a {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
			.box .box-middle h3 {font-size: 17px; font-weight: normal; color: #667175; padding: 1px 0 2px 105px;}
			.box .box-middle h3 a {text-decoration: none; color: #667175; font-size: 17px;}
			.box .box-middle p {padding: 0 0 0 105px; line-height: 2.1; color: #5b676b;}
			.box .box-middle .download {margin: 8px 0 0 105px; display: block;}
			
			
			.container {padding: 25px 31px 0 26px;}
			.container h2 {padding: 0 0 9px 0;}
			.container h2 a {font-weight: normal; font-size: 17px; color: #8c9341;}
			.container p {line-height: 2.1; color: #5b676b; padding: 0 0 12px 0;}
			.container h3 {font-size: 17px; text-transform: uppercase; font-weight: normal; color: #5b676b; padding: 0 0 15px 0;}
			.information {padding: 4px 0 19px 0;}
			.information li {background: url(../images/information-li-bg.gif) left 5px no-repeat; padding: 0 0 11px 9px; color: #5b676b;}
			.container .mail {font-size: 14px; color: #848c34; display: block; padding: 0 0 18px 0;}
			.container .nambers {padding-bottom: 4px;}
			.container .nambers li {color: #5b676b; padding: 0 0 11px 0;}
			.container .nambers li span {color: #848c34; padding: 0 3px 0 0;}
			.container-inner {padding: 4px 0 0 0;}
			.container-inner p {padding: 0 0 25px 0;}
			.container-inner p.no-padding {padding-bottom: 0;}
			.container-inner p a {color: #a2ac42;}
			
			.player {background: url(../images/player-bg.png) no-repeat; width: 938px; height: 52px; margin: 16px 0 0 3px;}
			.player table tr td {vertical-align: top;}
			.player table tr td a {text-decoration: none; display: block; height: 35px; text-align: center; padding: 17px 0 0 0;}
			.player table tr td.player-outer {padding-left: 18px;}
			.player table tr td.player-outer h3 {position: relative; padding: 13px 0 2px 0; font-weight: normal;}
			.player table tr td.player-outer h3 a {height: auto; padding: 0; text-align: left; font: normal 17px Arial, Helvetica, sans-serif; text-decoration: none; color: #878787; display: inline;}
			.player table tr td.player-outer h3 span {color: #9E9E9E; font-size: 14px; position: absolute; right: 21px; top: 15px;}
			.player table tr td .saund {margin: 15px 0 0 31px;}
			.play-list-inner-bg1 {background: url(../images/play-list-inner-bg1.png) left bottom no-repeat; padding: 0 0 9px 0;}
			.play-list-inner-bg2 {background: url(../images/play-list-inner-bg2.png) repeat-y;}
			.play-list-inner-bg3 {background: url(../images/play-list-inner-bg3.png) left 14px no-repeat; width: 921px; padding: 0 0 15px 20px;}
			.select-group {padding: 11px 21px 10px 0;}
			.select-group .lineForm {float: left; margin: 0 17px 0 0;}
			.select-group .lineForm select {color: #5b676b; font-size: 11px;}
			.select-group .tx {background: url(../images/tx-bg.png) no-repeat; width: 149px; height: 26px; float: left; line-height: 26px; color: #5b676b; font-size: 11px; border: 0; padding: 0 10px; margin: 0 7px 0 0;}
			.select-group .submit-4 {background: url(../images/submit-bg4.png) no-repeat; width: 98px; height: 26px; float: left; border: 0; cursor: pointer;}
			.right-group {float: right;}
			.right-group label {float: left; font-size: 14px; color: #808080; margin: 5px 6px 0 0;}
			.right-group .right-group-serch-bg {background: url(../images/right-group-serch-bg.png) no-repeat; width: 138px; height: 26px; padding: 0 0 0 1px; float: left; margin-right: 6px; position: relative;}
			.right-group .right-group-serch-bg input.txt {width: 113px; height: 26px; line-height: 26px; border: 0; background: none;}
			.right-group .right-group-serch-bg input.zoom {background: url(../images/zoom-bg.png) no-repeat; width: 18px; height: 13px; border: 0; position: absolute; top: 7px; right: 5px; cursor: pointer;}
			.right-group .submit-5 {background: url(../images/submit-bg5.png) no-repeat; width: 98px; height: 26px; float: left; border: 0; cursor: pointer;}
			.play-list-inner-bg3 h2 {font: normal 17px Arial, Helvetica, sans-serif; color: #808080; padding: 26px 0 0 0;}
			.play-box {background: url(../images/play-box.png) no-repeat; width: 900px; height: 41px; margin: 11px 0 0 0;}
			.play-box table tr td {vertical-align: top;}
			.play-box table tr td a {display: block;}
			.play-box table tr td.play-first a {padding: 12px 0 0 16px;}
			.play-box table tr td h3 a {font-size: 17px; font-weight: normal; color: #8c9341; text-decoration: none; padding: 9px 0 0 9px;}
			.play-box table tr td.sell a {float: left; padding: 14px 7px 0 6px;}
			.play-box table tr td.sell .lineForm {float: left; margin: 6px 0 0 0;}
			.play-box table tr td.close a {padding: 6px 0 0 5px;}
			.play-box-first {background: url(../images/play-box-first.png) no-repeat; position: relative; z-index: 1000;}
			.play-box-second table tr td h3 a {color: #4ea0ba;}
			
			.banner {background: #e5e6d8; height: 112px; text-align: center; padding: 21px 0 0 0; margin: 9px 0 19px 0;}
			
			
			.info-song-first { width: 292px;}
			.info-song ul {float: left; padding: 14px 23px 0 14px;}
			.info-song ul li {color: #858681; padding-bottom: 11px;}
			.info-song ul li strong {font-weight: normal; color: #bdbdbd;}
			.info-song ul li span {color: #848c34;}
			.info-song ul li a {color: #848c34; margin: 0 5px 0 0;}
			.preambule {padding: 5px 0 0 16px;}
			.down-outer-top img { float: left;}
			.speed {background: url(../images/speed-bg.png) no-repeat; float: left; width: 186px; height: 30px; font-size: 14px; color: #429ab5; text-align: center; padding: 11px 7px 0 0;} 
			.speed-down {background: url(../images/speed-down-bg.png) no-repeat; width: 339px; height: 27px; text-align: center; font-size: 11px; color: #429ab5; float: left; padding: 14px 26px 0 26px; overflow: hidden;}
			.down-outer {padding: 12px 0 17px 0;}	
			.down-outer-top-heading { background: url(../images/down-inner-bg1.png) no-repeat; width: 238px; height: 39px; float: left; margin: 0 91px 0 0; cursor: pointer;}
			.cu {background: url(../images/down-inner-bg.gif) no-repeat; width: 238px; height: 55px; }
			.down-outer-bottom-bg1 {background: url(../images/down-outer-bottom-bg1.png) no-repeat; padding: 5px 0 0 0;}
			.down-outer-bottom-bg2 {background: url(../images/down-outer-bottom-bg2.png) left bottom no-repeat; padding: 0 0 4px 0;}
			.down-outer-bottom-bg3 {background: #ededed; width: 911px; padding-bottom: 8px;}
			.down-outer-bottom-bg3 .captcha-inner {float: left; padding: 0 0 0 15px;}
			.down-outer-bottom-bg3 .captcha-inner img {border: 1px solid #dedede;}
			.captcha .input-1 {background: url(../images/captch-input-bg1.gif) no-repeat; width: 80px;}
			.down-outer-bottom-bg3 .spam {float:left; padding: 18px 0 0 11px;}
			
			.com-block-bg1 {background: url(../images/com-block-bg1.png) no-repeat; padding: 7px 0 0 0; margin: 13px 0 0 0;}
			.com-block-bg2 {background: url(../images/com-block-bg2.png) left bottom no-repeat; padding: 0 0 8px 0;}
			.com-block-bg3 {background: url(../images/com-block-bg3.png) repeat-y; width: 942px;}
			.shadow-bg1 {background: url(../images/shadow-bg.png) 2px top no-repeat;}
			.shadow-bg2 {padding-bottom: 30px;}
			.shadow-bg22 {background-position: 2px 218px;}
			.shadow-bg1 .heading-wrapper {padding: 4px 0 13px 18px; position: relative; width: 924px;}
			.heading-wrapper-third {background: url(../images/arrow-bg.png) 880px 13px no-repeat; overflow: hidden; cursor: pointer;}
			.slid-preambule {background: url(../images/shadow-bg.png) 2px  bottom no-repeat; color: #59594c; padding: 14px 15px 57px 15px; min-height: 175px;}
			.slid .submiturl {padding: 4px 0 0 18px;}
			.textarea-bg4 {background: url(../images/textarea-bg4.png) no-repeat; width: 878px; height: 90px; padding: 15px;}
			.textarea-bg4 textarea {width: 878px; height: 90px; border: 0; padding: 0; font-size: 14px; color: #8297a5; overflow: hidden;}
			.slid .submiturl .captcha {padding: 12px 17px 0 0;}
			.slid .submiturl .text-wrap {padding: 0;}
			.shadow-bg2 .active {background-position: 880px -57px;}
			.comments {padding: 0 0 0 2px;}
			.comment-inner {border-bottom: 1px solid #dedede; padding: 17px 0 10px 0; width: 910px;}
			.comment-inner h4 {color: #1fac03; font-size: 11px; font-weight: normal; float: left; padding: 0 0 11px 0;}
			.comment-inner span.date {float: right; color: #999;}
			.comment-inner span.date i {font-style: normal;}
			.comments .no-border {border-bottom: 0;}
			.slid-preambule-second { padding-bottom: 50px;}
			.slid .paganavi {padding: 0 12px 0 0; float: right;}
			
			.lists-other {padding: 0;}
			.lists-other ul li a span {font-weight: bold; color: #429ab5;}
			.lists-other ul li a b {font-weight: normal; color: #429ab5;}
			.arrow {background: url(../images/arrow-bg.png) no-repeat; width: 40px; height: 28px; position: absolute; right: 13px; top: 10px; cursor: pointer;}
			.arrowiactiv {background-position: 0 -72px;}
			.block-outer-wrap {padding: 21px 0 0 5px; width: 960px; overflow: hidden;}
			.plashka {background: url(../images/plashka-bg.png) left -73px no-repeat; width: 147px; height: 27px; text-align: center; padding: 3px 0 0 0; margin: 22px 0 0 0; cursor: pointer;}
			.act { background-position: 0 0;}
			.plashka a {text-decoration: none; color: #7a951e;}
			.left-column {width: 217px; float: left; padding: 26px 0 0 18px;}
			.right-column {width: 666px; float: left; padding: 2px 0 0 0;}
			.right-column table {width: 100%;}
			.right-column table tr td {border-bottom: 1px solid #fff; padding: 9px 0 9px 5px;}
			.right-column table tr td span {padding: 0 7px 0 0;}
			.right-column table tr td a {color: #429ab5; text-decoration: none;}
			
			.download-wrap {float: right; margin: -5px 0 0 0;}
			.download-wrap-bg1 {background: url(../images/download-wrap-bg1.png) no-repeat; padding: 0 0 0 10px; height: 42px; float: left; margin: 0 5px 0 0;}
			.download-wrap-bg2 {background: url(../images/download-wrap-bg2.png) right top no-repeat; padding: 0 10px 0 0; height: 42px; float: left;}
			.download-wrap-bg3 {background: url(../images/download-wrap-bg3.png) repeat-x; height: 31px; float: left; padding: 11px 0 0 0;}
			.download-wrap-bg3 a {font-size: 14px; color: #4ea0ba; padding: 0 2px 0 4px;}
			.block-top-bg1 {background: url(../images/block-top-bg1.png) no-repeat; width: 941px; height: 44px;}
			.block-top-bg1 table tr td {vertical-align: top;}
			.block-top-bg1 h3 {}
			.block-top-bg1 h3 a {font-size: 14px; text-decoration: none; color: #429ab5; display: block; padding: 12px 0 0 18px;}
			.block-top-bg1 table tr td.pl a {display: block; padding: 14px 0 0 14px;}
			.block-top-bg1 table tr td.pl-1 a {display: block; padding: 14px 0 0 10px;}
			.block-top-bg1 table tr td.pl-2 a {font-size: 14px; color: #a2ac42; padding: 11px 30px 0 6px; position: relative; overflow: hidden; display: block; text-decoration: none;}
			.block-top-bg1 table tr td.pl-2 a img {position: absolute; right: 14px; top: 14px;}
			.info-song ul.song-inner {padding-left: 0; padding-top: 0; width: 292px;}
			.info-song ul.song-inner li span {color: #858681;}
			.info-song ul.song-inner li span i {font-style: normal; color: #429ab5;}
			.detaels {float: left; padding: 3px 0 0 91px;}
			.detaels table tr td {color: #858681; padding: 0 21px 11px 0;}
			.detaels table tr td strong {font-weight: normal; color: #bdbdbd; padding: 0 4px 0 0;}
			.down-green {float: right; margin: 2px 13px 0 0;}
			.block-top-bg1 h3.h31 a {color: #848c34;}
			.block-top-bg1 h3.h31 a span {color: #429ab5;}
			.avatarka-small {background: url(../images/avatarka-small.png) no-repeat; width: 71px; height: 69px; overflow: hidden; margin-bottom: 8px;}
			.avatarka-small div {vertical-align: middle; display: table-cell; width: 71px; height: 69px; text-align: center;}
			.avatarka-small div a {display: block;}
			*+html .avatarka-small div a {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
			.popular-outer {padding: 11px 0 0 3px;}
			.popular-outer table tr td {vertical-align: top; border-bottom: 1px solid #d8d8d8; padding: 12px 0 13px 20px;}
			.popular-outer table tr td table tr td {border: 0; padding: 0;}
			.popular-outer table tr.no-border td {border: 0;}
			.popular-outer h3 {padding: 3px 0 0 9px;}
			.popular-outer h3 a {text-decoration: none; color: #848c34; font-size: 14px;}
			.popular-outer span {display: block; color: #bdbdbd; padding: 7px 0 0 7px;}
			.popular-outer span strong {font-weight: normal; color: #858681;}
			.shadow-bg4 {background: url(../images/shadow-bg4.png) left 4px repeat-x; padding: 3px 0 0 0;}
			.shadow-bg4 .download-wrap {margin: 7px 0 0 0;}
			
			.main {width: 972px; margin: 0 0 29px 0;}
			.main-box-outer {width: 314px; float: left; margin: 0 15px 0 0;}
			.main-box-outer-last {margin: 0;}
			.main-box-bg1 {background: url(../images/main-box-bg1.png) no-repeat; padding: 7px 0 0 0;}
			.main-box-bg2 {background: url(../images/main-box-bg2.png) left bottom no-repeat; padding: 0 0 9px 0;}
			.main-box-bg3 {background: url(../images/main-box-bg3.png) repeat-y; padding: 0 4px 0 3px;}
			.main-box-bg4 {background: url(../images/main-box-bg4.png) left 4px repeat-x; width: 307px;}
			.main-box-bg4 .heading-wrapper {padding: 4px 0 0 12px; width: 295px; position: relative;}
			.flag {position: absolute; top: 0px; right: 0px;}
			.main-box-inner {padding: 18px 0 0 12px;}
			.main-box-inner h3 {padding: 2px 0 0 7px;}
			.main-box-inner h3 a {text-decoration: none; color: #848c34; font-size: 14px;}
			.main-box-inner span {display: block; color: #bdbdbd; padding: 7px 0 2px 7px;}
			.main-box-inner span strong {font-weight: normal; color: #858681;}
			.main-box-inner table {width: 285px;}
			.main-box-inner table tr td {vertical-align: top; border-bottom: 1px solid #d8d8d8; padding: 13px 0 6px 0px;}
			.main-box-inner table tr.no-border td {border: 0;}
			
		
			.popap-outer {left:0; position: absolute; top:0; width:100%; height: 100%; display: none;}
			.popap-wrap {width: 441px; position: absolute; left: 50%; top: 101px; margin: 0 0 0 -220px; z-index: 1000; display: none;}
			.popap-block-bg1 {background: url(../images/popap-block-bg1.png) no-repeat; padding: 7px 0 0 0;}
			.popap-block-bg2 {background: url(../images/popap-block-bg2.png) left bottom no-repeat; padding: 0 0 9px 0;}
			.popap-block-bg3 {background: url(../images/popap-block-bg3.png) repeat-y; padding: 0 4px 0 2px;}
			.popap-block-bg4 {background: url(../images/popap-block-bg4.png) left 3px no-repeat; width: 435px;}
			.popap-block-bg4 .heading-wrapper {padding: 0; width: 419px; padding: 4px 0 0 16px;}
			.popap-block-bg4 .heading-wrapper .clos { font-family: Arial, Helvetica, sans-serif; color: #aaa; float: right; padding: 8px 20px 0 0;}
			.popap-block-bg4 form {display: block; padding: 30px 15px 15px 18px; width: 402px;}
			.popap-block-bg4 form div {padding: 0 0 21px 0; position: relative;}
			.popap-block-bg4 form div strong {position: absolute; font-weight: normal; color: #cc0000; left: 117px; bottom: 4px;}
			.popap-block-bg4 form div label {font: 12px Arial, Helvetica, sans-serif; color: #59594c; width: 98px; float: left; padding: 10px 0 0 0;}
			.popap-block-bg4 form div label span {color: #cc0000;}
			.popap-block-bg4 form div input {background: url(../images/popap-input-bg.png) no-repeat; width: 270px; height: 37px; display: block;  float: left; border: 0; font: 11px Arial, Helvetica, sans-serif; color: #bdbdbd; padding: 0 13px 0 16px;}
			*+html .popap-block-bg4 form div input {padding: 13px 13px 0 16px; height: 24px;}
			.popap-block-bg4 form .submit-7 {background: url(../images/submit-7-bg.png) no-repeat; width: 94px; height: 38px; border: 0; float: right; cursor: pointer;}
			.popap-block-bg4 form div input.error {background: url(../images/popap-error-input-bg.png) no-repeat;}
			.popap-shadow {cursor:pointer; left:0; position: absolute; top:0; width:100%; height: 100%; background: #000; display: none; z-index: 999;}
			.popap-block-bg4 form div.rem {padding: 2px 0 0 0;}
			.popap-block-bg4 form div.rem label {width: 128px!important;}
			.popap-block-bg4 form div.rem label input {background: none; width: auto; height: auto; margin: 0 8px 0 0;}
			.popap-block-bg4 form div.rem a {float: left; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #a2ac42; padding: 12px 16px 0 50px;}
			.popap-block-bg4 form div.rem .submit-8 {background: url(../images/submit-8-bg.png) no-repeat; width: 95px; height: 38px; border: 0; cursor: pointer;}
			.popap-block-bg4 form div.rem .submit-9 {background: url(../images/submit-9-bg.png) no-repeat; width: 113px; height: 38px;  border: 0; cursor: pointer; margin: 57px 0 0 0;}
			
			.popap-outer-seocnd {left:0; position: absolute; top:0; width:100%; height: 100%; display: none;}
			.popap-wrap-seocnd {width: 441px; position: absolute; left: 50%; top: 151px; margin: 0 0 0 -220px; z-index: 1000; display: none;}
			.popap-shadow-seocnd {cursor:pointer; left:0; position: absolute; top:0; width:100%; height: 100%; background: #000; display: none; z-index: 999;}
			.popap-block-bg4 .heading-wrapper .closs { font-family: Arial, Helvetica, sans-serif; color: #aaa; float: right; padding: 8px 20px 0 0;}
			
			.popap-outer-third {left:0; position: absolute; top:0; width:100%; height: 100%; display: none;}
			.popap-wrap-third {width: 441px; position: absolute; left: 50%; top: 151px; margin: 0 0 0 -220px; z-index: 1000; display: none;}
			.popap-shadow-third {cursor:pointer; left:0; position: absolute; top:0; width:100%; height: 100%; background: #000; display: none; z-index: 999;}
			.popap-block-bg4 .heading-wrapper .closss { font-family: Arial, Helvetica, sans-serif; color: #aaa; float: right; padding: 8px 20px 0 0;}
			.popap-block-bg4 form div.rem-text {float: left; padding: 59px 73px 0 2px;}
			.rem-text p {padding-bottom: 11px; color: #59594c; font-family: Arial, Helvetica, sans-serif;}
			
			#heading-popap li {float: left;}
			#heading-popap li.curr .heading-bg1 {background: url(../images/heading-activ-bg1.png) right top no-repeat!important; float: left!important; padding: 0 5px 0 0!important; margin: 0 13px 0 0!important; top: 0!important;}
			#heading-popap li.curr .heading-bg2 {background: url(../images/heading-activ-bg2.png) no-repeat; height: 25px; float: left; padding: 7px 0 0 0; position: relative;}
			#heading-popap li .heading-bg2 a {font-size: 15px; color: #fff; text-decoration: none; padding: 0 50px 0 44px;}
			#heading-popap li.curr .heading-bg2 a {font-size: 15px; color: #fff; text-decoration: none; padding: 0 31px 0 40px;}
			#heading-popap li.curr .heading-bg2 strong {font-size: 15px; color: #fff; text-decoration: none; padding: 0 9px 0 18px; font-weight: normal;}
			#heading-popap li.curr .heading-bg2 span {background: url(../images/span-bg.png) no-repeat; width: 12px; height: 10px; position: absolute; bottom: -10px; left: 50%; margin-left: -6px; display: block!important;}
			#heading-popap li.curr .heading-bg2 .classic {padding: 0 44px 0 41px;}
			
			
			
	.footer {background: #050505 url(../images/footer-bg.png) repeat-x; width: 100%; height: 263px; margin-top: -263px; position: relative; z-index: 200;}
		.footer-inner {width: 952px; margin: 0 auto; padding: 34px 0 0 24px;}
		.footer-inner dl {float: left; padding-right: 20px;}
		.footer-inner dl dt {font-size: 15px; color: #fff; padding-bottom: 13px;}
		.footer-inner dl dd {padding-bottom: 5px;}
		.footer-inner dl dd a {color: #b1bd9f;}
		.footer-inner dl.one-dl {width: 199px;}
		.footer-inner dl.two-dl {width: 278px;}
		.footer-inner dl.three-dl {width: 210px;}
		.footer-inner dl.fourth-dl {width: 178px;}
		
		
		.block-bottom-bg2 { background: url(../images/block-bottom-bg2.png) left top no-repeat; width: 941px;}
		.block-bottom-bg11 { background: url(../images/block-bottom-bg11.png) left top repeat-y; width: 941px;}
		
		.paganavi ul li b {font-weight: normal;  position: relative;  float: left;}
		.paganavi ul li.p:hover b {background: url(../images/pagenavi-ul-li-a-activ-bg.png) no-repeat;}
		.paganavi ul li.p:hover {background: url(../images/pagenavi-ul-li-activ-bg.png) right top no-repeat; }
		.paganavi ul li.p:hover a { background: none; padding: 0 4px 0 8px; color: #fff;}
		
		
			.ticked-outer { background: url(../images/ticked-outer-bg.gif) center bottom no-repeat; width: 910px}
			.ticked {border-top: 1px solid #dedede; padding: 14px  0 0; width: 910px;}
			.ticked .day { float: left; font-size: 24px; color: #459bb5; padding: 0 28px 0 7px; margin: -9px 0 0s 0;}	
			.ticked .day span { font-size: 18px; color: #949493; padding: 0 0 0 6px;}
			.no-border {border-top: 0!important;}
			.ticked .song { color: #646458; font-size: 12px; font-weight: bold; float: left; padding: 0 19px 0 0;}
			.ticked .author { color: #338ba6; float: left;}
			.ticked .tickets { float: right; margin: -8px 0 5px 0; cursor: pointer;}
			.ticked .tickets img { margin: 0 7px 0 0;}
			.slid-preambule-third { background: url(../images/slid-preambule-third.png) 2px bottom no-repeat; padding-bottom: 8px;}
			.ticked-inner { width: 419px; float: right; border-top: 1px solid #dedede; padding: 2px 27px 0 0;}
			.ticked-inner img { float: left; margin: 0 37px 0 0;}
			.ticked-inner p { float: left; font-size: 11px; color: #59594c; display: block!important; padding: 9px 0 0 0;}
			.ticked-inner p i { font-style: normal; font-weight: bold; color: #8b8b85;}
			.ticked-inner .buy { float: right; padding: 5px 0 5px 0;}
			.ticked-inner .buy img { float: none; margin: 0;}
			.show-more { background: url(../images/show-more.png) no-repeat; width: 153px; height: 20px; text-align: center; font-size: 11px; color: #7a951e; text-decoration: none; display: block; padding: 5px 0 0 0; margin: 3px 0 0 15px;}
			.shadow-bg77 { padding-bottom: 0;}
			.shadow-bg77 .comments { padding-bottom: 9px;}
			.ban { text-align: center; padding: 17px 0 12px 0;}
			
			.captcha-outer { background: url(../images/captcha.png) no-repeat; width: 640px; height: 120px; position: absolute; top: 50%; left: 50%; margin: -60px 0 0 -320px; z-index: 1000;}
			.captcha-outer .cl { position: absolute; right: 36px; top: 3px; font-size: 11px; color: #aaa;}
			.captcha-outer .wh { position: absolute; top: 28px; left: 18px; font-size: 14px; color: #aaa;}
			.captcha-outer form { padding: 50px 0 0 0;}
			.captcha-outer form table tr td a { font-size: 14px; color: #429ab5; padding: 0 15px 0 19px;}
			.captcha-outer form table tr td img { position: relative; top: 3px; margin: 0 13px 0 0;}
			.captcha-outer form table tr td input {background: url(../images/captcha-input-bg.png) no-repeat; width: 94px; height: 38px; text-align: center; color: #fff; border: 0; line-height: 38px; margin: 0 7px 0 0; cursor: pointer;}
			.captcha-outer form table tr td .txx {background: url(../images/txx-bg.png) no-repeat; width: 99px; height: 37px; line-height: 37px; 
													color: #8297a5; font-size: 14px;  padding: 0 2px 0 13px; text-align: left; font-size: 13px; margin: 0 6px 0 0; cursor: default;}
				
			.cap-outer {left:0; position: absolute; top:0; width:100%; height: 100%; display: none;  z-index: 900;}									
			.cap-shadow {cursor:pointer; left:0; position: absolute; top:0; width:100%; height: 100%; background: #000; display: none; z-index: 999;}										