/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
*{margin: 0; padding: 0;}
html {width:100%; height:100%;}
body {background: #668fba url(../images/body-bg.jpg) left bottom; font: 11px Verdana, Arial, Helvetica, sans-serif; color: #7d7d7d;  height: auto !important; height: 100%; min-height: 100%; position: relative;}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}
/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/


	
	.main {background: url(../images/main-bg.jpg) center bottom no-repeat; position:absolute; width:100%; min-height:100%; overflow-x:hidden; min-width:1003px;}
	*html .main {height:100%; width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1003?'1003px':'100%');}
	.page {background: url(../images/page-bg.png) center top repeat-y;}
	.wrapper {width: 1003px; margin: 0 auto; padding-bottom: 199px;}	
	.wrapper:after {content: ".";display: block;height: 0;visibility: hidden;clear: both;}
		
		.head {width: 100%; height: 164px; position: relative;}
		.head .logo {position: absolute; left: 0px; top: -10px; z-index: 10;}
		.head .head-left {width: 355px; float: left; padding: 0 0 0 251px;}
		.head .head-left h1 {font-size: 39px; color: #009a3c; padding: 31px 0 0 0;}
		.head .head-left h1 span {display: block; font-size: 14px;}
		*html .head .head-left h1 span {margin: 2px 0 0 0;}
		*+html .head .head-left h1 span {margin: 2px 0 0 0;}
		.head .head-left h2 {font-size: 11px; font-weight: normal; color: #1b1b1b; padding: 12px 0 0 0;}
		.head .head-right {width: 366px; float: left; padding: 34px 0 0 0;}
		.head .head-right table tr td {padding: 0 0 3px 0;}
		
		.head .head-right table tr td span {font-size: 12px; text-transform: uppercase; color: #707070; display: block; padding: 0 10px 0 0; text-align: right;}
		.head .head-right table tr td p {font-size: 12px; color: #006f9f;}
		.head .head-right table tr td b {font-size: 16px;}
		.head .bubon {position: absolute; right: -33px; top: -6px;}
		.head .top-naw-bg1 {background: url(../images/top-naw-bg1.gif) right top no-repeat; padding: 0 4px 0 0;}
		.head .top-naw-bg2 {background: url(../images/top-naw-bg2.gif) no-repeat; padding: 0 0 0 4px;}
		.head .top-naw {background: url(../images/top-naw-bg.gif) repeat-x; height: 23px;}
		.head .top-naw li {float: left; border-right: 1px solid #bddcd2; height: 23px;}
		.head .top-naw li.first a {padding-left: 11px;}
		.head .top-naw li.last {border: 0;}
		.head .top-naw li a {font-size: 14px; color: #fff; text-decoration: none; float: left; padding: 2px 13px 0 15px;}
		.head .top-naw li a:hover {text-decoration: underline;}
		.menu-bg1 {background: url(../images/menu-bg1.gif) right top no-repeat; padding: 0 4px 0 0; margin: 15px 0 0 0;}
		*html .menu-bg1 {margin: 12px 0 0 0;}
		*+html .menu-bg1 {margin: 12px 0 0 0;}
		.menu-bg2 {background: url(../images/menu-bg2.gif) no-repeat; padding: 0 0 0 4px; height: 29px;}
		.menu {background: url(../images/menu.gif) repeat-x; height: 26px; padding: 1px 0 2px 207px;}
		.menu li {float: left; background: url(../images/menu-li-bg.gif) right top no-repeat; height: 26px;}
		.menu li a {font-size: 18px; color: #fff; float: left; text-decoration: none; padding: 2px 32px 0 32px; white-space: nowrap;}
		.menu li a:hover {text-decoration: underline;}
		.menu li.last {background: none;}
		
		.content {width: 100%; padding: 7px 0 0 0;}
		.left-col {width: 305px; float: left;}
		.sidebar {background: url(../images/sidebar.gif) 15px 0 no-repeat; width: 290px; height: 917px; padding: 40px 0 0 0;}
		.sidebar h3 {width: 290px; height: 38px;}
		.sidebar h3 a {font-size: 13px; text-decoration: none; color: #fff; display: block; padding: 11px 0 0 55px;}
		.sidebar h3 a:hover {text-decoration: underline;}
		.sidebar .h30 {background: url(../images/h30.png) no-repeat;}
		.sidebar .h31 {background: url(../images/h31.png) no-repeat; margin: 0 0 17px 0;}
		.sidebar .h32 {background: url(../images/h32.png) no-repeat;}
		.sidebar .h33 {background: url(../images/h33.png) no-repeat;}
		.sidebar .h34 {background: url(../images/h34.png) no-repeat;}
		.sidebar .h35 {background: url(../images/h35.png) no-repeat; margin: 0 0 19px 0;}
		.sidebar .h36 {background: url(../images/h36.png) no-repeat; margin: 0 0 19px 0;}
		.sidebar .h37 {background: url(../images/h37.png) no-repeat; margin: 0 0 19px 0;}
		.sidebar .h38 {background: url(../images/h38.png) no-repeat;}
		.sidebar ul {padding: 2px 0 17px 23px;}
		.sidebar ul li {background: #f5f5f5; border: 1px solid #d2d2d2; width: 239px; padding: 5px 0 4px 0; margin: 0 0 6px 0;}
		.sidebar ul li a {font-size: 12px; color: #626262; text-decoration: none; padding: 0 0 0 29px;}
		.sidebar ul li a:hover {text-decoration: underline;}
		.banner {margin: 33px 0 0 22px; width: 250px; height: 308px; position: relative;}
		.banner a {text-decoration: none;}
		.banner span {background: url(../images/banner-span.png) no-repeat; width: 229px; height: 38px; display: block; position: absolute; left: 1px; bottom: 17px; font-size: 30px; color: #fff; padding: 12px 0 0 19px;}
		
		
		.right-col {width: 698px; float: left;}
		.title {background: url(../images/title-bg1.png) no-repeat; height: 71px;}
		.title span {font-size: 18px; color: #fff; float: left; padding: 49px 0 0 25px;}
		.title h2 {float: left; font-size: 24px; color: #74bb54; padding: 32px 0 0 37px;}
		.title-bg2 {background: url(../images/title-bg2.png) no-repeat;}
		.title-bg3 {background: url(../images/title-bg3.png) no-repeat; height: 83px; margin-bottom: 7px;}
		.title-bg3 span {padding: 61px 0 0 37px;}
		.title-bg3 h2 {padding: 44px 0 0 49px;}
		.catalog {padding: 3px 0 8px 13px;}
		.catalog li {width: 211px; display: inline-block; text-align: center; vertical-align: top; margin: 0 22px 0 0;}
		.catalog li.last {margin: 0;}
		.catalog li .tovar {height: 289px; width: 100%; position: relative;}
		.catalog li .tovar .action-1 {background: url(../images/action-1.png) no-repeat; width: 63px; height: 63px; position: absolute; right: 6px; top: 24px;}
		.catalog li .tovar .action-1 span {font-size: 18px; color: #fff; display: block; padding: 26px 0 0 0;}
		.catalog li .tovar .action-3 {background: url(../images/action-3.png) no-repeat; width: 59px; height: 59px; position: absolute; right: 6px; top: 24px;}
		.catalog li .tovar .action-2 {background: url(../images/action-2.png) no-repeat; width: 60px; height: 63px; position: absolute; right: 6px; top: 24px;}
		.catalog li .tovar .action-2 span {font-size: 18px; color: #fff; display: block; padding: 23px 0 0 0;}
		.catalog li .name {display: block; font-size: 12px; color: #535353; padding: 6px 0 0 0;}
		.catalog li h3 {font-size: 18px; color: #1a95de; font-weight: normal; padding: 0 0 7px 0;}
		.catalog li table tr td {padding: 0 3px 2px 0; text-align: center;}
		.catalog li table tr td span {display: block; background: #f5f5f5; padding: 3px 0 2px 0; font-size: 12px; color: #626262;}
		.catalog li table tr td span strong {color: #2aa135;}
		.catalog li table tr td span.old-price {background: #a0a0a0; color: #fff;}
		.catalog li table tr td span.new-price {background: #74bb54; color: #fff; font-weight: bold;}
		.catalog li p {text-align: left; line-height: 1.3; padding: 7px 0 0 0;}
		*html .catalog li {display: inline; margin: 0 15px 0 0;}
		*html .catalog li .tovara {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
		*+html .catalog li {display: inline;}
		*+html .catalog li .tovara {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
		.catalog li .product {height: 208px; width: 100%; position: relative; text-align: left;}
		.catalog li .product a img {border: 6px solid #f5f5f5;}
		*html .catalog-last li {display: inline; margin: 0 22px 0 0;}
		
	
	.footer {background: url(../images/footer.jpg) center bottom no-repeat; height: 169px; position: absolute; bottom: 0; width: 100%;}
		.footer-main {width: 1003px; margin: 0 auto; position: relative; border-top: 1px solid #74bb54;}
		.footer-left {width: 580px; float: left; padding: 15px 0 0 38px;}
		.footer-left p {color: #626262; padding: 0 0 5px 0;}
		.footer-left p a {color: #0a8ddc;}
		.footer-right {width: 384px; float: left; padding: 17px 1px 0 0;}
		.meter {float: right;}
		.meter a {margin: 0 0 0 5px;}
	