


@font-face {
  font-family: 'ClearSans';
      src: url('font-style/ClearSans.eot?#iefix') format('embedded-opentype'),  
      url('font-style/ClearSans.woff') format('woff'), 
      url('font-style/ClearSans.ttf')  format('truetype'), 
      url('font-style/ClearSans.svg#ClearSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans-Bold';
      src: url('font-style/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),  
      url('font-style/ClearSans-Bold.woff') format('woff'), url('ClearSans-Bold.ttf')  format('truetype'), 
      url('font-style/ClearSans-Bold.svg#ClearSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans-Medium';
      src: url('font-style/ClearSans-Medium.eot?#iefix') format('embedded-opentype'),  
      url('font-style/ClearSans-Medium.woff') format('woff'), 
      url('font-style/ClearSans-Medium.ttf')  format('truetype'), 
      url('font-style/ClearSans-Medium.svg#ClearSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans-Thin';
  src: url('font-style/ClearSans-Thin.eot?#iefix') format('embedded-opentype'),  
      url('font-style/ClearSans-Thin.woff') format('woff'), 
      url('font-style/ClearSans-Thin.ttf')  format('truetype'), 
      url('font-style/ClearSans-Thin.svg#ClearSans-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans-Italic';
      src: url('font-style/ClearSans-Italic.eot?#iefix') format('embedded-opentype'),  
      url('font-style/ClearSans-Italic.woff') format('woff'), 
      url('font-style/ClearSans-Italic.ttf')  format('truetype'), 
      url('font-style/ClearSans-Italic.svg#ClearSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans-Light';
      src: url('font-style/ClearSans-Light.eot?#iefix') format('embedded-opentype'),  
      url('font-style/ClearSans-Light.woff') format('woff'), 
      url('font-style/ClearSans-Light.ttf')  format('truetype'), 
      url('font-style/ClearSans-Light.svg#ClearSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans-MediumItalic';
      src: url('font-style/ClearSans-MediumItalic.eot?#iefix') format('embedded-opentype'),  
      url('font-style/ClearSans-MediumItalic.woff') format('woff'), 
      url('font-style/ClearSans-MediumItalic.ttf')  format('truetype'), 
      url('font-style/ClearSans-MediumItalic.svg#ClearSans-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ClearSans-BoldItalic';
      src: url('font-style/ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'),  
      url('font-style/ClearSans-BoldItalic.woff') format('woff'), 
      url('font-style/ClearSans-BoldItalic.ttf')  format('truetype'), 
      url('font-style/ClearSans-BoldItalic.svg#ClearSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'KelsonSans-RegularRU';
      src: url('font-style/KelsonSans-RegularRU.eot?#iefix') format('embedded-opentype'),  
      url('font-style/KelsonSans-RegularRU.woff') format('woff'), 
      url('font-style/KelsonSans-RegularRU.ttf')  format('truetype'), 
      url('font-style/KelsonSans-RegularRU.svg#KelsonSans-RegularRU') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KelsonSans-LightRU';
         src: url('font-style/KelsonSans-LightRU.eot?#iefix') format('embedded-opentype'),  
         url('font-style/KelsonSans-LightRU.otf')  format('opentype'),
         url('font-style/KelsonSans-LightRU.woff') format('woff'), 
         url('font-style/KelsonSans-LightRU.ttf')  format('truetype'), 
         url('font-style/KelsonSans-LightRU.svg#KelsonSans-LightRU') format('svg');
  font-weight: normal;
  font-style: normal;
}

