/* #Tablet (Portrait)
================================================== */

 /* Note: Design for a width of 768px */

 @media only screen and (min-width: 768px) and (max-width: 959px) {

  .wrapper {width: 758px;}
  .date {padding-left: 20px;}
  .login {padding-left: 20px;}
  .search {width: 180px;}
  .search input {font-size: 10px; padding-top: 5px;}
  #nav > ul > li > a {padding: 2px 6px; font-size: 10px;}
  .container {width: 498px;}
  .col-1 {width: 344px;}
  #carusel li {width: 344px; font-size: 10px; padding-top: 6px;}
  .col-1-part-1 {width: 204px;}
  .col-1-part-2 {width: 130px;}
  .left-col {width: 326px;}
  .right-col {width: 150px;}
  .list-business li figure {width: 115px;}
  .business-inner {width: 210px;}
  .business-inner .list li a {font-size: 11px;}
  .category-list li {margin-left: 8px;}
  .category-list li:nth-child(4n-3) {margin-left: 8px!important;}
  .category-list li:nth-child(3n-2) {margin-left: 0px!important;}
  .footer-top .search {margin-left: 30px; width: 400px;}
  .colon-1 {width: 160px;}
  .colon-2 {width: 568px;}
  .copy {font-size: 11px;}
  .copy small {display: inline;}
  .box h3 {font-size: 12px;}
  .box {width: 90px;}
  .box-second {width: 123px;}
  .box-third {width: 200px;}

	 
 }


/* #Mobile (Portrait)
================================================== */

 /* Note: Design for a width of 320px */

 @media only screen and (max-width: 767px) {	
  html {-webkit-text-size-adjust: none;}
  #nav ul {display:none;}
  #nav select {width: 100%; display:block; cursor:pointer; padding: 6px 2px; background:#B7B7B7; border:1px solid #595959; color:#5с5с5с; font-size: 11px; text-transform: uppercase;}
  .#nav select option {background: #07aee3; border-bottom: 1px solid #fff; font-size: 11px; text-transform: uppercase; padding: 11px 5px 12px 5px;}
  #nav select option:hover {background: #fff; color: #5ac9ec;}

  .wrapper {width: 100%; padding: 0 5px;}
  .date {display: none}
  .login {float: right; padding: 10px 5px 10px 0;}
  a.logo {width: 83px; height: 22px; background-size: 200px 250px; background-position: -22px 0;}
  .lang li a { padding: 4px 4px 0 3px; font-size: 9px;}
  .search {width: 200px; float: none; clear: both; margin: 0 auto 10px auto;}
  .container {float: none; width: 100%;}
  .col-1 {float: none; width: 100%; clear: both;}
  #carusel li {width: 100%;}
  .col-1-part-1 {float: none; width: 100%; clear: both;}
  .main-text-inner {padding: 0;}
  .col-1-part-2 {float: none; width: 100%; clear: both; padding: 20px 0 0 0;}
  .col-2 {float: none; width: 100%; clear: both; padding: 20px 0 0 0;}
  .sbHolder {width: 100%;}
  .sbOptions {width: 100%;}
  .left-col {float: none; width: 100%; clear: both;}
  .list-business li figure {float: none; width: 100%; text-align: center;}
  .business-inner {float: none; width: 100%; clear: both; padding: 15px 0 0 0;}
  .category-list li:nth-child(4n-3) {margin-left: 12px!important;}
  .right-col {float: none; width: 100%; clear: both;}
  .sidebar {float: none; width: 100%; clear: both; padding: 15px 0 0 0;}
  .banner,.banner-bottom {text-align: center;}
  .pic {float: none; text-align: center;}
  .option-info {float: none; width: 100%; clear: both; text-align: center; padding: 15px 0 0 0;}
  .option-list li {padding-bottom: 15px;}
  a.footer-logo {margin: 0 auto 15px auto; float: none; display: block;}
  .footer-top .search {float: none; margin: 0 auto; width: 200px;}
  .footer-top {padding-top: 15px;}
  a.back-top {float: none; text-align: center; display: block; padding: 10px 0;}
  .colon-1 {float: none; width: 100%; clear: both; padding-bottom: 20px;}
  .copy-inner {width: 100%; padding: 10px 0 0 0;}
  .colon-2 {float: none; width: 100%; clear: both;}
  .box {float: none; width: 100%; clear: both; padding-bottom: 15px;}
  .box-second {margin: 0;}
  .box-third {margin: 0;}
  .meter-list li {margin-bottom: 3px;}
  .block-info-list > li > figure {text-align: center;}
  .sidebar .block-info-list > li h3 {text-align: center;}
  .block-info-list > li > p {text-align: center;}
  .main-text > figure {text-align: center;}

 }

/* #Mobile (Landscape)
================================================== */