h1 {text-align: center; margin: 0; padding: 25px 0;}
.forma {max-width: 480px; margin: 0 auto; border: 1px solid #000; padding: 20px;}
.forma h2 {font-size: 20px;}
.forma ul {list-style: none; padding: 0;}
.forma ul li {padding: 5px 0 5px 15px;}
.forma ul li label {padding: 0 0 0 5px; cursor: pointer;}
