html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

:-moz-placeholder {
    color: rgb(169, 169, 169);
    opacity: 1;
}

*::-moz-placeholder {
    color: rgb(169, 169, 169);
    opacity: 1;
}

* {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

button,
input {
    outline: medium none;
}

@font-face {
    font-family: "fregatregular";
    font-style: normal;
    font-weight: 400;
    src: url('fonts/fregat.woff') format("woff");
}

@font-face {
    font-family: "fregatbold";
    font-style: normal;
    font-weight: 700;
    src: url('fonts/fregat_bold.woff') format("woff");
}

@font-face {
    font-family: "fregatbolditalic";
    font-weight: 700;
    src: url('fonts/fregat_bold_italic.woff') format("woff");
}

@font-face {
    font-family: "fregatitalic";
    font-weight: 400;
    src: url('fonts/fregat_italic.woff') format("woff");
}

.center {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

b,
strong {
    font-weight: 500;
}

html {}

body {
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px;
    font-family: "fregatregular", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    color: rgb(51, 51, 51);
    font-weight: 400;
}

.main-wrap {
    position: relative;
    width: 480px;
    margin: 0px auto;
}

.section {
    position: relative;
    padding: 20px;
}

h2 {
    position: relative;
    display: block;
    margin: 0px auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-family: verdana;
    padding-bottom: 30px;
    color: rgb(192, 0, 101);
}

h2>span::before,
h2>span::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 42px;
    height: 2px;
    background: rgb(0, 181, 237) none repeat scroll 0% 0%;
    top: -0.3em;
    margin: 0px 15px;
}

.btn-prim {
    background: #4e8f52;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 7px 20px;
    width: 100%;
    margin: 20px 0px;
}

.button-m {
    display: block;
    position: relative;
    outline: medium none;
    width: 387px;
    height: 88px;
    cursor: pointer;
    background: #ffdc36;
    border: none;
    color: #121212;
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 30px 0px;
    text-decoration: none;
}

.button-m:active {
    top: -1px;
}

.center .button-m {
    margin: 0px auto;
}

.block-1 {
    padding: 580px 0px 0px;
    background: transparent url('../img/baosaili_mob.png') no-repeat scroll center top;
}

.block-1 .container-1 {
    padding-bottom: 40px;
}

.block-1 .container-1>div {
    position: relative;
    float: left;
}

.cost {
    width: 190px;
    text-align: center;
}

.cost>p {
    padding-bottom: 12px;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

.cost>strong {
    font-weight: 500;
    font-size: 44px;
}

.old-cost>strong {
    color: rgb(158, 158, 158);
    text-decoration: line-through;
}

.new-cost>strong {
    color: rgb(51, 51, 51);
}

.block-1 .sale {
    width: 100px;
    padding-top: 5px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.block-1 .sale>p {
    padding-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.block-1 .sale>strong {
    font-weight: 500;
    font-size: 36px;
}

.block-1 .container-2 {
    padding-bottom: 40px;
}

.block-1 .timer {
    width: 80%;
    height: 200px;
    margin: 0px auto;
    padding-bottom: 15px;
}

.block-1 .timer>p {
    padding: 20px 0px;
    text-align: center;
    font-size: 24px;
    color: rgb(51, 51, 51);
}

.attention {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.attention::before {
    content: "";
    display: block;
    width: 44px;
    height: 44px;
    margin: 0px auto 10px;
    background: transparent url('../img/att-sign.jpg') no-repeat scroll center top;
}

.block-2,
.block-4 {
    padding: 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    color: rgb(0, 0, 0);
}

.block-2 .container {
    padding: 0px 20px;
}

.garanty {
    padding: 20px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background: #a72544;
}

.bomba {
    padding: 20px;
}

.block-2 p {
    padding-bottom: 20px;
}

.block-2 img {
    margin-bottom: 20px;
}

.block-2 tr:nth-child(2n) {
    background-color: rgb(241, 241, 241);
}

.block-3 .container ul li::before {
    content: "•";
    position: absolute;
    left: 0px;
    color: rgb(60, 199, 220);
    font-size: 22px;
}

.block-7 {
    padding: 0px 20px;
    overflow: hidden;
}

.block-7 h2 {
    font-size: 30px;
}

.block-7 .container {
    padding: 0px;
}

.block-7 .rev {
    position: relative;
    padding-bottom: 40px;
}

.block-7 .rev-title {
    font-size: 22px;
    font-weight: 500;
    padding: 0px 0px 5px;
}

.block-7 .rev-text {
    text-align: left;
    margin-left: 135px;
}

.block-6 {
    padding-top: 40px;
    background: #c30080;
}

.block-6 .deliv-item {
    text-align: center;
    font-size: 20px;
    padding: 30px 0px;
    border-bottom: 1px dashed rgb(204, 204, 204);
}

.block-6 .deliv-item:last-child {
    border-bottom: 0px none;
}

.block-6 .deliv-item p {
    padding-top: 10px;
}

.block-6 .deliv-item .deliv-icon {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
}

.block-6 .deliv-item .deliv-pic-1 {
    background: url('../img/how-order-img-1.png') no-repeat center top;
}

.block-6 .deliv-item .deliv-pic-2 {
    background: url('../img/how-order-img-2.png') no-repeat center top;
}

.block-6 .deliv-item .deliv-pic-3 {
    background: url('../img/how-order-img-3.png') no-repeat center top;
}

.block-6 .deliv-item .deliv-pic-4 {
    background: url('../img/how-order-img-4.png') no-repeat center top;
}

.block-1 .order {
    padding-top: 20px;
}

.block-1 .order>p.center {
    font-weight: 500;
}

.block-1 .order>p.center strong {
    text-transform: uppercase;
    font-size: 22px;
}

.block-1 form {
    position: relative;
    width: 388px;
    margin: 0px auto;
    padding-top: 30px;
}

.block-1 form>div {
    padding-bottom: 15px;
}

.block-1 form input,
.block-1 form button {
    border: 0px none;
    outline: 0px none;
    background: transparent none repeat scroll 0% 0%;
    padding: 0px;
    margin: 0px;
}

.block-1 form input {
    width: 388px;
    height: 80px;
    border: 3px solid rgb(244, 223, 42);
    line-height: 80px;
    text-indent: 40px;
    border-radius: 15px;
    font-size: 20px;
}

.block-1 form input:focus {
    border-color: rgb(153, 153, 153);
}

.block-1 form button,
.order .formAction .button
 {
    display: block;
    position: relative;
    width: 387px;
    height: 88px;
    background: transparent url('../img/button.jpg') no-repeat scroll center top;
    cursor: pointer;
	border: 0;
	text-indent: -9000px;
	overflow: hidden;
}

.order .formAction input[type=text] {
	margin-bottom: 15px;
}


.block-1 form button:focus,
.order .formAction .button:focus {
    top: -1px;
}

.white-btn {
    background: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    padding: 10px 40px;
    margin-bottom: 30px;
}

.footer {
    font-size: 16px;
    background: rgb(238, 238, 238) none repeat scroll 0% 0%;
    line-height: 1.3em;
}

.rev img {
    float: left;
    width: 120px;
    margin-right: 15px;
    padding: 15px;
    border-right: 2px solid rgb(192, 0, 101);
    border-radius: 50%;
}

.slick-track::before,
.slick-track::after {
    display: table;
    content: "";
}

.slick-track::after {
    clear: both;
}

@font-face {
    font-family: "slick";
    font-style: normal;
    font-weight: normal;
    src: url('fonts/slick.eot') format("embedded-opentype"), url('fonts/slick.woff') format("woff"), url('fonts/slick.sql') format("truetype"), url('fonts/slick.svg') format("svg");
}

.slick-prev:hover::before,
.slick-prev:focus::before,
.slick-next:hover::before,
.slick-next:focus::before {
    opacity: 1;
}

.slick-prev.slick-disabled::before,
.slick-next.slick-disabled::before {
    opacity: 0.25;
}

.slick-prev::before,
.slick-next::before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: white;
}

.slick-prev::before {
    content: "←";
}

[dir="rtl"] .slick-prev::before {
    content: "→";
}

.slick-next::before {
    content: "→";
}

[dir="rtl"] .slick-next::before {
    content: "←";
}

.slick-dots li button:hover::before,
.slick-dots li button:focus::before {
    opacity: 1;
}

.slick-dots li button::before {
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: black;
}

.slick-dots li.slick-active button::before {
    opacity: 0.75;
    color: black;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('fonts/ek4gzz-gexapcsbhtceqi_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('fonts/mervlbyg_cxg3rlvuskt_feszw2xoq-xsnqo47m55da.woff2') format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('fonts/-2n2p-_y08sg57cnwqfknveszw2xoq-xsnqo47m55da.woff2') format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('fonts/u0topm082mnks5k0q4rhqveszw2xoq-xsnqo47m55da.woff2') format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('fonts/ndf9mtnoplzo-nomog0mipeszw2xoq-xsnqo47m55da.woff2') format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('fonts/fcx7wwv8ozt71a3e1xoajveszw2xoq-xsnqo47m55da.woff2') format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('fonts/cwb0xya8bzo0ksthx0utua.woff2') format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('fonts/zlqkeelybatg60epzbsdyxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('fonts/ohi30kwqwvpcwqahzhccsbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('fonts/rgvhdjnr2l75qb0ynd9nybjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('fonts/mx9uck6ub63vikfynemxrrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('fonts/mbmhprmh69zi6eepbyvfhrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('fonts/ooefwznlrtefzlymlvv1ubjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('fonts/rxzjdnzeo3r5zsexge8uuvtxra8tvwticgirnjhmvjw.woff2') format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('fonts/77fxfjrbgzn4acrsfhlh3hjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('fonts/isz-wbcxnkabnjo6_twhthjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('fonts/ux6i4jxqdm3fvtc1cpuwqhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('fonts/jsn2cgvdbcvycnfjfjsdfbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('fonts/pwzc-ybil414wb9rb1iaprjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('fonts/97uahxiqzroncbacei3awxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('fonts/d-6iyplofoccackzxwxsoftxra8tvwticgirnjhmvjw.woff2') format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url('fonts/be0ckotwwi2n86hmhtablrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url('fonts/-dackuifgo7hfy3rr14c3xjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url('fonts/ugyuhlckruocj8oznvelzxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url('fonts/ao3nchuphgdvgp2utibjorjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url('fonts/wz1gqe57mbg11v-orllvjhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url('fonts/qlbu5cqmsmt1h43oiwj77vtxra8tvwticgirnjhmvjw.woff2') format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.ymaps-b-form-button__input::-moz-focus-inner {
    padding: 0px;
    border: 0px none;
}

@media not all,
not all {}

@media not all {}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url('fonts/robotothin.woff2') format("woff2"), url('fonts/robotothin.woff') format("woff"), url('fonts/robotothin.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url('fonts/robotothinitalic.woff2') format("woff2"), url('fonts/robotothinitalic.woff') format("woff"), url('fonts/robotothinitalic.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url('fonts/robotolight.woff2') format("woff2"), url('fonts/robotolight.woff') format("woff"), url('fonts/robotolight.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url('fonts/robotolightitalic.woff2') format("woff2"), url('fonts/robotolightitalic.woff') format("woff"), url('fonts/robotolightitalic.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('fonts/roboto.woff2') format("woff2"), url('fonts/roboto.woff') format("woff"), url('fonts/roboto.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: local("Roboto Italic"), local("Roboto-Italic"), url('fonts/robotoitalic.woff2') format("woff2"), url('fonts/robotoitalic.woff') format("woff"), url('fonts/robotoitalic.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url('fonts/robotomedium.woff2') format("woff2"), url('fonts/robotomedium.woff') format("woff"), url('fonts/robotomedium.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('fonts/robotomediumitalic.woff2') format("woff2"), url('fonts/robotomediumitalic.woff') format("woff"), url('fonts/robotomediumitalic.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url('fonts/robotobold.woff2') format("woff2"), url('fonts/robotobold.woff') format("woff"), url('fonts/robotobold.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url('fonts/robotobolditalic.woff2') format("woff2"), url('fonts/robotobolditalic.woff') format("woff"), url('fonts/robotobolditalic.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local("Roboto Black"), local("Roboto-Black"), url('fonts/robotoblack.woff2') format("woff2"), url('fonts/robotoblack.woff') format("woff"), url('fonts/robotoblack.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url('fonts/robotoblackitalic.woff2') format("woff2"), url('fonts/robotoblackitalic.woff') format("woff"), url('fonts/robotoblackitalic.ttf') format("truetype");
}

.yellow-block .title {
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0px;
}

.yellow-block .content {
    color: #000000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.plus {
    padding: 30px 15px;
}

.plus .title {
    color: #ffdc36;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-bottom: 22px;
    margin: 15px 0px;
}

.plus .content {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

p.skidka {
    position: absolute;
    right: 17px;
    top: 105px;
    color: #cbd500;
    font-size: 21px;
}

 #exit-form, #exit-form>div,
.close-exit,
.popup-exit-title,
.popup-exit-cont,
.exit-popup--form,
.popup-exit-text2,
.popup-exit-text1, #exit-form
.exit-popup--form input[type="text"],
#exit-form .exit-popup--form button{    width: auto;    max-width: none;    height: auto;   max-height: none;   margin: 0;  padding: 0; border: 0;  outline: 0; float: none;    position: relative; background: none;   line-height: normal;    font-family: "Tahoma", "Geneva", "Kalimati", sans-serif;    -webkit-box-sizing: border-box; -moz-box-sizing: border-box;    box-sizing: border-box;
}
#exit-form {    position: fixed;    display: none;  width: 450px;   margin-left: -225px;    margin-top: -280px; top: 50%;   left: 50%;  background: #fff;   z-index: 9999999;   -webkit-border-radius: 8px; -moz-border-radius: 8px;    border-radius: 8px; -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);   -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
#exit-form a.close-exit {   position: absolute; display: block; width: 28px;    height: 28px;   line-height: 26px;  top: 3px;   right: 3px; background: transparent;    font-size: 24px;    color: #fff;    text-decoration: none;  text-align: center; cursor: pointer;    z-index: 999;
}
#exit-form a.close-exit:before{ content: '\00D7';
}
#exit-form>div{ position: relative; width: 100%;    overflow: hidden;   -webkit-border-radius: 8px; -moz-border-radius: 8px;    border-radius: 8px;
}
#exit-form .popup-exit-title{   position: relative; padding: 20px 0px 16px; text-align: center; text-transform: uppercase;  font-weight: 700;   font-size: 25px;    letter-spacing: 0.7px;  line-height: 1.3em; color: #fff;    background: #64ca50;
}
#exit-form .popup-exit-title:before, #exit-form .popup-exit-title:after {   content: "";    position: absolute; width: 50%; height: 20px;   bottom: -10px;  background: #64ca50;
}
#exit-form .popup-exit-title:before {   left: 0;    transform: skew(0deg, 4deg);
}
#exit-form .popup-exit-title:after {    right: 0;   transform: skew(0deg, -4deg);
}
#exit-form .popup-exit-cont{    position: relative; padding: 45px 20px 30px;    color: #333;    font-size: 17px;    line-height: 1.5em;
}
#exit-form .popup-exit-cont div.popup-exit-text1{   text-align: center;
}
#exit-form .exit-popup--form{   position: relative; display: block; height: auto;   width: auto;    background: none;   padding: 30px 0;    border-radius: 0;   -webkit-box-shadow: 0 0 0 0;    -moz-box-shadow: 0 0 0 0;   box-shadow: 0 0 0 0;
}
#exit-form .exit-popup--form:after{ content: '';    display: block; clear: both;    height: 0px;
}
#exit-form .exit-popup--form input[type="tel"],
#exit-form .exit-popup--form input[type="text"],
#exit-form .exit-popup--form button{    border: 0;  outline: 0; margin: 0;  padding: 0; font-style: normal; font-weight: 400;   text-transform: none;   background: #fff;   -webkit-box-shadow: 0 0 0 0;    -moz-box-shadow: 0 0 0 0;   box-shadow: 0 0 0 0;    position: relative; display: block; margin: 0 auto; text-align: left;   -webkit-border-radius: 4px; -moz-border-radius: 4px;    border-radius: 4px; outline: none;
}
#exit-form .exit-popup--form button{    font-weight: 700;   text-transform: uppercase;
}
#exit-form .exit-popup--form input[type="text"]::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
#exit-form .exit-popup--form input[type="text"]:-moz-placeholder {color: #a9a9a9; opacity: 1;}
#exit-form .exit-popup--form input[type="text"]::-moz-placeholder {color: #a9a9a9; opacity: 1;}
#exit-form .exit-popup--form input[type="text"]:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
#exit-form .exit-popup--form input[type="text"]
{    width: 90%; height: 64px;   max-width: 100%;    margin-bottom: 16px;    line-height: 64px;  font-size: 17px;    color: #222;    background: #fff;   text-indent: 20px;  border: 1px solid #ccc; text-shadow: none;
}
#exit-form .exit-popup--form input[type="text"]:focus{  border-color: #aaa;
}
#exit-form .exit-popup--form button,
#exit-form .exit-popup--form .button


{    width: 90%; height: 68px;   line-height: 68px;  color: #fff;    
text-align: center; text-decoration: none;  text-transform: uppercase; 
 font-size: 22px;    font-weight: 700;   letter-spacing: 0.7px;  
 border: 0;
 display: block;
 margin: 0 auto;
 border-bottom: 3px solid #cd6c00;   background: #ff8300;    cursor: pointer;    -webkit-box-shadow: 0 0 0 0;    -moz-box-shadow: 0 0 0 0;   box-shadow: 0 0 0 0;    text-shadow: 0px 0px 0px;
}
#exit-form .exit-popup--form input[type="tel"]::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
#exit-form .exit-popup--form input[type="tel"]:-moz-placeholder {color: #a9a9a9; opacity: 1;}
#exit-form .exit-popup--form input[type="tel"]::-moz-placeholder {color: #a9a9a9; opacity: 1;}
#exit-form .exit-popup--form input[type="tel"]:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
#exit-form .exit-popup--form input[type="tel"]{ width: 90%; max-width: 100%;    height: 64px;   margin-bottom: 16px;    line-height: 64px;  font-size: 17px;    color: #222;    background: #fff;   text-indent: 20px;  border: 1px solid #ccc; text-shadow: none;
}
#exit-form .exit-popup--form input[type="tel"]:focus{   border-color: #aaa;
}
#exit-form .exit-popup--form button{    width: 90%; height: 68px;   line-height: 68px;  color: #fff;    text-align: center; text-decoration: none;  text-transform: uppercase;  font-size: 22px;    font-weight: 700;   letter-spacing: 0.7px;  border-bottom: 3px solid #cd6c00;   background: #ff8300;    cursor: pointer;    -webkit-box-shadow: 0 0 0 0;    -moz-box-shadow: 0 0 0 0;   box-shadow: 0 0 0 0;    text-shadow: 0px 0px 0px;
}
#exit-form .exit-popup--form button:hover{  background: #ff8f00;
}
#exit-form .exit-popup--form button:active{ top: -1px;
}
#exit-form .popup-exit-cont div.popup-exit-text2{   text-align: center;
}
#exit-form .popup-exit-cont div.popup-exit-text2:before{content: '';position: relative;display: inline-block;width: 16px;height: 15px;margin: 0 10px 0 0;top: 2px;background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='iso-8859-1'?%3E %3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 422.692 422.692' style='enable-background:new 0 0 422.692 422.692;' xml:space='preserve'%3E %3Cg%3E %3Cg%3E %3Cpath d='M271.786,289.626v-7.36c2.08-1.68,4.08-3.52,6-5.44c15.373-16.927,25.053-38.246,27.68-60.96 c13.816-2.105,26.269-9.509,34.72-20.64c11.6-16.4,12.64-40,2.96-69.6c-0.569-1.707-1.696-3.173-3.2-4.16l-4.4-2.96 c0.649-26.708-8.581-52.716-25.92-73.04c-21.52-24.24-54.56-36.48-98.32-36.64c-43.68,0-76.8,12.4-98.32,36.32 c-17.339,20.324-26.569,46.332-25.92,73.04l-4.4,2.96c-1.504,0.987-2.631,2.453-3.2,4.16c-9.68,29.76-8.64,53.2,2.96,69.6 c8.419,11.209,20.872,18.698,34.72,20.88c2.638,22.75,12.348,44.099,27.76,61.04c1.905,1.916,3.907,3.732,6,5.44v7.36 c-30.64,5.92-152.96,34.64-150.88,116.24c0,4.418,3.582,8,8,8h406.64c4.418,0,8-3.582,8-8 C424.746,324.266,302.426,295.546,271.786,289.626z M112.346,197.946c-6.798-2.283-12.723-6.614-16.96-12.4l0.4,0.08 c-8-11.68-8.72-29.36-1.6-52.72l5.84-3.92c2.457-1.64,3.81-4.5,3.52-7.44c-1.346-23.91,6.431-47.441,21.76-65.84 c18.08-20.48,47.12-30.72,86-30.88c38.88-0.16,67.92,10.4,86.32,30.88c15.329,18.399,23.106,41.93,21.76,65.84 c-0.29,2.94,1.063,5.8,3.52,7.44l5.84,3.92c7.12,23.28,6.64,41.04-1.6,52.72c-4.266,5.791-10.217,10.122-17.04,12.4 c9.65-10.98,14.365-25.442,13.04-40c-1.499-8.759-6.065-16.698-12.88-22.4c-3.44-80-59.52-88.96-83.68-88.96 c-5.114-0.015-10.222,0.36-15.28,1.12c-5.057-0.761-10.166-1.135-15.28-1.12c-24,0-80,8.8-83.68,88.96 c-6.859,5.656-11.481,13.568-13.04,22.32C97.972,172.505,102.688,186.971,112.346,197.946z M294.346,132.346 c-33.569,1.94-66.928-6.435-95.6-24c-3.245-2.279-7.67-1.836-10.4,1.04c-16,17.2-45.2,21.2-59.28,22.08 c4.32-56.56,38.56-68.88,67.36-68.88c4.584-0.033,9.162,0.342,13.68,1.12c1.056,0.216,2.144,0.216,3.2,0 c4.518-0.776,9.096-1.151,13.68-1.12c28.56,0,62.96,12.64,66.96,69.68L294.346,132.346z M131.866,199.466l0.32,0.08 c0.017-1.972-0.695-3.881-2-5.36c-10.96-12.56-16-24-14.64-33.44c0.652-5.258,3.249-10.081,7.28-13.52c10.56,0,48-2,72-22.72 c27.029,15.539,57.623,23.808,88.8,24c5.36,0,10.8,0,16.48-0.88c3.921,3.348,6.482,8.014,7.2,13.12 c1.36,9.28-3.68,20.88-14.64,33.44c-1.305,1.479-2.017,3.388-2,5.36c0,0,0,1.6,0,4.16l-46.56,24.96 c-9.24-8.748-23.823-8.349-32.571,0.891c-8.748,9.24-8.349,23.823,0.891,32.571c9.24,8.748,23.823,8.349,32.571-0.891 c4.054-4.282,6.312-9.955,6.309-15.851c0.036-0.72,0.036-1.44,0-2.16l36.72-19.68c-3.152,15.775-10.567,30.384-21.44,42.24 c-14.182,13.654-33.379,20.835-53.04,19.84h-4c-19.619,0.974-38.774-6.172-52.96-19.76 C131.306,240.666,131.866,199.866,131.866,199.466z M235.306,245.386c0,3.932-3.188,7.12-7.12,7.12c-3.932,0-7.12-3.188-7.12-7.12 c0-3.932,3.188-7.12,7.12-7.12S235.306,241.454,235.306,245.386z M203.306,397.386H16.266c6.32-60.08,104-85.2,134.56-91.68v14.32 c0,18.16,22.08,32,52.48,34.32V397.386z M166.826,320.026v-0.24v-27.36c13.298,6.167,27.824,9.231,42.48,8.96h4 c14.656,0.271,29.182-2.793,42.48-8.96v27.6c0,7.6-17.36,18.56-44.48,18.56S166.826,327.626,166.826,320.026z M219.306,397.626 v-43.36c30.4-2.08,52.48-16,52.48-34.32v-14c30.8,6.4,128,31.52,134.56,91.68H219.306z'/%3E %3C/g%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3C/svg%3E ");
}
#overlay-exit-popup {   display: none;  position:fixed; width: 100%;    height: 100%;   top: 0; left: 0;    background: #000;   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";  filter: alpha(opacity=60);  -moz-opacity: 0.6;  -khtml-opacity: 0.6;    opacity: 0.6;   z-index: 999999;
}

