.patway li a { background: url(../images/arr-1.png) left 4px no-repeat;}
.patway li span {background: url(../images/arr.png) left 4px no-repeat;}
.alfafit ul li.last { margin: 0 0 0 -16px;}
.alfafit .eng li.last { margin: 0 0 0 -16px;}