body {background: #3d3c39 url(../images/body.gif); font: 11px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #fff;}
h1,h2 {font-size: 22px; font-weight: normal; text-transform: uppercase; color: #e1e2de;}

.wrapper {background: url(../images/wrapper.gif) center 198px repeat-x;}
.page {width: 1000px; margin: 0 auto; position:relative; min-height: 100%; height: auto !important; height: 100%;}
.head {position: relative; width: 100%;}
.logo {position: absolute; left: 442px; top: 6px;}
.lang {padding: 10px 0 0 23px; float: left;}
.lang li {border-right: 1px solid #b40303; float: left; list-style: none; padding: 0 6px 0 5px;}
.lang li a {float: left; font-style: italic;}
.lang li a:hover,.lang li#activ a {color: #a80505; text-decoration: none;}
.lang li.last {border-right: 0;}
.regi {float: right; padding: 10px 4px 0 0;}
.regi form .tx {background: #fff; width: 61px; height: 15px; line-height: 15px; float: left; border: 0; color: #c0c0c0; font-size: 11px; font-style: italic; margin: 0 0 0 4px; padding: 0 6px;}
.regi form .submit {background: url(../images/submit-bg.gif) no-repeat; border: 0; width: 15px; height: 15px; cursor: pointer; float: left; margin: 0 6px 0 4px;}
.regi form a {border-left: 1px solid #b40303; line-height: 15px; height: 15px; float: left; padding: 0 0 0 8px; font-style: italic; text-decoration: underline;}
.regi form a span {position: relative; top: -1px;}
.regi form a:hover {text-decoration: none;}
.sf-menu {position: absolute; top: 125px; left: 27px; width: 935px; border-bottom: 1px solid #bc0000; margin: 0; padding: 0 0 0 10px; z-index: 1000;}
.sf-menu li {float: left; list-style: none; margin: 0 6px 0 0; position: relative;}
.sf-menu li i {background: url(../images/sf-menu-span.gif) no-repeat; width: 3px; height: 25px; overflow: hidden; text-indent: -9000px; position: absolute; right: -3px; top: 3px; display: none;}
.sf-menu li u {display: block; background: #450101; position: absolute; width: 100%; height: 3px; overflow: hidden; left: 3px; bottom: -4px; z-index: 1; display: none;}
.sf-menu li#li {margin-right: 253px;}
.sf-menu li a {display: inline-block; line-height: 28px; height: 28px; font-size: 15px; color: #fff; text-decoration: none; padding: 0 13px 0 11px; position: relative; z-index: 2;}
.sf-menu li.current a,.sf-menu li a:hover {background: #bc0000;}
.sf-menu li.current i,.sf-menu li:hover i {display: block;}
.sf-menu li.current u,.sf-menu li:hover u {display: block;}
.sf-menu li#las {margin-right: 0;}
.sf-menu li.current ul li a,.sf-menu li ul li a {background: #450101; padding: 0; width: 141px; text-align: center; font-size: 12px; line-height: 26px; height: 26px;}
.sf-menu li.current ul li a:hover,.sf-menu li ul li a:hover {text-decoration: underlinel;}
.sf-menu li.current ul li ul li a,.sf-menu li ul li ul li a {background: #2c0000; line-height: 28px; height: 28px;}
.sf-menu ul {position: absolute; top:-999em; width:	141px; padding: 7px 0 9px 0;margin: 1px 0 0 3px;}
.sf-menu ul li {width:100%;margin: 0;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {left:0; top:2.5em; z-index:99;}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {	top:-999em;}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {left:141px;top:0;}
ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul {top:-999em;}
ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul {left:141px; top:0;}
.sf-menu ul li ul {left: 141px; padding: 0; margin: 0;}
.sf-menu li ul {background:	#450101;}
.sf-menu li ul li ul {background: #2c0000; padding: 3px 0 9px 0;}
.sf-menu li li {background:	#450101;}
.sf-menu li li li {background:#2c0000;margin: 0;}
.sf-menu li:hover, .sf-menu li.sfHover,.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {background:#450101;outline:0; text-decoration: underline;}




.head-inner {background: url(../images/head-inner-bg.gif) repeat-y; width: 999px; padding: 0 0 7px 0; position: relative; overflow: hidden; margin: 141px 0 0 0;}
.inside {background: url(../images/inside-bg.png) center 31px repeat-x; height: 81px; position: relative; z-index: 6;}
.inside h2 {float: left; padding: 36px 0 0 27px;}
.search {background: url(../images/search-bg.gif) no-repeat; width: 144px; height: 16px; padding: 1px; float: right; margin: 39px 27px 0 0;}
.search .search-submit {background: url(../images/search-submit-bg.png) no-repeat; width: 17px; height: 16px; float: left; border: 0; cursor: pointer; padding: 0; margin: 0;}
.search .tx-1 {background: #fff; width: 119px; border: 0; line-height: 16px; height: 16px; color: #000; font-size: 11px; padding: 0; margin: 0 0 0 1px;}
.gallery {background: url(../images/gallery-bg.png) no-repeat; width: 959px; margin: -16px 0 0 21px; position: relative; z-index: 5;}
.gallery ul {padding: 0 0 0 6px;}
.gallery ul li {list-style: none; width: 225px; float: left; margin: 0 15px 0 0; padding: 40px 0 0 0;}
.gallery ul li .pic {padding: 2px;}
.gallery ul li.last {margin-right: 0;}
.info-bg1 {background: url(../images/info-bg1.png) center bottom no-repeat; width: 185px; padding: 0 0 9px 0; margin: 25px 0 0 20px;}
.info-bg2 {background: #fff; text-align: center; padding: 8px 0 15px 0;}
.info-bg2 h3 {color: #c52222; font-size: 15px; font-weight: normal; line-height: 1.1;}
.info-bg2 p {color: #3a3935; font-size: 15px; line-height: 1.0;}

.content {padding: 0 0 100px 0;}
.content h2 {overflow: hidden; height: 27px; text-align: center; float: left; padding: 0 8px;}
.news {padding: 44px 0 0 0;}
.news-left {width: 493px; float: left;}
.news-left .heading {margin-right: 1px;}
.heading {padding: 0 0 10px 0;}
.line {background: url(../images/line-bg.png) left 12px repeat-x; width: 19px; float: left; height: 15px;}
.line-second {width: 181px;}
.news-left h2 {width: 276px;}
.news-inner {position: relative; padding: 0 0 14px 0;}
.plashka {height: 37px; width: 488px; z-index: 1; background: #450101; position: absolute; left: 5px; top: 9px;}
.title {background: #bc0000; height: 28px; padding: 3px 0; overflow: hidden; position: absolute; left: 0; top: 9px; z-index: 3; width: 492px;}
.title .date {width: 39px; height: 28px; overflow: hidden; float: left; border-right: 1px solid #450101; text-align: center;}
.title .date p {font-size: 19px; line-height: 0.9;}
.title .date span {font-size: 9px; display: block; line-height: 1.1;}
.title .about {float: left; width: 452px;}
.title .about h3 {font-size: 14px; float: left; font-weight: normal; padding: 4px 0 0 9px;}
.news-content {position: relative; z-index: 2; padding: 0 0 0 39px;}
.news-content img {float: left;}
.news-content p {padding: 50px 0 0 160px;}

.news-right {width: 493px; float: right;}
.news-right .line {width: 31px;}
.news-right h2 {width: 237px;}
.news-right .line-second {width: 209px;}
.pics li {list-style: none; float: left; width: 160px; border-bottom: 1px solid #fff; margin: 0 0 15px 0; position: relative; padding: 0 0 11px 0;}
.pics li.last {width: 145px;}
.pics li.no-border {border-bottom: 0;}
.pics li a img {border: 2px solid #fff;}
.pics li .com {background: url(../images/com-bg.png) no-repeat; width: 38px; height: 47px; position: absolute; left: 113px; top: -7px;}
.pics li .com span {font-size: 20px; padding: 5px 0 0 5px; display: block;}

.articles {width: 332px; float: left;}
.articles h2 {width: 82px;}
.articles .line-second {width: 215px;}
.list {padding: 10px 10px 0 27px;}
.list li {list-style: none; border-bottom: 1px solid #737373; padding: 10px 0 4px 0;}
.list li.last {border-bottom: 0;}
.list li a img {position: relative; top: -4px; right: 4px;}
.list li a b {display: block; background: #450101; width: 65px; height: 65px; float: left;}
.list li span {display: block; padding: 0 0 0 80px; color: #a8a8a7; line-height: 1.2;}
.list li span i {font-style: normal; color: #cd2323; padding: 0 0 0 1px;}
.list li span.author {padding-top: 4px;}
.list li p {padding: 0 0 0 80px; line-height: 1.0;}
.list li p a {color: #fff; text-decoration: none; font-weight: bold; font-size: 15px;}
.list li p a:hover {text-decoration: underline;}
.blogs {width: 652px; float: right;}
.blogs h2 {padding-left: 0; width: 196px;}
.blogs .line-second {width: 448px;}
.blogs .list {float: left; width: 288px; padding-left: 0;}
.celebrities {width: 322px; padding: 19px 11px 0 0; float: right;}
.celebrities li {width: 134px; display: inline-block; vertical-align: top; padding: 0 25px 14px 0;}
*+html .celebrities li {display: inline;}
.celebrities li a img {position: relative; top: -4px; right: 4px;}
.celebrities li b {display: block; background: #450101; width: 34px; height: 34px; float: left;}
.celebrities li p {padding: 0 0 0 47px; line-height: 1.1; position: relative; top: -2px;}
.celebrities li p a {color: #fff; text-decoration: none; font-size: 15px;}
.celebrities li p a:hover {text-decoration: underline;}

.events {padding: 25px 0 0 0;}
.events-left {width: 656px; float: left;}
.events-left h2 {width: 277px;}
.events-left .line-second {width: 344px;}
.events-list {padding: 5px 0 0 27px;}
.events-list li {list-style: none; float: left; width: 149px; margin: 0 11px 0 0;}
.events-list li.last {margin: 0;}
.events-list li a b {display: block; background: #450101; width: 145px; height: 209px;}
.events-list li a img {position: relative; top: -4px; right: 4px;}
.events-list li .hd {text-align: center; border-bottom: 1px solid #9e0808; padding: 14px 0 11px 0;}
.events-list li .hd h4 {font-size: 15px; font-weight: bold; line-height: 0.8;}
.events-list li .bd {text-align: center; padding: 8px 0 3px 0;}
.events-list li .bd p em {color: #979797; padding: 0 3px 0 0;}
.events-right {width: 334px; float: right;}
.events-right h2 {padding-left: 0; width: 218px;}
.events-right .line-second {width: 108px;}

.events-list-second {position: relative; top: -5px;}
.events-list-second li {list-style: none; border-bottom: 1px solid #737373; padding: 5px 0 3px 0;}
.events-list-second li.last {border-bottom: 0;}
.events-list-second li .tim {width: 38px; float: left; margin: 5px 0 0 0;}
.events-list-second li .tim b {display: block; background: #450101; width: 34px; height: 34px;}
.events-list-second li .tim span {position: relative; top: -4px; right: 4px; display: block; background: #bc0000; width: 34px; height: 34px; text-align: center;}
.events-list-second li .tim span i {font-style: normal; font-size: 19px; padding: 1px 0 0 0;}
.events-list-second li .tim span u {font-size: 9px; font-family: "Courier New", Courier, monospace; position: relative; top: -4px; text-decoration: none;}
.events-list-second li h3 {padding: 0 0 0 57px; font-size: 15px; font-weight: bold;}
.events-list-second li p {padding: 0 0 0 57px;}
.events-list-second li p em {color: #979797; padding: 0 2px 0 0;}

.bottoms {padding: 41px 0 0 0;}
.navi {background: #bc0000; height: 34px; padding: 0 0 0 27px;}
.navi li {list-style: none; display: inline; margin: 0 27px 0 0;}
.navi li a {display: inline-block; line-height: 34px; height: 34px; color: #fff; font-size: 15px; text-decoration: none;}
.navi li a:hover {text-decoration: underline;}
.polosa {background: #450101; height: 4px; overflow: hidden; margin: 0 4px;}
.bottoms-inner {background: #1d1d1b url(../images/bottoms-inner-bg.jpg) no-repeat; margin: 0 12px; width: 938px; height: 300px; padding: 0 22px 0 15px;}
.last-works {width: 305px; float: left; padding: 26px 0 0 0;}
.last-works h2 {font-size: 15px; padding-left: 0; height: 20px; width: 147px;}
.last-works .line-second {width: 150px;}
.works {padding: 2px 0 0 0;}
.works li {list-style: none; float: left; margin: 0 15px 11px 0;}
.works li.last {margin-right: 0;}
.tags-cloud {width: 336px; float: left;}
.last-comments {width: 297px; float: right; padding: 26px 0 0 0;}
.last-comments h2 {font-size: 15px; padding-left: 0; height: 20px; width: 184px;}
.last-comments .line-second {width: 105px;}
.comments-outer {position: relative; top: -10px;}
.comments-inner {padding: 17px 0 0 0;}
.comments-inner span {display: block;}
.comments-inner .dat {color: #e1e2de;}
.comments-inner .nik {color: #bc0000;}
.comments-inner p {line-height: 1.4;}


/* about */
.patway {position: relative; top: -4px; padding: 0 0 0 23px; float: left;}
.patway li {display: inline; margin: 0 2px 0 0; list-style: none;}
.patway li.fir a {padding: 0; background: none;}
.patway li a {background: url(../images/arr-1.png) left 7px no-repeat; padding: 0 0 0 6px; font-size: 11px; color: #e3e3e3; text-decoration: none;}
.patway li a:hover {text-decoration: underline;}
.patway li span {background: url(../images/arr.png) left 7px no-repeat; padding: 0 0 0 6px; color: #c9100e;}
.photos {padding: 16px 0 15px 5px;}
.text {background: url(../images/text-bg.jpg) repeat-y;}
.text-inner {background: url(../images/text-inner-bg.jpg) left bottom no-repeat; width: 945px; padding: 22px 23px 42px 23px; position: relative;}
.text-inner h3 {background: url(../images/plashka.png) left 10px no-repeat; padding: 0 0 27px 16px; width: 370px; font-size: 25px; font-weight: normal; text-transform: uppercase; color: #191919;}
.text-inner p {font-size: 13px; color: #191919; text-indent: 15px; line-height: 1.2; padding: 0 0 1px 0;}
.news-second {padding: 13px 0 0 0; margin: 0 0 -24px 0; position: relative; width: 100%;}
.news-second .news-left {width: auto; position: relative; z-index: 10;}
.news-second .news-inner {float: left; width: 492px;}
.news-second .news-inner .title .date-second {border-left: 1px solid #450101;}
.news-second .title .about {width: 451px;}
.poposka {background: #450101; top: 63px; left: 4px; position: absolute; width: 985px; height: 34px; z-index: 9;}

/* works */
.cats {padding: 8px 16px 0 23px;}
.cats ul li {float: left; list-style: none; margin: 0 12px 0 0;}
.cats ul li p {font-size: 15px; color: #450101; float: left; padding: 0 9px 0 0;}
.cats ul li div {float: left; position: relative; padding: 2px 0 0 0;}
.cats ul li div select.select{position:relative; z-index:10; width:149px !important; height:21px !important;}
.cats ul li div span.select{position:absolute; bottom:0; left:0; width: 149px; height:21px; text-indent:12px; background:url(../images/select.png) no-repeat; cursor:default; z-index:1; color: #7d7d7d; font-size: 11px;}
.cats ul li div.sel-outer select.select{width:67px !important;}
.cats ul li div.sel-outer span.select {background:url(../images/select-1.png) no-repeat;}
.cats ul li i {font-size: 15px; color: #450101; float: left; font-style: normal; padding: 0 6px 0 0;}
.cats ul li.year {margin: 0 12px 0 9px;}
.cats ul li.year p {padding-right: 13px;}
.submit-1 {background: url(../images/submit-1-bg.png) no-repeat; width: 90px; height: 28px; border: 0; float: right; cursor: pointer; text-align: center; font-size: 15px; color: #fff; padding-bottom: 4px; margin-left: 19px;}
.submit-1, x:-moz-any-link, x:default {padding: 0 0 6px 0;}
.submit-11 {background: url(../images/submit-11.png) no-repeat; width: 45px;}
.tags {border-top: 1px solid #bc0000; margin: 12px 22px 0 23px; padding: 7px 5px 6px 0;}
.tags dl dt {display: inline; font-size: 15px; color: #450101; padding: 0 7px 0 0;}
.tags dl dd {display: inline; color: #474747; line-height: 1.1;}
.tags dl dd a {color: #474747; text-decoration: none; font-size: 12px;}
.tags dl dd a:hover {text-decoration: underline; color: #bc0000;}
.tags dl dd a.mor {background: url(../images/mor-bg.png) right 10px no-repeat; padding: 0 14px 0 0; font-size: 15px; color: #bc0000;}
.scenes {padding: 15px 0 15px 15px;}
.scenes table {width: auto;}
.scenes table tr td {vertical-align: top; padding: 0 7px 8px 8px;}
.scenes table tr td .pico {position: relative;}
.scenes table tr td .pico .com {background: url(../images/com-bg.png) no-repeat; width: 38px; height: 47px; position: absolute; right: -6px; top: -7px; z-index: 10;}
.scenes table tr td .pico .com span {font-size: 20px; padding: 5px 0 0 5px; display: block;}
.scenes table tr td .pico a img {border: 2px solid #fff; display: block;}
.hide-big {background: url(../images/hide-bg.png); width: 288px; min-height: 142px; position: absolute; left: 2px; bottom: 2px; padding: 7px 0 0 13px; color: #eae2e2; z-index: 9;}
.hide-big .n {font-size: 22px; text-transform: uppercase;}
.hide-big .aut {font-size: 11px; padding: 0 0 16px 0;}
.hide-big ul li {list-style: none;}
.hide-big ul li i {float: left; font-style: normal; width: 71px;}
.hide-smoll {background: url(../images/hide-bg.png); width: 141px; min-height: 141px; position: absolute; left: 2px; bottom: 2px; color: #eae2e2; z-index: 9;}
.hide-smoll .n {font-size: 14px; text-transform: uppercase; padding: 56px 0 0 6px;}
.hide-smoll .aut {color: #bc0000; font-size: 11px; padding: 0 0 0 6px;}
.bloggs {padding: 0 0 0 23px; margin: 0 0 -14px 0; position: relative; width: 977px;}
.bloggs .list {padding: 0 0 0 4px;}
.bloggs .list li {width: 305px; float: left; border-right: 1px solid #626261; padding: 8px 0 0 15px; border-bottom: 0;}
.bloggs .list li.first {padding-left: 0;}
.bloggs .list li.last {border-right: 0;}
.bloggs .heading {padding-bottom: 7px;}
.bloggs .heading .line {width: 363px;}
.bloggs .heading .line-second {width: 383px;}


/* works-view */
.cate {float: right; padding: 0 24px 0 0; position: relative; top: -4px;}
.cate li {list-style: none; float: left; color: #343434;}
.cate li a {float: left; color: #343434; text-decoration: none;}
.cate li a:hover {color: #bc0000; text-decoration: underline;}
.cate li span {float: left; padding: 0 5px 0 2px;}
.big-photo {padding: 16px 0 0 0;}
.big-photo h1 {float: left; padding: 12px 0 0 22px;}
.rating {width: 58px; float: right; text-align: center; margin: 0 23px 0 0;}
.rating p {font-size: 15px;}
.rating span {background: url(../images/rating-span.png) no-repeat; width: 58px; height: 27px; display: block; font-size: 15px; padding: 1px 0 0 0;}
.slider {padding: 0 27px 31px 28px; position: relative; width: 945px; height: 945px; overflow: hidden;}
#s2 {width: 945px; height: 945px; overflow: hidden;}
#s2 img {border: 2px solid #fff;}
#prev2 {background: url(../images/left-buttom.png) no-repeat; width: 17px; height: 31px; text-indent: -90000px; overflow: hidden; position: absolute; left: 0; top: 50%; margin: -16px 0 0 0;}
#prev2:hover {background: url(../images/left-buttom-hover.png) no-repeat;}
#next2 {background: url(../images/right-buttom.png) no-repeat; width: 17px; height: 31px; text-indent: -90000px; overflow: hidden; position: absolute; right: 0; top: 50%; margin: -16px 0 0 0;}
#next2:hover {background: url(../images/right-buttom-hover.png) no-repeat;}
.fragments {background: url(../images/text-bg.jpg) repeat-y;}
.fragments-inner {background: url(../images/text-inner-bg.jpg) no-repeat left bottom; padding: 16px 23px 10px 23px;}
.fr {width: 240px; float: left;}
.fr h3 {font-size: 15px; color: #646464; text-transform: uppercase; font-weight: normal;}
.fr ul {padding: 12px 0 0 0;}
.fr ul li {float: left; margin: 0 15px 15px 0; list-style: none;}
.o-proekte {width: 396px; float: left; padding: 0 0 0 43px;}
.o-proekte ul li {list-style: none; padding: 0 0 12px 0;}
.o-proekte ul li i {float: left; width: 159px; font-style: normal; font-size: 15px; color: #646464;}
.o-proekte ul li h4 {color: #2e2e2e; font-size: 15px; text-transform: uppercase; text-transform: uppercase; font-weight: normal;}
.o-proekte ul li a {color: #c9100e; font-size: 15px; text-decoration: underline;}
.o-proekte ul li p {color: #2e2e2e; font-size: 15px;}
.soc {padding: 62px 0 0 0;}
.parametrs {width: 270px; float: left; padding: 4px 0 0 0;}
.parametrs ul li {list-style: none;}
.parametrs ul li.last {padding-top: 32px;}
.parametrs ul li i {color: #656565; font-size: 11px; font-style: normal; width: 160px; float: left;}
.parametrs ul li span {color: #2e2e2e;}
.parametrs ul li p {color: #cc413e; font-size: 22px; position: relative; top: -8px;}
.buy {background: url(../images/submit-1-bg.png) no-repeat; color: #fff; float: right; font-size: 15px; height: 28px; margin: 3px 20px 0 0; padding-bottom: 4px; text-align: center; width: 90px;}
.come {padding: 31px 0 0 0; width: 100%;}
.come .heading {position: relative; padding: 0 0 6px 0; width: 100%;}
.come .heading h2 {font-size: 15px; color: #fff; width: 94px;}
.come .heading .line-second {width: 766px;}
.come-hd {position: absolute; right: 7px; top: 5px; width: 132px; text-align: right;}
.come-hd p {color: #c9100e;}
.come-hd p span {color: #fff;}
.come-hd a {text-transform: uppercase; color: #c9100e;}
.come-list {padding: 0 27px 0 27px;}
.come-list li {position: relative; border-bottom: 1px solid #737373; padding: 19px 95px 11px 0; list-style: none;}
.come-list li.last {border-bottom: 0;}
.come-list li .come-pic {background: #450101; width: 145px; height: 145px; float: left;}
.come-list li .come-pic a img {position: relative; top: -4px; left: -4px;}
.come-list li .time {display: block; padding: 0 0 0 156px;}
.come-list li .time i {font-style: normal;}
.come-list li h4 {padding: 0 0 0 156px; color: #ab0707; font-size: 15px; font-weight: normal; position: relative; top: -4px;}
.come-list li p {padding: 12px 0 0 156px;}
.come-list .ocenka {width: 66px; position: absolute; right: 0; top: 52px; text-align: center;}
.come-list .ocenka p {padding: 0; font-size: 33px; font-weight: bold; color: #c9100e; line-height: 1.0;}
.works-author {padding: 16px 0 12px 0;}
.works-author .heading {padding-bottom: 5px;}
.works-author .heading .line-second {width: 848px;}
.works-author .heading h2 {font-size: 15px; color: #fff; width: 117px;}
.works-author .pics {padding: 0 0 0 23px;}
.works-author .pics li {border-bottom: 0; padding: 0;}
.works-author .pics li a img {display: block;}
.bloggs-second {padding-left: 0;}
.bloggs-second .heading h2 {width: 207px;}
.bloggs-second .scenes {padding: 2px 0 0 15px;}
.bloggs-second .heading .line-one {width: 371px;}


.popap-outer {position: absolute; left: 0; top: 0; width: 100%; height: 3000px; display: none; z-index: 10000;}
.popap-shadow {position: absolute; left: 0; top: 0; width: 100%; height: 3000px; background: #000; opacity: 0.8; filter: alpha(opacity = 80); moz-opacity: 0.8; z-index: 10000;}
.popap-inner {background: #c1c1c1; width: 625px; position: fixed; left: 50%; top: 50%; margin: -123px 0 0 -312px; z-index: 10001; padding: 15px 0 16px 0;}
.close {position: absolute; right: -20px; top: -20px; cursor: pointer;}
.popap-inner h3 {font-size: 15px; text-transform: uppercase; font-weight: normal; color: #2b2b2b; float: left; padding: 0 0 0 29px;}
.ozenka {float: right; padding: 3px 27px 0 0;}
.ozenka dt {float: left; color: #2b2b2b;}
.ozenka dd {float: left;}
.ozenka dd .ozenka-inner {position: relative;}
.ozenka dd .ozenka-inner select.select{position:relative; z-index:10; width: 46px !important; height:21px !important;}
.ozenka dd .ozenka-inner span.select{position:absolute; bottom:0; left:0; width: 46px; height:21px; text-indent:12px; 
									background: url(../images/ozenka-inner-select.png) no-repeat; cursor:default; z-index:1; color: #7d7d7d; font-size: 11px;}
.insiden {padding: 0 0 0 31px;}
.user-pic {width: 145px; float: left; margin: 0 25px 0 0;}
.user-pic a img {border: 2px solid #fafcff;}
.user-pic p {text-align: center; color: #c9100e; font-size: 15px;}
.insiden textarea {width: 381px; height: 133px; border: 0; float: left; padding: 6px; font-size: 11px; overflow: hidden; resize: none;}
.submit-2 {background: url(../images/submit-2.png) no-repeat; width: 106px; height: 27px; border: 0; float: right; color: #fff; font-size: 14px; margin: 0 26px 0 0; cursor: pointer;}
.submit-2,x:-moz-any-link, x:default {padding: 0 0 6px 0;}


/* articles */
.articles-list {padding: 16px 0 0 0; width: 100%;}
.articles-list .heading .line-second {width: 727px;}
.articles-list .heading h2 {color: #fff; font-size: 15px; width: 229px;}
.articles-list .pics {padding: 0 0 0 23px;}
.articles-list .pics li {border-bottom: 0; margin: 0;}
.articles-list .pics li a {display: block;}
.come-second {padding-top: 4px;}
.text-outer .text-inner h3 {width: 540px;}
.rat {width: 80px; position: absolute; right: 1px; top: 19px;}
.rat .rating {float: none; margin: 0; padding: 0 0 9px 0;}
.rat .rating p {text-indent: 0; color: #fff;}
.see {background: url(../images/see-bg.png) left 2px no-repeat; padding: 0 0 0 29px;}
.see p {text-indent: 0; color: #450101; padding: 0;}
.text-inside {padding: 2px 0 0 0;}
.left-cl {width: 470px; float: left;}
.right-cl {width: 460px; float: right;}
.text-outer .text-inner {padding-bottom: 29px;}
.text-inside dl {color: #191919; font-size: 13px; line-height: 1.2; padding: 15px 0 0 0;}
.text-inside dl dt {padding: 0 0 17px 0;}
.text-inside dl dd {padding: 0 0 17px 0;}
.text-inner .autor {float: right; padding: 26px 0 0 0;}
.text-inner .autor i {color: #c91d1a; font-size: 15px; padding: 0 0 0 9px;}
.photo {padding: 15px 0 16px 23px; position: relative;}
.photo img {display: block;}
.photo .com {background: url(../images/com-bg.png) no-repeat; width: 38px; height: 47px; position: absolute; right: 26px; top: 11px;}
.photo .com span {font-size: 20px; padding: 5px 0 0 5px; display: block; text-align: center;}
.after-second {padding: 12px 0 0 0;}


/* author-page */
.author-page {padding: 0 22px 0 22px;}
.left-author {width: 306px; float: left;}
.author-pic {border: 2px solid #fff; margin: 4px 0 0 0;}
.left-author .fr {float: none; width: 305px; padding: 14px 0 0 0;}
.left-author .fr h3 {float: left; color: #2b2b2b;}
.left-author .fr .al {float: right; color: #bc0000; padding: 4px 0 0 0;}
.left-author .fr ul li.last {margin-right: 0;}
.right-author {width: 626px; float: right; color: #2b2b2b;}
.right-author-title {width: 100%; border-bottom: 1px solid #cd6b68; position: relative; padding: 0 0 12px 0;}
.right-author-title .rating {position: absolute; right: 4px; top: 1px; margin: 0; color: #fff;}
.col-1 {width: 300px; padding: 0 20px 0 0; float: left;}
.col-1 h2 {font-size: 22px; font-weight: normal; color: #2b2b2b; text-transform: none;}
.col-1 ul {padding: 14px 0 0 0;}
.col-1 ul li {list-style: none;}
.col-1 ul li span {padding: 0 3px 0 0;}
.col-2 {width: 305px; float: left;}
.col-2 dl {padding: 4px 0 0 0;}
.col-2 dl dt {font-size: 15px;}
.right-author-body {padding: 18px 0 0 0;}

/* works-gate */
.scenes-main {padding: 27px 0 0 0; margin: 0 0 -17px 0; position: relative;}
.scenes-outer {padding: 3px 0 0 0;}
.scenes-outer .heading .line {width: 385px;}
.scenes-outer .heading h2 {width: 175px; overflow: hidden;}
.scenes-outer .heading h2 a {color: #cbcbc7; text-decoration: underline;}
.scenes-outer .heading .line-second {width: 400px;}

/* news-list */
.news-list-outer {padding: 16px 0 0 0;}
.news-list-title {border-bottom: 1px solid #bc0000; padding: 0 11px 15px 0;}
.news-pic {width: 305px; height: 305px; float: left; position: relative; margin: 0 0 0 23px;}
.news-pic .com {background: url(../images/com-bg.png) no-repeat; width: 38px; height: 47px; position: absolute; right: -7px; top: -7px;}
.news-pic .com span {font-size: 20px; padding: 5px 0 0 5px; display: block;}
.news-text {width: 629px; float: right;}
.news-heding {width: 625px; min-height: 49px; background: #450101;}
.news-heding-inner {width: 625px; min-height: 43px; background: #bc0000; position: relative; top: -4px; left: -4px; padding: 3px 0;}
.ddate {width: 64px; float: left; border-right: 1px solid #450101; color: #fff; text-align: center; padding: 2px 0 0 0;}
.ddate p {font-size: 25px; font-weight: bold; line-height: 0.9;}
.ddate span {display: block; font-size: 13px;}
.name {width: 428px; float: left; padding: 0 70px 0 19px;}
.name p {font-size: 15px; text-transform: uppercase; line-height: 1.1; padding: 6px 0 0 0;}
.prosmotrs {float: left; padding: 7px 0 0 0;}
.prosmotrs p {font-size: 15px; line-height: 1.2;} 
.news-body {position: relative; left: -4px; padding: 14px 0 0 0;}
.news-body p {font-size: 12px; line-height: 1.3;}
.news-body p.ident {text-indent: 19px;}
.dalee {background: url(../images/dalee.png) right 7px no-repeat; font-size: 12px; padding: 0 16px 0 0; float: right;}
.news-list-body table {width: auto; table-layout: fixed;}
.news-list-body table tr td {border-bottom: 1px solid #bc0000; padding: 15px 0 15px 0;}
.news-item {padding: 0 0 0 16px; width: 464px;}
.news-item-second {padding: 0 0 0 15px; border-left: 1px solid #bc0000;}
.news-item a {float: left;}
.news-item-inner {width: 300px; float: left; margin: 0 0 0 14px;}
.titling {padding: 2px 0 0 5px; overflow: hidden;}
.titling .datte {background: #450101; width: 47px; height: 33px; float: left; margin: 2px 0 0 0;}
.titling .datte-inner {background: #bc0000; width: 47px; height: 30px; position: relative; top: -4px; left: -4px; text-align: center; padding: 3px 0 0 0;}
.titling .datte-inner p {font-size: 15px; font-weight: bold; line-height: 1.0; padding: 0;}
.titling .datte-inner span {font-size: 11px;}
.titling h3 {width: 230px; float: left; font-size: 15px; font-weight: normal; padding: 0 0 0 7px; line-height: 1.0;}
.news-item-inner p {font-size: 10px; padding: 15px 0 0 0;}
.pagenator {text-align: center; padding: 26px 0 0 0; margin: 0 0 -14px 0; position: relative;}
.pagenator ul li {display: inline;}
.pagenator ul li a {display: inline-block; font-size: 15px; margin: 0 10px;}
.pagenator ul li a:hover,.pagenator ul li.activ a {font-size: 21px; font-weight: bold; text-decoration: none;}
.pagenator ul li.pr a {position: relative; top: 5px; margin: 0;}
.pagenator ul li.nx a {position: relative; top: 5px; margin: 0;}


/* events */
.big-horizontal-slider {padding: 12px 0 20px 14px;}
.big-horizontal-slider .heading {padding-bottom: 6px;}
.big-horizontal-slider .heading .line-second {width: 713px;}
.big-horizontal-slider .heading h2 {width: 206px; padding-right: 11px;}
.slider-big {padding: 3px 0 0 5px;}
.slider-big ul li {width: 225px; margin: 0 11px 0 0; float: left;}
.slider-big ul li a b {width: 225px; height: 321px; display: block; background: #450101;}
.slider-big ul li a b img {position: relative; right: 4px; top: -4px;}
.slider-big ul li .hd {text-align: center; border-bottom: 1px solid #9e0808; padding: 14px 0 11px 0;}
.slider-big ul li .hd h4 {font-size: 15px; font-weight: bold; line-height: 0.8;}
.slider-big ul li .bd {text-align: center; padding: 8px 0 3px 0;}
.slider-big ul li .bd p em {color: #979797; padding: 0 3px 0 0;}
.slider-outer {position: relative; width: 943px;}
.slider-big .slider-inner {}
.carousel {width: 100%!important; height: 100%!important; overflow: hidden;}
.prevv {background: url(../images/left-buttom.png) no-repeat; width: 17px; height: 31px; text-indent: -90000px; overflow: hidden; position: absolute; left: -24px; top: -39px;}
.prevv:hover {background: url(../images/left-buttom-hover.png) no-repeat;}
.nextt {background: url(../images/right-buttom.png) no-repeat; width: 17px; height: 31px; text-indent: -90000px; overflow: hidden; position: absolute; right: -4px; top: -39px;}
.nextt:hover {background: url(../images/right-buttom-hover.png) no-repeat;}
.slider-smoll {padding: 0 0 0 19px;}
.slider-smoll .slider-outer {width: 945px;}
.slider-smoll ul li {width: 149px; margin: 0 11px 0 0; float: left;}
.slider-smoll ul li a b {width: 145px; height: 209px; background: #450101; display: block;}
.slider-smoll ul li a b img {position: relative; right: 4px; top: -4px;}
.slider-smoll ul li .hd {text-align: center; border-bottom: 1px solid #9e0808; padding: 14px 0 11px 0;}
.slider-smoll ul li .hd h4 {font-size: 15px; font-weight: bold; line-height: 0.8;}
.slider-smoll ul li .bd {text-align: center; padding: 8px 0 3px 0;}
.slider-smoll ul li .bd p em {color: #979797; padding: 0 3px 0 0;}
.small-horizontal-slider {padding: 0 0 20px 0;}
.small-horizontal-slider .heading {padding-left: 13px;}
.small-horizontal-slider .heading .line-second {width: 727px;}
.small-horizontal-slider .heading h2 {width: 208px;}
.slider-smoll .nextt {right: -13px;}
.small-horizontal-slider-second {position: relative; margin: 0 0 -15px 0;}
.small-horizontal-slider-second .heading {padding-left: 13px;}
.small-horizontal-slider-second .heading .line-second {width: 693px;}
.small-horizontal-slider-second .heading h2 {width: 242px;}


/* filtr-authors */
.alfafit {border-bottom: 1px solid #bc0000; margin: 8px 23px 7px 23px;}
.alfafit ul {padding: 0 0 12px 0;}
.alfafit ul li {display: inline; margin: 0 22px 0 0;}
.alfafit ul li.last {margin: 0;}
.alfafit ul li a {font-size: 15px; text-transform: uppercase; color: #450101; text-decoration: none;}
.alfafit ul li.last {margin: 0 0 0 -3px;}
.alfafit ul li a:hover,.alfafit ul .activ a {font-size: 20px; color: #bc0000;}
.alfafit .eng li {margin: 0 26px 0 0;}
.alfafit .eng li.last {margin: 0 0 0 -6px;}
.list-author {margin: 0 0 -15px 0; position: relative;}
.title-author {border-bottom: 1px solid #bc0000; margin: 0 8px 0 7px;}
.title-author p {font-size: 22px; color: #fff; text-transform: uppercase; padding: 11px 0 0 36px;}
.list-author-inner {padding: 26px 0 18px 16px;}
.list-author-inner li {width: 460px; display: inline-block; vertical-align: top; margin: 0 18px 25px 0;}
*+html .list-author-inner li {display: inline; margin-right: 20px;}
.list-author-inner li a {float: left;}
.list-author-inner li h3 {font-size: 18px; color: #fffbfb; font-weight: normal; padding: 14px 0 0 160px;}
.list-author-inner li .info-author {padding: 15px 0 0 160px;}
.info-author .more-author {width: 160px; float: left;}
.info-author .more-author .rate {padding: 3px 0 0 0;}
.info-author .more-author .rate span {display: block; font-size: 15px;}
.info-author .more-author .rate div {background: url(../images/rating-span.png) no-repeat; width: 58px; height: 27px; display: block; font-size: 15px; padding: 1px 0 0 0; text-align: center;}
.info-author dl {width: 125px; float: left;}
.info-author dl dt {font-size: 15px;}
.list-author .pagenator {width: 465px; border-top: 1px solid #bc0000; margin: 0 auto; padding: 9px 0 0 0;}
.list-author .pagenator ul li a {margin: 0 5px;}



/* footer */
.footer {width: 1000px; margin: -100px auto 0 auto; position: relative; height: 100px; position: relative;}
.footer p {text-align: center; line-height: 1.1;}
.footer-text {width: 200px; margin: 0 auto; padding: 11px 0 0 0;}
.design {position: absolute; right: 12px; top: 12px;}