.total-list .title {background: #5aacce;}  
.new-users .bxslider .item .info,.freind-list-in figure .info {background:transparent;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#805aacce,endColorstr=#805aacce);
zoom: 1;}  
