* {margin: 0; padding: 0;}
html {height: 100%;}
body {height: auto !important; height: 100%; min-height: 100%; position: relative;}
table {border-collapse: collapse; width: 100%;} 
input:focus {outline: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
img, table {border: none;}
a:link, a:visited {text-decoration: none; color: #4AAED7;}
a:hover, a:active {text-decoration: underline;}
button {outline: none; cursor: pointer;}
button, x:-moz-any-link, x:only-child {padding-bottom: 2px;}

/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/


header,footer,article,section,hgroup,nav,menu,aside,figure,figcaption{display:block;}
.floatLeft {float: left;}
.floatRight {float: right;}

h1, h2, h3, h4, h5, h6 {margin: 15px 0; color: #333;}
h1 {font-size: 23px;}
h2 {font-size: 20px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

ul, ol {list-style:none;}

p {margin: 15px 0; line-height: 1.4;}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}


a.btn,.btn {display: inline-block; position: relative; border: 1px solid; color: #fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}
a.btn span,.btn span {display: inline-block; line-height: 27px; height: 27px; position: relative;
border-top: 1px solid;
text-align: center;}

a.red,.red {border-color: #c85e78;}
a.red span,.red span {border-color: #f59fb4; background: #f07391; text-shadow: -1px -1px 1px #eb506f; width: 112px;}
a.red:hover span,.red:hover span {border-color: #C85E78; background: #DD6683; text-shadow: 0px -1px 0px #C72331;}

a.blue,.blue {border-color: #52a0c1;}
a.blue span,.blue span {border-color: #8ac8e1; background: #54afd3; text-shadow: -1px -1px 1px #3a97c6; width: 82px;}
a.blue:hover span,.blue:hover span {text-shadow: 0px -1px 0px #1B659D; border-color: #52A0C1; background: #4EA2C4;}

a.gray,.gray {border-color: #c9c9c9;}
a.gray span,.gray span {border-color: #e4e4e4; background: #d8d8d8; text-shadow: -1px -1px 1px #c5c5c5; width: 82px;}
a.gray:hover span,.gray:hover span {text-shadow: 0px -1px 0px #c8c6c6; border-color: #c9c9c9; background: #c4c1c1;}


