/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
 #Base 960 Grid
  #Tablet (Portrait)
  #Mobile (Portrait)
  #Mobile (Landscape)
  #Clearing */



/* #Base 960 Grid
================================================== */
	@media only screen and (min-width: 959px) and (max-width: 1360px) {
    .login-footer {display: none;} 
  }
  


/* #Tablet (Portrait)
================================================== */

  /* Note: Design for a width of 768px */

  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .header-inner {width: 768px;}		
		#nav {padding-left: 25px;}
		#nav li {padding: 0 5px;}
		.preambule-inner {width: 768px;}
		.total-list .inner a.last {margin-right: 9px;}
		.wrap {width: 768px;}
		.three-steps .item {width: 240px; margin-right: 12px;}
		.reviews {float: none; width: 100%;}
		.info-box {float: none; width: 100%;}
		.login-footer {display: none;}
		.footer-inner {width: 768px;}
		.footer-inner .nav {margin-left: 10px;}
		.footer-inner .social {margin-right: 0;}
		.footer-inner .nav li a {margin: 0 5px;}
		.page-inner {width: 768px;}
		.freind-list li {margin-right: 86px;}
		.freind-list li:nth-child(3n+3) {margin-right: 86px!important;}
		.personal-inner {width: 485px;}
		.search-result-list li {margin-right: 41px;}
		.search-result-list li:nth-child(3n+3) {margin-right: 41px!important;}
		.search-result-list li:nth-child(4n+4) {margin-right: 0px!important;}
		.search-result-list li:nth-child(5n+5) {margin-right: 41px!important;}
		.aside-second .select-outer-country {padding-left: 0;}
		.aside-second .select-outer-for {padding-left: 30px;}
		.chek {padding-left: 0;}
		.aside-second .start-search {margin-right: 25px;}
		.in a.gray span {width: 89px;}	
  }


/* #Mobile (Portrait)
================================================== */

  /* Note: Design for a width of 320px */

  @media only screen and (max-width: 767px) {	
		html {-webkit-text-size-adjust: none;}
		#nav ul {display:none;}
		#nav select {width: 150px; display:block; cursor:pointer; padding: 6px 2px; margin: 0px 0 0 1px; background:#54afd3; border:1px solid #8ac8e1; color:#fff; font-size: 11px; text-transform: uppercase;}
		.#nav select option {background: #07aee3; border-bottom: 1px solid #fff; font-size: 11px; text-transform: uppercase; padding: 11px 5px 12px 5px;}
		#nav select option:hover {background: #fff; color: #5ac9ec;}		
		.login-footer {display: none;}
    	.header-inner {width: 300px;}
		.login {float: none; position: absolute; top: 5px; right: 20px; padding: 0;}
		.preambule-inner {width: 300px;}
		.aside {float: none; margin: 0 auto;}
		.total-list {padding: 15px 0 0 0;}
		.total-list .title {line-height: inherit; height: auto; padding: 5px 0; margin-left: 0;}
		.total-list .title .total {float: none; padding-right: 0; padding-left: 15px; text-align: left;}
		.total-list .title .total-online {float: none; padding-left: 15px;}	
		.total-list .title .total-online {font-size: 13px;}
		.total-list .inner a.last {margin-right: 9px;}
		.three-steps .item {float: none; width: 300px; margin: 0 auto 15px auto;}
		.wrap {width: 300px;}
		.reviews {float: none; width: 100%;}
		.info-box {float: none; width: 100%;}
		.reviews .item .text {width: auto;}
		.footer-inner {width: 300px;}
		.footer-inner .social {margin-right: 0;}
		.social {position: absolute; float: none; top: -28px; right: 0;}
		.cabinet {float: none; position: absolute; top: 0; right: 0; padding: 0;}
		.cabinet figure {width: 39px; height: 39px;}		
		.cabinet-inner {padding: 0 0 0 40px;}
		.page-inner {width: 300px;}
		.freind-list {width: 293px; margin: 0 auto;}
		.freind-list li {margin-right: 0!important;}
		.sidebar-second {float: none; margin: 0 auto;}
		.personal-inner {float: none; width: 300px; margin: 15px 0 0 0;}		
		.sidebar {float: none; margin: 0 auto;}
		.tit {padding-right: 5px;}
		a.see-video {font-size: 10px;}
		.about-user p {padding-right: 0;}
		.photo-list li {margin-left: 70px;}
		.aside-second .select-outer-years {padding-left: 0; padding-top: 15px;}
		.aside-second .select-outer-country {padding-left: 0; padding-top: 15px;}
		.chek {padding: 10px 0 0 0; clear: both;}
		.aside-second a.start-search {margin: 10px 0 0 0;}
		.aside-second a.start-search span {width: 200px;}
		.search-result-list {width: 300px; padding: 0;}
		.search-result-list li {margin-right: 0px!important; margin-left: 60px!important;}
		.in a.gray {margin: 10px 0 0 134px;}
		.in a.gray span {width: 89px;}
		.text-info {padding-right: 0;}
		.text-info img {float: none!important; margin: 0 auto!important; display: block;}
		.aside-second .select-outer-search {padding-left: 0; padding-top: 15px;}
		.select-outer-last-in {padding-bottom: 15px;}
		.in label {width: 100%; display: block; font-size: 12px; float: none; padding: 0 0 10px 0;}
		.chekin {padding-left: 0;}
		.save .blue span {width: 150px; font-size: 13px;}
		.footer-inner .nav {position: absolute; top: 10px; right: 0; margin-left: 10px;}
		.footer-inner .nav li {float: none;}
		.footer-inner .nav li:before {content: "";}
		.footer-inner .nav li a {margin: 0 5px;}
		.footer-inner .logo {margin-top: 35px;}
		header { height: auto;}
		#nav {padding: 0 0 15px 70px;}
		.logo { margin: 45px 0 0 50px;}
		.reg-box { width: 300px;}
		.reg-box .title { margin-left: 0; text-align: center;}
		.reg-box .ico { float: none; margin: 0 auto;}
		.reg-box-inner { padding: 0;}
		.reg-box .registr-text { padding: 0 30px;}
		.reg-box .buttons a span { width: 100px;}
		a.del-profile { float: none;}
  
  }


/* #Mobile (Landscape)
================================================== */

  /* Note: Design for a width of 480px */

  @media only screen and (min-width: 480px) and (max-width: 767px) {
		
		header { height: 74px;}	
		.header-inner {width: 420px;}
		.logo {margin: 20px 0 0 0;}
		#nav {padding: 40px 0 0 5px;}
		.login { right: 0;}
		.photo-list li {margin-left: 35px;}
		.aside-second .select-outer-search {padding-left: 30px; padding-top: 0px;}
		.select-outer-last-in {padding-bottom: 0px;}
		.search-result-list li {margin-right: 30px!important; margin-left: 0px!important;}
		.in label {width: 134px; float: left; padding: 8px 0 0 0;}
		.chekin {padding: 7px 0 0 134px;}
		.save .blue span {width: 209px; font-size: 15px;}
		.footer-inner .logo {margin-top: 0px;}
		.footer-inner .nav {position: static;}
		.footer-inner .nav li {float: left;}
		.footer-inner .nav li:before {content: "/";}
		.preambule-inner {width: 420px;}
		.wrap {width: 420px;}
		.footer-inner {width: 420px;}
		.page-inner {width: 420px;}
		.personal-inner {width: 420px;}		
		.three-steps .item {width: 420px;}
		.search-result-list {width: 380px; padding: 0 0 0 40px;}  
		.reg-box { width: 420px;}
		a.del-profile { float: right;}

  }

