body {font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif; background: #fff; color: #666;}

header {height: 74px;}
.header-inner {width: 960px; margin: 0 auto; position: relative;}
.logo {float: left; margin: 20px 0 0 0;}
#nav {float: left; padding: 27px 0 0 50px;}
#nav li {float: left; padding: 0 10px; margin: 0 1px 0 0;}
#nav li a {font-size: 15px; font-weight: bold; color: #999;}
.login {float: right; padding: 21px 0 0 0;}
.login a.blue {margin-left: 12px;}
#nav select {display: none;}



.content {width: 100%;}
.preambule {background: #81C6E3 url(../img/preambule-bg.png); padding: 15px 0 13px 0;}
.preambule-inner {width: 960px; margin: 0 auto; position: relative;}
.aside {width: 292px; float: left; background: #fff; position: relative;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0px 0px 3px 1px #78B8D3;
-webkit-box-shadow: 0px 0px 3px 1px #78B8D3;
box-shadow: 0px 0px 3px 1px #78B8D3;}
.aside-inner {padding: 16px 26px 14px 21px;}
.aside-inner label {font-size: 23px; color: #333; font-weight: bold;}
.select-outer {padding: 6px 0 8px 0;}
.select-outer label {display: block; font-size: 15px; padding: 0 0 6px 0;}
.sbHolder{background-color: #fff; border: solid 1px #d3d7dc; font-size: 14px; height: 30px; position: relative; width: 242px; color: #969696;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}
a.sbSelector{display: block; height: 30px; left: 0; line-height: 30px; outline: none; overflow: hidden; position: absolute; text-indent: 14px;
top: 0;width: 100%; color: #999;}
.sbSelector:hover {text-decoration: none;}
.sbToggle{background: url(../img/select.png) no-repeat; display: block; height: 5px; outline: none; position: absolute; right: 0;
top: 13px; width: 18px;}
.sbToggleOpen{background: url(../img/select-open.png) no-repeat;}
.sbOptions{background-color: #fff; border: solid 1px #d3d7dc; list-style: none; left: -1px; margin: 0; padding: 0; position: absolute;
top: 30px; width: 242px; z-index: 1; overflow-y: auto;}
.sbOptions li{padding: 0 7px;}
.sbOptions a{display: block; outline: none; padding: 7px 0 7px 3px;}
.sbOptions a:link, .sbOptions a:visited{color: #969696;	text-decoration: none;}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{color: #333;}
.sbOptions li.last a{border-bottom: none;}
.sbOptions .sbDisabled{border-bottom: dotted 1px #515151; color: #999; display: block; padding: 7px 0 7px 3px;}
.sbOptions .sbGroup{border-bottom: dotted 1px #515151; color: #EBB52D; display: block; font-weight: bold; padding: 7px 0 7px 3px;}
.sbOptions .sbSub{padding-left: 17px;}
.select-outer-years .sbHolder {width: 95px; float: left;}
.select-outer-years .sbOptions {width: 95px;}
.select-outer-years .sbSelector {text-indent: 27px;}
.select-outer-years .sbOptions a {padding-left: 20px;}
.line {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -817px; width: 13px; height: 1px; overflow: hidden; text-indent: -90000px;
float: left; margin: 14px 18px 0 16px;}
a.start-search {margin: 6px 0 0 0;}
a.start-search span {display: inline-block; line-height: 31px; height: 31px; width: 240px; font-size: 15px; font-weight: bold;}
a.start-search:hover span {border-color: #C85E78; background: #DD6683; text-shadow: 0px -1px 0px #C72331;}
.total-list {padding: 0 0 0 318px;}
.total-list .title {height: 37px; color: #fff; margin: 0 0 11px 9px; line-height: 37px; position: relative; background: rgba(74,161,197,0.7);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: inset 1px 1px 3px 0px #519CBB;
-webkit-box-shadow: inset 1px 1px 3px 0px #519CBB;
box-shadow: inset 1px 1px 3px 0px #519CBB;
-moz-box-shadow: 0px 1px 0px 0px #A3D5EB;
-webkit-box-shadow: 0px 1px 0px 0px #A3D5EB;
box-shadow: 0px 1px 0px 0px #A3D5EB;}
.total-list .title .total-online {float: left; font-size: 15px; padding: 0 0 0 20px;}
.total-list .title .total {float: right; text-align: right; font-size: 12px; padding: 0 60px 0 0;}
.total-list .inner {padding: 0 0 0 9px;}
.total-list .inner a {display: block; float: left; width: 71px; height: 71px; overflow: hidden; margin: 0 9px 8px 0;}
.total-list .inner a img {display: block; position: relative; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.total-list .inner a.last {margin-right: 0;}

.wrap {width: 960px; margin: 0 auto;}
.three-steps {margin: 39px 0 0;}
.three-steps .dotted-title {font-size: 19px; margin: 0 0 33px; text-align: center;}
.three-steps .item {width: 290px; float: left; margin: 0 42px 0 0;}
.three-steps .message {margin: 0 0 0 2px;}
.three-steps .item .title {background: url(../img/csg-521f8246512b0.png) no-repeat top left; color: #333; font-size: 17px; font-weight: bold; line-height: 1; min-height: 42px; padding: 3px 0 0 50px; width: 150px;}
.three-steps .profile .title {background-position: 0 -541px;}
.three-steps .search .title {background-position: 0 -633px;}
.three-steps .message .title {background-position: 0 -725px;}
.three-steps .item p {color: #666; font-size: 13px; margin: 14px 0 0;}
.dotted-title {font-size: 18px; font-weight: bold; color: #333; padding: 0 0 7px 0; margin: 0 0 10px 0; border-bottom: 2px dotted #a5a5a5;}
.info-box {width: 293px; float: left; margin: 60px 0px 50px 0;}
.info-box .text {line-height: 1.6; margin: 20px 0 0;}
.info-box .text p {margin: 0 0 22px; line-height: 1.6;}
.new-users {margin: 55px 0 0 0px; clear: both;}
.new-users .title {text-align: center; font-size: 20px; color: #333; margin: 0 0 12px;}
.new-users .bxslider {height: 157px; overflow: hidden;}
.new-users .bxslider li {float: left; display: block; height: 157px; width: 157px!important; margin: 0 4px 0 0;}
.new-users .bxslider .item {float: left; margin: 0 3px 0 0; position: relative;}
.new-users .bxslider .item.last {margin: 0;}
.new-users .bxslider .item .info {position: absolute; width: 150px; bottom: 0; left: 0; height: 30px; color: #fff;
background: rgba(75,174,215,0.7); line-height: 1.1; padding: 5px 0 0 7px;}
.new-users .bxslider .item .info .name {font-size: 13px;}
.active {display: inline-block; width: 9px; height: 9px; margin: 0 0 0 4px; background: url(../img/csg-521f8246512b0.png) no-repeat top left;}
.new-users .bxslider .item .info .other {font-size: 12px;}



.reviews {float: right; margin: 60px 0 0; width: 630px;}
.reviews .dotted-title {margin-bottom: 7px;}
.reviews .item {border-bottom: 1px solid #E5E5E5; min-height: 41px; padding: 9px 0;}
.reviews .item .thumb {border-radius: 39px 39px 39px 39px; float: left;margin: 0 6px 0 10px;overflow: hidden;}
.reviews .item .thumb img {display: block;}
.reviews .item .name {float: left; margin: 10px 5px 0 0;}
.reviews .item .text {float: left; margin: 10px 0 0; width: 400px;}
.reviews .item .date {color: #999; float: right; font-size: 11px; margin: 13px 27px 0 0;}


/* Start Slider */
.bx-wrapper {position: relative; *zoom: 1;}
.bx-wrapper img {max-width: 100%;display: block;}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {position: absolute; bottom: -30px; width: 100%;}
.bx-wrapper .bx-loading {min-height: 50px; background: url(../img/bx_loader.gif) center center no-repeat #fff; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 2000;}
.bx-wrapper .bx-prev {left: -20px; background: url(../img/controls.png) no-repeat 0 0px;}
.bx-wrapper .bx-next {right: -20px; background: url(../img/controls.png) no-repeat -11px 0px;}
.bx-wrapper .bx-prev:hover {background-position: 0 -17px;}
.bx-wrapper .bx-next:hover {background-position: -11px -17px;}
.bx-wrapper .bx-controls-direction a {position: absolute; top: 50%; margin-top: -8px; outline: 0; width: 11px; height: 16px; text-indent: -9999px; z-index: 9999;}
.bx-wrapper .bx-controls-direction a.disabled {display: none;}
/* End Slider */


/* Start Registr page */
.reg-box {width: 690px; margin: 0 auto; padding: 31px 0px 40px 0px;}
.reg-box-inner {padding: 0 60px 0 0;}
.w-box {background: #fff; position: relative;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0px 0px 3px 1px #78B8D3;
-webkit-box-shadow: 0px 0px 3px 1px #78B8D3;
box-shadow: 0px 0px 3px 1px #78B8D3;}
.reg-box .title {color: #333; font-size: 23px; font-weight: bold; margin: 0 0 6px 224px;}
.reg-box .ico {float: left; width: 161px; margin: 0 36px 0 29px;}
.reg-box .ico img {display: block;width: 100%;}
.reg-box .registr-text {padding: 0 0 0 225px;}
.reg-box .sub-title {color: #333; font-size: 15px; font-weight: bold; margin: 0 0 15px; padding: 15px 0 0;}
.reg-box .buttons {padding: 7px 0 0 0;}
.reg-box .buttons a span {width: 120px;}
.reg-box .buttons .cansel {margin-left: 3px;}
/* End Registr page */


/* Start Friend page */
.page {background: #fbfbfb url(../img/page-bg.png) center top repeat-x;}
.page-inner {width: 960px; margin: 0 auto; padding: 27px 0 139px 0;}
.page-inner h1 {font-size: 18px; margin: 0;}
.freind-list {padding: 16px 0 0 0;}
.freind-list li {width: 293px; display: inline-block; vertical-align: top; position: relative;
background: #fff; margin: 0 36px 33px 0;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0px 0px 3px 1px #f5f5f5;
-webkit-box-shadow: 0px 0px 3px 1px #f5f5f5;
box-shadow: 0px 0px 3px 1px #f5f5f5;}
.freind-list li:nth-child(3n+3) {margin-right: 0;}
.freind-list-in figure {float: left; position: relative; width: 127px; height: 127px;}
.freind-list-in figure img {display: block;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;}
.freind-list-in figure a:hover {text-decoration: none;}
.freind-list-in figure .info {position: absolute; width: 127px; bottom: 0; left: 0; height: 21px; color: #fff;
background: rgba(75,174,215,0.7); line-height: 1.1;}
.freind-list-in figure .info .name {display: block; padding: 3px 0 0 23px;}
.freind-list-in figure .info .name .active {margin: 0 4px 0 0;}
.friends-info {padding: 14px 0 0 143px;}
.friends-info h2 {margin: 0; color: #4aaed7; font-size: 18px;}
.year-location {color: #858585; font-size: 12px; display: block; padding: 0 0 8px 0;}
a.messeg {margin: 0 0 21px 0;}
a.messeg span {width: 110px; height: 22px; line-height: 22px; text-align: left; font-size: 12px;}
a.messeg i {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -863px; width: 16px; height: 22px; display: inline-block; line-height: 22px; margin: 0 8px 0 6px;}
a.del {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -299px; padding: 0 0 0 21px; color: #aeaeae; font-size: 11px; display: block;}
.pagenavi {border-top: 2px dotted #9f9f9f; text-align: center; padding: 26px 0 0 0;}
.pagenavi li {display: inline-block; vertical-align: top; margin: 0 1px}
.pagenavi li a {display: inline-block; vertical-align: top; position: relative; color: #333; font-size: 14px;
border: 1px solid #d3d7dc; width: 32px; height: 30px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;}
.pagenavi li a img {position: relative; top: 50%; left: 50%; margin: -4px 0 0 -3px; display: block;}
.pagenavi li a span {display: inline-block; line-height: 30px;}
.pagenavi li.current a,.pagenavi li a:hover {background: #5bb0d3; border-color: #5bb0d3; color: #fff;}
.pagenavi li.current.pre a,.pagenavi li.current.ne a,.pagenavi li.pre a:hover,.pagenavi li.ne a:hover {background: #fff;}
.pagenavi li a i {background: url(../img/csg-521f8246512b0.png) no-repeat top left; position: relative; top: 50%; left: 50%; margin: -4px 0 0 -3px; display: block; width: 5px; height: 9px;}
.pagenavi li.pre a i {background-position: 0 -1116px;}
.pagenavi li.ne a i {background-position: 0 -995px; width: 6px; height: 10px;}
.cabinet {float: right; padding: 11px 0 0 0;}
.cabinet figure {float: left; width: 51px; height: 51px;}
.cabinet figure img {position: relative;
-moz-border-radius: 51px;
-webkit-border-radius: 51px;
border-radius: 51px;}
.cabinet-inner {padding: 7px 0 0 57px;}
.cabinet-inner h3 {margin: 0; font-size: 15px; font-weight: normal; padding: 0 0 1px 0;}
.email {float: left;}
.email a {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -478px; padding: 0 0 0 21px; color: #ef6a8a; font-weight: bold; width: 17px; float: left;}
a.setting {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -1298px; padding: 0 15px 0 15px; color: #999; float: left;}
a.out {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -1052px; padding: 0 0 0 13px; color: #999; float: left;} 
/* End Friend page */


/* Start Poisk page */
.poisk-page {padding: 0 0 80px 0;}
.aside-second {float: none; width: 100%;}
.aside-second .aside-inner {padding: 21px 16px 22px 31px;}
.aside-second .aside-inner label {font-size: 15px; padding: 0 0 6px 0; display: block;}
.aside-second .select-outer {padding: 0 0 0 30px; float: left;}
.aside-second .select-wrap {float: left;}
.aside-second .select-wrap .select-outer {float: none; padding: 0;}
.aside-second .sbHolder {width: 142px;}
.aside-second .sbOptions {width: 142px;}
.aside-second .select-outer-search .sbHolder {width: 152px;}
.aside-second .select-outer-search .sbOptions {width: 152px;}
.aside-second .select-outer-years .sbHolder {width: 65px;}
.aside-second .select-outer-years .sbOptions {width: 65px;}
.aside-second .select-outer-years a.sbSelector {text-indent: 14px;}
.aside-second .select-outer-years .sbOptions a {padding-left: 3px;}
.aside-second .line {margin: 14px 7px 0 7px;}
.select-outer-country .sbHolder {float: left; margin: 0 12px 0 0;}
.select-outer-last-in {float: left;}
.select-outer-last-iner {float: left;}
.select-years-inside {float: left;}
.select-outer-last-iner .sbHolder {float: none; margin: 0; width: 192px;}
.select-outer-last-iner .sbOptions {width: 192px;}
.aside-second .select-outer-for {padding: 26px 0 0 0;}
.select-outer-for label {float: left; padding: 5px 15px 0 0!important;}
.chek {float: left; padding: 31px 0 0 49px;}
.chek input {float: left; margin: 4px 5px 0 0;}
.chek label {float: left; padding: 0!important; cursor: pointer;}
.aside-second .start-search {float: right; margin: 25px 13px 0 0;}
.search-result-list {padding: 0; margin: -10px 0 0 0;}
.search-result-list li {background: none; width: 157px; margin: 0 39px 29px 0;
-moz-border-radius: none;
-webkit-border-radius: none;
border-radius: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;}
.search-result-list .freind-list-in figure {float: none; width: 157px; height: 157px;}
.search-result-list .freind-list-in figure .info {width: 157px;} 
.search-result-list .friends-info {padding: 0;}
.search-result-list .friends-info h2 {font-size: 14px; font-weight: normal; padding: 9px 0 0 0;}
.search-result-list .year-location {padding: 0 0 2px 0;}
a.send-mail {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -1239px; padding: 0 0 2px 22px; color: #a2a2a2; font-size: 11px; display: block;}
a.add-frends {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -57px; padding: 0 0 2px 20px; color: #a2a2a2; font-size: 11px; display: block;}
.search-result-list li:nth-child(3n+3) {margin-right: 39px;}
.search-result-list li:nth-child(5n+5) {margin-right: 0px;}
.three-steps-last {margin-top: 29px;}
/* End Poisk page */


/* Start Info page */
.text-info {padding: 8px 30px 0 0;}
.text-info article {padding: 0 0 34px 0;}
.text-info h2 {font-size: 18px; line-height: 1.0; padding: 0 0 4px 0;}
.text-info img {margin: 0 36px;}
.text-info img.floatRight {margin-right: 0;}
.text-info p {padding: 1px 0;}
/* End Info page */


/* Start personal_info page */
.personal-outer {margin: -2px 0 0 0;}
.sidebar {width: 260px; float: left;}
.personal-inner {width: 666px; float: right;}
.user-info {background: #fff; position: relative; padding: 0 0 23px 0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0px 0px 3px 1px #f5f5f5;
-webkit-box-shadow: 0px 0px 3px 1px #f5f5f5;
box-shadow: 0px 0px 3px 1px #f5f5f5;}
.user-pic img {display: block;}
.user-info-inner {padding: 13px 20px 0 21px;}
.user-name {color: #333; font-size: 20px; display: block;}
.user-old {display: block; padding: 4px 0 20px 0;}
.messeg-searc {background: #fdf1f4; border: 1px solid #fad9e1; display: block; color: #ef6a8a; position: relative; margin: 0 0 17px 0;
padding: 10px 13px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;}
.messeg-searc i {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -929px; width: 16px; height: 16px; position: absolute; top: -16px; left: 9px;}
.user-info-inner a.messeg {margin: 0 0 19px 0;}
.user-info-inner a.messeg span {width: 218px; height: 31px; line-height: 31px; font-size: 15px;}
a.add-present {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -119px; padding: 0 0 0 20px; color: #a2a2a2; font-size: 11px; display: block; 
margin: 12px 0 0 0;}
.tit {background: #fff; position: relative; padding: 11px 30px 13px 17px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0px 0px 3px 1px #f5f5f5;
-webkit-box-shadow: 0px 0px 3px 1px #f5f5f5;
box-shadow: 0px 0px 3px 1px #f5f5f5;}
.tit .heding {font-size: 12px; text-transform: uppercase; color: #5c5c5c;}
.about-user {padding: 0 0 15px 0;}
.about-user p {padding: 2px 30px 2px 0; font-size: 12px;}
.photo-list {padding: 10px 0 0 0;}
.photo-list li {float: left; margin: 0 1px 1px 0;}
.photo-list li a img {display: block; position: relative;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;}
.videos {padding: 36px 0 23px 0;}
a.see-video {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -1175px; padding: 0 0 0 20px; font-size: 12px; color: #000; margin: 0 0 0 46px;} 
.recent-activities .tit {margin: 0 0 6px 0;}
.recent-activities .reviews {margin: 0 30px 0 0; float: none; width: auto;}
/* End personal_info page */


/* Start profile page */
.profile-pic h2 {font-size: 18px; margin: 0; padding: 3px 0 15px 0}
.profile-pic figure img {display: block; position: relative;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;}
.input-file-box {margin: 9px 0 0 0; cursor: pointer; position: relative; width: 260px; height: 72px; overflow: hidden; background: url(../img/input-file-bg.png) 0 0 no-repeat;}
.input-file-box:hover {background: url(../img/input-file-bg-hover.png) 0 0 no-repeat;}
.input-file-box input[type=text] {position: absolute; top: 36px; left: 0px; width: 260px; height: 34px; line-height: 34px; border: none; background: transparent;}






.profile-inner {padding: 15px 0 0 0;}
.box {padding: 0 0 32px 0;}
.hd {border-bottom: 2px dotted #a9a9a9; padding: 0 0 9px 0; margin: 0 0 10px 0;}
.hd h3 {font-size: 12px; text-transform: uppercase; color: #a9a9a9; margin: 0; font-weight: normal;}
.in {padding: 9px 0;}
.in label {width: 134px; float: left; color: #404040; font-weight: bold; padding: 8px 0 0 0;}
.in input.tx {background: #fff; border: 1px solid #d3d7dc; position: relative; width: 242px; height: 30px; line-height: 30px; float: left;
font-size: 14px; text-indent: 14px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}
.in-select {float: left; margin: 0 6px 0 0;}
.in-select a.sbSelector {color: #333;}
.day .sbHolder {width: 52px;}
.day .sbOptions {width: 52px;}
.month .sbHolder {width: 103px;}
.month .sbOptions {width: 103px;}
.month a.sbSelector {text-indent: 18px;}
.years .sbHolder {width: 72px;}
.years .sbOptions {width: 72px;}
.years a.sbSelector {text-indent: 11px;}
.in .radio-select label {width: auto; padding: 0; float: left; cursor: pointer;}
.radio-select {padding: 7px 0 0 0;}
.radio-select li {float: left; margin: 0 44px 0 0;}
.radio-select li input {float: left; margin: 2px 5px 0 0;}
.orientations {float: left;}
.orientations a.sbSelector {color: #333;}
.chekin {padding: 7px 0 0 134px;}
.chekin input {float: left; margin: 1px 12px 0 0;}
.chekin label {width: auto; padding: 0; float: left;}
.box.last {padding: 0 0 21px 0; border-bottom: 2px dotted #a9a9a9;}
.in a.gray {margin: 0 0 0 9px; float: left;}
.in a.gray span {line-height: 29px; height: 29px; width: 129px;}
.save {padding: 21px 0 0 0;}
.save button {background: #54afd3; padding: 0; float: left;}
.save .blue span {width: 209px; line-height: 31px; height: 31px; font-size: 15px;}
a.del-profile {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -362px; padding: 0 0 0 20px; font-size: 12px; color: #666; float: right;
margin: 4px 0 0 0;}
/* End profile page */


/* Start message page */
.sidebar-second {width: 283px; float: left;}
a.elect span {color: #4aaed7; font-size: 18px; border-bottom: 1px dashed;}
a.elect i {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -425px; display: inline-block; width: 11px; height: 6px; position: relative; top: -2px;
margin: 0 0 0 4px;}
a.elect:hover {text-decoration: none;}
a.elect:hover span {border-bottom-color: #fbfbfb;}
.contact-outer {background: #fff; position: relative; width: 260px; margin: 15px 0 0 0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0px 0px 3px 1px #f5f5f5;
-webkit-box-shadow: 0px 0px 3px 1px #f5f5f5;
box-shadow: 0px 0px 3px 1px #f5f5f5;}
.contact-list {padding: 4px 0 0 0;}
.contact-list li {position: relative;}
.plashka {width: 284px; height: 61px; position: absolute; left: -1px; top: -1px; z-index: 1; display: none;}
.on {position: relative; z-index: 2; margin: 0 20px; border-bottom: 1px dotted #e5e5e5; height: 53px; padding: 6px 0 0 0;}
.on .us {float: left;}
.on .us img {position: relative; float: left; margin: 3px 11px 0 0;
-moz-border-radius: 39px;
-webkit-border-radius: 39px;
border-radius: 39px;}
.on .us .name {float: left; padding: 10px 0 0 0; width: 90px; line-height: 1.0;}
.on .email {margin: 14px 0 0 25px;}
.on .email a {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -1237px; color: #a2a2a2;}
a.cl {background: url(../img/csg-521f8246512b0.png) no-repeat top left; background-position: 0 -183px; width: 7px; height: 7px; text-indent: -9000px; overflow: hidden; float: right; margin: 19px 0 0 0;}
.contact-list li.current .plashka,.contact-list li:hover .plashka {background: url(../img/current-bg.png) no-repeat; display: block;}
.contact-list li.current .on .us,.contact-list li:hover .on .us {color: #fff;}
.contact-list li.current .on .email a,.contact-list li:hover .on .email a {background-position: 0 -237px; color: #fff;}
.contact-list li:last-child .on {border-bottom-color: #fff;}
.contact-list li.activ .on .email a {background-position: 0 -478px; color: #ef6a8a;}
.message-outer {padding: 3px 0 0 0;}
.message-title {padding: 0 0 14px 0;}
.message-title h2 {float: left; margin: 0; font-size: 18px;}
.message-title a.del {float: right; font-size: 12px; color: #666; margin: 7px 0 0 0;}
.message-title a.del-profile {margin: 7px 35px 0 0;}
.message-list {background: #fff; position: relative;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0px 0px 3px 1px #f5f5f5;
-webkit-box-shadow: 0px 0px 3px 1px #f5f5f5;
box-shadow: 0px 0px 3px 1px #f5f5f5;}
.message-list {padding: 4px 0 1px 0;}
.message-list li {margin: 0 1px; padding: 16px 30px 2px 28px;}
.message-list li.even {background: #f9f9f9;}
.message-list li.even .hed-info h4 a {color: #666;}
.hed figure {float: left; width: 39px; height: 39px;}
.hed figure img {display: block; position: relative;
-moz-border-radius: 39px;
-webkit-border-radius: 39px;
border-radius: 39px;}
.hed-info {margin: 0 0 0 49px; border-bottom: 1px dotted #e5e5e5; padding: 6px 0 0 0;}
.hed-info h4 {margin: 0; float: left;}
.hed-info h4 a {font-size: 13px;}
.date-time {float: right; font-size: 11px; margin: 13px 0 0 0;}
.date-time > i {font-style: normal;}
.message-body {font-size: 12px; padding: 0 12px 0 48px;}
.message-list li textarea {background: #fff; border: 1px solid #d3d7dc; position: relative; width: 99%; height: 70px; font-size: 14px; text-indent: 14px;
resize: none; padding: 5px 0; margin: 0 0 11px 0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}
.message-list li button {background: #54afd3; padding: 0; margin: 0 0 15px 0;}
.message-list li button span {width: 129px; line-height: 31px; height: 31px; font-size: 15px;}
.message-list li.last .hed-info {border-bottom: 0;}
/* End message page */


/* Footer */
footer {padding: 36px 0 20px 0; background: url(../img/footer-border.png) 0 0 repeat-x; position: relative;}
.footer-inner {width: 960px; margin: 0 auto; position: relative;}
.footer-inner .logo {float: left; margin: 0 0 0 1px;}
.footer-inner .nav {float: left; margin: 5px 0 0 43px;}
.footer-inner .nav li {float: left;}
.footer-inner .nav li:before {content: "/";}
.footer-inner .nav li:first-child:before {content: "";}
.footer-inner .nav li a {color: #999; font-size: 15px; margin: 0 15px;}
.footer-inner .social {float: right; margin: 0 52px 0 0;}
.footer-inner .text {clear: both; color: #999; padding: 10px 0 0 0;}
.footer-inner .text a {color: #999;font-size: 12px;}
.footer-inner .about:hover {text-decoration: none;border-color: #727272;}
.login-footer {position: absolute; padding: 0; right: 47px; bottom: 33px; z-index: 1000;}