/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
* {padding: 0; margin :0;}
html, body {width:100%;height:100%;}
body {background: #fff url(../images/body-bg.jpg) repeat-x; font: 14px Arial, Helvetica, sans-serif; color: #707070;}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}
/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/

		.wrapper {width: 960px; margin: 0 auto; position:relative; min-height: 100%; height: auto !important; height: 100%;}
		
		.head {position: relative; height: 485px; width: 960px; overflow: hidden;}
			.menu-bg1 {background: url(../images/menu-bg1.png) right top no-repeat; padding: 0 7px 0 0; float: right; margin: 0 16px 0 0; width: 346px; _margin-right: 8px;}
			.menu-bg2 {background: url(../images/menu-bg2.png) left top no-repeat; padding: 0 0 0 7px;}
			.menu-bg3 {background: url(../images/menu-bg3.png) repeat-x; height: 42px; padding: 0 8px 0 0; }
			.menu {float: left;}
			.menu li {float: left; background: url(../images/menu-li-bg.gif) right top no-repeat; padding: 0 2px 0 0; height: 34px;}
			.menu li.last {background: none;}
			.menu li a {font-size: 15px; color: #fff; text-decoration: none; padding: 6px 12px 0 11px; float: left;}
			.menu li a:hover {text-decoration: underline;}
			.lang {float: right; padding: 6px 31px 0 0;}
			.lang li {float: left; color: #8898b1;}
			.lang li span {padding: 0 7px;}
			.lang li a {color: #8898b1; text-decoration: none;}
			.lang li a:hover {text-decoration: underline;}
			.logo {position: absolute; font-size: 30px; color: #7185a0; text-decoration: none; left: 31px; top: 33px; text-shadow: 3px 3px 3px #9d9d9d;}
			.navi {background: url(../images/navi-bg.png) no-repeat; width: 925px; height: 51px; position: absolute; left: 19px; top: 107px; z-index: 300;}
			.navi ul {float: left; padding: 9px 6px 0 0;}
			.navi ul li {background: url(../images/navi-li-bg.gif) right 1px no-repeat; height: 35px; float: left; padding: 0 2px 0 0;}
			.navi ul li a .home {margin: 9px 5px 0 15px;}
			.navi ul li span {float: left; height: 35px;}
			.navi ul li span a {color: #fff; font-size: 16px; text-decoration: none; padding: 7px 11px 0 9px; float: left;}
			.navi ul li:hover span,.navi ul li.current span {background: url(../images/navi-li-span-bg.png) no-repeat;}
			.navi ul li:hover span a,.navi ul li.current span a {color: #627799;}	
			.search {background: url(../images/search-bg.png) no-repeat; width: 150px; height: 23px; float: left; margin: 15px 0 0 0;}
			.search .text {width: 108px; height: 23px; line-height: 23px; font-size: 11px; color: #fff; float: left; background: none; border: 0; padding: 0 10px;}
			.search .submit {background: url(../images/submit-bg.png) no-repeat; width: 16px; height: 16px; border: 0; float: left; cursor: pointer; margin: 4px 0 0 1px;}		
			#slides {position:absolute; top: 98px; left: 28px; z-index:100;}
			.slides_container {width:906px; overflow:hidden; position:relative; display:none;}
			.slides_container a {width:906px;height:374px;display:block;}
			.slides_container a img {display:block;}
			#slides .next,#slides .prev {position:absolute; top: 146px; left: -29px; width:24px; height: 37px; display:block; z-index:101;}
			#slides .next {left: 907px;}
			.pagination {margin: -20px auto 0 auto; width: 110px; position: relative; z-index: 300;}
			.pagination li {float:left; margin:0 2px; list-style:none;}
			.pagination li a {display:block; width:16px; height:0; padding-top:16px; background-image:url(../images/pagination.png); background-position:0 1px; float:left; overflow:hidden;}
			.pagination li.current a {background-position:0 -16px;}
			
	
		.content {width: 100%; padding-bottom: 114px;}
			.left-col {width: 240px; padding: 0 19px 0 31px; float: left;}
			.left-col h2 {font-size: 18px; font-weight: normal; color: #8b8700;}
			.left-col .news-outer {background: url(../images/border-bg.gif) left bottom repeat-x; padding: 0 0 3px 0; margin: 0 0 11px 0;}
			.left-col .news {padding: 7px 0 14px 0;}
			.left-col .news .date {font-size: 12px; color: #959595;}
			.left-col .news .date span {padding: 0 0 0 2px;}
			.left-col .news h3 {font-size: 14px; font-weight: normal; color: #c2b944; line-height: 0.5; padding: 0 0 8px 0;}
			.left-col .news p {line-height: 1.0;}
			.left-col .news .more {font-style: italic; color: #ac9f00; display: block; text-align: right;}
			.left-col .news-outer.second {padding-bottom: 10px;}
			.left-col .news-outer.second .news {padding-bottom: 10px;}
			.box {background: url(../images/border-bg.gif) left bottom repeat-x; padding: 5px 0 15px 0;}
			.box h2 {padding-bottom: 9px;}
			.box h3 {font-size: 14px; font-weight: normal; color: #c2b944; padding: 1px 0 0 0;}
			.box p {line-height: 1.0; padding-bottom: 4px;}
			.box .more {font-style: italic; color: #ac9f00; display: block; text-align: right;}
			
			
			
			.right-col {width: 670px; float: left;}
				.right-col h1 {font-size: 30px; color: #8b8700; font-weight: normal; line-height: 1.0; padding-bottom: 12px;}
				.container {background: url(../images/border-bg.gif) left bottom repeat-x; padding: 0 31px 7px 0;}
				.container p {text-indent: 37px; padding: 0 0 17px 0;}
				.container p strong {font-weight: normal; color: #9e0b0f;}
				.container p a {color: #8b8700; padding: 0 0 0 4px;}
				.container h2 {font-size: 18px; font-weight: normal; color: #61611b; position: relative; top: -5px; padding: 0 0 15px 0;}
				.gallery {background: url(../images/border-bg.gif) left bottom repeat-x; padding: 34px 0 14px 0; margin: 0 28px 0 0;}
				.gallery h2 {font-size: 30px; color: #8b8700; font-weight: normal; line-height: 1.0; padding-bottom: 22px;}
				
				.gallery ul li.last {margin-right: 0;}
				.gallery .all {font-size: 12px; font-style: italic; color: #ac9f00; display: block; text-align: right; padding: 0 4px 0 0;}
				.list {padding: 0 0 18px 0;}
				.list dt {padding: 0 0 19px 0;}
				.list dd {background: url(../images/dd-bg.gif) left 6px no-repeat; margin: 0 0 0 15px; padding: 0 0 1px 9px;}
				.tex {background: url(../images/border-bg.gif) left bottom repeat-x; padding: 21px 13px 0 0;}
				.tex h2 {font-size: 18px; font-weight: normal; color: #61611b; padding: 0 0 15px 0;}
				.tex p {padding: 0 0 18px 0;}
				.tex p.p1 {text-indent: 38px;}
				.tex p img {float: left; margin: 4px 6px 0 0;}
				
				
			.partners {padding: 28px 0 0 30px;}
			.partners dt {float: left; font-size: 18px; color: #627799; padding: 36px 20px 0 0;}
			.partners dd {float: left;}
			
			.gallery ul li {float: left; margin: 0 14px 9px 0;}
			.gallery ul li a { width: 147px; height: 147px; float: left; position: relative;}
			.gallery ul li img { position: absolute; left: 4px; top: 4px; z-index: 10;}
			.gallery ul li span { background: url(../images/gallery-span.png) no-repeat; width: 151px; height: 151px; position: absolute; z-index: 20; left: 0; top: 0;}
			
			
		.footer {background: #f2f2f2 url(../images/footer-bg.gif) repeat-x; height: 94px; position: relative; margin-top: -94px;}
			.footer-main {width: 960px; margin: 0 auto;}
			.footer-naw {text-align: center; padding: 13px 0 39px 0;}
			.footer-naw li {display: inline; color: #636363;}
			.footer-naw li span {padding: 0 4px 0 10px;}
			.footer-naw li a {color: #636363; text-decoration: none;}
			.footer-naw li a:hover {text-decoration: underline;}
			.footer p {font-size: 12px;}
			.copy {padding: 0 0 0 34px; float: left;}
			.design {float: right;}
			.design a {color: #363636; padding: 0 32px 0 0;}