html {height: 100%;}
body {background: #fff; font: 12px Arial, Helvetica, sans-serif; color: #444; height: auto !important; height: 100%; min-height: 100%; position: relative; overflow-x:hidden; min-width:1000px;}

.left-shadow {background: url(../images/left-shadow.jpg) repeat-x; height: 1016px; position: absolute; left: 0; top: 0; width: 50%; z-index: 1;}
.right-shadow {background: url(../images/right-shadow.jpg) repeat-x; height: 1016px; position: absolute; right: 0; top: 0; width: 50%; z-index: 1;}
.wrapper {background: url(../images/wrapper-bg.jpg) center top no-repeat; position: relative; z-index: 2; padding-bottom: 333px; min-height: 1016px;}
.page {width: 976px; margin: 0 auto;}

.head {height: 178px; position: relative; z-index: 11;}
.top {padding: 15px 0 0 0; height: 32px;}
.top a {font-size: 13px; color: #18a073; text-decoration: none; border-bottom: 1px dashed; float: left;}
.add {background: url(../images/add-bg.png) no-repeat; padding: 0 0 0 19px; float: left;}
.inn {background: url(../images/inn-bg.png) left 1px no-repeat; padding: 0 0 0 16px; float: right; margin: 1px 0 0 0;}
.head-inner {background: url(../images/head-inner-bg.png) no-repeat; width: 976px; height: 133px;}
.logo {float: left; padding: 7px 1px 0 17px;}
.head-inner h1 {font-size: 18px; color: #f0f0f0; text-shadow: 1px 1px 1px #117654; line-height: 1.2; margin: 26px 0 0 0; float: left;}
.head-inner h1 span {font-weight: normal;}
.head-inner-right {float: right; padding: 24px 15px 0 0; width: 227px; position: relative; z-index: 11;}
.phone {font-size: 18px; color: #fff; text-align: right; padding: 0 4px 6px 0;}
.search {background: url(../images/search-bg.png) no-repeat; width: 192px; height: 23px; position: relative; padding: 1px 23px 1px 12px;}
.search .tx {background: none; border: 0; width: 192px; height: 23px; line-height: 23px;}
.search .submit {background: url(../images/submit-bg.png) no-repeat; width: 19px; height: 19px; border: 0; cursor: pointer; position: absolute; top: 3px; right: 3px;}
.social {padding: 10px 3px 0 0; float: right;}
.social a {margin: 0 0 0 2px; position: relative;}
.social a span {background: url(../images/mes-bg.png) no-repeat; width: 123px; height: 32px; position: absolute; left: -2px; bottom: -56px; text-align: center; font-size: 10px; color: #a1a1a1; padding: 22px 0 0 0;}
.menu {background: url(../images/menu-bg.png) repeat-x; width: 976px; height: 39px; position: absolute; top: 173px; left: 0; z-index: 10;
-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; behavior: url(js/PIE.php);}
.men {float: right;}
.men li {float: left; list-style: none; position: relative;}
.men li a {color: #4c4c4c; text-decoration: none; text-shadow: 1px 1px 1px #fff; display: inline-block; line-height: 39px; height: 39px; padding: 0 14px; position: relative;}
.men li div {background: #f2f2f2; position: absolute; left: 0; top: 39px; min-width: 118px; padding: 0 28px 0 12px;
-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;}
.men li.activ,.men li:hover {border: 1px solid #bebebe; border-width: 0 1px;}
.men li div .sub {padding: 11px 0 13px 0; position: relative;}
.men li div .sub li {float: none; display: block; padding: 0; width: 100%;}
.men li div .sub li a {display: block; padding: 0; font-weight: bold; height: 22px; line-height: 22px; text-decoration: underline; color: #12855e; white-space: nowrap;}
.men li.activ a, .men li:hover a {border: 1px solid #e9e9e9; border-width: 2px 1px 0 1px;background: #efefef url(../images/activ-bg.png) repeat-x; line-height: 37px; height: 37px; padding: 0 12px;}
.men li:hover .sub li {border: 0;}
.men li.activ .sub li a,.men li:hover .sub li a {border: 0; background: none;}

.content {width: 100%; position: relative; z-index: 10;}
.preambule {background: url(../images/preambule-bg.jpg) no-repeat; width: 976px; height: 290px; position: relative; margin: 0 0 37px 0; overflow: hidden;}
.preambule-news {background: url(../images/preambule-news-bg.png); width: 353px; float: right; position: relative; padding: 4px 0 15px 10px; margin: 47px 55px 0 0;
-moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; behavior: url(js/PIE.php);
}
.preambule-news h2 {color: #fff; font-size: 18px; text-transform: uppercase;}
.preambule-news ul {padding: 2px 48px 0 0;}
.preambule-news ul li {list-style: none; padding: 15px 0 0 0;}
.preambule-news ul li a {color: #fff; display: block;}
.preambule-news ul li .time {color: #c0a395; display: block; padding: 2px 0 0 0;}

.about 
{
position:relative; padding: 7px 10px 17px 18px; border: 1px solid #d1d5d3;
-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
-webkit-box-shadow: #e4e4e4 -2px 3px 3px;
-moz-box-shadow: #e4e4e4 -2px 3px 3px;
box-shadow: #e4e4e4 -2px 3px 3px;
background: #F8F8F8;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F8F8F8), to(#ececec));
background: -webkit-linear-gradient(#F8F8F8, #ececec);
background: -moz-linear-gradient(#F8F8F8, #ececec);
background: -ms-linear-gradient(#F8F8F8, #ececec);
background: -o-linear-gradient(#F8F8F8, #ececec);
background: linear-gradient(#F8F8F8, #ececec);
-pie-background: linear-gradient(#F8F8F8, #ececec);	
 behavior: url(js/PIE.php);	
}

.about h2 {font-size: 18px; color: #000; text-transform: uppercase; padding: 0 0 15px 0;}
.info {float: left;}
.messege {float: left; position: relative; border: 1px solid #e5e5e5; padding: 9px 37px 11px 14px; margin: 0 0 0 8px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
 behavior: url(js/PIE.php);	
 background: #F0F7F4;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F0F7F4), to(#F7F7F7));
background: -webkit-linear-gradient(#F0F7F4, #F7F7F7);
background: -moz-linear-gradient(#F0F7F4, #F7F7F7);
background: -ms-linear-gradient(#F0F7F4, #F7F7F7);
background: -o-linear-gradient(#F0F7F4, #F7F7F7);
background: linear-gradient(#F0F7F4, #F7F7F7);
-pie-background: linear-gradient(#F0F7F4, #F7F7F7);
}

.about .left {margin: 14px 0 0 0;}
.messege p {font-size: 14px; font-weight: bold; color: #0f7653; text-transform: uppercase;}
.messege .arrow {background: url(../images/arror-bg.gif) no-repeat; width: 13px; height: 14px; position: absolute; left: -13px; bottom: 4px;} 
.text {padding: 22px 0 0 22px;}
.text h3 {font-size: 14px; font-weight: bold; color: #000; padding: 0 0 23px 0;}
.text p {padding: 0 0 2px 0;}
.entry p {line-height: 1.5;}
a.more {display: inline-block; line-height: 28px; height: 28px; padding: 0 21px; text-align: center; font-size: 13px; color: #666; text-shadow: 1px 1px 1px #fff; text-decoration: none;
position: relative;
margin: 41px 0 0 392px;
border: 1px solid #c7c7c7;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #ffffff;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#e9e9e9));
background: -webkit-linear-gradient(#ffffff, #e9e9e9);
background: -moz-linear-gradient(#ffffff, #e9e9e9);
background: -ms-linear-gradient(#ffffff, #e9e9e9);
background: -o-linear-gradient(#ffffff, #e9e9e9);
background: linear-gradient(#ffffff, #e9e9e9);
-pie-background: linear-gradient(#ffffff, #e9e9e9);
 behavior: url(js/PIE.php);
}

a.more.mor {margin: 19px 0 0 0; padding: 0 13px;}
.container {width: 100%; padding: 35px 0 0 0;}
.left-col {width: 474px; float: left; padding: 0 0 0 3px;}
.right-col {width: 401px; float: right;}
.container h2 {font-size: 18px; color: #000; text-transform: uppercase; padding: 0 0 3px 0;}
.news ul li {list-style: none; border-bottom: 1px solid #e5e5e5; padding: 17px 0 15px 0;}
.news ul li a {line-height: 1.3;}
.news ul li .time {color: #c4c4c4; font-style: italic; display: block; padding: 8px 0 0 0;}
.fag-list {padding: 19px 0 0 0;}
.fag-list li {
list-style: none;
position: relative;
padding: 12px 30px 17px 13px;
margin: 0 0 40px 0;
border: 1px solid #e5e5e5;
-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
 behavior: url(js/PIE.php);	
background: #F7FDFB;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F7FDFB), to(#fefffe));
background: -webkit-linear-gradient(#F7FDFB, #fefffe);
background: -moz-linear-gradient(#F7FDFB, #fefffe);
background: -ms-linear-gradient(#F7FDFB, #fefffe);
background: -o-linear-gradient(#F7FDFB, #fefffe);
background: linear-gradient(#F7FDFB, #fefffe);
-pie-background: linear-gradient(#F7FDFB, #fefffe);
}
.fag-list li p {line-height: 1.5;}
.fag-list li .ar {background: url(../images/ar-bg.gif) no-repeat; padding: 0 0 0 35px; height: 25px; position: absolute; left: 29px; bottom: -25px;}
.fag-list li .ar span {color: #000; font-weight: bold; font-style: italic; display: block; padding: 8px 0 0 0;}
.right-col	a.more.mor {margin: 9px 0 0 0;}


/* faq */
.main {background: #fff; width: 100%; padding: 46px 0 0 0;}
.left-part {padding: 0 0 0 19px; width: 720px; float: left; position: relative;}
.left-part h2 {font-size: 18px; font-weight: normal; text-transform: uppercase; color: #000; padding: 10px 0 0 0;}
.right-part {width: 178px; float: right; padding: 38px 5px 0 0;}
.list {padding: 39px 0 0 0;}
.list li {list-style: none; padding: 0 0 22px 0;}
.list li a {text-decoration: none; border-bottom: 1px dashed;}
.list li .obg {border-left: 2px solid #b2b2b2; padding: 0 0 0 17px; color: #000; margin: 24px 0 3px 0;}
.list li .obg p {line-height: 1.5;}
a.more.vopros {padding: 0 16px; margin: 0; position: absolute; right: 0; top: 11px;}
.calendar {padding: 0 0 56px 0;}
.calendar .month {padding: 30px 25px 12px 4px;}
.calendar .month .prew-month {float: left; margin: 3px 0 0 0;}
.calendar .month .next-month {float: right; margin: 3px 0 0 0;}
.calendar .month p {text-align: center; font-size: 13px;}
.calendar table tr th {font-weight: normal; font-size: 13px; text-align: left; color: #b2b2b2; padding: 0 0 7px 0;}
.calendar table tr td {padding: 0 4px 0 0;}
.calendar table tr td div {width: 21px; text-align: center; position: relative; font-size: 13px; color: #000; padding: 3px 0;
-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; behavior: url(js/PIE.php);}
.calendar table tr td div.cur {background: #d0eae1;}
.calendar table tr td div.activ {color: #fff;
-webkit-box-shadow: #666 0px 2px 3px;
-moz-box-shadow: #666 0px 2px 3px;
box-shadow: #666 0px 2px 3px;
background: #06855B;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#06855B), to(#016242));
background: -webkit-linear-gradient(#06855B, #016242);
background: -moz-linear-gradient(#06855B, #016242);
background: -ms-linear-gradient(#06855B, #016242);
background: -o-linear-gradient(#06855B, #016242);
background: linear-gradient(#06855B, #016242);
-pie-background: linear-gradient(#06855B, #016242);
}
.sidebar {padding: 0 16px 0 6px;}
.sidebar h3 {font-size: 12px; color: #000; border-bottom: 1px solid #b2b2b2; text-transform: uppercase; padding: 0 0 11px 0;}
.box-outer p {padding: 10px 0 4px 0;}
.news-list {padding: 45px 0 0 0;}
.news-list ul {padding: 11px 0 0 0;}
.news-list ul li {list-style: none; padding: 0 0 17px 0;}
.news-list ul li .day {display: block; color: #969696; padding: 0 0 1px 0;}


/* popap */
.popap-outer {left:0; position: absolute; top:0; width:100%; height: 100%; display: none; z-index: 10;}
.popap-shadow {cursor:pointer; left:0; position: absolute; top:0; width:100%; height: 100%; background: #000; z-index: 999; display: none;}
.popap-wrap {width: 409px; height: 330px; position: absolute; left: 50%; top: 250px; margin: 0 0 0 -205px; z-index: 1000; display: none;}
.popap-inner {background: #fff; position: relative; padding: 20px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; behavior: url(js/PIE.php);}
.popap-inner h3 {font-size: 14px; color: #000; text-transform: uppercase;}
.asq-form {position: relative; padding: 13px 0 0 0;}
.asq-form a.more.vopros {padding: 0 16px; margin: 0; position: relative; right: auto; top: auto;}
.asq-form div.clearfix {padding: 0 0 20px 0;}
.asq-form div.clearfix .tx-2 {background: url(../images/tx-2-bg.png) no-repeat; width: 351px; height: 27px; line-height: 27px; padding: 0 9px; border: 0; font-size: 13px; color: #000;}
.asq-form div.clearfix textarea {background: url(../images/area-bg.png) no-repeat; width: 351px; height: 99px; overflow: hidden; padding: 9px; font-size: 13px; color: #000; resize: none; border: 0;}
.submit1 
{
ine-height: 30px; height: 30px; padding: 0 16px; text-align: center; font-size: 13px; color: #666; text-shadow: 1px 1px 1px #fff; text-decoration: none;
position: relative;
border: 1px solid #c7c7c7;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #ffffff;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#e9e9e9));
background: -webkit-linear-gradient(#ffffff, #e9e9e9);
background: -moz-linear-gradient(#ffffff, #e9e9e9);
background: -ms-linear-gradient(#ffffff, #e9e9e9);
background: -o-linear-gradient(#ffffff, #e9e9e9);
background: linear-gradient(#ffffff, #e9e9e9);
-pie-background: linear-gradient(#ffffff, #e9e9e9);
behavior: url(js/PIE.php);	
cursor: pointer;
}

/* popap-login */
.popap-outer-login {left:0; position: absolute; top:0; width:100%; height: 100%; display: none; z-index: 10;}
.popap-shadow-login {cursor:pointer; left:0; position: absolute; top:0; width:100%; height: 100%; background: #000; z-index: 999; display: none;}
.popap-wrap-login {width: 409px; height: 218px; position: absolute; left: 50%; top: 250px; margin: 0 0 0 -205px; z-index: 1000; display: none;}
.silki {padding: 10px 0 0 0;}

/* documents */
.documents {padding: 32px 0 0 0;}}
.documents table tr th {border-bottom: 2px solid #000; text-align: left; font-weight: normal; color: #a1a1a1; padding: 0 0 2px 0;}
.documents table tr td {border-bottom: 1px solid #b2b2b2; padding: 22px 0 19px 0; vertical-align: top;}
.documents table tr td a {line-height: 1.4;}
.documents table tr td .download {background: url(../images/download-bg.gif) left 2px no-repeat; padding: 0 0 0 20px; color: #1ba175;}
.documents table tr.last td {border-bottom: 0;}
.view-docoment h3 {font-size: 14px; color: #000; text-transform: uppercase; padding: 26px 0 11px 5px;}
.view-docoment ul {padding: 8px 21px 0 0; margin: 0 0 -6px 0; position: relative;}
.view-docoment ul li {list-style: none; padding: 1px 0; margin: 0 0 4px 0; border: 1px solid #fff;}
.view-docoment ul li span {color: #11825c; padding: 0 4px 0 4px;}
.view-docoment ul li.active,.view-docoment ul li:hover {border: 1px solid #f5f5f5; background: #e5e5e5;}
.view-docoment ul li.active span,.view-docoment ul li:hover span {color: #000;}
.view-docoment ul li.active a,.view-docoment ul li:hover a {text-decoration: none; color: #000;}

/* response */
.response-list {padding: 19px 0 0 0;}
.response-list li {border-bottom: 1px solid #b2b2b2; list-style: none; padding: 0 0 17px 0; margin: 0 0 20px 0;}
.response-list li h4 {font-size: 12px; font-weight: normal; color: #0f7653; padding: 0 0 1px 0;}
.response-list li h4 i {font-style: normal; padding: 0 4px 0 3px;}
.response-list li p {line-height: 1.5;}
.response-list li.last {border-bottom: 0;}
.submenu {background: #f2f2f2; position: relative; width: 159px; margin: 12px 0 -4px 6px; position: relative;
-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; behavior: url(js/PIE.php);
}
.submenu ul {padding: 1px 0 0 0;}
.submenu ul li.last {background: none;}
.submenu ul li {background: url(../images/submenu-li-bg.gif) left bottom repeat-x; padding: 8px 0 12px 0; list-style: none;}
.submenu ul li a {padding: 0 0 0 16px;}
.submenu ul li ul {background: url(../images/submenu-li-bg.gif) left top repeat-x; margin: 8px 0 -10px 0; padding: 2px 0 0 0;}
.submenu ul li ul li {background: #e6e6e6; padding: 12px 0 12px 36px;}
.submenu ul li ul li span {color: #4a9d81; padding: 0 3px 0 0;}
.submenu ul li ul li a {padding: 0;}

/* static */
.text-inner {padding: 18px 0 0 0;}
.text-inner p {line-height: 1.5;}
.text-inner p {padding: 0 0 18px 0;}
.text-inner h3 {font-size: 14px; text-transform: uppercase;}
.text-inner .left {margin: 2px 19px 0 0;}
.part-first {padding: 0 0 19px 0;}
.part-second {padding: 19px 0 0 0;}
.gallery {padding: 38px 0 0 0;}
.gallery li {display: inline; list-style: none; margin: 0 10px 0 0;}

/* magazine */
.magazine {padding: 10px 17px 0 17px;}
.magazine h2 {float: left; color: #000; font-size: 18px; font-weight: normal; text-transform: uppercase;}
a.more.format {margin: 3px 0 0 323px; padding: 0 14px;}
a.more.show {margin: 0; padding: 0 14px;}
.slideshow {width: 100%; padding: 14px 0 0 0; overflow: hidden;}
.left-slide {width: 120px; float: left;}
.right-slide {width: 822px; float: right;}
.slider-horizontal {position: relative; overflow: hidden; width: 822px;}
#s2 {width: 703px; min-height: 1045px; overflow: hidden;}
#s2 img {border: 1px solid #f7f7f7;}
#s2 .sl p {color: #888; font-size: 10px; padding: 6px 0 0 0;}
#prev2 {background: url(../images/prew-bg.png) no-repeat; width: 34px; height: 30px; text-indent: -90000px; overflow: hidden; position: absolute; right: 59px; top: 0;}
#prev2:hover {background-position: 0 -60px;}
#next2 {background: url(../images/next-bg.png); width: 34px; height: 30px; text-indent: -90000px; overflow: hidden; position: absolute; right: 0; top: 0;}
#next2:hover {background-position: 0 -60px;}
.photo-outer {padding: 9px 0 0 135px;}
.photo-outer h3 {font-size: 12px; font-weight: normal; color: #000;}
.photo-inner {padding: 35px 0 0 5px;}
.scenes {border: 1px solid #dedede; border-top-color: #f2f2f2; border-bottom-color: #d5d5d5; position: relative; width: 686px; height: 76px; padding: 16px 10px 0 6px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; behavior: url(js/PIE.php);
background: #f9f9f9;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f9f9f9), to(#eaeaea));
background: -webkit-linear-gradient(#f9f9f9, #eaeaea);
background: -moz-linear-gradient(#f9f9f9, #eaeaea);
background: -ms-linear-gradient(#f9f9f9, #eaeaea);
background: -o-linear-gradient(#f9f9f9, #eaeaea);
background: linear-gradient(#f9f9f9, #eaeaea);
-pie-background: linear-gradient(#f9f9f9, #eaeaea);}

#container {width: 686px; height: 60px; position: relative;}	
#carousel {padding: 0 13px 0 38px;}
#carousel a {float: left; margin: 0 39px 0 0;}
#carousel a img {float: left; border: 1px solid #fff;}
#ui-carousel-next, #ui-carousel-prev {width: 9px; height: 18px; background: url(../images/arrow-left.png) no-repeat; display: block; position: absolute; top: 21px; z-index: 100;}
#ui-carousel-next {right: 0; background-image: url(../images/arrow-right.png);}
#ui-carousel-prev {left: 0;}
#ui-carousel-next > span, #ui-carousel-prev > span {display: none;}
.reportag-outer {width: 100%; padding: 72px 0 0 0;}
.rep-left {width: 257px; float: left;}
.rep-right {width: 638px; float: left;}
.rep-left h3 {font-size: 14px; text-transform: uppercase;}
.rep-left ul {padding: 21px 0 0 0;}
.rep-left ul li {list-style: none; padding: 0 0 2px 0;}
.tumbs li {list-style: none; display: inline-block; vertical-align: top; width: 300px; margin: 0 15px 0 0; padding: 0 0 35px 0;}
.tumbs li .tumba img {float: left; position: relative; border: 1px solid #f6f6f6; z-index: 11;
-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; behavior: url(js/PIE.php);}	
.tumbs li .tumba .summa {background: #e5e5e5; width: 56px; float: left; position: relative; left: -2px; z-index: 10; text-align: center; margin: 7px 0 0 0; padding: 2px 0 6px 0;
-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; behavior: url(js/PIE.php);}
.tumbs li .tumba .summa p {font-size: 18px; font-weight: bold; color: #000; padding: 0 0 2px 0;}
.tumbs li .tumba .summa a {color: #000;}
.tumbs li h4 {padding: 10px 0 0 0;}
.tumbs li h4 a {font-size: 12px; font-weight: normal; color: #000;}
.tumbs li .date {color: #a6a6a6; font-size: 10px; display: block; padding: 7px 0 0 0;}
.tumbs li.last {padding-bottom: 0;}


.footer {background: #fff url(../images/footer-bg.jpg) right bottom no-repeat; width: 100%; position: absolute; bottom: 0; height: 171px; z-index: 3;}
.footer-inner {background: url(../images/footer-inner.png) center top no-repeat; width: 100%;}
.footer-inside {width: 976px; margin: 0 auto; height: 171px;}
.footer-left {width: 477px; float: left;}
.footer-right {width: 479px; float: right;}
.footer-left dl {float: left; width: 240px; padding: 0 0 0 20px;}
.footer-left dl.last {width: 200px; padding: 0; float: left;}
.footer-left dl dt {text-transform: uppercase; color: #7c7c7c; padding: 13px 0 16px 0;}
.footer-left dl dd {padding: 0 0 2px 0;}
.footer-search {width: 360px; float: left;}
.footer-search h3 {text-transform: uppercase; color: #7c7c7c; padding: 13px 0 16px 0; font-size: 12px; font-weight: normal;}
.footer-search div.clearfix {background: url(../images/footer-search-bg.png) no-repeat; width: 169px; height: 29px; position: relative; padding: 1px 28px 1px 10px;}
.footer-search div.clearfix .tx-1 {background: none; border: 0; width: 169px; height: 28px; line-height: 28px; color: #a0a0a0; font-size: 12px;}
.footer-search div.clearfix .submit-1 {background: url(../images/submit-1-bg.png) no-repeat; width: 26px; height: 28px; border: 0; cursor: pointer; position: absolute; right: 1px; top: 1px;}
.footer-info {width: 110px; float: left; padding: 44px 0 0 0;}
.footer-info p {padding: 0 0 8px 0;}
.footer-info p a {color: #4c4c4c;}
.footer-info p.copy {padding-bottom: 36px;}