@import "variables";

* {margin: 0; padding: 0; box-sizing: border-box; -webkit-font-smoothing: antialiased; word-wrap: break-word;}
table {border-collapse: collapse; width: 100%;}
input {
	&:focus {outline: none;}
}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
img, table {border: none;}


a {
	&:link,&:visited {color: $link-color; text-decoration: none; transition: all 0.5s ease-in-out;}
	&:hover,&:active {color: $link-color-hover;}
	
}

				
button {outline: none; cursor: pointer;}
svg:not(:root) {overflow: hidden;}


header,footer,article,section,hgroup,nav,menu,aside,figure,main,video,address,picture,figcaption {display:block;}


h1, h2, h3, h4, h5, h6 {margin: 15px 0; font-family: 'Montserrat', sans-serif; font-weight: 700;}
h1 {font-size: 30px;}
h2 {font-size: 24px;}
h3 {font-size: 22px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

ul, ol {list-style:none;}

p {margin: 15px 0; line-height: 1.2;}

img{width:auto\9;height:auto;max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}


::placeholder {color: $placeholder-color;}

input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=search],
textarea {
	background: #fff; 
	font: {
	    family: 'Roboto', sans-serif;
	    size: 14px;
	    weight: 300;
	  }
	border: 1px solid #ccc; 
	padding: 10px 14px; 
	color: $placeholder-color; 
	width: 100%; 
	height: 40px;
	@include border-radius(2px);
}


// [class*="ic-"] {background: url($image_dir + "mx.png") no-repeat;}