$bg-color			:#fff;
$text-color			:#8f8f8f;
$link-color			:#ff4e50;
$link-color-hover	:#f67d7f;
$placeholder-color	:#b4b4b4;
$image_dir: '../img/';

@mixin border-radius($radius) {
          border-radius: $radius;
}
