* {margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased;}
html, body {width:100%; height:100%;}
table {border-collapse: collapse; width: 100%;}
input:focus {outline: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
img, table {border: none;}

a:link, a:visited {text-decoration: none; color: #2c2a31;}
a:hover, a:active {color:#00abd0;}
  				
button {outline: none; cursor: pointer;}
svg:not(:root) {overflow: hidden;}


header,footer,article,section,hgroup,nav,menu,aside,figure,main,video{display:block;}
.floatLeft {float: left;}
.floatRight {float: right;}

h1, h2, h3, h4, h5, h6 {font-weight: normal; margin: 15px 0;}
h1 {font-size: 72px;}
h2 {font-size: 68px;}
h3 {font-size: 52px;}
h4 {font-size: 44px;}
h5 {font-size: 22px;}
h6 {font-size: 16px;}

ul, ol {list-style:none;}

p {margin: 15px 0; line-height: 2.0;}

img{width:auto\9;height:auto;max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}


::-webkit-input-placeholder {
  color: #000;
}
:-moz-placeholder {/* Firefox 18- */
  color: #000;
}
::-moz-placeholder {/* Firefox 19+ */
  color: #000;
}
:-ms-input-placeholder {
  color: #000;
}

input[type=text],input[type=password],input[type=url],input[type=tel],input[type=number],input[type=color],input[type=email],input[type=search],textarea {font-family: 'PFSquareSansPro-Regular'; background: #f3f6f9; border: 0; padding: 10px 5px; font-size: 16px; color: #000; width: 100%;}




@font-face {
  font-family: 'PFSquareSansPro-Regular';
  src: url('../fonts/PFSquareSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFSquareSansPro-Regular.woff') format('woff'),
  url('../fonts/PFSquareSansPro-Regular.ttf') format('truetype'),
  url('../fonts/PFSquareSansPro-Regular.svg#PFSquareSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFSquareSansPro-Thin';
  src: url('../fonts/PFSquareSansPro-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFSquareSansPro-Thin.woff') format('woff'),
  url('../fonts/PFSquareSansPro-Thin.ttf') format('truetype'),
  url('../fonts/PFSquareSansPro-Thin.svg#PFSquareSansPro-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PFSquareSansPro-Bold';
  src: url('../fonts/PFSquareSansPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFSquareSansPro-Bold.woff') format('woff'),
  url('../fonts/PFSquareSansPro-Bold.ttf') format('truetype'),
  url('../fonts/PFSquareSansPro-Bold.svg#PFSquareSansPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFSquareSansPro-Medium';
  src: url('../fonts/PFSquareSansPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFSquareSansPro-Medium.woff') format('woff'),
  url('../fonts/PFSquareSansPro-Medium.ttf') format('truetype'),
  url('../fonts/PFSquareSansPro-Medium.svg#PFSquareSansPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFSquareSansPro-Light';
  src: url('../fonts/PFSquareSansPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFSquareSansPro-Light.woff') format('woff'),
  url('../fonts/PFSquareSansPro-Light.ttf') format('truetype'),
  url('../fonts/PFSquareSansPro-Light.svg#PFSquareSansPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="ic-"] {background: url("../img/mx.png") no-repeat;}

body {background: #f3f6f9; font-family: 'PFSquareSansPro-Thin'; font-size: 20px; color: #555;}

.header {background: #f3f6f9; min-height: 89px; position: fixed; top: 0; left: 0; width: 100%; z-index: 100;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.inner {max-width: 940px; margin: 0 auto; position: relative;}
.inner:after {content: ""; display: table; clear: both;}

.rainbow {height: 3px; overflow: hidden;}
.rainbow:after {content: ""; display: table; clear: both;}
.rainbow span {float: left; width: 25%; height: 100%;}
.rainbow span.blue {background: #00abd0;}
.rainbow span.green {background: #9bdf77;}
.rainbow span.red {background: #f16246;}
.rainbow span.yellow {background: #ffdc35;}
a.logo {background: url("../img/mx.png") no-repeat; width: 106px; height: 99px; text-indent: -9000px; overflow: hidden; position: absolute; top: 18px; left: 50%; margin-left: -53px; z-index: 100;}
.nav {padding: 59px 0 0 0;}
.menu {text-align: center;}
.menu li {display: inline-block; vertical-align: top; margin: 0 25px;}
.menu li a {font-family: 'PFSquareSansPro-Medium'; font-size: 18px; text-transform: uppercase; border-bottom: 3px solid; display: block;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.menu li.li-01 a {border-bottom-color: #00abd0;}
.menu li.li-01 a:hover {color: #00abd0;}
.menu li.li-02 {margin-right: 114px;}
.menu li.li-02 a {border-bottom-color: #9bdf77;}
.menu li.li-02 a:hover {color: #9bdf77;}
.menu li.li-03 {margin-left: 114px;}
.menu li.li-03 a {border-bottom-color: #f16246;}
.menu li.li-03 a:hover {color: #f16246;}
.menu li.li-04 a {border-bottom-color: #ffdc35;}
.menu li.li-04 a:hover {color: #ffdc35;}
.decor {fill: rgba(243, 246, 249, 1);}
.header .decor {bottom: -45px; position: absolute; transform: rotate(180deg);}
.header.sticky {min-height: 59px;}
.header.sticky a.logo {width: 71px; height: 66px; background-size: 400px 400px; margin-left: -36px; top: 12px;}
.header.sticky .nav {padding: 39px 0 0 0;}
.nav {
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}


.main {padding: 90px 0 0 0;}
.slider-outer {z-index: 10; position: relative;}
.owl-demo {width: 100%; position: relative;}
.owl-wrapper-outer {overflow: hidden; position: relative; width: 100%;}
.owl-wrapper:after {content: ""; display: table; clear: both;}
.owl-item {float: left;}
.item {position: relative;}
.owl-pagination {position: absolute; bottom: 10px; z-index: 101; width: 100%; text-align: center;}
.owl-page {display: inline-block; vertical-align: top; margin: 0 2px 0 0; background: #fff; padding: 2px; border-radius: 50%; width: 15px; height: 15px; border: 1px solid #fff; cursor: pointer;}
.owl-page span {display: block; width: 100%; height: 100%; border-radius: 50%; background: #00abd0; overflow:hidden; text-indent: -90000px;}
.owl-page.active span {background: #9bdf77;}
.owl-page.active {border-color: #9bdf77;}
.pic {position: relative;}
.pic img {display: block; width: 100%;}
.pic:before {content: ""; background: url("../img/gridtile.png"); width: 100%; height: 100%; position: absolute; eft: 0; top: 0; z-index: 3;}
.preambule {position: absolute; left: 0; top: 35%; transform: translate(0, -50%); width: 100%; text-align: center; z-index: 5; padding: 30px 0 0 0;}
.preambule h2 {font-family: 'PFSquareSansPro-Bold'; text-transform: uppercase; font-size: 72px; color: #fff; margin: 0 0 24px 0;}
.decor-bottom {fill: rgba(243, 246, 249, 1);}
.decor-bottom {bottom: -1px; left: 0; position: absolute; z-index: 99;}
.slider-outer::before {border-color: transparent transparent #f3f6f9; border-style: solid; border-width: 70px 137px; bottom: 0; content: ""; height: 0; left: 50%; position: absolute; transform: translate(-50%, 0px); width: 0; z-index: 99;}
.slider-outer::after {border-color: #f3f6f9 transparent transparent; border-style: solid; border-width: 70px 137px; top: 15px; content: ""; height: 0; left: 50%; position: absolute; transform: translate(-50%, 0px); width: 0; z-index: 99;}
.ic-diamond {width: 170px; height: 37px; background-position: -200px 0; display: block; margin: 0 auto;}
.content {padding: 97px 0 0 0;}
.text {text-align: center; padding: 0 8% 60px 8%;}
.content h3 {font-family: 'PFSquareSansPro-Thin'; margin: 0 0 13px 0; color: #13151c; text-transform: uppercase;}
.ic-diamond-small {width: 96px; height: 22px; background-position: -400px 0; display: block; margin: 0 auto;}
.block-two {position: relative; background: url("../img/block-two-bg.jpg") center center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 632px;
}
.block-two .rainbow {width: 100%; position: absolute; top: 0; left: 0;}
.inner-text {text-align: center; padding: 189px 0 0 0;}
.inner-text h2 {font-family: 'PFSquareSansPro-Regular'; text-transform: uppercase; color: #fff; margin: 0 0 14px 0;}
.inner-text h2 span {background: #000; opacity: 0.8; padding: 0 5px;}
.inner-text .ic-diamond {background-position: -200px -40px; height: 44px;}
.block-three {padding: 84px 0 41px 0;}
.city {width: 40.5%; float: left; padding: 90px 0 0 2.12%;}
.box-text {float: right; width: 59.5%; padding: 0 4.9% 0 0;}
.ic-diamond-city {width: 58px; height: 22px; background-position: -500px 0; display: block;}
.box-text p {padding: 0 0 25px 0;}
.block-four {position: relative; background: url("../img/block-four-bg.jpg") center center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 682px;
}
.block-four .rainbow {width: 100%; position: absolute; bottom: 0; left: 0;}
.decor-top {fill: rgba(243, 246, 249, 1);}
.decor-top {left: 0; position: absolute; top: -1px; transform: rotate(180deg); z-index: 99;}
.block-four .inner-text {padding-top: 242px;}
.block-five {padding: 95px 0 41px 0;}
.block-five-head {text-align: center; padding: 0 0 34px 0;}
.block-five-head h3 {margin-bottom: 9px;}
.block-five-head p {margin: 0 0 10px 0;}
.block-five-body {position: relative;}
.table-accardion tr.rainbow-tr td {padding: 0; border: 0;}
.table-accardion tr.rainbow-tr .rainbow {margin-bottom: -1px;}

.table-accardion {word-wrap: break-word;}
.coll-1 {width: 26.4%;}
.coll-2 {width: 22.4%;}
.coll-3 {width: 16.3%;}
.coll-4 {width: 18.5%;}
.table-accardion tr th {background: #13151c; border-left: 1px solid #13151c; color: #fff; padding: 17px 0 12px 0; font-size: 22px; font-weight: normal; font-family: 'PFSquareSansPro-Light'; text-align: left;}
.table-accardion tr th:first-child {padding-left: 2%; border-top-left-radius: 5px; border: none;}
.table-accardion tr th:last-child {border-top-right-radius: 5px;}
.table-accardion td {padding: 19px 0 26px 0; font-size: 22px; color: #555; border-top: 1px solid #d6d6d6;}
.table-accardion td:first-child {padding-left: 2%;}
.table-accardion tr.curr td {background: #00abd0; color: #fff;}
.table-accardion tr.curr a.accordion-link {color: #fff;}
.table-accardion tr.row-hide td {padding: 0 2%; border: 0; background: #00abd0; color: #fff;}
a.accordion-link {color: #555; position: relative; padding: 0 0 0 25px;}
.fa-arrow-circle-o-down {position: absolute; left: 0; top: 2px;}
.table-accardion tr.curr a.accordion-link .fa-arrow-circle-o-down {color: #fff; transform: rotate(180deg);}
button.btn {background: #f3f6f9; color: #13151c; font-family: 'PFSquareSansPro-Bold'; font-size: 16px; text-transform: uppercase; border: 1px solid #13151c; height: 39px; padding: 0 20px;}
button.btn:hover,.table-accardion tr.curr button.btn {color: #00abd0; border-color: #00abd0;}
.form-wrap {padding: 20px 0 53px 0;}
.form-wrap:after {content: ""; display: table; clear: both;}
.form-text {width: 55.5%; float: left;}
.form {width: 40.4%; float: right; padding: 21px 0 0 0;}
.ic-diamond-white {width: 56px; height: 22px; display: block; background-position: -100px -100px;}
.entry {padding: 30px 0 0 0;}
.entry h4 {color: #fff; font-family: 'PFSquareSansPro-Light'; color: #fff; margin: 0 0 6px 0;}
.entry p {margin: 12px 0;}
.inn {padding: 0 0 37px 0;}
.inn label {display: block; font-family: 'PFSquareSansPro-Regular'; padding: 0 0 15px 0;}
.inn textarea {resize: vertical;}
.custom-file-upload {display: block; margin: 0;}
.custom-file-upload-hidden {display: none; visibility: hidden; position: absolute; left: -9999px;}
.custom-file-upload label {display: block;}
.file-upload-wrapper {position: relative; height: 39px; overflow: hidden;}
.file-upload-input {color: #fff!important; font-size: 18px!important; padding: 5px 0!important; background: none!important; font-family: 'PFSquareSansPro-Thin'!important; text-align: right; position: relative; z-index: 2;}
.file-upload-input:hover,.file-upload-input:focus {outline: none;}
.file-upload-button {cursor: pointer; display: inline-block; color: #fff; font-size: 16px; font-family: 'PFSquareSansPro-Bold'; text-transform: uppercase; width: 134px; text-align: center; height: 39px; border: 1px solid #fff; background: #00abd0; position: absolute; left: 0; top: 0; z-index: 3;}
.file-upload-button:hover {background: #f5ce13;}
.send {background: #f5ce13; color: #fff; border: 0; font-family: 'PFSquareSansPro-Bold'; font-size: 26px; text-transform: uppercase; height: 62px; padding: 0 34px;}
.send:hover {background: #c8a810;}

.block-six {position: relative; background: url("../img/block-six-bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 781px;}
.block-six h3 {color: #fff; text-align: center; padding: 84px 0 0 0; margin-bottom: 9px;}
.ic-diamond-small-white {width: 96px; height: 22px; background-position: -200px -100px; display: block; margin: 0 auto;}
.testimonials-list {text-align: center; padding: 45px 0;}
.testimonials-list li {display: inline-block; vertical-align: top; margin: 10px; width: 284px; cursor: pointer;}
.testimonials-list li.m-01 .popap {background: #00abd0;}
.testimonials-list li.m-02 .popap {background: #f16246;}
.testimonials-list li.m-03 .popap {background: #62b247;}
.inside {position: relative; text-align: left;}
.inside figure {position: relative; z-index: 1;}
.popap {position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 23px 5% 0 7%; z-index: 2; display: none;}
.popap p {margin: 0; color: #fff; font-size: 16px; font-weight: bold; line-height: 1.5;}
.testimonials-list li h5 {color: #fff; margin: 37px 0 0 0; font-family: 'PFSquareSansPro-Regular';}
.testimonials-list li h5 i {font-style: normal; font-family: 'PFSquareSansPro-Thin'; color: #ffdc35; padding: 0 0 0 4px;}
.block-seven {padding: 56px 0 0 0;}
.block-seven h3 {text-align: center; margin-bottom: 9px;}
.contact-list {text-align: center; padding: 29px 0 35px 0;}
.contact-list li {display: inline-block; vertical-align: top; text-align: left; position: relative;}
.contact-list li:first-child {padding-left: 19px; width: 294px;}
.contact-list li p {margin: 0; line-height: 1.5;}
.contact-list li p b {font-family: 'PFSquareSansPro-Regular'; color: #13151c; padding: 0 6px 0 0;}
.fa-map-marker {position: absolute; left: 0; top: 6px; color: #13151c;}
.contact-list li.second {width: 225px;}
.map-wrap {position: relative; min-height: 627px;}
.map-wrap .decor {top: -1px; position: absolute; transform: rotate(180deg); z-index: 99;}
.map {height: 100%; width: 100%; position: absolute; left: 0; top: 0; z-index: 1;}
#map {height: 100%; -webkit-filter: grayscale(1); filter: grayscale(1);}
.overlay {background: url("../img/mx.png") -400px -100px no-repeat; width: 47px; height: 67px;}
.map-wrap::before {border-color: transparent transparent #f3f6f9; border-style: solid; border-width: 70px 137px; bottom: 0; content: ""; height: 0; left: 50%; position: absolute; transform: translate(-50%, 0px); width: 0; z-index: 99;}
.map-wrap::after {border-color: #f3f6f9 transparent transparent; border-style: solid; border-width: 70px 137px; top: 15px; content: ""; height: 0; left: 50%; position: absolute; transform: translate(-50%, 0px); width: 0; z-index: 99;}
.finish {text-align: center; color: #fff;}
.finish h3 {margin: 0; padding: 56px 0 0 0; color: #fff;}
.finish p {margin: 4px 0 0 0!important; font-size: 26px;}



/* responsive menu */
.slicknav_menu {display: none;}
.slicknav_btn {background: url("../img/mx.png") -200px -224px no-repeat; width: 29px; height: 24px; position: relative; display: block; vertical-align: middle; float: right; cursor: pointer; z-index: 1;}
.slicknav_btn.slicknav_open {background-position: -200px -200px;}
.slicknav_menu .slicknav_menutxt {display: none;}
.slicknav_menu .slicknav_icon {display: none;}
.slicknav_menu .slicknav_no-text {margin: 0;}
.slicknav_menu .slicknav_icon-bar {display: none;}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {display: none;}
.slicknav_nav {clear: both}
.slicknav_nav ul,
.slicknav_nav li {display: block;}
.slicknav_nav .slicknav_arrow {font-size: 0.8em; margin: 0 0 0 0.4em;}
.slicknav_nav .slicknav_item {cursor: pointer;}
.slicknav_nav .slicknav_row {display: block;}
.slicknav_nav a {display: block}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {display: inline}
.slicknav_menu:before,
.slicknav_menu:after {content: " "; display: table;}
.slicknav_menu:after {clear: both}
.slicknav_menu {position: fixed; top: 12px; right: 12px; z-index: 100001; width: 29px;}
.slicknav_nav {padding: 35px 0 10px 0; background: #fff; position: fixed; top: 0px; left: 0; width: 100%;}
.slicknav_nav, .slicknav_nav ul {overflow:hidden;}
.slicknav_nav ul {padding:0; margin:0 0 0 20px;}
.slicknav_nav .slicknav_row {padding:5px 10px; margin:2px 5px;}
.slicknav_nav a{padding: 10px; margin:2px 5px; text-decoration:none; font-size: 18px; color: #000; text-transform: uppercase; border-bottom: 1px solid #ddd;}
.slicknav_nav .slicknav_row:hover {background:#ccc; color:#fff;}
.slicknav_nav a:hover{background:#ccc; color:#fff;}
.slicknav_nav .slicknav_txtnode {margin-left:15px;}


.footer {padding: 30px 0 85px 0;}
.copy {margin: 0; float: left; color: #838383; font-size: 18px;}
.social {float: right; padding: 2px 0 0 0;}
.social dt {float: left; font-size: 18px; padding: 4px 9px 0 0;}
.social dd {float: left; padding: 0 0 0 10px;}
.social dd span {width: 30px; height: 29px; display: block;}
.social dd span.ic-twitter {background-position: 0 -200px;}
.social dd span.ic-linkedin {background-position: -40px -200px;}
.social dd span.ic-facebook {background-position: -81px -200px;}


.filters-wrap {border-top: 3px solid #dcdfe2; text-align: center; padding: 27px 0 6px 0; margin: 43px 0 -21px 0;}
.filter-step_1 {display: inline-block; vertical-align: top; margin: 0 0 10px 0;}
.filter-step_2 {display: inline-block; vertical-align: top; margin: 0 -4px 10px 0;}
.filters-wrap label {display: inline-block; vertical-align: top; padding: 3px 0 0 0; color: #000; font-size: 23px; font-family: 'PFSquareSansPro-Regular';}
.select-outer {display: inline-block; vertical-align: top; width: 200px; position: relative; margin: 0 14px; text-align: left; font-family: 'PFSquareSansPro-Regular';}



/* responsive */
@media only screen and (max-width: 1199px) {
  .preambule h2 {font-size: 48px; margin: 0;}
  .inner-text h2 {font-size: 48px; margin: 0;}

}

@media only screen and (max-width: 991px) {
  .menu li {margin: 0 15px;}
  .city {padding: 70px 2% 0 2%;}
  .inner {padding: 0 10px;}
  button.btn {font-size: 12px;}
  .table-accardion td {font-size: 16px;}
  .table-accardion tr th {font-size: 16px;}
  .fa-arrow-circle-o-down {top: 1px;}
  .preambule {top: 40%;}
  .preambule h2 {font-size: 28px;}
  .nav {padding: 49px 0 0 0;}


}


/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .header {min-height: 59px;}
  .main {padding: 60px 0 0 0;}
  .slicknav_menu {display: block;}
  .nav {display: none;}
  .slider-outer::after {display: none;}
  .preambule h2 {font-size: 24px;}
  .preambule {padding: 0;}
  .preambule .ic-diamond {display: none;}
  a.logo,.header.sticky a.logo {width: 53px; height: 50px; background-size: 300px 300px; margin-left: -27px; top: 25px;}
  .content {padding: 20px 0 0 0;}
  .block-three {padding: 30px 0 20px 0;}
  .city {padding: 20px 0 0 0; float: none; clear: both; width: 100%; text-align: center;}
  .box-text {padding: 20px 0 0 0; float: none; clear: both; width: 100%;}
  .form-text {float: none; clear: both; width: 100%;}
  .form {float: none; clear: both; width: 100%;}
  .entry {padding: 15px 0 0 0;}
  .entry h4 {font-size: 20px;}
  .file-upload-input {font-size: 14px!important;}
  .inn {padding: 0 0 17px 0;}
  .content h3 {font-size: 36px;}
  .contact-list li {width: 100%; margin-bottom: 15px;}
  .contact-list li:first-child {width: 100%;}
  .contact-list li.second {width: 100%;}
  .map-wrap::after {display: none;}
  .copy {float: none; clear: both; width: 100%; margin-bottom: 15px; text-align: center;}
  .social {float: none; clear: both; width: 100%; text-align: center;}
  .social dt {float: none; display: inline-block; vertical-align: top;}
  .social dd {float: none; display: inline-block; vertical-align: top;}
  .map-wrap {min-height: 314px;}
  .block-two,.block-four {background-attachment: inherit;}
  .testimonials-list li {margin-left: 0; margin-right: 0;}


  /* Force table to not be like tables anymore */
  .table-accardion {table-layout: fixed;}
  .table-accardion thead,.table-accardion tbody,.table-accardion th,.table-accardion td,.table-accardion tr {display: block;}
  /* Hide table headers (but not display: none;, for accessibility) */
  .table-accardion {border-top: 1px solid #ccc; font-size: 15px;}
  .table-accardion thead tr,.table-accardion colgroup {position: absolute; top: -9999px; left: -9999px; display: none;}
  .table-accardion tr {border: 1px solid #ccc; border-bottom: 5px solid #f8f8f8; border-top: 0;}
  .table-accardion td {/* Behave like a "row" */ border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%!important; padding-right: 2%!important; font-size: 14px; width: 100%;}
  .table-accardion td:before {/* Now like a table header */ position: absolute;/* Top/left values mimic padding */ top: 18px; left: 6px; width: 45%; white-space: nowrap;}
  .table-accardion tr.row-accordion td:nth-of-type(1):before {content: "Title";}
  .table-accardion tr.row-accordion td:nth-of-type(2):before {content: "Department";}
  .table-accardion tr.row-accordion td:nth-of-type(3):before {content: "Location";}
  .table-accardion tr.row-accordion td:nth-of-type(4):before {content: "Date";}
  .table-accardion tr.row-accordion td:nth-of-type(5):before {content: "";}
  .table-accardion tr.row-hide td {padding: 0 2%!important;}
  .table-accardion tr.rainbow-tr td {display: none;}

    .filters-wrap label {font-size: 16px;}
}

@media only screen and (max-width: 480px) {
  .preambule {display: none;}
   .filters-wrap label {padding: 0;}
}


/* retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
  a.logo {background: url("../img/mx@2x.png") no-repeat; background-size: 300px 300px;}
  .header.sticky a.logo {background-size: 200px 200px;}
  .social dd span {background: url("../img/mx@2x.png") no-repeat; background-size: 300px 300px;}
  .social dd span.ic-twitter {background-position: 0 -150px;}
  .social dd span.ic-linkedin {background-position: -50px -150px;}
  .social dd span.ic-facebook {background-position: -100px -150px;}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 767px),
only screen and (min--moz-device-pixel-ratio: 1.5) and (max-width: 767px),
only screen and (min-device-pixel-ratio: 1.5) and (max-width: 767px){

    a.logo,.header.sticky a.logo {background-size: 150px 150px;}

}







