/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
* {padding: 0; margin :0;}
html {height: 100%;}
body {background: #fbfdff; font: 11px Arial, Helvetica, sans-serif; color: #52697b;}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}


/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/


	.shadow-left {background: url(../images/shadow-left.png) center top repeat-x; height: 761px; position: absolute; width: 50%; left: 0; top: 0; z-index: 1;}
	.shadow-right {background: url(../images/shadow-right.png) center top repeat-x; height: 761px; position: absolute; width: 50%; right: 0; top: 0; z-index: 1;}
	.body-bg1 {background: url(../images/body-bg1.jpg) center top no-repeat; position: relative; z-index: 10;}
	.body-bg2 {background: url(../images/body-bg2.jpg) center 190px no-repeat;}
	.body-bg3 {background: url(../images/body-bg3.jpg) center 380px no-repeat;}
	.body-bg4 {background: url(../images/body-bg4.jpg) center 570px no-repeat; padding: 38px 0 0 0;}
	
		.main {width: 801px; margin: 0 auto; background: url(../images/main-bg.png) no-repeat; padding: 5px 0 0 0;}
		.main-bg {background: url(../images/main-bg1.png) repeat-y; width: 801px;}
			
			.head {width: 801px; height: 95px; position: relative;}
				.head .logo {padding: 13px 0 0 19px; display: block;}
				.head .description {color: #445c6c; font: Tahoma, Geneva, sans-serif; position: absolute; left: 102px; top: 52px;}
				.head .block-bg1 {background: url(../images/block-bg1.png) no-repeat; width: 555px; padding: 5px 0 0 0; position: absolute; right: 0; top: -5px;}
				.head .block-bg2 {background: url(../images/block-bg2.png) left bottom no-repeat; width: 555px; padding: 0 0 2px 0;}
				.head .block-bg3 {background: url(../images/block-bg3.png) repeat-y; width: 553px; padding: 0 1px;}
				.head .block-bg4 {background: url(../images/block-bg4.png) left bottom repeat-x; width: 553px; padding-bottom: 17px;}
				.head .block-bg4 h2 {font: bold 14px Tahoma, Geneva, sans-serif; color: #225b83; padding: 9px 0 7px 18px;}
				.head .block-bg4 table {margin: 0 0 0 20px;}
				.head .block-bg4 table tr td {font: 11px Tahoma, Geneva, sans-serif; color: #303132; padding-bottom: 1px;}
				.head .block-bg4 table tr td.td {text-align: right; padding-right: 50px;}
				.head .block-bg4 table tr td a {color: #014d7e;}
				
			.content {width: 799px; padding: 0 1px 76px 1px;}
				.left-column {width: 246px; float: left;}
				.left-column h3 {font: bold 20px Tahoma, Geneva, sans-serif; color: #2db1e1; padding: 16px 0 4px 25px;}
				.sidebar {padding: 0 0 15px 0;}
				.sidebar ul.menu {background: url(../images/menu-bg.gif) 32px bottom no-repeat; padding: 7px 0 11px 0;}
				.sidebar ul li {padding-bottom: 3px;}
				.sidebar ul li a {font-size: 12px; color: #014d7f; text-decoration: none; padding: 0 0 0 75px;}
				.sidebar ul li a:hover {text-decoration: underline;}
				.sidebar ul li a.current {background: url(../images/arrow.gif) 27px 5px no-repeat; padding: 0 0 0 40px;}
				.stats-table-bg1 {background: url(../images/stats-table-bg1.gif) no-repeat; padding: 4px 0 0 0;}
				.stats-table-bg2 {background: url(../images/stats-table-bg2.gif) left bottom no-repeat; padding: 0 0 4px 0;}
				.stats-table-bg3 {background: url(../images/stats-table-bg3.gif) repeat-y; width: 194px; padding: 1px 0 15px 0;}
				.stats {padding: 19px 0 0 26px;}
				.stats h3 {padding: 0 0 9px 0;}
				.stats table tr td {font: 11px Tahoma, Geneva, sans-serif; color: #303132; padding-bottom: 4px; padding-left: 14px; padding-top: 4px;}
				.stats table tr.odd td {background: #eff6fb; opacity: 0.8; filter: alpha(opacity = 80);}
				.stats table tr td.num {padding-right: 14px; text-align: right; padding-left: 0;}
				
				
				.right-column {width: 553px; float: left;}
				.box {width: 533px; margin: 20px 0 0 0;}
				.first-box {position: relative; z-index: 100;}
				.box-title {background: url(../images/box-title-bg.png) no-repeat; width: 533px; height: 47px;}
				.box-title h3 {background: url(../images/h3-bg.gif) 18px 18px no-repeat; padding: 12px 0 0 40px; color: #fff; text-transform: uppercase; font-size: 18px;}
				.box-inner-bg1 {background: url(../images/box-inner-bg1.png) left bottom no-repeat; padding: 0 0 4px 0;}
				.box-inner-bg2 {background: url(../images/box-inner-bg2.png) repeat-y; padding: 0 1px;}
				.box-inner-bg3 {background: url(../images/box-inner-bg3.png) left bottom repeat-x; width: 531px;}
				.box-inner-bg3 form div {border-bottom: 1px solid #e4e4e4; padding: 4px 0 5px 0;}
				.box-inner-bg3 form div label {color: #014d7e; float: left; width: 169px; padding: 6px 0 0 17px;}
				.box-inner-bg3 form div span {font-size: 12px; font-weight: bold; color: #225b83; padding: 6px 0 0 0; float: left;}
				.box-inner-bg3 form div input {background: url(../images/input-bg.png) no-repeat; width: 321px; height: 27px; padding: 0 7px; border: 0; font: 11px Arial, Helvetica, sans-serif; color: #347199; line-height: 27px;}
				*html .box-inner-bg3 form div input {margin: 0 0 0 -3px;}
				.box-inner-bg3 form div.first {padding: 4px 0 11px 0;}
				.box-inner-bg3 form div.second {padding-top: 6px;}
				.box-inner-bg3 form input.submit {background: url(../images/submit-bg.png) no-repeat; width: 73px; height: 23px; border: 0; float: right; margin: 5px 10px 0 0; cursor: pointer;}
				.box-inner-bg3 form input.submit-1 {background: url(../images/submit-bg1.png) no-repeat;}
				.box-inner-bg3 form .lineForm {width: 335px; float: left; border: 0; padding: 0;}
				.box-inner-bg3 form .lineForm div {border: 0; padding: 0;}
				.box-inner-bg3 form .lineForm span {font-weight: normal; float: none;}
				.box-inner-bg3 form div textarea {background: url(../images/textarea-bg.png) no-repeat; width: 325px; height: 153px; border: 0; float: left; overflow: hidden; padding: 5px; font: 11px Arial, Helvetica, sans-serif; color: #347199;}
				
				.text {padding: 18px 13px 5px 18px; border-bottom: 1px solid #e4e4e4;}
				.text p {font-size: 12px; color: #213648; padding: 0 0 13px 0;}
				.box table {width: 533px;}
				.box table tr th {background: url(../images/th-bg.png) repeat-x; font-weight: normal; color: #d0e1ee; border-right: 1px solid #dbebf6; padding: 5px 0 4px 0;}
				.box table tr td {border-right: 1px solid #dbebf6; text-align: center; color: #303132; padding: 4px 0 5px 0;}
				.no-border {border-right: 0!important;}
				.box table tr.odd td {background: #eff6fb;}
				
				.container {padding: 22px 15px 18px 17px; width: 499px;}
				.container h4 {background: url(../images/container-h4-bg.gif) left 5px no-repeat; color: #97be54; font-size: 11px; font-weight: bold; padding: 0 0 0 17px;}
				.container p {padding: 2px 0 18px 0;}
				
				.login {background: url(../images/login-bg.png) no-repeat; width: 802px; height: 500px; margin: 0 auto; position: relative; top: 38px;}
				.log {margin: 0 auto -20px auto; display: block; position: relative; z-index: 100;}
				.form {background: url(../images/form-bg.png) no-repeat; width: 389px; height: 253px; margin: 0 auto;}
				.form h2 {font-size: 18px; text-transform: uppercase; text-align: center; font-weight: bold; color: #fff; padding: 15px 0 15px 0;}
				.form form div {padding: 0 0 28px 0;}
				.form form {padding: 17px 0 0 29px;}
				.form form div label {font-size: 15px; color: #000; font-weight: bold; float: left; width: 109px;}
				.form form div .in {background: url(../images/in-bg.png) no-repeat; width: 212px; height: 32px; line-height: 32px; border: 0; float: left; font-size: 15px; color: #125987; font-weight: bold; padding: 0 5px;}
				.no-padding {padding-bottom: 0!important;}
				.form form div .sub {background: url(../images/submit-bg2.png) no-repeat; width: 231px; height: 52px; border: 0; cursor: pointer;}
				.form form div .check {float: left; padding: 19px 0 0 0;}
				.form form div .check span {padding: 0 19px 0 7px; color: #383838;}
				.foo {padding: 67px 0 0 0; color: #fff;}
				.foo h3 {float: left; font-size: 20px; font-weight: normal; padding: 0 22px 0 207px;}
				.foo table tr td {font-family: Tahoma, Geneva, sans-serif; padding: 0 0 2px 0;}
				.foo table tr td a {color: #fff;}
				.foo table tr td p {padding: 0 0 3px 16px;}
				.foo table tr td p.ic01 {background: url(../images/icon1.gif) left 3px no-repeat;}
				.foo table tr td p.ic02 {background: url(../images/icon2.gif) no-repeat;}s
				.foo table tr td p.ic03 {background: url(../images/icon3.gif) no-repeat; padding-left: 19px;}
				.foo table tr td p.ic04 {background: url(../images/icon4.png) no-repeat; padding-left: 19px;}
				
			.footer {width: 801px; margin: 0 auto;}
				.line {float: right; width: 554px; height: 6px; background: #c5e2fd; overflow: hidden;}
				.footer-inner {background: url(../images/footer-inner-bg.png) no-repeat; width: 801px; height: 71px; text-align: center;}
				.footer-inner ul {padding: 25px 0 0 0;}
				.footer-inner ul li {display: inline;}
				.footer-inner ul li a {color: #fff;}
				.footer-inner ul li img {margin: 0 6px 0 8px; position: relative; top: -2px;}