* {padding: 0; margin :0;}
html {height:100%;}
body {background: #fff; font: 12px Arial, Helvetica, sans-serif; color: #101614; border-top: 18px solid #262626; height: auto !important; height: 100%; min-height: 100%; position: relative;}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}


/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/


		.wrapper {width: 1000px; margin: 0 auto; padding-bottom: 200px;}
		.wrapper:after {content: "."; display: block; height: 0; visibility: hidden; clear: both;}
			
			.head {position: relative; min-height: 208px; _height:auto !important; _height:208px;}
			.head .uzor {position: absolute; top: -18px; left: 72px;}
			.head .logo {float: left;}
			.head .nav {float: left; padding: 18px 0 0 29px;}
			.head .nav li {padding: 0 0 8px 0;}
			.head .nav li a {font-size: 20px; font-style: italic; color: #262626; border-bottom: 1px dashed #262626; text-decoration: none;}
			.head .nav li a:hover {border-bottom: 1px dashed #fff;}
			.head .nav li.l01 {padding-left: 13px;}
			.head .nav li.l02 {padding-left: 6px;}
			.head .nav li.activ a {color: #969696; border-bottom: 1px dashed #969696;}
			.head .nav li.activ a:hover {border-bottom: 1px dashed #fff;}
			.head .icons {float: left; padding: 41px 0 0 166px;}
			.head .icons li {background: url(../images/icons-li-bg.gif) no-repeat; width: 39px; height: 40px; text-align: center; float: left; margin: 0 21px 0 0;}
			.head .icons li a {text-decoration: none; display: block; padding: 14px 0 0 0;}
			.head .icons li.cur {background: url(../images/icons-li-activ-bg.gif) no-repeat;}
			.head .contacts {float: right; padding: 0 25px 0 0;}
			.head .contacts p {font-size: 20px; color: #959595; padding: 0 0 2px 0;}
			.head .contacts p span {font-size: 30px; color: #ff7f00; position: relative; top: 7px; padding: 0 0 0 10px;}
			.head .contacts a {font-size: 20px; color: #ff7f00; text-decoration: none;}
			.head .preambule {width: 100%; float: left; margin: -84px 0 0 0;}
			.head .preambule .menu {float: right; margin: 0 0 -5px 0; position: relative; z-index: 10; padding: 0 42px 0 0;}
			.head .preambule .menu li {float: left; height: 35px; width: 180px; text-align: center; padding: 4px 0 0 0;}
			.head .preambule .menu li a {font-size: 20px; text-decoration: none; color: #fff;}
			.head .preambule .menu li a:hover {text-decoration: underline;}
			.head .preambule .menu li.m01 {background: url(../images/m01.gif) no-repeat; width: 188px;}
			.head .preambule .menu li.m02 {background: url(../images/m02.gif) no-repeat;}
			.head .preambule .menu li.m03 {background: url(../images/m03.gif) no-repeat;}
			.head .preambule .menu li.m04 {background: url(../images/m04.gif) no-repeat; width: 177px;}
			.head .slider-wrapp {background: url(../images/slider-wrapp-bg.png) no-repeat; width: 999px; height: 313px; position: relative; z-index: 11;}
			.head .foto-slider {position: relative; padding: 0 54px 0 108px; height: 313px; overflow: hidden;}
			.head .next {background:url(../images/next-bg.png) no-repeat; width: 54px; height: 48px; border: 0; padding: 0; cursor: pointer; position: absolute; right: 0; top: 122px;}
			.head .prew {background: url(../images/prew-bg.png) no-repeat; width: 53px; height: 48px; border: 0; padding: 0; cursor: pointer; position: absolute; left: 0; top: 122px;}
			.head .foto-slider-inner .slide {width:100% !important; overflow: hidden;}
			.head .slide ul li {float: left;}
			.head .slide ul li .left-inner {width: 365px; float: left; padding: 37px 82px 0 0;}
			.head .slide ul li .left-inner h3 a {font-size: 36px; font-style: italic; color: #ffc100;}
			.head .slide ul li .left-inner p {color: #fff; padding: 9px 0 0 0;}
			.head .slide ul li .right-inner {width: 370px; float: left; padding: 10px 0 0 20px;}
			
			.content {width: 100%; padding: 17px 0 0 0;}
			.content-second {padding: 0;}				
				.left-column {width: 604px; float: left; padding: 0 0 0 21px;}
				.left-column .about {padding-bottom: 9px;}
				.left-column h1 {font-size: 30px; color: #ff7f00; padding: 0 0 13px 0;}
				.left-column p {line-height: 1.2; padding: 0 0 14px 0;}
				.left-column .outside h2 {font-size: 30px; color: #ff7f00; padding: 0 0 10px 0;}
				.left-column .box-inner {padding-left: 0;}
				.inside {padding: 0 0 7px 0;}
				.inside img {float: left; margin: 4px 11px 0 0;}
				.inside h3 {padding: 0 0 11px 0;}
				.inside h3 a {font-size: 16px; color: #ff7f00;}
				.inside p {color: #727272; padding: 0;}
				.left-column .text {padding: 0 15px 0 0;}
				.left-column .text p a {color: #ff7f00;}
				.left-column .text p strong {font-size: 16px; color: #ff7f00; font-weight: normal;}
				.left-column .text h4 {font-size: 16px; color: #ff7f00; font-weight: normal; padding: 0 0 13px 0;}

				.right-column {width: 375px; float: left;}
				.right-column h2 {font-size: 30px; color: #ff7f00; padding: 0 0 5px 12px;}
				.box-bg1 {background: url(../images/box-bg1.gif) no-repeat; padding: 10px 0 0 0;}
				.box-bg2 {background: url(../images/box-bg2.gif) left bottom no-repeat; padding: 0 0 10px 0;}
				.box-bg3 {background: url(../images/box-bg3.gif) repeat-y; width: 375px;}
				.box-bg3 .inside {padding: 0 3px 10px 13px;}
				.box-inner {padding: 0 10px 8px 13px;}
				.box-inner h4 {padding: 0 0 9px 0;}
				.box-inner h4 a {font-size: 16px; color: #101514; border-bottom: 1px dotted #101514; text-decoration: none;}
				.box-inner h4 a:hover {color: #adadad; border-bottom: 1px dotted #adadad;}
				.all {text-align: right; color: #ff7f00; display: block; padding: 1px 8px 0 0;}
				.last {padding-bottom: 0;}
				
				.pagenavi {text-align: center; padding: 7px 0 0 0;}
				.pagenavi ul li {display: inline;}
				.pagenavi ul li span {color: #ff7f00; padding: 0 0 0 2px;}
				.pagenavi ul li a {text-decoration: none; color: #ff7f00;}
				
		
		.footer	 {background: #101614; position: absolute; width: 100%; left: 0; bottom: 0; height: 156px;}	
			.footer-inner {width: 1000px; margin: 0 auto; position: relative;}
			.uzor-bg1 {position: absolute; top: 0; right: 6px;}
			.footer-left {padding: 39px 0 0 14px; width: 260px; float: left;}
			.footer-left a {color: #ffc100;}
			.footer-left .info {padding: 13px 0 0 0;}
			.footer-left .info p {color: #fff;}
			.footer-left .info p a {text-decoration: none; color: #fff;}
			.footer-left .info p a:hover {text-decoration: underline;}
			.footer-right {float: right; padding: 89px 143px 0 0;}
			.footer-right a {color: #fff;}