.block-left {display: inline;}
.block-right {display: inline;}
.catalog li {display: inline;}
.catalog li .img {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
.catalog li .i {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
.zoom {bottom: -2px;} 
.basket-inner-left {display: inline;}
.basket-inner-right {display: inline;}
.small-photo li a {display: block;}
.other-inner ul li {display: inline;}
.other-inner ul li a {display: block;}
.other-inner ul li a img {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
.small-photo li a img {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}