/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
* {padding: 0; margin :0;}
html, body {width:100%;height:100%;}
body {background: #fff; font: 13px Tahoma, Geneva, sans-serif; color: #544f43;}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}
/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/


.wrapper {width: 100%; min-width: 1000px; position:relative; min-height: 100%; height: auto !important; height: 100%;}
.wrapper:after {content: "."; display: block; height: 0; visibility: hidden; clear: both;}
	.head {background: url(../images/head-bg.png) repeat-x; height: 149px; padding: 9px 0 0 0; position: relative;}
		.head-left {width: 355px; float: left;}
		.head-left .icons {float: right; padding: 9px 8px 0 0;}
		.head-left .icons li {float: left; padding: 0 20px 0 0;}
		.head-left #logo {position: relative; padding: 10px 0 0 16px; clear: right;}
		.head-left #logo .desc {position: absolute; left: 103px; top: 76px;}
		.head-left #logo .desc span {color: #7e7e7f; font-size: 10px; text-transform: uppercase;}
		.head-right {width: 645px; float: right;}
		.head-right .form {background: url(../images/form-bg.png) no-repeat; padding: 0 0 0 3px; width: 642px; float: right;}
		.head-right .form-inner {background: url(../images/form-inner.png) repeat-x; height: 32px; padding: 0 0 0 1px;}
		.head-right .form-inner .tx {background: #fff; width: 128px; height: 18px; line-height: 18px; float: left; border: 0; margin: 0 5px 0 10px; color: #8a8e91; font-size: 13px; padding: 0 0 0 7px;}
		.head-right .form-inner .submit {background: url(../images/submit.png) no-repeat; width: 40px; height: 18px; line-height: 18px; float: left; border: 0; cursor: pointer; color: #2a3139; font-size: 12px; margin: 0 0 0 5px;}
		.head-right .form-inner .submit, x:-moz-any-link, x:default {padding: 0 0 4px 0;}
		.head-right .form-inner .regi {float: left; font-size: 12px; color: #fff; text-decoration: none; padding: 1px 25px 0 16px;}
		.head-right .form-inner .regi:hover {text-decoration: underline;}
		.head-right .form-inner .basket {background: url(../images/basket.png) no-repeat; padding: 5px 0 10px 34px; font-size: 12px; color: #fff; float: left; position: relative; top: -3px;}
		.menu {padding: 45px 0 0 19px;}
		.menu li {background: url(../images/menu-li-bg.png) left 5px no-repeat; padding: 0 28px 0 14px; float: left;}
		.menu li a {text-decoration: none; color: #fff; font-size: 15px;}
		.menu li a:hover {text-decoration: underline;}
	
	.content {background: url(../images/content-bg.png) repeat-x; margin: 21px 0 134px 0;}
		.slide-outer {padding: 22px 20px 0 20px;}
		.slider-bg1 {background: url(../images/slider-bg1.png) no-repeat; padding: 0 0 0 5px;}
		.slider-bg2 {background: url(../images/slider-bg2.png) right top no-repeat; padding: 0 6px 0 0;}
		.slider-bg3 {background: url(../images/slider-bg3.png) repeat-x; height: 343px;}
		.left-slide {width: 275px; float: left; margin: 0 0 0 -4px;}
		.submenu {padding: 20px 0 0 0;}
		.submenu li {background: url(../images/submenu-li-bg.png) left bottom no-repeat; width: 275px; padding: 19px 0 19px 20px;}
		.submenu li a {font-size: 20px; text-transform: uppercase; color: #000; text-decoration: none;}
		.submenu li a:hover {text-decoration: underline;}
		.search {padding: 27px 0 0 20px;}
		.search .text {background: #dedfe3; width: 181px; height: 18px; line-height: 18px; border: 0; float: left; font-size: 11px; color: #787878; padding: 0 0 0 6px; margin: 0 9px 0 0;}
		.search .sub {background: url(../images/sub.png) no-repeat; width: 45px; height: 18px; line-height: 18px; border: 0; float: left; color: #fff; font-size: 12px; cursor: pointer;}
		.search .sub, x:-moz-any-link, x:default {padding: 0 0 4px 0;}
		.right-slide {width: 683px; float: right; margin: 0 -5px 0 0;}
		#slider {width: 683px; height: 341px; margin: 1px 0; overflow: hidden; position: relative;}
		#slider1Content {width: 666px; height: 341px; position: absolute; top: 0; right: 0;}
		.slider1Image {float: left; position: relative; z-index: 1;}
		.slider1Image span {position: absolute; font: 26px Verdana, Arial, Helvetica, sans-serif; width: 250px; color: #343b44; z-index: 10; left: 21px; top: 203px;}
		.main {background: url(../images/main-bg.png) no-repeat; padding: 22px 20px 0 14px;}
		.left-col {width: 297px; float: left; padding: 9px 0 0 0;}
		.left-col h1 {font-size: 30px; font-weight: normal; color: #7a374b; padding: 0 0 13px 7px;}
		.left-col .text-inner {background: url(../images/text-inner.png); padding: 9px 30px 0 7px;}
		.left-col .text-inner p {line-height: 1.3; padding: 0 0 19px 0;}
		.left-col .more {background: url(../images/more-bg.png) no-repeat; width: 101px; height: 20px; display: block; text-align: center; font-size: 12px; color: #7a374b; text-decoration: none; padding: 3px 0 0 0;}
		.left-col .more:hover {text-decoration: underline;}
		.left-col .banner {padding: 74px 0 0 7px;}
		.left-col .submenu {margin: -8px 0 0 -5px; width: 260px; padding: 0;}
		.left-col .submenu li {padding: 11px 0 12px 0; width: 260px;}
		.left-col .submenu li a {padding: 0 0 0 20px;}
		.left-col .submenu li ul {background: #e7e8eb url(../images/submenu-li-bg.png) no-repeat; margin: 6px 0 0 0;}
		.left-col .submenu li ul li {background: url(../images/submenu-ul-li-bg.png) left bottom no-repeat;}
		.left-col .submenu li ul li span {background: url(../images/menu-li-bg.png) 22px 5px no-repeat; padding: 0 0 0 34px; display: block;}
		.left-col .submenu li ul li a {font: 14px Verdana, Arial, Helvetica, sans-serif; color: #7a374b; text-transform: uppercase; padding: 1px 0 2px 6px; display: block;}
		.left-col .submenu li ul li a:hover {background: url(../images/a-hover.png) no-repeat; color: #fff; text-decoration: none;}
		.left-col .submenu li ul li.li a:hover {background: url(../images/a-hover-1.png) no-repeat;}
		.left-col .search {padding: 50px 0 0 0;}
		.left-col .banner-second {padding: 47px 0 0 0;}
		
		.right-col {margin: 0 0 0 297px;}
		.right-col h1 {font-size: 30px; font-weight: normal; color: #804053; padding: 0 0 13px 7px;}
		.new {padding: 20px 0 0 0; width: 100%; float: left;}
		.new-title-bg1 {background: url(../images/new-title-bg1.png) no-repeat; padding: 0 0 0 33px; float: left; margin: 0 10px 0 0;}
		.new-title-bg2 {background: url(../images/new-title-bg2.png) right top no-repeat; padding: 0 3px 0 0; float: left;}
		.new-title-bg2 h2 {background: url(../images/new-title-bg3.png) repeat-x; height: 28px; float: left;}
		.new-title-bg2 h2 span {font-size: 30px; font-weight: normal; color: #fff; position: relative; top: -2px; padding: 0 7px 0 20px;}
		.box-bg1 {background: url(../images/box-bg1.png) no-repeat; padding: 0 0 0 3px; float: left; margin: 5px 0 0 0;}
		.box-bg2 {background: url(../images/box-bg2.png) right top no-repeat; padding: 0 3px 0 0; float: left;}
		.box-bg3 {background: url(../images/box-bg3.png) repeat-x; height: 23px;}
		.box-bg3 span {font-size: 14px; color: #7a374b; text-shadow: 1px 1px 1px #fff; padding: 2px 8px 0 10px; float: left;}
		.box-bg3 span a {text-decoration: none; color: #7a374b;}
		.new-body {padding: 16px 0 0 0;}
		.block-left {width: 45%; margin: 0 9.5% 0 0; display: inline-block; vertical-align: top; position: relative;}
		.new-second {padding-top: 12px;}
		.new-second .block-left {margin-right: 6%; margin-bottom: 32px;} 
		.block-right {width: 45%; display: inline-block; vertical-align: top; position: relative;}
		.block-inner-bg1 {background: url(../images/block-inner-y.png) repeat-y;}
		.block-inner-bg2 {background: url(../images/block-inner-x.png) repeat-x;}
		.block-inner-bg3 { background: url(../images/block-inner-y.png) right top repeat-y;}
		.block-inner-bg4 {background: url(../images/block-inner-x.png) left bottom repeat-x;}
		.block-inner-bg5 {background: url(../images/block-inner-bg5.png) no-repeat;}
		.block-inner-bg6 {background: url(../images/block-inner-bg6.png) right top no-repeat;}
		.block-inner-bg7 {background: url(../images/block-inner-bg7.png) right bottom no-repeat;}
		.block-inner-bg8 {background: url(../images/block-inner-bg8.png) left bottom no-repeat; padding: 0 0 22px 0; min-height: 159px; position: relative;}
		.block-inner-pic {width: 145px; float: left; padding: 1px 0 0 5px; overflow: hidden;}
		.block-inner-pic a img {display: block; margin: 14px 0 0 0;}
		.price {background: url(../images/price-bg.png) no-repeat; width: 101px; height: 26px; position: absolute; left: 41px; top: 125px; font-size: 18px; color: #fff; text-align: center; padding: 2px 0 0 0;}
		.block-inner-info {margin: 0 0 0 150px; padding: 11px 0 0 0;}
		.info {float: right; padding: 0 40px 0 0;}
		.block-inner-info h3 {font-size: 18px; font-weight: normal; color: #831637; padding: 0 0 9px 0;}
		.block-inner-info ul li {font-size: 11px; color: #000;}
		.bask {background: url(../images/bask.png) no-repeat; width: 23px; height: 20px; position: absolute; right: 0; bottom: -4px; text-decoration: none;}
		.bask:hover {background: url(../images/bask-hover.png) no-repeat;}
		.top-sales {padding: 41px 0 0 0; width: 100%; float: left;}
		.top-sales h2 {font-size: 30px; font-weight: normal; float: left; color: #804053; padding: 0 26px 0 5px;}
		.top-sales .box-bg1 {margin-top: 7px;}
		.catalog {padding: 15px 0 0 0;}
		.catalog li {display: inline-block; position: relative; vertical-align: top; width: 31%; margin: 0 3% 30px 0;}
		.catalog li a span {display: block;}
		.catalog li .img {width: 50%; height: 91px; text-align: center; display: table-cell; vertical-align: middle;}
		.catalog li .i {width: 50%; display: table-cell; font-style: normal;}
		.catalog li .i a {font-size: 14px; text-decoration: none; color: #804053; padding: 7px 0 0 0; display: block;}
		.catalog li .i a:hover {text-decoration: underline;}
		.catalog li .block-inner-bg8 {min-height: 93px; padding: 0;}
		.catalog li.last {margin-right: -33%;}
		.catalog li:hover {cursor: pointer;}
		.catalog li:hover .bask {background: url(../images/bask-hover.png) no-repeat;}
		.catalog li:hover .block-inner-bg1 {background-image: url(../images/block-inner-hover.gif);}
		.catalog li:hover .block-inner-bg2 {background-image: url(../images/block-inner-hover.gif);}
		.catalog li:hover .block-inner-bg3 {background-image: url(../images/block-inner-hover.gif);}
		.catalog li:hover .block-inner-bg4 {background-image: url(../images/block-inner-hover.gif);}
		.catalog li:hover .block-inner-bg5 {background-image: url(../images/block-inner-bg5-hover.png);}
		.catalog li:hover .block-inner-bg6 {background-image: url(../images/block-inner-bg6-hover.png);}
		.catalog li:hover .block-inner-bg7 {background-image: url(../images/block-inner-bg7-hover.png);}
		.catalog li:hover .block-inner-bg8 {background-image: url(../images/block-inner-bg8-hover.png);}
		.text-bg {padding: 44px 20px 0 20px;}
		.text-bg1 {background: url(../images/text-bg1.png) no-repeat; padding: 0 0 0 6px;}
		.text-bg2 {background: url(../images/text-bg2.png) right top no-repeat; padding: 0 6px 0 0;}
		.text-bg3 {background: url(../images/text-bg3.png) repeat-x; width: 100%;}
		.block-left:hover .block-inner-bg1, .block-right:hover .block-inner-bg1 {background-image: url(../images/block-inner-hover.gif);}
		.block-left:hover .block-inner-bg2, .block-right:hover .block-inner-bg2 {background-image: url(../images/block-inner-hover.gif);}
		.block-left:hover .block-inner-bg3, .block-right:hover .block-inner-bg3 {background-image: url(../images/block-inner-hover.gif);}
		.block-left:hover .block-inner-bg4, .block-right:hover .block-inner-bg4 {background-image: url(../images/block-inner-hover.gif);}
		.block-left:hover .block-inner-bg5, .block-right:hover .block-inner-bg5 {background-image: url(../images/block-inner-bg5-hover.png);}
		.block-left:hover .block-inner-bg6, .block-right:hover .block-inner-bg6 {background-image: url(../images/block-inner-bg6-hover.png);}
		.block-left:hover .block-inner-bg7, .block-right:hover .block-inner-bg7 {background-image: url(../images/block-inner-bg7-hover.png);}
		.block-left:hover .block-inner-bg8, .block-right:hover .block-inner-bg8 {background-image: url(../images/block-inner-bg8-hover.png);}
		.poisk {padding: 7px 0 3px 0; position: relative; z-index: 100;}
		.block {float: left; padding: 0 17px 0 0;}
		.block label {float: left; padding: 2px 2px 0 0; font-size: 11px; color: #5b5f63;}
		.block .lineForm {float: left;}	
		.centeredmenu {float: left; overflow: hidden; padding: 17px 0 46px 0; position: relative; width: 100%;}
		.centeredmenu ul {clear:left; float:left; position:relative; left:50%; text-align:center;}
		.centeredmenu ul li {float:left; position: relative; right:50%; padding: 0 5px;}
		.centeredmenu ul li a {display: block; float: left; color: #7a374b; font-size: 14px; padding: 1px 2px; font-weight: bold; text-decoration: none;}
		.centeredmenu ul li a:hover {text-decoration: none; background: #808385; font-size: 18px; color: #fff;}
		.centeredmenu ul .first a {text-decoration: none; color: #7a374b;}
		.centeredmenu ul .back {padding: 3px 6px 0 0;}
		.centeredmenu ul .back a {color: #831637; font-size: 11px;}
		.centeredmenu ul .back a:hover {text-decoration: underline; color: #831637; font-size: 11px; background: none;}
		.centeredmenu ul .last {padding: 3px 0 0 5px;}
		.centeredmenu ul .last a {color: #831637; font-size: 11px;}
		.centeredmenu ul .last a:hover {text-decoration: underline; color: #831637; font-size: 11px; background: none;}
		.basket-inner {padding: 30px 0 115px 0;}
		.basket-inner-left {width: 45%; margin: 0 5% 0 0; display: inline-block; vertical-align: top;}
		.basket-inner-left .big-pic {min-height: 287px; text-align: center; width: 100%;}
		.basket-inner-left .block-inner-bg8 {padding: 9px 0 3px 0;}
		.zoom {background: url(../images/zoom.gif) no-repeat; position: absolute; right: 0; bottom: 0; text-decoration: none; width: 23px; height: 20px;}
		.basket-inner-right {width: 45%; display: inline-block; vertical-align: top; position: relative;}
		.basket-inner-right .info {float: none; padding: 0 0 31px 0;}
		.basket-inner-right .info h2 {font-size: 24px; font-weight: normal; color: #804053; padding: 0 0 15px 0;}
		.basket-inner-right .info p {font-size: 14px; color: #000; padding: 0 0 22px 0;}
		.basket-inner-right .info ul li {padding: 0 0 6px 0;}
		.basket-inner-right .info ul li {font-size: 12px; color: #000;}
		.bay {background: #d6d7db; width: 310px; height: 28px;}
		.bay .pric {background: url(../images/price-bg.png) no-repeat; width: 101px; height: 26px; float: left; font-size: 18px; color: #fff; text-align: center; padding: 2px 0 0 0;}
		.bay form {float: left; width: 209px; overflow: hidden;}
		.bay form label {font-size: 14px; color: #000; float: left; padding: 5px 7px 0 11px;}
		.bay form .kol {width: 17px; height: 17px; line-height: 17px; background: #fff; border: 1px solid #e0e1e3; color: #000; font-size: 14px; text-align: center; margin: 4px 0 0 0; float: left;}
		.bay form .submitt {background: url(../images/submitt.png) no-repeat; width: 72px; height: 20px; float: left; border: 0; cursor: pointer; margin: 4px 0 0 11px;}
		.small-photo {padding: 8px 0 0 0;}
		.small-photo li {width: 85px; float: left; margin: 0 20px 0 0;}
		.small-photo li a {background: url(../images/small-photo-a-bg.gif) left bottom no-repeat; display: table-cell; width: 85px; height: 92px; text-align: center; vertical-align: middle;}
		.small-photo li a:hover,.small-photo li.cur a {background-image: url(../images/small-photo-a-hover.gif);}
		.other-tovars {background: #dedfe3; height: 114px;}
		.about {background: url(../images/about.png) no-repeat; width: 127px; height: 114px; float: left;}
		.about p {font-size: 16px; color: #fff; line-height: 1.4; padding: 8px 0 0 10px;}
		.other-inner {margin: 0 0 0 141px;}
		.other-inner ul {padding: 10px 0 0 0;}
		.other-inner ul li {display: inline-block; vertical-align: top; width: 19%;}
		.other-inner ul li a {background: url(../images/other-inner-a-bg.png) no-repeat; width: 95px; height: 95px; display: table-cell; text-align: center; vertical-align: middle;}
		.other-inner ul li a:hover {background: url(../images/other-inner-a-hover-bg.png) no-repeat;}
	
	.footer {width: 100%; min-width: 1000px; font-size: 12px; position: relative; margin-top: -85px;}
		.footer-main {padding: 14px 9px 0 9px; height: 70px; border-top: 1px solid #eee;}
		.footer-main p {padding: 0 0 1px 0;}
		.footer-main p a {color: #7a374b;}
		.footer-left {padding: 0 0 0 25px; float: left;}
		.footer-center {padding: 0 0 0 37px; float: left;}
		.footer-right {float: right; padding: 0 82px 0 0; text-align: right;}