/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
* {padding: 0; margin :0;}
html, body {width:100%;height:100%;}
body {background: #b0b0b0 url(../images/body-bg.png) center top repeat-y; font: 11px Tahoma, Geneva, sans-serif; color: #333; height: auto !important; height: 100%; min-height: 100%; position: relative;}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}
/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/


		.page {background: url(../images/page-bg.jpg) center top no-repeat;}
		.wrapper {width: 965px; margin: 0 auto; padding-bottom: 64px;}
		.wrapper:after {content: "."; display: block; height: 0; visibility: hidden; clear: both;}
		.head {height: 136px; width: 100%; position: relative;}
		.logo {float: left; padding: 13px 0 0 14px;}
		.form {width: 324px; float: right; padding: 49px 5px 0 0;}
		.form form .text {background: url(../images/text-bg.gif) no-repeat; width: 113px; height: 26px; line-height: 26px; font-size: 11px; color: #666; padding: 0 7px; border: 0; float: left; margin: 0 7px 0 0;}
		.form form .text.las {margin: 0;}
		.form form .submit {background: url(../images/submit-bg.gif) no-repeat; width: 57px; height: 26px; line-height: 26px; border: 0; text-shadow: 1px 1px 1px #faf2bc; cursor: pointer; float: left; 
							margin: 0 0 0 6px; color: #333; text-transform: uppercase; font-size: 11px; font-weight: bold;}
		.form form a {color: #3e97e8; text-decoration: none; float: right; padding: 10px 0 0 0;}
		.form form a:hover {text-decoration: underline;}
		.user {float: right; padding: 16px 8px 0 0; width: 245px;}
		.user strong {float: right; color: #3e97e8; padding: 0 9px 0 0;}
		.user ul {float: right;}
		.user ul li {float: left; color: #666;}
		.user ul li span {padding: 0 6px 0 5px;}
		.user ul li a {color: #666;}
		
		.content {padding: 19px 0 0 0; width: 100%; overflow: hidden;}
			.left-col {width: 234px; float: left;}
			.sidebar {padding: 0 16px 0 0;}
			.sidebar ul {width: 100%; margin: -9px 0 0 0;}
			.sidebar ul li.activ {background-color: #f7f7f7;}
			.sidebar ul li.activ a {text-decoration: none;}
			.sidebar ul li {border-bottom: 2px solid #e4e4e4; padding: 17px 0 15px 68px; background-position: left 17px; background-repeat: no-repeat;}
			.sidebar ul li img {float: left; margin: 2px 13px 0 0;}
			.sidebar ul li.m01 {background-image: url(../images/ic-1.png);}
			.sidebar ul li.m01.activ {background-image: url(../images/ic-11.png);}
			.sidebar ul li.m02 {background-image: url(../images/ic-2.png);}
			.sidebar ul li.m02.activ {background-image: url(../images/ic-21.png);}
			.sidebar ul li.m03 {background-image: url(../images/ic-3.png);}
			.sidebar ul li.m04 {background-image: url(../images/ic-4.png);}
			.sidebar ul li.m05 {background-image: url(../images/ic-5.png);}
			.sidebar ul li a {font-size: 17px; color: #333;}
			.sidebar ul li p {padding: 4px 0 0 3px; color: #999; line-height: 1.3;}
			.sidebar ul li.last {border-bottom: 0;}
			.right-col {width: 730px; float: left; overflow: hidden;}
			.block {background: url(../images/block-bg.png) no-repeat; width: 253px; height: 260px; float: left; padding: 31px 180px 0 26px;}
			.block h1 {font-size: 24px; font-weight: normal; line-height: 1.1;}
			.block h2 {font-size: 16px; font-weight: normal;}
			.block p {line-height: 1.3; padding: 22px 0 29px 0;}
			.search {background: url(../images/search-bg.png) no-repeat; width: 271px; height: 302px; float: left; margin: 8px 0 0 0;}
			.search form {padding: 16px 0 0 16px;}
			.sell {margin-bottom: 13px;}
			.search form .tx {border: 1px solid #aaa; color: #222; border-radius: 4px; width: 231px; padding: 6px 0 6px 7px;}
			.search form p {font-size: 12px; font-weight: bold; color: #fff; line-height: 0.9; padding: 0 0 14px 0;}
			.submit-1 {background: url(../images/submit-1.png) no-repeat; width: 107px; height: 26px; line-height: 26px; border: 0; margin: 16px 0 0 0; 
									text-shadow: 1px 1px 1px #faf2bc; cursor: pointer; color: #333; text-transform: uppercase; font-size: 11px; font-weight: bold;}
			.ui-button {margin-left: -1px;}
			*html .ui-button {margin-left: -3px;}
			.ui-button-icon-only .ui-button-text {padding: 0.35em;} 
			.ui-autocomplete-input {margin: 0; width: 203px; padding: 4px 0 4px 7px; float: left;}						
			.main-bg1 {background: url(../images/main-bg1.gif) no-repeat; padding: 12px 0 0 0;}
			.main-bg2 {background: url(../images/main-bg2.gif) left bottom no-repeat; padding: 0 0 11px 0;}
			.main-bg3 {background: url(../images/main-bg3.gif) repeat-y; width: 730px;}
			.main-bg3 ul {float: left; padding: 0 0 0 13px; width: 233px;}
			.main-bg3 ul.two {padding: 0 0 0 9px; width: 245px;}
			.main-bg3 ul.three{padding: 0 0 0 10px; width: 220px;}
			.main-bg3 ul li {height: 40px;}
			.main-bg3 ul li img {float: left; margin: 0 6px 0 0;}
			.main-bg3 ul li a {color: #3e97e8; font-size: 12px; font-weight: bold; padding: 4px 0 0 0; float: left;}
			
			.center-col {width: 502px; float: left; padding: 0 18px 0 0;}
			.inside-bg1 {background: url(../images/inside-bg1.gif) no-repeat; padding: 2px 0 0 0; margin: 8px 0 15px 0;}
			.inside-bg2 {background: url(../images/inside-bg2.gif) left bottom no-repeat; padding: 0 0 2px 0;}
			.inside-bg3 {background: url(../images/inside-bg3.gif) repeat-y; width: 502px;}
			.inside-title {padding: 7px 13px 19px 17px;} 
			.inside-title img {float: right; margin: 5px 0 0 0;}
			.inside-inner {width: 329px; float: left;}
			.inside-inner h2 {font-size: 18px; font-weight: normal; color: #333; padding: 0 0 17px 0;}
			.inside-inner form p {font-size: 12px;}
			.inside-inner form p em {font-style: normal; float: left; padding: 5px 0 0 0;}
			.inside-inner form input {background: url(../images/inside-inner-input-bg.png) no-repeat; width: 101px; height: 26px; line-height: 26px; border: 0; margin: 0 9px 0 6px; padding: 0 7px; font-size: 12px; font-weight: bold; float: left;}
			.inside-inner form input.input1 {background: url(../images/inside-inner-input-bg1.png) no-repeat;}
			.inside-inner form a {color: #3e97e8; float: left; padding: 6px 0 0 0;}
			.inside-inner .p1 {font-size: 12px; padding: 16px 0 0 0;}
			.inside-inner .p1 a {color: #3e97e8; margin: 0 0 0 8px;}
			.inside-inner .p1 i {font-style: normal;}
			.inside-inner .p2 {font-size: 12px; padding: 18px 0 0 0;}
			.p3 {font-size: 12px; padding: 16px 0 0 0;}
			.p3 strong {padding: 0 0 0 4px;}
			.p3 .left {float: left;}
			.p3 .right {float: right;}
			
			.inside-bottom {background: #e9e9e9; margin: 0 2px; padding: 6px 0 8px 17px;}
			.inside-bottom a {color: #3e97e8; font-weight: bold;}
			.postambule {border: 1px solid #fad42e; background: #fbec88; padding: 11px 12px 0 12px;}
			.postambule-second {margin: 0 0 14px 0;}
			.postambule h3 {font-size: 18px; font-weight: normal; padding: 0 0 15px 0;}
			.postambule .inn {padding: 0 0 14px 0;}
			.postambule .inn p {font-size: 12px; padding: 0 0 4px 0;}
			.postambule .inn p a {color: #61a7d6; margin: 0 0 0 12px;}
			.a1 {display: block; color: #3e97e8; font-size: 12px; font-weight: bold; padding: 0 0 16px 0;}
			.inside-body {padding: 11px 15px 0 15px;}
			.inside-body h3 {font-size: 18px; font-weight: normal; padding: 0 0 17px 0;}
			.inside-body .onn {padding: 0 0 15px 0;}
			.inside-body .onn img {float: left; border: 1px solid #000; margin: 5px 13px 0 0;}
			.inside-body .onn p {padding: 0 0 0 79px; font-size: 12px;}
			.inside-body .onn p span {font-weight: bold; padding: 0 8px 0 0;}
			.inside-body .onn p a {color: #666; line-height: 1.4;}
			.inside-block {padding: 7px 13px 12px 17px;}
			.inside-block-second {padding-right: 0;}
			.inside-block h3 {font-size: 18px; font-weight: normal; padding: 4px 0 19px 0;}
			.inside-block p {font-size: 12px; padding: 0 0 13px 0;}
			.inside-block p strong {padding: 0 0 0 8px;}
			.inside-block ul li {display: inline; padding: 0 18px 0 0;}
			.inside-block ul li a {font-size: 12px; color: #3e97e8; font-weight: bold;}
			.poisk form label {font-size: 12px; color: #333; float: left; padding: 4px 11px 0 0;}
			.poisk form .txx {background: url(../images/txx.png) no-repeat; width: 232px; height: 26px; line-height: 26px; border: 0; padding: 0 4px; float: left; margin: 0 10px 0 0;}
			.poisk form .submit-1 {float: left; margin: 0;}
			.poisk form a {color: #3e97e8; font-size: 11px; display: block; padding: 8px 0 2px 117px;}

			.context-outer h1 {font-size: 18px; font-weight: normal; padding: 0 0 7px 0;}
			.context-bg1 { background: url(../images/context-bg1.gif) no-repeat; padding: 2px 0 0 0;}
			.context-bg2 { background: url(../images/context-bg2.gif) left bottom no-repeat; padding: 0 0 2px 0;}
			.context-bg3 { background: url(../images/context-bg3.gif) repeat-y; padding: 5px 24px 14px 17px; width: 689px;}
			.context-bg3 h2 { background: url(../images/context-inner.gif) left bottom repeat-x; font-size: 18px; font-weight: normal; padding: 0 0 11px 0; margin: 0 0 3px 0;}
			.context-inner {background: url(../images/context-inner.gif) left bottom repeat-x; padding: 10px 0 13px 0;}
			.context-inner.last { background: none;}
			.context-inner h3 { font-size: 12px; font-weight: bold;}
			.context-inner p { padding: 4px 0 8px 0;}
			.context-inner p span { margin: 0 13px 0 0;}
			.context-inner p a { color: #3e97e8;}
			.context-inner .submit-2 {background: url(../images/submit-2.png) no-repeat; width: 67px; height: 26px; line-height: 26px; border: 0; text-shadow: 1px 1px 1px #faf2bc; cursor: pointer;  
			 						color: #333; text-transform: uppercase; font-size: 11px; font-weight: bold;}
			
			.sidebar-2 {width: 208px; float: left; padding: 8px 0 0 0;}
			.sidebar-inner-bg1 {background: url(../images/sidebar-inner-bg1.gif) no-repeat; padding: 2px 0 0 0; margin-bottom: 16px;}
			.sidebar-inner-bg2 {background: url(../images/sidebar-inner-bg2.gif) left bottom no-repeat; padding: 0 0 2px 0;}
			.sidebar-inner-bg3 {background: url(../images/sidebar-inner-bg3.gif) repeat-y; width: 178px; padding: 0 18px 0 12px;}
			.sidebar-inner-bg3 h3 {font-size: 18px; font-weight: normal; padding: 9px 0 13px 0;}
			.sidebar-inner-bg3 .box {padding: 0 0 23px 0;}
			.sidebar-inner-bg3 .box.last {padding-bottom: 14px;}
			.sidebar-inner-bg3 .box a {font-size: 12px; font-weight: bold; color: #61a7d6;}
			.sidebar-inner-bg3 .box p {padding: 4px 0 5px 0;}
			.sidebar-inner-bg3 .box span {text-align: right; color: #666; display: block;}
			.sidebar-inner-bg3 .bok {font-size: 12px;}
			.sidebar-inner-bg3 .bok .date {color: #999; display: block; padding: 4px 0;}
			.sidebar-inner-bg3 .bok p {font-weight: bold; padding: 0 0 4px 0;}
			.sidebar-inner-bg3 .bok i {font-style: normal;}
			.sidebar-inner-bg3 .bok ul {padding: 11px 0 10px 0;}
			.sidebar-inner-bg3 .bok ul li {padding: 0 0 4px 0;}
			.sidebar-inner-bg3 .bok ul li a {color: #3e97e8;}
			
			.sidebar-title {background: url(../images/sidebar-title.png) no-repeat; padding: 2px 0 0 0; margin: 8px 0 20px 0;}
			.sidebar-title-bg1 {background: url(../images/sidebar-title-bg1.png) left bottom no-repeat; padding: 0 0 2px 0;}
			.sidebar-title-bg2 {background: url(../images/sidebar-title-bg2.png) repeat-y; width: 200px; padding: 7px 9px 0 9px;}
			.sidebar-title-bg2 h3 {border: 1px solid #fad42e; background: #fbec88; text-align: center; font-size: 12px; padding: 6px 0;}
			.sidebar-title-bg2 a {display: block; text-align: center; font-size: 12px; color: #3e97e8; font-weight: bold; padding: 15px 0 11px 0;}
			
			.h3 { font-size: 15px; font-weight: normal; padding: 13px 0 11px 13px;}
			.inside-bottom-second { border-top: 1px solid #d7d7d7; padding: 0; margin: 0 1px;}
			.inside-bottom-left { width: 233px; float: left; padding: 8px 0 11px 17px;}
			.inside-bottom-left h4 { font-size: 12px; font-weight: bold; padding: 0 0 4px 0;}
			.inside-bottom-right { width: 250px; float: left;}
			.inside-bottom-right a { display: block; text-align: right; padding: 7px 13px 0 0;}
			
			.poisk-ros {}
			.poisk-ros h2 { font-size: 18px; font-weight: normal; padding: 0 0 6px 0;}
			.poisk-ros h3 { font-size: 12px; font-weight: bold;}
			.poisk-ros h3 a { color: #3e97e8; font-size: 11px; font-weight: normal; padding: 0 0 0 10px;}
			#heading { padding: 11px 0 0 0; position: relative; z-index: 10;}
			#heading ul li { background: url(../images/heading-ul-li-bg.gif) right top no-repeat; padding: 0 2px 0 0; float: left; margin: 0 4px 0 0;}
			#heading ul li a { background: url(../images/heading-ul-li-a-bg.gif) no-repeat; height: 27px; float: left; font-size: 15px; color: #414141; text-decoration: none; padding: 11px 25px 0 31px;}
			#heading ul li a:hover { text-decoration: underline;}
			#heading ul li.current { background: url(../images/heading-ul-current-bg.gif) right top no-repeat;}
			#heading ul li.current a { background: url(../images/heading-ul-current-a-bg.gif) no-repeat;}
			.box-outer-bg1 { background: url(../images/box-outer-bg1.gif) no-repeat; padding: 2px 0 0 0; position: relative; top: -1px; display: none; z-index: 5;} 
			.box-outer-bg2 { background: url(../images/box-outer-bg2.gif) left bottom no-repeat; padding: 0 0 2px 0;}
			.box-outer-bg3 { background: url(../images/box-outer-bg3.gif) repeat-y; width: 502px;}
			.box-inner-title { background: #f4f4f4; border-bottom: 1px solid #dbdbdb; margin: 0 1px; padding: 7px 0 16px 14px; }
			.box-inner-title label { display: block; font-size: 11px; padding: 0 0 6px 0;}
			.box-inner-title .inn { background: url(../images/inn-bg.gif) no-repeat; width: 201px; height: 26px; line-height: 26px; color: #333; font-size: 12px; padding: 0 7px; border: 0; float: left; margin: 0 16px 0 0;}
			.box-inner-title .radio-outer { float: left; width: 245px; margin: -5px 0 0 0;}
			.box-inner-title .radio-outer table tr td input { float: left;}
			*+html .box-inner-title .radio-outer table tr td input { margin: -4px 0 0 -4px;}
			*html .box-inner-title .radio-outer table tr td input { margin: -4px 0 0 -4px;}
			.box-inner-title .radio-outer table tr td { padding: 0 0 5px 0;}
			.box-inner-title .radio-outer table tr td span { float: left; font-weight: bold; padding: 0 0 0 4px;}
			.box-inner-body { padding: 0 34px 0 16px; height: 302px; overflow-y: scroll;}
			.box-inside { border-bottom: 1px solid #ccc; padding: 18px 0 12px 0;}
			.box-inside h4 { font-size: 12px; font-weight: bold; padding: 0 0 2px 0;}
			.box-inside h4  a {color: #3e97e8; font-weight: normal; float: right; }
			.box-inside p { font-size: 12px; line-height: 1.5;}
			
			.visible { display: block;}
			.a2 {color: #3e97e8; display: block; padding: 5px 0 0 0; font-size: 12px;}
			
			#body { background: #b0b0b0;}
		
			.login-first { background: url(../images/login-first.png) no-repeat; width: 587px; height: 293px; padding: 8px; position: absolute; left: 50%; top: 50%; margin: -155px 0 0 -301px;}
			.login-second { background: url(../images/login-second.png) no-repeat; width: 587px; height: 377px; padding: 8px; position: absolute; left: 50%; top: 50%; margin: -196px 0 0 -301px;}
			.left-login { width: 263px; float: left; padding: 39px 0 0 0;}
			.left-login img { display: block; margin: 0 0 0 35px;}
			.left-login p { font-size: 12px; font-weight: bold; color: #666; padding: 36px 20px 0 44px; line-height: 1.6;}
			.right-login { width: 324px; float: left;}
			.right-login form { padding: 52px 0 0 34px;}
			.right-login form .text-log {background: url(../images/login-text.png) no-repeat; width: 231px; height: 34px; line-height: 34px; border: 0;padding: 0 10px; font-size: 12px; font-weight: bold; color: #999; text-transform: uppercase; margin-bottom: 15px;}
			.login-submit {background: url(../images/login-submit.png) no-repeat; width: 87px; height: 34px; line-height: 34px; border: 0; text-shadow: 1px 1px 1px #faf2bc; cursor: pointer;color: #333; text-transform: uppercase; font-size: 12px; font-weight: bold;}
			.login-submit-1 {background: url(../images/login-submit-1.png) no-repeat; width: 120px; height: 34px; line-height: 34px; border: 0; text-shadow: 1px 1px 1px #faf2bc; cursor: pointer;color: #333; text-transform: uppercase; font-size: 12px; font-weight: bold;}
			.login-link { padding: 12px 0 0 0;}
			.login-link a { display: block; font-size: 12px; color: #3e97e8; padding: 0 0 6px 0;}
			

		.footer-outer {position: absolute; bottom: 0; width: 100%; height: 37px;}
			.footer {width: 965px; margin: 0 auto;}
			.footer-bg1 {background: url(../images/footer-bg1.gif) no-repeat; padding: 2px 0 0 0;}
			.footer-bg2 {background: url(../images/footer-bg2.gif) repeat-y; width: 965px; height: 35px;}
			.footer-bg2 .copy {float: left; color: #666; padding: 10px 0 0 15px;}
			.footer-bg2 .copy a {color: #3e97e8;}
			.footer-bg2 ul {float: right; padding: 9px 13px 0 0;}
			.footer-bg2 ul li {float: left;}
			.footer-bg2 ul li a {float: left; color: #3e97e8;}
			.footer-bg2 ul li span {float: left; color: #999; padding: 0 12px 0 14px;}		