html {height: 100%;}
body {background: #fcf5e8; font: 14px Arial, Helvetica, sans-serif; color: #585858; height: auto !important; height: 100%; min-height: 100%; position: relative;}
.left-shadow {background: url(../images/left-shadow.jpg) repeat-x; height: 630px; width: 50%; position: absolute; left: 0; top: 0; z-index: 1;}
.right-shadow {background: url(../images/right-shadow.jpg) repeat-x; height: 630px; width: 50%; position: absolute; right: 0; top: 0; z-index: 1;}
.page {background: url(../images/page-bg.jpg) center top no-repeat; min-height: 630px; position: relative; z-index: 2;}
.page-second {background: url(../images/page-bg1.jpg) center top no-repeat;}
.wrapper {width: 1000px; margin: 0 auto; padding-bottom: 142px;}
.wrapper:after {content: ".";display: block; height: 0; visibility: hidden; clear: both;}
.head {position: relative;}
.head-top {height: 100px; position: relative; width: 100%;}
.woman {position: absolute; left: 397px; top: 1px;}
.head-left {width: 245px; float: left; padding: 26px 0 0 0;}
.logo {display: block; padding: 0 0 0 17px;}
.head-left h1,.head-left .h1 {font-size: 16px; font-weight: normal; color: #020202; padding: 1px 0 0 21px;}
.head-center {width: 506px; float: left;}
.phones {padding: 28px 0 0 0; float: left;}
.phones p {font-size: 22px; color: #020202; padding: 0 0 1px 0;}
.phones p span {color: #4c4c4c; font-size: 16px;}
.work {float: right; padding: 31px 37px 0 0; text-align: right; color: #000;}
.work p {font-size: 13px; padding: 0 2px 3px 0;}
.work span {display: block; font-size: 22px;}
.head-right {width: 249px; float: right; padding: 22px 0 0 0;}
.basket {background: url(../images/basket-bg.png) left 7px no-repeat; padding: 0 0 0 63px;}
.basket-title {font-size: 16px; color: #996633; font-weight: bold; padding: 0 0 1px 0;}
.basket p {padding: 0 0 2px 0; color: #626161;}
.basket p b {padding: 0 0 0 4px; color: #000;}
.basket p a {color: #996633;}
.basket p a img {position: relative; top: 2px; left: 3px;}
.nav-outer {position: absolute; top: 100px; left: 1px; width: 989px;}
.nav-inner-bg1 {background: url(../images/nav-inner-bg1.png) right top no-repeat; padding: 0 9px 0 0;}
.nav-inner-bg2 {background: url(../images/nav-inner-bg2.png) no-repeat; padding: 0 0 0 10px;}
.nav-inner-bg3 {background: url(../images/nav-inner-bg3.png) repeat-x; height: 54px;}
.search {background: url(../images/search-bg.png) no-repeat; width: 191px; height: 28px; position: relative; float: left; margin: 11px 0 0 17px; overflow: hidden;}
.search .submit {background: url(../images/submit-bg.png) no-repeat; width: 15px; height: 15px; border: 0; cursor: pointer; position: absolute; top: 6px; left: 9px;}
.search .text {border: 0; line-height: 24px; height: 24px; width: 158px; margin: 1px 0 0 24px;}
.menu {float: right; padding: 9px 38px 0 0;}
.menu li {background: url(../images/menu-li-bg.png) right top no-repeat; padding: 0 11px 0 0; float: left; list-style: none; margin: 0 6px 0 0;}
.menu li a {background: url(../images/menu-a-bg.png) no-repeat; float: left; color: #fff; text-transform: uppercase; text-decoration: none; height: 23px; padding: 9px 3px 0 17px;}
.menu li.activ,.menu li:hover {background: url(../images/menu-li-activ.png) right top no-repeat;}
.menu li.activ a,.menu li:hover a {background: url(../images/menu-a-activ-bg.png) no-repeat;}
.icons {position: absolute; top: 161px; right: 18px;}
.icons li {float: left; list-style: none; width: 31px; height: 23px; padding: 8px 0 0 0; margin: 0 6px 0 0;}
.icons li a {text-decoration: none; height: 13px; display: block; margin: 0 auto;}
.icons li:hover,.icons li.cur {background: url(../images/cur-bg.png) no-repeat;}
.icons li.ic-1 a {background: url(../images/icon-1.png) no-repeat; width: 14px;}
.icons li.ic-2 a {background: url(../images/icon-2.png) no-repeat; width: 11px;}
.icons li.ic-3 a {background: url(../images/icon-3.png) no-repeat; width: 15px;}
.icons li:hover a,.icons li.cur a {background-position: 0 -26px;}

.preambule {padding: 205px 0 0 9px;}
.list li {float: left; height: 289px; list-style: none;}
.list li a {width: 100%; height: 289px; text-decoration: none; position: relative; display: block;}
.list li a:hover span {color: #fff;}
.list li a span {font-size: 13px; text-transform: uppercase; color: #000; position: absolute; display: block; font-weight: bold;}
.list li.li-01 {background: url(../images/stul-1.png) no-repeat; width: 142px;}
.list li.li-01 span {left: 26px; top: 217px;}
.list li.li-01:hover a {background: url(../images/active01.png) 0 210px no-repeat;}
.list li.li-02 {background: url(../images/stul-2.png) no-repeat; width: 153px;}
.list li.li-02:hover a {background: url(../images/active02.png) 0 222px no-repeat;}
.list li.li-02 span {left: 31px; top: 228px; line-height: 1.1;}
.list li.li-03 {background: url(../images/stul-3.png) no-repeat; width: 181px;}
.list li.li-03:hover a {background: url(../images/active03.png) 20px 239px no-repeat;}
.list li.li-03 span {left: 47px; top: 243px; line-height: 1.1;}
.list li.li-04 {background: url(../images/stul-4.png) no-repeat; width: 145px;}
.list li.li-04 span {left: 28px; top: 250px; line-height: 1.2;}
.list li.li-04:hover a {background: url(../images/active04.png) 0 240px no-repeat;}
.list li.li-05 {background: url(../images/stul-5.png) no-repeat; width: 173px;}
.list li.li-05 span {left: 42px; top: 236px; line-height: 1.2;}
.list li.li-05:hover a {background: url(../images/active05.png) 13px 228px no-repeat;}
.list li.li-06 {background: url(../images/stul-6.png) no-repeat; width: 151px;}
.list li.li-06 span {left: 25px; top: 220px; line-height: 1.1;}
.list li.li-06:hover a {background: url(../images/active06.png) 0 214px no-repeat;}

.content {width: 100%; padding: 41px 0 0 0;}
.left-col {float: left; width: 218px;}
.sidebar {width: 201px; margin: 0 0 0 8px; overflow: hidden;}
.dostavka {background: url(../images/dostavka-bg.png) right top no-repeat; padding: 8px 0 0 0; margin: 12px 0 0 0;}
.dostavka p {color: #9c6a39; font-size: 13px; padding: 8px 80px 0 0;}
.delivery a {font-size: 16px; text-transform: uppercase; color: #010101; text-decoration: none; position: relative; padding: 0 32px 0 0; display: block; width: 97px;}
.delivery a span {line-height: 1.2;}
.delivery a img {position: absolute; right: 0; top: 2px;}
.last-news {padding: 30px 0 0 0;}
.date {background: url(../images/date-bg.png) center bottom repeat-x; display: inline-block; font-size: 16px; font-weight: bold; color: #fff; margin: 11px 0 6px 0;
line-height: 26px; height: 26px; width: 126px; border: 1px solid #a19f9b; border-right: 0; text-align: center;}
.last-news img {border: 1px solid #e5e2de;}
.last-news p {color: #6e6e6e; padding: 9px 0 0 0;}
.more {color: #9c6a39; position: relative; top: -5px;}
.more img {border: 0; position: relative; top: 9px; margin: 0 0 0 16px;}
.recomend {padding: 33px 0 0 0;}
.recomend h3 {padding: 0 0 0 3px;}
.recomend h3.act {background: url(../images/act-bg.png) 163px 3px no-repeat;}
.recomend-list {color: #000; padding: 13px 0 0 0;}
.recomend-list li {list-style: none; background: #e5e5e5; padding: 1px 1px 4px 1px; margin: 0 0 12px 0;}
.info {padding: 0 0 0 18px;}
.info .old-price {text-decoration: line-through;}
.info .new-price {font-size: 18px; padding: 0 0 0 5px;}


.container {width: 762px; float: right;}
#slides {position: relative; margin: 0 0 0 9px;}
#slides .caption {background: url(../images/polosa.png); position: absolute; width: 100%; left: 0px; bottom: 0px; height: 35px;}
#slides .caption p {float: left; padding: 9px 0 0 10px;}
#slides .caption p a {background: url(../images/mor.png) right 2px no-repeat; padding: 0 20px 0 0; color: #010101; text-decoration: none;}
#slides .caption p a:hover {text-decoration: underline;}
.pagination {position: absolute; bottom: 11px; right: 12px; z-index: 1000;}
.pagination li {list-style: none; float: left; margin: 0 5px 0 0;}
.pagination li a {background: url(../images/default.png) no-repeat; width: 13px; height: 12px; text-indent: -90000px; overflow: hidden; float: left;}
.pagination li.current a {background: url(../images/active.png) no-repeat;}
.inner {padding: 40px 0 30px 7px;}
.inner h2 {padding: 0 0 8px 0;}
.inner img {border: 1px solid #e4e2de;}
.inner p {padding: 0 0 16px 0;}
.inner-preambule {padding: 0 0 14px 0;}
.inner-preambule img {margin: 0 0 0 10px;}
.postambule { background:url(../images/postambule-bg.png) no-repeat; width: 747px; height: 229px; text-align: center; color: #000;}
.postambule p {line-height: 1.3;}
.postambule p.p1 {padding: 22px 0 18px 0;}
.postambule .contacts {padding: 18px 0 0 0;}
.postambule .contacts p span {padding: 0 12px 0 0;}
.postambule .contacts p span a {text-decoration: none; color: #000; padding: 0 0 0 5px;}
.postambule .contacts p span a:hover {text-decoration: underline;}
.postambule .contacts .tell {font-size: 18px; line-height: 0.9;}

/* actions_news */
.patway {padding: 27px 0 11px 21px;}
.patway li {display: inline; list-style: none; color: #663300;}
.patway li a {color: #663300;}
.patway li span {padding: 0 5px 0 12px;}
.patway li i {font-style: normal;}
.navi {width: 214px; padding: 4px 0 17px 0; margin: 0 0 13px 1px; position: relative; background: #fff; -moz-border-radius: 8px; 
-webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; behavior: url(js/pie.htc);}
.navi ul {padding: 0 10px 0 14px;}
.navi ul li {border-bottom: 1px solid #bbbab9; list-style: none; padding: 12px 2px 6px 0;}
.navi ul li.activ a {background: url(../images/navi-activ.png) right 5px no-repeat; color: #663300;}
.navi ul li.last {border-bottom: 0;}
.navi ul li a {background: url(../images/navi-a-bg.png) right 4px no-repeat; padding: 0 9px 0 0; font-size: 16px; text-transform: uppercase; text-decoration: none; color: #020202;}
.navi ul li ul {padding: 6px 30px 0 9px; margin: 0 0 -7px 0; position: relative;}
.navi ul li ul li {border-bottom: 0; padding: 0 0 15px 0;}
.navi ul li ul li a {background: url(../images/navi-ul-a-bg.png) left 11px no-repeat!important; color: #020202!important;
display: block; text-transform: none; text-decoration: underline; line-height: 1.1; padding: 0 0 0 8px;}
.navi ul li ul li a:hover {background: url(../images/navi-ul-a-hover.png) left 11px no-repeat!important; text-decoration: none; color: #663300!important;}
.inside {padding: 5px 0 100px 0;}
.heading {background: url(../images/heading-bg.png) no-repeat; width: 736px; height: 43px;}
.heading p {font-size: 16px; font-weight: bold; text-transform: uppercase; color: #fff; padding: 12px 0 0 33px;}
.inside-list {padding: 0 32px 0 0;}
.inside-list ul {padding: 20px 0 0 19px;}
.inside-list ul li {list-style: none; border-bottom: 1px solid #bebab4; padding: 7px 6px 18px 6px;}
.inside-list ul li .date {float: left;}
.inside-list ul li h2 {float: left; padding: 16px 0 0 13px;}
.inside-list ul li h2 a { text-decoration: none; color: #010101;}
.inside-list ul li a img {float: left; border: 1px solid #e4e3e1; margin: 15px 0 0 0;}
.inside-list ul li h3 {padding: 15px 0 0 224px; text-transform: none; color: #7d4b19; line-height: 0.9;}
.inside-list ul li p {color: #5c5c5c; font-size: 13px; padding: 2px 0 0 224px;}
.pagenavi {padding: 21px 26px 0 0;}
.pagenavi dl {float: right;}
.pagenavi dl dt {float: left; color: #5e5e5e; padding: 0 19px 0 0;}
.pagenavi dl dd {float: left;}
.pagenavi dl dd a {color: #5e5e5e; margin: 0 4px 0 0; float: left; position: relative; padding: 0 6px;
-moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; behavior: url(js/pie.htc);}
.pagenavi dl dd.first a,.pagenavi dl dd.prew a,.pagenavi dl dd.next a,.pagenavi dl dd.last a {text-decoration: none;}
.pagenavi dl dd a:hover,.pagenavi dl dd.cur a {background: #cc9933; text-decoration: none;}

/* dostavka_oplata */
.payments {margin: 0 21px 0 0; font-size: 13px;}
.dostavka-outer {border-bottom: 1px solid #bebab4; padding: 0 0 24px 0; width: 100%;}
.dostavka-list {background: url(../images/dostavka-list-bg.png) right bottom no-repeat; padding: 0 0 0 11px;}
.links {padding: 21px 0 0 0;}
.links li {list-style: none; padding: 0 0 1px 0;}
.links li h3 {background: url(../images/pokupki.png) left 3px no-repeat; padding: 0 0 1px 21px;}
.links li a {background: url(../images/navi-ul-a-bg.png) left 11px no-repeat; padding: 0 0 0 9px; margin: 0 0 0 24px; color: #010101; font-size: 16px;}
.oplata-outer {border-bottom: 1px solid #bebab4; padding: 17px 0 7px 8px;}
.oplata-list li {list-style: none;}
.oplata-list li h4 {font-size: 14px; color: #010101; font-weight: bold;}
.oplata-list li p a {color: #744706;}
.oplata-list li p.last {color: #663c01; font-size: 14px;}
.oplata-outer p {padding: 0 0 14px 0;}
.oplata-outer .predop {padding: 0; color: #010101; font-size: 16px;}
.tovar-inner {padding: 15px 0 0 8px;}
.tovar-inner p {padding: 0 0 14px 0;}
.tovar-inner h5 {color: #663c01; font-size: 14px; font-weight: normal; padding: 0 0 14px 0;}
.times {list-style: none;}
.times li {padding: 0 0 16px 0;}
.times li p {color: #663c01; font-size: 14px; padding: 0;}
.times li p b {color: #010101;}
.oplata-table tr th {background: url(../images/oplata-table-th-bg.png) repeat-x; height: 27px; text-align: left; font-weight: normal; border-right: 1px solid #e5e5e5;}
.oplata-table tr .last {border-right: 0;}
.oplata-table tr th i {font-style: normal; font-size: 13px; font-weight: bold; text-transform: uppercase; color: #fff; padding: 0 0 0 28px;}
.oplata-table tr td {background: #fff; border-bottom: 1px solid #f2f1ed; font-size: 13px; padding: 6px 0; border-right: 1px solid #e5e5e5;}
.oplata-table tr td i {font-style: normal; color: #4c4c4c; padding: 0 0 0 28px;}
.oplata-table tr td span {padding: 0 0 0 30px;}
.oplata-table tr td a {color: #7d3d04; padding: 0 0 0 30px;}
.oplata-table tr.even td {background: #e5e5e5;}

/* cartka-tovara */
.cartka-outer {padding: 0 28px 0 0;}
.cartka-left {width: 301px; float: left; padding: 23px 0 0 12px;}
.big-photo {border: 1px solid #a5774b; background: #fff; position: relative; width: 299px; height: 419px; display: table-cell; vertical-align: middle; text-align: center;
-moz-border-radius: 12px; -webkit-border-radius: 12px; -khtml-border-radius: 12px; border-radius: 12px; behavior: url(js/pie.htc);}
.big-photo a {display: block;}
*+html .big-photo a {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
.small-photo {padding: 16px 0 0 0;}
.small-photo li {margin: 0 15px 0 0; list-style: none; float: left;}
.small-photo li div {border: 1px solid #a5774b; background: #fff; position: relative; width: 141px; height: 183px; display: table-cell; vertical-align: middle; text-align: center;
-moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; border-radius: 7px; behavior: url(js/pie.htc);}
.small-photo li div a {display: block;}
*+html .small-photo li div a {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
.small-photo li.last {margin: 0;}
a.question {background: url(../images/date-bg.png) center bottom repeat-x; display: inline-block; font-size: 14px; font-weight: bold; color: #fff; text-decoration: none; margin: 16px 0 0 0;
line-height: 26px; height: 26px; width: 300px; border: 1px solid #a19f9b; border-right: 0; text-align: center;}
a.question:hover {text-decoration: underline;}
.cartka-right {width: 399px; float: right; padding: 27px 0 0 0;}
.cartka-right h1 {font-size: 16px; font-weight: bold; text-transform: uppercase; color: #020202; padding: 0 0 11px 0;}
.cartka-right .price {padding: 0 0 2px 0;}
.cartka-right .price b {color: #010101; font-size: 24px; font-weight: normal; padding: 0 0 0 10px; line-height: 0.8;}
.cartka-right .presence {padding: 0 0 22px 0;}
.cartka-right .presence span {color: #006633; padding: 0 0 0 1px;}
.cartka-right table tr th p {font-size: 14px; font-weight: bold; text-transform: uppercase; color: #fff; font-weight: bold; padding: 0 0 0 9px;}
.cartka-right table tr td {border-right: 1px solid #c0c0c0; padding-bottom: 10px;}
.cartka-right table tr td p {padding: 0 0 0 9px;}
.cartka-right table tr td em {font-style: normal; display: block; padding: 0 35px 0 15px;}
.variants {background: url(../images/date-bg.png) center bottom repeat-x; display: inline-block; font-size: 14px; font-weight: bold; color: #fff; text-decoration: none; margin: 16px 0 0 0;
line-height: 26px; height: 26px; width: 390px; border: 1px solid #a19f9b; border-right: 0; padding: 0 0 0 8px;}
.poll ul {padding: 11px 0 0 9px;}
.poll ul li {list-style: none; float: left; margin: 0 8px 0 0; width: 119px; padding: 64px 0 10px 0; position: relative;}
.poll ul li div {position: relative; border: 1px solid #a47f5a; height: 59px; width: 119px; position: absolute; left: 0; top: 0; cursor: pointer;
-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; behavior: url(js/pie.htc);}
.poll ul li div.color-1 {background: #336699;}
.poll ul li div.color-2 {background: #000;}
.poll ul li div.color-3 {background: #ccc;}
.niceRadio {width: 7px; height: 7px; display: inline-block; cursor: pointer; background: url(../images/radio.png); background-position: 0 0; overflow:hidden; float: left; margin: 4px 0 0 0;}
.radioChecked {background-position: 0 -14px;}
.niceRadio input {margin-left: -17px;}
.poll ul li label {float: left; font-size: 13px; color: #5f5f5f; padding: 2px 0 0 5px; cursor: pointer;}
.kol {padding: 5px 0 0 0;}
.kol-in {background: #fff; float: left; padding: 4px;}
.kol-in span {color: #5f5f5f; font-size: 13px; float: left; padding: 2px 15px 0 6px;}
.kol-in input {width: 35px; height: 17px; line-height: 17px; color: #000; font-size: 13px; text-align: right; padding: 0 4px; border: 1px solid #ddd; float: left;}
.kol a {float: left; margin: 5px 0 0 4px;}
.in-basket {background: url(../images/in-basket.png) no-repeat; width: 167px; height: 32px; line-height: 32px; margin: 0 0 0 28px; position: relative; top: -4px;
border: 0; cursor: pointer; font-size: 16px; color: #fff; padding: 0 0 0 10px; text-transform: uppercase;}
.rules {border: 1px solid #bebab4; border-width: 1px 0; padding: 12px 12px 7px 12px; margin: 13px 2px 0 20px;}
.rules a {color: #010101;}
.recent {border-bottom: 1px solid #bebab4; margin: 13px 2px 0 20px; padding: 7px 0 18px 12px;}
.recent h3 {padding: 0 0 4px 1px;}
.recent ul li {background: url(../images/recent-li-bg.png) left 9px no-repeat; padding: 0 0 3px 8px; list-style: none; color: #646464;}
.recent ul li a {color: #6a3805; margin: 0 2px 0 0;}
.slides-inner {margin: 35px 0 0 4px!important;}
.inside-second {padding-bottom: 31px;}


/* catalog */
.slides-second {margin: 12px 0 0 0!important;}
.cat {padding: 3px 0 0 7px;}
.cat li {list-style: none; background: url(../images/cat-li-bg.png) no-repeat; width: 172px; height: 252px; float: left; position: relative; margin: 0 15px 0 0;}
.cat li .cat-inner {display: table-cell; height: 252px; width: 172px; text-align: center; vertical-align: top;}
.cat li .cat-inner a {display: block; padding: 15px 0 0 0;}
.cat li span {background: url(../images/white-button.png) no-repeat; width: 159px; height: 76px; display: block; position: absolute; left: 6px; bottom: 9px; text-align: left;}
.cat li span i {font-style: normal; font-size: 12px; font-weight: bold; color: #010101; line-height: 1.1; padding: 41px 0 0 24px; display: block;}
.cat li:hover span {background: url(../images/bezh-button.png) no-repeat;}
.cat li:hover span i {color: #fff;}
.cat li.last span i {padding-top: 48px;}
.inner-third {padding-top: 27px;}


/* cotnacts */
.contacts-outer {padding: 20px 26px 0 27px; font-size: 16px;}
.contacts-outer .p2 {color: #020202; font-size: 14px;}
.contacts-outer h3 {background: url(../images/mor.png) left 2px no-repeat; padding: 0 0 19px 26px;}
.contacts-heading {padding: 0 0 0 6px;}
.telephones {padding: 17px 0 0 0;}
.telephones div {line-height: 1.1;}
.telephones div i {font-style: normal; color: #4a4a4a; float: left; width: 122px;}
.telephones div p {float: left; width: 200px; color: #4a4a4a;}
.telephones div p span {font-size: 22px; padding: 0 0 0 5px;}
.email {padding: 26px 0 0 0;}
.email h3 {padding-bottom: 15px;}
.email a {display: block; line-height: 1.0;}
.addres {padding: 33px 0 0 0;}
.addres h3 {padding-bottom: 8px;}
.contacts-body {padding: 16px 0 0 0;}
.shema {padding: 28px 0 0 0;}
.shema h3 {float: left; padding-bottom: 11px;}
.shema a.print-shema {background: url(../images/mor.png) left 3px no-repeat; float: right; padding: 0 20px 0 17px;}
.shema-inner {background: #fff; border: 1px solid #a77b4d; position: relative; width: 693px; height: 496px;
-moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; behavior: url(js/pie.htc);}


/* feedback */
.feedback-outer {padding: 0 37px 0 0;}
.feedback-inner {background: #fff; border: 1px solid #a77b4d; width: 547px; position: relative; padding: 20px 0 11px 0;
-moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; behavior: url(js/pie.htc); margin: 26px 0 0 92px;}
.feedback-inner p {color: #000; padding: 0 0 21px 28px;}
.feedback-inner div {padding: 0 0 5px 76px;}
.feedback-inner div label {width: 89px; float: left; color: #4e4d4d; font-size: 13px; padding: 4px 0 0 0;}
.feedback-inner div .txx {background: url(../images/txx-bg.png) no-repeat; width: 266px; height: 26px; line-height: 26px; font-size: 13px; border: 0; padding: 0 10px; float: left;}
.feedback-inner div textarea {background: url(../images/textarea.png) no-repeat; width: 266px; height: 79px; overflow: hidden; border: 0; padding: 10px; font-size: 13px; float: left;}
.feedback-inner div.captcha {padding-top: 10px;}
.feedback-inner div.captcha .txx-1 {background: url(../images/txx-1-bg.png) no-repeat; width: 74px; height: 26px; line-height: 26px; font-size: 13px; border: 0; padding: 0 10px; float: left; margin: 6px 0 0 0;}
.feedback-inner div.captcha .cod {float: left; margin: 1px 0 0 12px;}
.feedback-inner div.captcha a {float: left; color: #996633; font-size: 13px; margin: 10px 0 0 18px;}
.button {background: url(../images/button.png) center 1px no-repeat; width: 146px; height: 35px; line-height: 35px; float: right; margin: 1px 94px 0 0; 
border: 0; cursor: pointer; color: #fff; font-size: 14px; text-transform: uppercase;}
.button:hover {background: url(../images/button-pass.png) no-repeat;}
.feedback-outer .p3 {color: #996633; font-size: 13px; padding: 15px 0 19px 120px;}
.inne {border: 1px solid #bebab4; border-width: 1px 0; padding: 20px 120px 23px 88px; color: #000; margin: 0 0 0 13px;}
.slides-last {margin: 31px 0 0 5px !important;}


/* tovars */
.catalog-outer {padding: 15px 0 0 20px;}
.catalog-outer .p4 {color: #000; line-height: 1.3; padding: 0 0 13px 0;}
.filtres {padding: 12px 0 13px 0;}
.paganavi-wrapper {border: 1px solid #bebab4; border-width: 1px 0; padding: 0 0 16px 0;}
.paganavi-wrapper .pagenavi {padding-top: 16px;}
.filtres {border: 1px solid #bebab4; border-width: 1px 0;}
.filtres dl dt {display: inline; padding: 0 13px 0 0;}
.filtres dl dd {display: inline; padding: 0 20px 0 0;}
.filtres dl dd a {color: #585858;}
.filtres dl dd a:hover, .filtres dl dd.current a {text-decoration: none; color: #6a3806;}
.catalog-list {padding: 13px 0 11px 0;}
.catalog-list li {margin: 0 7px 5px 0; list-style: none; float: left;}
.catalog-list-inner {background: url(../images/catalog-list-inner-bg.png) no-repeat; width: 171px; height: 251px;  display: table-cell; text-align: center; vertical-align: top;}
.catalog-list-inner a.pic {display: block; padding: 17px 0 0 0; height: 158px; overflow: hidden;}
.catalog-list-inner h4 {font-size: 14px; font-weight: normal; color: #000;}
.catalog-list-inner p {font-size: 24px; color: #000; line-height: 0.8; padding: 0 5px 0 0;}
.catalog-list-inner .mor {background: url(../images/mor.png) right 3px no-repeat; padding: 0 18px 0 0; color: #603b14; font-size: 13px;}

.footer {background: #996633 url(../images/footer-bg.png) repeat-x; position: absolute; height: 126px; border-top: 1px solid #e5d4be; width: 100%; bottom: 0; z-index: 3;}
.footer-main {background: url(../images/footer-main.png) no-repeat; width: 1000px; margin: 0 auto; height: 100%;}
.footer-left {padding: 36px 0 0 2px; width: 225px; float: left;}
.footer-left p {font-size: 16px; color: #000; padding: 2px 0 0 5px;}
.footer-center {width: 628px; float: left;}
.footer-menu {padding: 36px 0 0 0;}
.footer-menu li {list-style: none; float: left; color: #fff; font-size: 13px;}
.footer-menu li a {float: left; text-transform: uppercase; text-decoration: none; color: #fff;}
.footer-menu li a:hover {text-decoration: underline;}
.footer-menu li span {float: left; padding: 0 19px 0 17px;}
.footer-center p {color: #fff; font-size: 13px; padding: 17px 0 0 0;}
.footer-right {width: 145px; float: right; padding: 34px 0 0 0;}
.footer-right p {font-size: 13px; color: #000; padding: 0 0 6px 0;}
.footer-right p span {display: block; padding: 2px 0 0 3px;}