.head {background-position: 0 43px;}
.katalog li { display: inline;}
.details-block .info .comment-form-bg3 form table tr td { padding-top: 0;}
.container .data-outer {margin: 0 0 6px 233px;}
.container .img {margin: 0 4px 0 0;}