/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
* {padding: 0; margin :0;}
html, body {width: 100%; height: 100%;}
body {background: #fff3bc; font: 12px Arial, Helvetica, sans-serif; color: #484848;}
* html body {behavior:url("csshover.htc");}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}


/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/

	.body-bg1 {background: url(../images/body-bg1.png) center top repeat-x; height: 100%;}
		.wrapper {width: 1000px; margin: 0 auto; position:relative; min-height: 100%; height: auto !important; height: 100%; z-index: 10;}
		
		.head {background: url(../images/head-bg.png) left 42px no-repeat; width: 1000px; height: 224px; position: relative; z-index: 11;}
			.head .menu li {float: left;}
			.head .menu li a {float: left; line-height: 42px; font-size: 14px; color: #fff; text-decoration: none; padding: 0 21px;}
			.head .menu li a.current,.menu li a:hover {background: #fdc37f;}
			.head .logo {position: absolute; left: 400px; top: 82px;}
			.head h2 {font-size: 16px; font-weight: normal; color: #fe7911; float: left; padding: 114px 0 0 495px;}
			.head .contacts {position: absolute; right: 0; top: 101px; font-size: 16px; color: #fff;}
			.head .contacts .skype {background: url(../images/skype-bg.png) left 3px no-repeat; padding: 0 12px 3px 27px; float: left; text-decoration: none; color: #fff;}
			.head .contacts .tell {background: url(../images/tell-bg.png) left 1px no-repeat; float: left; padding: 0 12px 0 28px;}
			.head .block {background: url(../images/block-bg.png) no-repeat; width: 1000px; height: 29px; margin: 148px 0 0 0; padding: 5px 0 0 0;}
			.head .block form {float: left; padding: 0 58px 0 0;}
			.head .block label {float: left; color: #fff; padding: 5px 16px 0 15px;}
			.head .block .lineForm {float: left;}
			.head .block .in {background: url(../images/in-bg.png) no-repeat; width: 229px; height: 23px; border: 0; line-height: 23px; float: left; margin: 0 5px;}
			.head .block .submit {background: url(../images/submit-bg.png) no-repeat; width: 54px; height: 23px; border: 0; float: left; cursor: pointer;}
			.head .log {background: url(../images/log-bg.png) left 2px no-repeat; padding: 0 0 3px 28px; float: left; font-size: 14px; color: #fff000; margin: 3px 0 0 0;}
			.head .log a {color: #fff000;}
			.head .log .login {color: #fff;}
			.head .log span {padding: 0 0 0 6px;}
			.head .basket {background: url(../images/basket-bg.png) no-repeat; float: right; padding: 3px 21px 2px 32px; font-size: 14px; color: #fff;}
			.head .basket span {padding: 0 10px 0 0;}
			.head .basket a { color: #fff; text-decoration: none;}
			.head .tapki { position: absolute; bottom: 34px; left: 187px;}


		.content {width: 1000px; padding: 15px 0 109px 0;}
			
			.left-column {width: 195px; float: left; padding: 0 33px 0 0; position: relative; z-index: 10;}
				.sidebar {margin: 0 0 13px 0;}
				.sidebar-title {background: url(../images/sidebar-title-bg.png) no-repeat; width: 195px; height: 32px;}
				.sidebar-title h2 {text-align: center; font-size: 14px; font-weight: bold; color: #fff; padding: 7px 0 0 0;}
				.sidebar-middle-bg1 {background: url(../images/sidebar-middle-bg1.png) left bottom no-repeat; padding: 0 0 3px 0;}
				.sidebar-middle-bg2 {background: url(../images/sidebar-middle-bg2.png) repeat-y; width: 195px;}
				.submenu li {width: 195px; border-bottom: 1px solid #3a72ae; position: relative;}
				.submenu li a {text-decoration: none; color: #484848; padding: 7px 0 6px 22px; display: block;}
				.submenu li a:hover {background: #d9eafc;}
				.submenu li ul {background: #d9eafc; position: absolute; left: 195px; top: 0; display: none;}
				.submenu li ul li {width: 187px; border-bottom: 1px solid #d9eafc;}
				.submenu li ul li a {color: #275c94; padding: 7px 0 6px 17px;}
				.submenu li ul li a:hover {background: #fbfdff;}		
				.submenu li:hover ul,.submenu ul li:hover ul,.submenu ul ul li:hover ul,.submenu li.iehover ul,.submenu ul li.iehover ul,.submenu ul ul li.iehover ul {display: block;}
				.banner {padding: 3px 0 17px 0;}
				.box {margin: 0 11px 0 12px; border-bottom: 1px solid #3b74b0; padding: 8px 0; width: 172px;}
				.box p {margin: 0 0 -7px 0;}
				.box p a {text-decoration: none; color: #fe9922;}
				.box span {display: block; text-align: right;}
				.box .all {display: block; text-align: right; color: #3a72ae; padding: 6px 0 4px 0;}
				.bloc {padding: 0 12px 0 10px;}
				.bloc .date {padding: 6px 0 4px 0;}
				.bloc .date a {font-style: italic; color: #484848; border-bottom: 1px solid #3a72ae; text-decoration: none;}
				.bloc p a {text-decoration: none; color: #fe9922;}
				.bloc .all {display: block; text-align: right; color: #3a72ae; padding: 8px 0 15px 0;}
				.no-border {border-bottom: 0!important;}
				
			.right-column {width: 772px; float: left; position: relative; z-index: 9; padding: 0 0 7px 0;}
				.preambule-bg1 {background: url(../images/preambule-bg1.gif) no-repeat; padding: 4px 0 0 0;}
				.preambule-bg2 {background: url(../images/preambule-bg2.gif) left bottom no-repeat; padding: 0 0 4px 0;}
				.preambule-bg3 {background: #fff; width: 772px;}
				.preambule-bg3 h3 {font-size: 18px; font-weight: normal; color: #4277ad; padding: 8px 0 10px 16px;}
				.preambule-bg3 p {padding: 2px 5px 11px 15px;}
				
				.katalog-wrap {padding: 3px 0 0 0;}
				.katalog-wrap .heading {background: url(../images/katalog-wrap-h2-heading.png) right top no-repeat; height: 95px; padding: 0 22px 0 0; position: relative; left: -15px; float: left; margin: 0 0 -17px 0;}
				.katalog-wrap h2 {background: url(../images/katalog-h2-bg.png) no-repeat; height: 69px; font: normal 24px Trebuchet MS1, Trebuchet MS, sans-serif; color: #fff; text-transform: uppercase; padding: 26px 43px 0 54px; float: left;}
				.katalog-wrap .h21 {padding-left: 86px; width: 152px;}
				.katalog {margin: 0 0 -23px 6px;}
				.katalog li {width: 228px; display: inline-block; vertical-align:top; margin: 0 37px 35px 0;}
				* +html .katalog li {display: inline;}
				.katalog li div a img {border: 1px solid #ffdfb4; border-width: 4px 6px;}
				.katalog li h4 {font-weight: normal; color: #484848; font-size: 16px; text-align: center; padding: 3px 0 0 0;}
				.katalog li .price {padding: 6px 2px 0 34px;}
				.katalog li .price span {font-size: 16px; color: #1e5289; float: left;}
				.katalog li .price a {float: right;}
				.no-margin {margin-right: 0!important;}
				.katalog-wrap .heading-first h2 {padding: 26px 12px 0 33px;}
				.katalog-wrap .heading-second h2 {padding: 26px 80px 0 85px;}
				.katalog-wrap .heading-zero h2 {padding: 26px 0 0 15px;}
				.katalog-wrap .heading-forth h2 {padding: 26px 40px 0 15px;}
				.katalog-wrap .heading-fifth h2 {padding: 26px 149px 0 15px;}
				.katalog-wrap .heading-six h2 {padding: 26px 82px 0 15px;}
				.last {margin-bottom: 0!important;}
				
				.pagenavi {margin: 0 0 13px 0;}
				.pagenavi ul {float: left; padding: 0 0 0 8px;}
				.pagenavi ul li {float: left;}
				.pagenavi ul li span {float: left; padding: 0 7px 0 0;}
				.pagenavi ul li a {float: left; color: #3c75b1; text-decoration: none; padding: 0 0 0 9px; line-height: 15px;}
				.pagenavi ul li span a i {float: left; margin: 0 -4px 0 -5px; font-style: normal; position: relative; z-index: 10;}
				.pagenavi ul li.activ span,.pagenavi ul li:hover span {background: url(../images/pagenavi-ul-li-span.png) right top no-repeat;}
				.pagenavi ul li.activ span a,.pagenavi ul li:hover span a {background: url(../images/pagenavi-ul-li-span-a.png) no-repeat; color: #fff;}
				.pagenavi ul li.prew {background: url(../images/prew-bg.png) left 4px no-repeat; padding: 0 6px 0 1px;}
				.pagenavi ul li.next {background: url(../images/next-bg.png) right 4px no-repeat; padding: 0 11px 0 0; margin: 0 0 0 -4px;}
				.pagenavi .selest-form {float: right;}
				.pagenavi .selest-form label {float: left; color: #3c75b1; padding: 0 5px 0 0;}
				.pagenavi .selest-form .lineForm {float: left; position: relative; top: -2px;}
				.pagenavi-bottom {margin: 22px 0 20px 0;}
				.pagenavi .right-part { width: 264px; float: right; padding: 0; position: relative; top: -27px;}
				.pagenavi  .right-part form label {background: url(../images/rss-bg1.png) no-repeat; color: #296098;}
				
				
				.details-block-pic {float: left; width: 241px;}
				.details-block-pic img {border: 1px solid #ffdfb4; border-width: 4px 6px;}
				.details-block-info {width: 513px; float: left; padding: 0 0 0 18px;}
				.rating {padding: 4px 0 0 0;}
				.rating a {float: left;}
				.rating img {float: left;}
				.details-block-info .price {font-size: 16px; color: #1e5289; padding: 19px 0 22px 0;}
				.details-block-info .det {font-size: 14px; padding: 0 0 17px 0;}
				.details-block-info .det span {font-weight: bold; font-size: 12px;}
				.details-block-info form .inner {float: left; padding: 0 29px 19px 0;}
				.details-block-info form .inner-last {padding-top: 17px;}
				.details-block-info form .inner label {color: #3c75b1; font-size: 14px; float: left; width: 53px;}
				.details-block-info form .inner label.l-1 {width: 65px;}
				.details-block-info form .inner label.l-2 {width: 83px; font-size: 12px; padding: 2px 0 0 0;}
				.details-block-info form .lineForm {float: left;}
				.add {background: url(../images/add-bg.png) no-repeat; width: 96px; height: 21px; float: left; padding: 2px 0 0 0; text-align: center; color: #fff; text-decoration: none; margin: 0 0 0 -14px;}
				.details-block-info form .inner .submit-3 {background: url(../images/submit-bg3.png) no-repeat; width: 154px; height: 22px; float: left; border: 0; margin: 0 0 0 5px; cursor: pointer;}
				.cost {border-top: 1px solid #cac9c9; width: 396px; color: #275d96; padding: 5px 0 0 0; margin: -14px 0 0 0;}
				.cost span {color: #fe6f0c; padding: 0 5px 0 0;}
				.details-block .info {padding: 12px 0 0 0;}
				.details-block .info h3 {border-bottom: 1px solid #1f538a; font-size: 14px; color: #296098; font-weight: bold; padding: 8px 0 5px 0;}
				.details-block .info p {line-height: 1.1; padding: 12px 0 5px 0;}
				.title {padding: 8px 0 0 0;}
				.title .rating {float: left; padding: 4px 19px 0 0;}
				.title span {color: #275d96; float: left; padding: 5px 16px 0 0;}
				.review {background: url(../images/review.png) no-repeat; width: 104px; height: 20px; text-align: center; color: #fff; text-decoration: none; display: block; padding: 3px 0 0 0; margin: 11px 0 0 0;}
				.comment-form-bg1 {background: url(../images/comment-form-bg1.gif) no-repeat; padding: 4px 0 0 0; margin: 18px 0 0 0;}
				.comment-form-bg2 {background: url(../images/comment-form-bg2.gif) left bottom no-repeat; padding: 0 0 4px 0;}
				.comment-form-bg3 {background: url(../images/comment-form-bg3.gif) repeat-y; width: 391px; padding: 0 17px 8px 18px;}
				.details-block .info .comment-form-bg3 h3 {font-size: 14px; font-weight: normal; color: #296098;}
				.details-block .info .comment-form-bg3 form {padding: 10px 0 0 0;}
				.details-block .info .comment-form-bg3 form div {padding: 0 0 7px 0;}
				.details-block .info .comment-form-bg3 form div label {float: left; width: 61px; color: #296098; font-size: 12px; padding: 2px 0 0 0;}
				.details-block .info .comment-form-bg3 form div .inn {background: url(../images/inn-bg.png) no-repeat; width: 164px; height: 20px; line-height: 20px; border: 0; padding: 0 2px; float: left;}
				.details-block .info .comment-form-bg3 form div textarea {background: url(../images/textarea-bg.png) no-repeat; width: 330px; height: 89px; border: 0; overflow: hidden; margin: 0 0 3px 0; float: left;}
				.details-block .info .comment-form-bg3 form table {display: block; float: left;}
				.details-block .info .comment-form-bg3 form table tr td {padding-top: 3px;}
				.details-block .info .comment-form-bg3 form table tr td span {color: #356a9f; padding: 0 9px 0 1px; position: relative; top: -2px;}
				.details-block .info .comment-form-bg3 form .submit-4 {background: url(../images/submit-bg4.png) no-repeat; width: 103px; height: 22px; border: 0; float: right; cursor: pointer;}
				.details-block .info .comment-form-bg3 form .submit-8 {background: url(../images/submit-bg8.png) no-repeat; width: 103px; height: 22px; border: 0; float: right; cursor: pointer;}
				.review-second {background: url(../images/review-second.png) no-repeat; width: 122px; height: 20px; text-align: center; color: #fff; text-decoration: none; padding: 3px 0 0 0; float: right; position: relative; top: -5px;}
				
				.cart-title-bg1 {background: url(../images/cart-title-bg1.png) no-repeat; padding: 0 0 0 4px;}
				.cart-title-bg2 {background: url(../images/cart-title-bg2.png) right top no-repeat; padding: 0 5px 0 0;}
				.cart-title-bg3 {background: url(../images/cart-title-bg3.png) repeat-x; height: 29px;}
				.cart-title-bg3 table tr td {color: #fff; font-size: 13px; padding: 5px 0 8px 15px;}
				.cart-title-bg3 table tr td.curr {background: url(../images/cart-title-current-bg.png) repeat-x;}
				.cart-table {background: #fff; width: 772px;}
				.cart-table tr td {vertical-align: top; border-bottom: 1px solid #e1e2e2;}
				.cart-table tr td .pic-outer .pic-inner {float: left; padding: 4px 19px 4px 18px;}
				.cart-table tr td .pic-outer .pic-inner img {border: 1px solid #e1e2e2;}
				.cart-table tr td .pic-outer p {color: #5e5e5e;}
				.cart-table tr td .pic-outer p.p2 {color: #353535; padding: 15px 0 4px 0;}
				.cart-table tr td .many {padding: 15px 0 0 0;}
				.cart-table tr td table tr td {padding: 7px 0 0 0; border: 0;}
				.cart-table tr td table tr td input {background: url(../images/putt-bg.png) no-repeat; width: 48px; height: 21px; line-height: 21px; border: 0; text-align: right; padding: 0 7px 0 3px; margin: 5px 0 0 0;}
				.cart-table tr td.cur {background: #d9eafc;}
				.cart-table tr td.sum {background: #e1e2e2; padding: 0 25px 6px 0;}
				.cart-table tr td.sum table {float: right; display: block;}
				.cart-table tr td.sum table tr td {padding: 5px 0 0 0;}
				.cart-bottom {padding: 3px 15px 0 0 ;}
				.cart-bottom p {font-size: 11px; float: left;}
				.cart-bottom a {color: #fff; text-align: center; float: right; text-decoration: none; padding: 2px 0 0 0; height: 21px; margin: 7px 0 0 0;}
				.cart-bottom .a1 {background: url(../images/a1-bg.png) no-repeat; width: 126px;}
				.cart-bottom .a2 {background: url(../images/a2-bg.png) no-repeat; width: 96px; margin: 7px 0 0 6px;}
				
				.registration-outer {margin: 15px 0 0 0;}
				.registration-top {background: url(../images/registration-top.png) no-repeat; width: 770px; height: 30px;}
				.registration-top h3 {font-size: 13px; text-transform: uppercase; font-weight: normal; color: #fff; padding: 6px 0 0 18px; float: left;}
				.registration-top h3.rt {padding-left: 323px;}
				.registration-middle {background: url(../images/registration-middle-bg.gif) repeat-y; width: 770px; padding-bottom: 24px;}
				.registration-middle h4 {font-size: 14px; padding: 16px 0 8px 20px;}
				.registration-middle p {padding: 0 0 17px 20px;}
				.registration-middle-inner-left {width: 369px; float: left; padding-right: 17px;}
				.registration-middle-inner-left form.reg {padding: 83px 0 0 0;}
				.registration-middle-inner-left form .submit-5 {background: url(../images/submit-bg5.png) no-repeat; width: 95px; height: 22px; border: 0; float: right; cursor: pointer;}
				.registration-middle-inner-right {width: 384px; float: left;}
				.registration-middle-inner-right form {padding: 0 15px 0 23px;}
				.registration-middle-inner-right form div {padding: 0 0 4px 0;}
				.registration-middle-inner-right form div label {width: 63px; float: left; padding: 3px 0 0 0;}
				.registration-middle-inner-right form div .onn {background: url(../images/onn-bg.png) no-repeat; width: 135px; height: 21px; line-height: 21px; padding: 0 2px; float: left; border: 0;}
				.registration-middle-inner-right form a {display: block; color: #8c8a8a; padding: 13px 0 0 0;}
				.registration-middle-inner-right form .submit-6 {background: url(../images/submit-bg6.png) no-repeat; width: 95px; height: 22px; border: 0; float: right; cursor: pointer; margin: 3px 0 0 0;}
				.text-outer {padding: 0 0 0 5px; margin: 0 0 -7px 0;}
				.text {border-bottom: 1px solid #fe6506; padding: 0 0 13px 0; margin: 0 0 11px 0;}
				.text span {color: #275d96; padding: 0 16px 0 0;}
				.text p {padding: 11px 0 0 0;}
				.details-block .info-second {padding-top: 0px;}
				
				.registration-middle-inner-left form.aut { padding: 20px 0 0 0;}
				.registration-middle-inner-left form.aut div { padding: 0 6px 7px 0;}
				.registration-middle-inner-left form.aut div label {width: 109px; text-align: right; padding: 2px 16px 0 0; float: left;}
				.registration-middle-inner-left form.aut div .t { background: url(../images/t-bg.png) no-repeat; width: 232px; height: 21px; line-height: 21px; border: 0; padding: 0 2px; float: left; font-size: 12px;}
				.registration-middle-inner-left form.aut div span.sp { display: block; padding: 0 0 13px 124px;}
				.registration-middle-inner-left form.aut div .coun { padding: 0; float: left;}
				.registration-middle-inner-left form.aut div .coun div { padding: 0;}
				
				.news-outer {margin: 0 0 -7px 0;}
				.news {border-bottom: 1px solid #20548b; padding: 0 0 12px 0; margin: 0 0 13px 0;}
				.data {background: url(../images/data-bg.png) right top no-repeat; padding: 0 7px 0 0; float: left;}
				.data span {background: url(../images/data-span-bg.png) no-repeat; float: left; color: #fff; height: 19px; padding: 3px 2px 0 5px;}
				.news i {float: left; font-style: normal; font-size: 14px; color: #275d96; padding: 2px 0 0 3px;}
				.news p {padding: 6px 0 0 0;}
				.news p a.more {color: #fe6a09; padding: 0 0 0 3px;}
				.container {overflow: hidden; width: 772px;}
				.container .img {float: left; margin: 0 8px 0 0;}
				.container .img img {border: 1px solid #ffdab2; border-width: 4px 6px;}
				.container .data-outer {background: url(../images/data-outer-bg.png) no-repeat; width: 74px; height: 20px; padding: 3px 0 0 0; color: #fff; text-align: center; margin: 0 0 6px 236px;}
				.container p {padding: 0 0 13px 0; line-height: 1.2;}
				
				.links {padding: 12px 0 0 0;}
				.links div {float: left; padding: 0 30px 0 0;}
				.links div img {margin: 0 7px 0 0; position: relative; top: 1px;}
				.links div a {font-size: 16px; color: #1c5086;}
				.text-wrap {padding: 28px 0 10px 0;}
				.text-wrap h4 {color: #fe7911; font-size: 16px; font-weight: normal; padding: 0 0 14px 0;}
				.text-wrap p {color: #1c5086; padding-bottom: 13px;}
				.details-block .info .comment-form-bg3 form div.country {padding: 0; float: left;}
				.details-block .info-third {padding: 1px 0 0 0; margin-bottom: 45px;}
				.details-block .info-third .comment-form-bg3 form div label {width: 100px;}
				.details-block .info-third .comment-form-bg3 form div span {color: #4173a6;}
				.details-block .info-third .comment-form-bg1 {background: url(../images/comment-form-bg11.gif) no-repeat;}
				.details-block .info-third .comment-form-bg2 {background: url(../images/comment-form-bg22.gif) left bottom no-repeat; padding: 0 0 4px 0;}
				.details-block .info-third .comment-form-bg3 {background: url(../images/comment-form-bg33.gif) repeat-y; width: 436px; padding: 0 17px 8px 18px;}
				.details-block .info-third .comment-form-bg3 form .submit-7 {background: url(../images/submit-bg7.png) no-repeat; width: 103px; height: 22px; border: 0; float: right; cursor: pointer;}
				
			
				 
				
		.footer {width: 1000px; height: 109px; margin: -109px auto 0 auto; padding: 0 0 46px 0; position: relative; z-index: 11;}
			.footer-inner-bg1 {background: url(../images/footer-inner-bg1.png) no-repeat; padding: 4px 0 0 0;}
			.footer-inner-bg2 {background: url(../images/footer-inner-bg2.png) left bottom no-repeat; padding: 0 0 4px 0;}
			.footer-inner-bg3 {background: #3b74b0 url(../images/footer-inner-bg3.png) left bottom repeat-x; width: 1000px;}
			.left-part {width: 585px; float: left; padding: 6px 0 0 22px;}
			.left-part dl {padding: 7px 0 0 0;}
			.left-part dl dt {width: 111px; float: left; font-size: 12px; color: #fff;}
			.left-part dl dt span {text-decoration: underline; margin: 0 6px 0 0;}
			.left-part dl dd {padding: 0 11px 0 0; float: left;}
			.left-part dl dd a {font-size: 11px; color: #fff; text-decoration: none;}
			.right-part {width: 393px; float: left; padding: 8px 0 0 0;}
			.right-part form label {background: url(../images/rss-bg.png) no-repeat; padding: 4px 0 6px 26px; display: block; color: #fff; font-size: 12px;}
			.right-part form .on {background: url(../images/on-bg.png) no-repeat; width: 182px; height: 14px; color: #296098; border: 0; float: left; padding: 0 2px 4px 2px; font-size: 12px;  margin: 0 4px 0 0; }
			.right-part form .submit-2 {background: url(../images/submit-bg2.png) no-repeat; width: 74px; height: 18px; border: 0; cursor: pointer; float: left;}
			.bottom {border-top: 1px solid #3a72ae; margin: 19px 20px 0 20px; color: #fff; font-size: 11px; padding: 10px 0 6px 0;}
			.bottom .copy {float: left;}
			.bottom .copy span {padding: 0 0 0 10px;}
			.bottom .design {float: right;}
			.bottom .design a {color: #fff;}