* {margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased;}
html, body {width:100%; height:100%;}
table {border-collapse: collapse; width: 100%; word-wrap: break-word; table-layout: fixed;}
input:focus {outline: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
img, table {border: none;}

a:link, a:visited {text-decoration: none; color: #010101;}
a:hover, a:active {text-decoration: underline;}
 				
button {outline: none; cursor: pointer;}
svg:not(:root) {overflow: hidden;}


header,footer,article,section,hgroup,nav,menu,aside,figure,main,video{display:block;}
.floatLeft {float: left;}
.floatRight {float: right;}

h1, h2, h3, h4, h5, h6 {margin: 15px 0; font-weight: 400;}
h1 {font-size: 32px;}
h2 {font-size: 26px;}
h3 {font-size: 24px;}
h4 {font-size: 22px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}

ul, ol {list-style:none;}

p {margin: 15px 0; line-height: 1.4;}

img{width:auto\9;height:auto;max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}


::-webkit-input-placeholder {
 color: #4a4a4a;
}
:-moz-placeholder {/* Firefox 18- */
 color: #4a4a4a;
}
::-moz-placeholder {/* Firefox 19+ */
 color: #4a4a4a;
}
:-ms-input-placeholder {
 color: #4a4a4a;
}

input[type=text],input[type=password],input[type=url],input[type=tel],input[type=number],input[type=color],input[type=email],input[type=search],textarea {font-family: 'Roboto', sans-serif; background: transparent; border: 2px solid #000; padding: 9px 24px 11px 24px; font-size: 18px; color: #4a4a4a; width: 100%;}
textarea {resize: vertical;}






[class*="ic-"] {background: url("../img/mx.png") no-repeat; display: inline-block; vertical-align: top;}

body {background: #eee; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 16px; color: #000;}

.page {max-width: 1404px; margin: 0 auto; background: #fff; box-shadow: 0 -20px 20px 10px #dadada; position: relative;}

.inner {max-width: 1200px; margin: 0 auto; position: relative;}
.inner:after {content: ""; display: table; clear: both;}

.header {position: absolute; top: 0; left: 0; width: 100%; z-index: 100;}
.top-header {background: #000; border-bottom: 1px solid #a1a1a1; min-height: 59px;}
.social {float: left;}
.social li {float: left;}
.social li a {display: block; width: 52px; text-align: center; border-right: 1px solid #a1a1a1; min-height: 59px;}
.social li:first-child a {border-left: 1px solid #a1a1a1;}
.social li a span {position: relative; top: 20px;}
.social li a span.ic-vk {width: 27px; height: 14px; top: 24px;}
.social li a:hover span.ic-vk {background-position: 0 -18px;}
.social li a span.ic-ins {width: 22px; height: 21px; background-position: -100px 0; top: 22px;}
.social li a:hover span.ic-ins {background-position: -100px -26px;}
.social li a span.ic-linkedIn {width: 22px; height: 20px; background-position: -200px 0;}
.social li a:hover span.ic-linkedIn {background-position: -200px -27px;}
.social li a span.ic-facebook {width: 11px; height: 22px; background-position: -300px 0;}
.social li a:hover span.ic-facebook {background-position: -300px -30px;}
.phone {float: right; color: #fff; font-size: 18px; font-weight: 400; padding: 19px 1.17% 0 0;}
.ic-phone {width: 24px; height: 24px; background-position: -400px 0; margin-right: 18px; position: relative; top: -1px;}
a.partner {font-size: 14px; text-transform: uppercase; font-weight: 400; color: #fff; text-decoration: underline; float: right; margin: 20px 5.17% 0 0;}
a.partner:hover {text-decoration: none;}
.bottom-header {background: #fff; min-height: 94px;}
a.logo {background: url("../img/mx.png") 0 -100px no-repeat; width: 222px; height: 46px; float: left; display: block; text-indent: -9000px; overflow: hidden; margin: 23px 0 26px 0;}
.nav {float: right;}
.menu > li {float: left; margin: 0 0 0 29px; position: relative;}
.menu > li:first-child {margin-left: 0;}
.menu > li > a {font-size: 18px; font-weight: 400; position: relative; display: block; line-height: 94px;}
.menu > li > a:hover {color: #636363; text-decoration: none;}
.menu > li.hasSub > a {padding: 0 21px 0 0;}
.menu > li.hasSub > a:before {content: ""; background: url("../img/mx.png") -500px 0 no-repeat; width: 12px; height: 7px; position: absolute; right: 0; top: 50%; margin-top: -4px;}
.menu > li.hasSub > a:hover:before {background-position: -500px -10px;}
.menu > li > ul {position: absolute; left: -32px; top: 95px; border-top: 2px solid #000; background: #fff; width: 581px; display: none; padding: 0 0 22px 0;}
.menu > li > ul > li {display: inline-block; vertical-align: top; width: 50%; margin: 0 -4px 0 0; padding: 0 5%;}
.menu > li > ul > li > ul > li {padding: 20px 0 0 0;}
.menu > li > ul > li > ul > li > a:hover {color: #636363; text-decoration: none;}


.main {padding: 153px 0 0 0;}
.carusel-wrap {position: relative; background: #e7e7e7;}


.slide-content {width: 35.36%; position: absolute; left: 7.29%; top: 56px; z-index: 2; overflow: hidden; height: 250px;}
.slide-content h2 {font-size: 62px; text-transform: uppercase; margin: 0 0 6px 0;}
.slide-content p {font-size: 17px; margin: 0; line-height: 1.6;}
a.more {display: inline-block; font-weight: 400; text-transform: uppercase; width: 192px; height: 47px; border: 2px solid #000; text-align: center; padding: 12px 0 0 0; margin: 27px 0 0 0;}



.slidesjs-container {width: 100%!important;}
.slidesjs-control {width: 100%!important;}
.item {width: 100%!important; float: left!important;}
.carusel-wrap .slidesjs-pagination {position: absolute; bottom: 139px; left: 7.29%; z-index: 101;}
.slidesjs-pagination li {display: inline-block; width: 17px; height: 17px; border-radius: 17px; border: 2px solid #000; margin-right: 16px; padding: 2px;}
.slidesjs-pagination li a {overflow: hidden; display: block; width: 100%; height: 100%; font-size: 9px; color: transparent;}
.slidesjs-pagination li a.active {background: #000; border-radius: 50%;}
.item figure {position: relative; z-index: 1;}
.item figure img {min-width: 100%;}
.carusel-wrap a.more  {position: absolute; bottom: 60px; left: 7.29%; margin: 0; z-index: 10;}



.about p {text-align: center; font-size: 14px;}
.title {text-align: center; padding: 22px 0 0 0;}
.title h2 {font-size: 52px; margin: 0 0 14px 0; text-transform: uppercase;}
.description {border: 1px solid #000; border-width: 1px 0; max-width: 778px; margin: 0 auto;} 
.description h3 {font-size: 32px; font-weight: 300; margin: 0; text-transform: uppercase; padding: 15px 0;}
.about-list {padding: 20px 0 0 0;}
.about-list li {display: inline-block; vertical-align: top; margin: 0 -4px 0 0; width: 50%; position: relative;}
.about-list li img {min-width: 100%; margin-bottom: 10px;}
.square {text-align: center; height: 100%; position: absolute; left: 0; top: 0; width: 100%; color: #fff; padding: 108px 10% 0 10%;}
.square h4 {font-size: 23px; text-transform: uppercase; margin: 0 0 21px 0;}
.square p {font-size: 16px; margin: 0;}
.line {width: 292px; margin: 0 auto 22px auto; border-top: 2px solid #fff;}

.novelty {padding: 12px 0 37px 0;}
.novelty-list {padding: 37px 0 41px 0;}
.novelty-list > li {display: inline-block; vertical-align: top; margin: 0 -4px 0 0; width: 33%; text-align: center;}
.novelty-list > li > a {display: block; position: relative;}
.mark {display: inline-block; background: #000; color: #fff; text-transform: uppercase; font-size: 14px; line-height: 27px; padding: 0 19px; margin: 0 0 30px 0;}
.novelty-list > li figure {position: relative; min-height: 344px;}
.novelty-list > li figure img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -65%);}
.novelty-list > li figure figcaption {position: absolute; width: 100%; left: 0; bottom: 61px;}
.novelty-list > li:hover figure {box-shadow: 0 0 20px 10px #dadada;}
.novelty .description h3 {font-size: 26px;}
.novelty a.more {width: 345px; margin: 0 auto; display: block;}

.workshops {background: #000; text-align: center; color: #fff; padding: 25px 0 36px 0;}
a.but {width: 56px; height: 56px; display: block; margin: 0 auto; border: 1px solid #fff; background: #000; text-align: center;}
a.but span {position: relative; top: 14px;}
.ic-workshops {width: 16px; height: 24px; background-position: -300px -100px;}
.workshops h2 {font-size: 24px; text-transform: uppercase; margin: 39px 0 15px 0;}
.workshops p {font-size: 18px; margin: -8px 0 0 0;}

.programs {padding: 10px 0 34px 0;}
.programs .description {max-width: 583px;}
.programs-list {padding: 53px 0 0 0;}
.programs-list li {display: inline-block; vertical-align: top; margin: 0 -4px 20px 2%; width: 32%; text-align: center;}
.programs-list li figure img {min-width: 100%;}
.programs-list li:nth-child(3n+1) {margin-left: 0;}
.program-inner {border: 1px solid #d3d3d3; border-top-width: 0; padding: 31px 10% 26px 10%;}
.program-inner h2 {margin: 0 0 5px 0; font-size: 24px; font-weight: 600;}
.program-inner h3 {font-size: 16px; margin: 0 0 26px 0; text-transform: uppercase;}
.short-line {border-top: 2px solid #000; width: 61px; margin: 0 auto;}
.program-inner p {font-size: 15px; padding: 6px 0 12px 0;}
a.mor-a {width: 53px; height: 53px; display: block; margin: 0 auto; border: 1px solid #000; background: #fff; text-align: center;}
.ic-ra {width: 8px; height: 12px; background-position: -400px -100px; position: relative; top: 20px;}


.video-wrap {border-top: 1px solid #cfcfcf; padding: 10px 0 78px 0;}
.video-wrap h2 {font-size: 26px; text-transform: uppercase; color: #979696;}
.video-info {width: 38.17%; float: left; padding: 59px 0 0 0;}
.video-info h3 {font-size: 26px; margin: 0 0 17px 0; text-transform: uppercase;}
.video-info p {font-size: 19px; margin: 0; padding: 0 0 13px 0;}
.video-content {width: 58.75%; float: right; overflow: hidden; position: relative; margin: 23px 0 0 0;}
.video-content iframe,.video-content img,.video-content object,.video-content embed {width: 100%; height: auto;}
a.other-video {display: block; font-size: 14px; text-transform: uppercase; color: #979696; margin: 44px 0 0 0;}
a.other-video i {font-style: normal; border-bottom: 1px solid #979696;}
a.other-video:hover {text-decoration: none;}
a.other-video:hover i {border-bottom-color: #fff;}
.ic-video {width: 20px; height: 14px; background-position: -500px -100px; margin: 0 0 0 10px; position: relative; top: 4px;}


.footer {background: #333; color: #fff;}
.footer-top {padding: 39px 0 63px 0;}
.footer-top:after {content: ""; display: table; clear: both;}
.footer-info {width: 33.17%; float: left;}
.footer-nav {width: 25.58%; float: left;}
a.footer-logo {background: url("../img/mx.png") 0 -200px no-repeat; width: 222px; height: 46px; display: block; text-indent: -9000px; overflow: hidden;}
.footer-list {color: #c1c1c1; font-size: 14px; padding: 48px 0 0 0; font-weight: 400;}
.footer-list dt {line-height: 1.5; padding: 0 0 20px 0;}
.footer-list dd {padding: 0 0 1px 0;}
.footer-list dd a {color: #c1c1c1;}
.footer-nav ul {padding: 4px 0 0 0;}
.footer-nav ul li {padding: 6px 0;}
.footer-nav ul li a {color: #fff; text-decoration: underline; font-weight: 400;}
.footer-nav ul li a:hover {text-decoration: none;}
.footer-bottom {background: #000; border-bottom: 1px solid #a1a1a1; min-height: 59px;}
.copy {float: left; width: 37%; margin: 20px 0 0 3%; color: #a3a3a3; font-size: 14px; text-transform: uppercase; font-weight: 400;}


/* contacts */
.titling {background: #e7e7e7; padding: 30px 0 27px 0;}
.titling h1 {margin: 0; text-transform: uppercase;}
.contact-info {width: 38.17%; float: left;}
.contact-info a.more {width: 210px; margin: 20px 0 0 0;}
.contact-form {width: 61.83%; float: right; padding: 33px 0 0 0;}
.contact-list {padding: 45px 0 0 0;}
.contact-list li {font-size: 18px; font-weight: 400; padding: 0 0 20px 42px; position: relative;}
.contact-list li p {margin: 0; line-height: 1.2;}
.contact-list li span {position: absolute; left: 0; top: 1px;}
.ic-marker {width: 15px; height: 20px; background-position: -600px 0;}
.ic-tel {width: 16px; height: 16px; background-position: -700px 0;}
.ic-mobile {width: 11px; height: 20px; background-position: -800px 0;}
.ic-mail {width: 18px; height: 20px; background-position: -600px -100px;}
.ic-skype {width: 18px; height: 19px; background-position: -700px -100px;}
.ic-earth {width: 20px; height: 20px; background-position: -800px -100px;}
.contact-form h2 {margin: 0 0 14px 0; text-transform: uppercase;}
.form-inner {background: #f6f6f6; padding: 30px 4.85% 30px 4.99%;}
.form-inner input {width: 47.83%; margin: 0 4.33% 21px 0; float: left;}
.form-inner input:focus,.form-inner textarea:focus {box-shadow: 0 0 6px 2px #c8c8c8;}
.form-inner input.even {margin-right: 0;}
.form-inner textarea {margin-bottom: 21px;}
.btn {background: #000; font-size: 18px; font-weight: 400; border: 0; text-transform: uppercase; color: #fff; padding: 10px 42px 12px 42px;}
.btn:hover,.btn:active {background: #232222;}
.location {padding: 41px 0 0 0;}
.location h2 {margin: 0 0 35px 0; text-transform: uppercase;}
.map {height: 450px; overflow: hidden;}
 

 /* onas */
 .banner-wrap {position: relative;}
 .banner-wrap img {min-width: 100%; position: relative; z-index: 1;}
 .banner-shadow {position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 2; background: rgba(0, 0, 0, 0.7);}
 .banner-content {position: absolute; width: 100%; left: 0; top: 0; z-index: 3; text-align: center; color: #fff;}
 .banner-content h1 {margin: 0; font-size: 62px; text-transform: uppercase; padding: 49px 0 34px 0;}
 .banner-desc {position: relative; padding: 4px 0 13px 0;}
 .banner-desc p {margin: 0; font-size: 28px; line-height: 1.5;}
 .banner-desc:after,.banner-desc:before {content: ""; width: 404px; border-top: 1px solid #fff; position: absolute; left: 50%; margin-left: -202px;}
 .banner-desc:after {bottom: 0;}
 .banner-desc:before {top: 0;}
 .container {padding: 46px 0 0 0;}
 .inside {padding: 0 8.75%;}
 .article-info {padding: 0 0 52px 0;}
 .article-info h2 {font-size: 44px; margin: 0 0 28px 0; text-transform: uppercase; font-weight: 500; text-align: center; position: relative; padding: 0 0 16px 0;}
 .article-info h2:after {content: ""; width: 284px; border-top: 1px solid #000; position: absolute; bottom: 0; left: 50%; margin-left: -142px;}
 .article-info p {margin: 7px 0 0 0;}
 .article-info p b {font-weight: 600;}
 .article-info h6 {font-size: 18px; font-weight: 500; margin: 7px 0 0 0;}
 .article-info a.more {width: 284px; margin: 37px auto 0 auto; display: block;}

 .main-lines {background: #000; color: #fff; padding: 25px 0 44px 0; margin: 0 0 63px 0;}
 .main-lines h2 {font-size: 52px; margin: 0 0 28px 0; text-transform: uppercase; text-align: center; position: relative; padding: 0 0 21px 0;}
 .main-lines h2:after {content: ""; width: 284px; border-top: 1px solid #fff; position: absolute; bottom: 0; left: 50%; margin-left: -142px;}
 .main-lines-list {padding: 18px 2.53% 0 5.05%;}
 .main-lines-list li {padding: 0 0 0 40px; font-size: 18px; position: relative; line-height: 1.4; margin: 0 0 6px 0;}
 .main-lines-list li:before {content: ""; background: url("../img/mx.png") -300px -200px no-repeat; width: 18px; height: 13px; position: absolute; left: 0; top: 7px;}
 .main-lines-list li a {color: #fff; text-decoration: underline;}
 .main-lines-list li a:hover {text-decoration: none;}

 .offer-wrap {border: 1px solid #000; margin: 0 0 103px 0; text-align: center; padding: 26px 0 35px 0;}
 .offer-wrap p {font-size: 24px; text-transform: uppercase; margin: 0; padding: 6px 0;}
 .offer-wrap p b {font-weight: 600; font-size: 28px;}

 /* partner */
 .article-info-first {padding: 0 0 40px 0;}
 .article-info-first h2 {margin-bottom: 18px;}
 .article-info-first p {font-size: 22px; text-align: center;}
 a.more.dealer-link {width: 284px; margin: -26px auto 46px auto; display: block;}
 .offer-wrap-black {background: #000; color: #fff; margin-bottom: 58px;}

 /* seminar */
 .banner-content-seminar {color: #000;}
 .banner-content-seminar h1 {padding-top: 58px;}
 .banner-content-seminar .banner-desc:after,.banner-content-seminar .banner-desc:before {width: 778px; border-top-color: #000; margin-left: -389px;}
 .article-info-colleagues {text-align: center;}
 .article-info-colleagues p {font-size: 20px; padding: 0 5%;}
 .article-info-colleagues h2 {margin-bottom: 18px;}
 .tell-wrap {background: #000; color: #fff; position: relative; padding: 43px 0 21px 0; margin: 4px 0 49px 0;}
 .tell-wrap a.but {background: #fff; border-color: #000; position: absolute; left: 50%; top: -28px; margin-left: -28px;}
 .ic-pen {background-position: -400px -200px; width: 24px; height: 24px; top: 15px;}
 .tell-list {text-align: center; font-size: 28px;}
 .tell-list dt {text-transform: uppercase; font-weight: 400; line-height: 1.4; padding: 0 0 8px 0;}
 .tell-list dd {padding: 5px 0 0 0;}

 .schedule {border: 1px solid #000; position: relative; text-align: center; padding: 43px 9% 16px 9%; margin: 0 0 39px 0;}
 .schedule a.but {position: absolute; left: 50%; top: -28px; margin-left: -28px;}
 .schedule h2 {margin: 0 0 14px 0; font-size: 52px; text-transform: uppercase;}
 .month {position: relative; font-size: 26px; text-transform: uppercase; padding: 21px 0 18px 0;}
 .month:after,.month:before {content: ""; width: 284px; border-top: 1px solid #000; position: absolute; left: 50%; margin-left: -142px;}
 .month:after {bottom: 0;}
 .month:before {top: 0;}
 .start-seminar {padding: 26px 0;}
 .start-seminar p {font-size: 26px; font-weight: 500; text-transform: uppercase; margin: 0 0 5px 0;}
 .schedule-body {}
 .schedule-body p {font-size: 18px; margin: 0 0 22px 0; line-height: 1.2;}
 .seminar-contact-list {padding: 0 0 41px 0;}
 .seminar-contact-list > li {width: 26%; display: inline-block; vertical-align: top; margin: 0 -4px 0 0;}
 .seminar-contact-list > li:first-child {width: 48%;}
 .seminar-contact-list > li > ul > li {position: relative; font-size: 18px; font-weight: 400; padding: 0 0 20px 40px;}
 .seminar-contact-list > li > ul > li span {position: absolute; left: 0px; top: 1px;}
 .seminar-contact-list > li > ul > li p {margin: 0; line-height: 1.2;}
 .seminar-contact-list > li > ul > li.no-pad {padding-left: 0;}
 .seminar-contact-list a.more {width: 210px; margin-top: 19px;}


 /* dilers */
 .dilers-wrap {padding: 0 0 72px 0;}
 .dilers-outer {margin: -7px 0 0 0;}
 .dilers-outer h2 {font-size: 62px; text-transform: uppercase; margin: 0 0 34px 0; text-align: center;}
 .dilers-title {position: relative; text-align: center; padding: 3px 0 15px 0; margin: 0 0 33px 0;}
 .dilers-title p {font-size: 28px; margin: 0;}
 .dilers-title:after,.dilers-title:before {content: ""; width: 404px; border-top: 1px solid #000; position: absolute; left: 50%; margin-left: -202px;}
 .dilers-title:after {bottom: 0;}
 .dilers-title:before {top: 0;}
 .chosen-wrap {text-align: center; padding: 0 0 30px 0;}
 .select-outer {display: inline-block; vertical-align: top; text-align: left; width: 278px; margin: 0 23px;}
 .dilers-map {position: relative; overflow: hidden; height: 619px;}
 .dilers-map iframe,.dilers-map img,.dilers-map object,.dilers-map embed {width: 100%; height: auto;}
 .city-list {padding: 43px 0 35px 0; border-bottom: 1px solid #000; margin: 0 0 62px 0;}
 .city-list > li {width: 20%; display: inline-block; vertical-align: top; margin: 0 -4px 0 0;}
 .city-list > li > ul > li {font-size: 20px; padding: 7px 0 8px 0;}
 .contact-dilers {padding: 7px 0 0 0;}

 /* home-page */
 #home-page .top-header {background: none;}
 #home-page .main {padding-top: 0;}

.slider-wrap {position: relative;}
.slider-wrap .slidesjs-pagination {position: absolute; bottom: 27%; left: 7.29%; z-index: 101;}
.slider-wrap .slidesjs-pagination li {border: 2px solid #f8f8f8;}
.slider-wrap .slidesjs-pagination li a.active {background: #f8f8f8;}


.slider-innder {width: 42.86%; position: absolute; z-index: 2; color: #fff; left: 7.29%; top: 247px;}
.slider-innder h2 {margin: 0 0 11px 0; font-size: 42px; text-transform: uppercase;}
.slider-innder p {margin: 0; font-size: 26px; text-transform: uppercase; line-height: 1.6;}
.slider-innder a.more {border-color: #fff; color: #fff; width: 210px; margin-top: 44px;}
.stock-wrap {background: rgba(0, 0, 0, 0.7); position: absolute; width: 100%; bottom: 0; left: 0; padding: 26px 0 20px 0; z-index: 10; color: #fff;}
.ic-sale {width: 126px; height: 82px; background-position: 0 -300px; float: left;}
.procent {float: left; font-size: 90px; font-weight: 400; line-height: 1.0; padding: 0 0 0 3.5%;}
.procent sup {font-size: 40px; font-weight: 300; position: relative; top: -2px; padding: 0 0 0 6px;}
.discount {float: left; margin: 6px 0 0 2.5%; width: 16%; font-size: 30px; font-weight: 400; text-transform: uppercase;}
.stock-wrap a.more {border-color: #fff; color: #fff; width: 17.5%; margin-top: 20px; float: right;}
.stock-text {margin: 11px 3% 0 0; width: 31.17%; float: right; font-size: 15px; font-weight: 400;}
.categories-list {padding: 32px 0 38px 0;}
.categories-list li {display: inline-block; vertical-align: top; width: 33.3%; margin: 0 -4px 0 0;}
.categories-list h3 {text-align: center; text-transform: uppercase; font-size: 26px; margin: 0 0 23px 0;}
.categories-list figure img {min-width: 100%;}
.popular-title:after {content: ""; display: table; clear: both;}
.popular-title h2 {float: left; font-size: 26px; margin: 0; text-transform: uppercase; padding: 3px 0 0 0;}
a.see-more {float: right; font-weight: 400; text-transform: uppercase; width: 164px; height: 33px; font-size: 14px; border: 2px solid #000; text-align: center; padding: 7px 0 0 0;}
.popular-list {padding: 25px 0 9px 0;}
.popular-list li {display: inline-block; vertical-align: top; width: 17.6%; margin: 0 -4px 20px 3%;}
.popular-list li:nth-child(5n+1) {margin-left: 0;}
.popular-list li figure {margin: 0 0 11px 0;}
.popular-list li figure img {min-width: 100%;}
.popular-list li p {margin: 0; text-align: center; font-size: 12px; font-weight: 400;}
.name-product {display: block;}
#home-page .video-wrap {border: 0;}
.dilers-block {padding: 0 0 43px 0;}
.dilers-block h3 {text-align: center; margin: 0; text-transform: uppercase; font-size: 26px;}
.dilers-list {display: table; text-align: center; width: 100%; padding: 33px 0 0 0;}
.dilers-list li {display: table-cell; width: 20%; text-align: center; vertical-align: middle;}
.comments-wrap {background: #ebebeb; position: relative; margin: 0 0 33px 0;}

#comments-slider .item {padding: 0 0 18px 0; position: relative;}
#comments-slider .item ul > li {width: 50%; display: inline-block; vertical-align: top; text-align: center; margin: 0 -4px 0 0; padding: 0 1.5%;}
#comments-slider .item ul > li figure {margin: 0 0 31px 0; padding: 45px 0 0 0;}
#comments-slider .item ul > li figure img {border-radius: 50%; min-width: inherit;}
#comments-slider .item ul > li p {margin: 0; color: #5a5a5a;}

.comments-wrap .slidesjs-pagination {position: absolute; left: 0; bottom: 8%; width: 100%; text-align: center;}
.comments-wrap .slidesjs-pagination li {border: 2px solid #8e8e8e;}
.comments-wrap .slidesjs-pagination li a.active {background: #8e8e8e;}



/* responsive menu */
.slicknav_menu {display: none;}
.slicknav_btn {background: url("../img/mx.png") -200px -324px no-repeat; width: 29px; height: 24px; position: absolute; display: block; cursor: pointer; z-index: 1; right: 20px; top: 90px;}
.slicknav_btn.slicknav_open {background-position: -200px -300px; top: 20px;}
.slicknav_menu .slicknav_menutxt {display: none;}
.slicknav_menu .slicknav_icon {display: none;}
.slicknav_menu .slicknav_no-text {margin: 0;}
.slicknav_menu .slicknav_icon-bar {display: none;}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {display: none;}
.slicknav_nav {clear: both}
.slicknav_nav ul,
.slicknav_nav li {display: block;}
.slicknav_nav .slicknav_arrow {font-size: 0.8em; margin: 0 0 0 0.4em;}
.slicknav_nav .slicknav_item {cursor: pointer;}
.slicknav_nav .slicknav_row {display: block;}
.slicknav_nav a {display: block}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {display: inline}
.slicknav_menu:before,
.slicknav_menu:after {content: " "; display: table;}
.slicknav_menu:after {clear: both}
.slicknav_menu { z-index: 399; position: relative;}
.slicknav_nav {padding: 0 0 20px 0; background: #fff ; width: 100%; position: relative; clear: both;}
.slicknav_nav, .slicknav_nav ul {overflow:hidden;}
.slicknav_nav ul {padding:0; margin:0 0 0 20px;}
.slicknav_nav ul li {margin: 0 5px; border-top: 1px solid #000;}
.slicknav_nav ul li a {font-size: 12px;}
.slicknav_nav .slicknav_row {padding:5px 10px; margin:2px 5px;}
.slicknav_nav a{padding:5px 10px; margin:2px 5px; text-decoration:none; font-size: 16px; color: #000;}
.slicknav_nav .slicknav_row:hover {background:#ccc; color:#fff;}
.slicknav_nav a:hover{background:#ccc;color:#222;}
.slicknav_nav .slicknav_txtnode {margin-left:15px;}






/* responsive */
@media only screen and (max-width: 1360px) { 
	.slide-content h2 {font-size: 42px;}
	.slide-content p {font-size: 15px;}
	
}

@media only screen and (max-width: 1310px) { 
	.slider-innder {top: 200px;}
	.carusel-wrap a.more {bottom: 40px;}
	.carusel-wrap .slidesjs-pagination {bottom: 110px;}	
	
}

@media only screen and (max-width: 1200px) { 
	.inner {padding: 0 10px;}
	.menu > li {margin-left: 18px;}
	.menu > li > a {font-size: 17px;}
	.slider-innder h2 {font-size: 30px;}
	.slider-innder p {font-size: 18px;}
	.slider-innder a.more {margin-top: 24px;}
	.slider-innder {top: 170px;}
	.discount {font-size: 24px;}
	.banner-content h1 {font-size: 40px; padding: 24px 0 20px 0;}
	.slide-content h2 {font-size: 26px;}
	.slide-content p {font-size: 14px;}
	.slide-content {top: 30px;}
	.square {padding-top: 80px;}
	#comments-slider .item ul > li p {font-size: 14px;}

	
}


@media only screen and (max-width: 1024px) {
	.menu > li {margin-left: 12px;}
	.menu > li > a {font-size: 15px;}
	.menu > li > ul {left: -82px;}
	.procent {font-size: 60px;}
	.stock-text {font-size: 14px;}
	.copy {margin-left: 1%; font-size: 12px;}
	a.partner {margin-right: 3%; font-size: 13px;}
	.square {padding-top: 40px;}
	.carusel-wrap a.more {bottom: 20px;}
	.carusel-wrap .slidesjs-pagination {bottom: 90px;}

}


@media only screen and (max-width: 991px) {
	a.logo {width: 111px; height: 23px; background-size: 450px 450px; background-position: 0 -50px; margin-top: 36px;}
	.menu > li {margin-left: 10px;}
	.menu > li > a {font-size: 14px;}
	#home-page .main {padding-top: 153px;}
	#home-page .top-header {background: #000;}
	.slider-innder {top: 40px;}
	.ic-sale {width: 63px; height: 41px; background-size: 450px 450px; background-position: 0 -150px;}
	.dilers-list li img {width: 100%;}
	.footer-info {width: 50%;}
	.inside {padding: 0 2%;}
	.slide-content {width: 45%;}
	.slide-content h2 {font-size: 20px;}
	.slide-content p {font-size: 11px;}
	.square h4 {font-size: 18px;}
	.square p {font-size: 14px;}
	#comments-slider .item ul > li {width: 100%; margin-bottom: 15px;}
	#comments-slider .item ul > li figure {padding: 15px 0 0 0;}
	.comments-wrap .slidesjs-container {height: auto!important;}
	.comments-wrap .slidesjs-control {height: auto!important; min-height: 600px;}



}

@media only screen and (max-width: 910px) {
	.procent {font-size: 40px;}
	.stock-text {font-size: 13px;}
	.discount {font-size: 20px;}
	.procent sup {font-size: 18px;}
	.stock-text {width: 37%;}
	.stock-wrap {padding: 15px 0;}
	.stock-wrap a.more {margin-top: 10px;}
	.copy {font-size: 10px; width: 20%;}
	.banner-content h1 {font-size: 24px;}
	.banner-desc p {font-size: 18px;}
	.slide-content {top: 20px;}
	.banner-content-seminar .banner-desc:after,.banner-content-seminar .banner-desc:before {width: 80%; margin-left: -40%;}
	 .month:after,.month:before {width: 80%; margin-left: -40%;}
	 .month {font-size: 18px;}
	 .start-seminar p {font-size: 22px;}
	 .schedule-body p {font-size: 14px;}
	 .article-info-first p {font-size: 18px;}
	 
	

}




/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	body {word-wrap: break-word;}
	.nav {display: none;}
	.slicknav_menu {display: block;}
	.header {position: static;}
	#home-page .main {padding-top: 0;}
	a.partner {display: none;}
	.stock-wrap {display: none;}
	.categories-list li {width: 100%; margin-bottom: 20px;}
	.popular-list li {width: 100%; margin: 0 0 20px 0;}
	.popular-title h2 {float: none; margin-bottom: 15px;}
	a.see-more {float: none; display: block; width: 100%;} 
	.video-info {float: none; width: 100%; padding-top: 15px;} 
	.video-content {float: none; width: 100%;}
	.dilers-list {display: block;}
	.dilers-list li {width: 100%; display: block; margin-bottom: 15px;}
	.dilers-list li img {width: auto;}
	.footer-info {float: none; width: 100%; margin-bottom: 15px;}
	.footer-nav {float: none; width: 100%;}
	.copy {display: none;}
	.video-wrap {padding-bottom: 28px;}
	.footer-top {padding: 20px 0 15px 0;}
	a.footer-logo {width: 111px; height: 23px; background-size: 450px 450px; background-position: 0 -100px;}
	.footer-list {padding-top: 18px;}
	.main {padding-top: 0;}
	.article-info h2 {font-size: 24px;}
	.article-info a.more {width: 100%;}
	.main-lines h2 {font-size: 20px;}
	.offer-wrap p {font-size: 22px;}
	.about-list li {width: 100%;}
	.novelty-list > li {width: 100%; margin-bottom: 20px;}
	.novelty a.more {width: 100%;}
	.title h2 {font-size: 24px;}
	.description h3 {font-size: 18px;}
	.novelty .description h3 {font-size: 18px;}
	.programs-list li {width: 100%; margin: 0 -4px 20px 0;}
	.inner {padding: 0 2%;}
	.seminar-contact-list > li {width: 100%; margin-bottom: 15px;}
	.seminar-contact-list > li:first-child {width: 100%;}
	.article-info-colleagues p {font-size: 16px;}
	.tell-list {font-size: 20px;}
	.schedule h2 {font-size: 24px;}
	.titling h1 {font-size: 24px;}
	.contact-info {width: 100%; float: none;}
	.contact-form {width: 100%; float: none;}
	.form-inner {padding: 15px 2%;}
	.form-inner input {width: 100%; float: none; margin: 0 0 15px 0;}
	.dilers-outer h2 {font-size: 24px;}
	.dilers-title:after,.dilers-title:before {width: 80%; margin-left: -40%;}
	.dilers-title p {font-size: 20px;}
	.select-outer {display: block; width: 100%; margin: 0 0 20px 0;}
	.city-list > li {width: 50%; margin-bottom: 15px; padding: 0 3%;}
	.city-list > li > ul > li {font-size: 16px;}
	.offer-wrap p b {display: block;}
	.contact-info a.more {width: 100%;}
	a.more {margin-top: 10px; height: 30px; padding-top: 6px; font-size: 12px;}
	.carusel-wrap .slidesjs-pagination {bottom: 50px;}
	.carusel-wrap a.more  {bottom: 10px;}
	.slide-content p {font-size: 10px;}
	.slider-wrap .slidesjs-pagination {bottom: 5%;}
	.seminar-contact-list a.more {width: 100%;}



}

@media only screen and (max-width: 640px) {
	.slider-innder {width: 60%;}
	.slider-innder h2 {font-size: 18px;}
	.slider-innder p {font-size: 12px;}
	.banner-content h1 {font-size: 18px; padding: 10px 0 5px 0;}
	.banner-desc p {font-size: 16px;}
	.banner-desc:after,.banner-desc:before {width: 202px; margin-left: -101px;}
	.slide-content {width: 100%; left: 2%; width: 96%; top: 18px;}
	.slide-content h2 {font-size: 16px;}
	.carusel-wrap .slidesjs-pagination {left: 2%;}
	.carusel-wrap a.more {left: 2%;}
	.slide-content p {display: none;}
	.comments-wrap .slidesjs-control {min-height: 650px;}
	
	

}

@media only screen and (max-width: 480px) {
	.phone {display: none;}
	.slider-innder {width: 96%; left: 2%; top: 10px;}
	.slider-innder a.more {margin-top: 5px;}
	.banner-content h1 {font-size: 14px;}
	.banner-desc {padding: 0;}
	.banner-desc p {font-size: 12px;}
	a.more {width: 120px;}
	.comments-wrap .slidesjs-control {min-height: 700px;}


}


@media only screen and (max-width: 400px) {
	.square h4 {font-size: 15px;}
	.square {padding: 30px 2%;}
	.square p {font-size: 13px;}
	.line {width: 100px; margin-bottom: 10px;}
	.slider-innder a.more {width: 120px;}
	.comments-wrap .slidesjs-control {min-height: 800px;}

}