/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
* {padding: 0; margin :0;}
html, body {width: 100%; height: 100%;}
img, table {border: none;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}

/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/

	
	body {background: #132116; font: 12px Arial, Helvetica, sans-serif; color: #eeecec; }
		
		.body-bg {background: url(../images/body-bg.jpg) center top no-repeat; }
		.body-bg1 {background: url(../images/body-bg1.jpg) center 300px no-repeat;}
		.body-bg2 {background: url(../images/body-bg2.jpg) center 600px no-repeat;}
		.body-bg3 {background: url(../images/body-bg3.jpg) center 900px no-repeat; }
		
		

		
		.wrapper {width: 820px; margin: 0 auto; position:relative; min-height: 100%; height: auto !important; height: 100%;}
			.head {width: 820px; height: 168px; position: relative;}
			.head h1 {padding: 37px 0 0 0; float: left;}
			.head ul.lang {float: right; padding: 28px 0 0 0;}
			.head ul.lang li {display: inline; padding: 0 6px;}
			.head ul.lang li a {color: #fefefe; text-decoration: none;}
			.head ul.lang li a.activ {text-decoration: underline;}
			.head .menu {background: url(../images/menu-bg.png) no-repeat; width: 700px; height: 39px; padding: 15px 0 0 121px; margin: 2px 0 0 0;}
			.head .menu li {background: url(../images/menu-li-bg.png) center -50px no-repeat; height: 22px; padding: 6px 25px 0 25px; float: left;}
			.head .menu li.activ {background: url(../images/menu-li-activ-bg.png) center -78px no-repeat;}
			.head .menu li a {color: #484848; text-decoration: none; text-transform: uppercase;}
			
			.content {padding: 16px 0 91px 0; width: 820px; position: relative;}
				.left-column {width: 228px; float: left; padding-bottom: 133px;}
				.left-column h2 {font-size: 14px; font-weight: normal; color: #ecc803; text-transform: uppercase; padding: 0 0 0 9px;}
				.left-column ul {padding: 11px 0 0 5px;}
				.left-column ul li {width: 223px;}
				.left-column ul li.current a { background: url(../images/li-current-a-bg.png) no-repeat; text-decoration: underline;}
				.left-column ul li a {background: url(../images/li-a-bg.png) no-repeat; padding: 2px 0 3px 23px; display: block; color: #eeecec; text-decoration: none;}
				.left-column ul li a:hover {background: url(../images/li-current-a-bg.png) no-repeat; text-decoration: underline;}
				.left-column .banner {position: absolute; left: 7px; bottom: 100px;}
				* +html .left-column .banner {bottom: 13px;}
	
				.right-column {width: 592px; float: left; padding: 19px 0 0 0;}
					.gallery {width: 585px;}
					.gallery img {display: block;}
					.text {padding: 42px 0 0 0;}
					.text h2 {font-size: 14px; font-weight: normal; color: #ecc803; text-transform: uppercase; padding: 0 0 8px 0;}
					.text p {line-height: 1.0; padding: 0 0 12px 0;}
					.pagenavi-bottom {float: right; margin: -8px 0 0 0;}
					ul.pagenavi li {float: left; padding-right: 4px;}
					ul.pagenavi li a {background: url(../images/pagenavi-a-bg.png) no-repeat; display: block; width: 17px; height: 17px; float: left; text-align: center; text-decoration: none; font-size: 14px; color: #1e482b;}
					ul.pagenavi li.activ {padding-right: 2px;}
					ul.pagenavi li.activ a {background: url(../images/pagenavi-activ.png) no-repeat; width: 23px; height: 20px; color: #fff; position: relative; top: -3px; padding: 3px 0 0 0;}
					
					.products {padding: 5px 0 0 0;}
					.products li {background: url(../images/products-li-bg.png) no-repeat; width: 183px; height: 159px; overflow: hidden; margin: 0 21px 19px 0; float: left;}
					.products li a {height: 22px; font-size: 14px; color: #fff; text-decoration: none; padding: 4px 0 0 0; text-align: center; display: block; overflow: hidden;}
					.products li a:hover {text-decoration: underline;}
					.products li div {height: 133px; overflow: hidden;}
					.products li a.product {width: 183px; height: 133px; overflow: hidden; vertical-align: middle; display:table-cell; padding: 0;}
					* +html .products li a.product img {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
					.no-margin {margin-right: 0!important;}
					.no-margin-bottom {margin-bottom: 0!important;}
					
					.preambule-bg1 {background: url(../images/preambule-bg1.png) no-repeat; width: 592px; padding: 9px 0 0 0;}
					.preambule-bg2 {background: url(../images/preambule-bg2.png) left bottom no-repeat; width: 592px; padding: 0 0 11px 0;}
					.preambule-bg3 {background: url(../images/preambule-bg3.png) left top repeat-y;}
								
					.news-bg1 {background: url(../images/news-bg1.png) no-repeat; width: 591px; padding: 9px 0 0 0; position: relative; margin: -7px 0 0 0;}
					.news-bg2 {background: url(../images/news-bg2.png) left bottom no-repeat; width: 591px; padding: 0 0 11px 0;}
					.news-bg3 {background: url(../images/news-bg3.png) left top repeat-y;}
					.news-bg3 h3 {font-weight: normal; color: #2d653f; font-size: 18px; border-bottom: 1px solid #fff; line-height: 0.8; position: relative; top: -3px; padding: 0 0 7px 15px;}
					.news-bg3 p {color: #484848; line-height: 1.2; padding: 2px 0 0 16px;}		
						
								
					.preambule-bg3 h3 {font-weight: normal; color: #2d653f; font-size: 18px; border-bottom: 1px solid #fff; line-height: 0.8; position: relative; top: -3px; padding: 0 0 7px 15px;}
					.preambule-bg3 p {color: #484848; line-height: 1.2; padding: 2px 7px 0 16px;}
					
					.tovars {padding: 12px 0 0 0;}
					.tovars li {background: url(../images/tovars-li-bg.png) no-repeat; width: 183px; height: 208px; margin: 0 21px 15px 0; float: left; overflow: hidden;}
					.tovars li a {display: block; color: #fff;}
					.tovars li div {height: 40px; overflow: hidden;}
					.tovars li a.title {width: 183px; height: 40px; text-decoration: none; padding: 0 0 0 6px; vertical-align: middle; display:table-cell; overflow: hidden;}
					.tovars li a.title span {display: block;}
					.tovars li .tovar-wrapper {height: 125px; overflow: hidden;}
					.tovars li a.tovar {width: 183px; height: 125px; text-align: center; vertical-align: middle; display:table-cell;}
					.tovars li .tovar-bottom {width: 183px; height: 43px; position: relative;}
					.tovars li .tovar-bottom p {color: #3f7149; padding: 3px 0 0 7px;}
					.tovars li .tovar-bottom p.type {overflow: hidden; height: 15px;}
					.tovars li .tovar-bottom .buy {background: url(../images/buy-bg.png) no-repeat; width: 58px; height: 16px; right: 6px; top: 21px; text-align: center; position: absolute; text-decoration: none; color: #3e6b35;}
					* +html .tovars li a.title span {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
					
					.inner {padding: 8px 5px 0 11px; min-height: 489px;}
					.inner p {line-height: 1.2; padding: 0 7px 0 193px;}
					.inner img {float: left; border: 1px solid #484848; margin: 4px 10px 0 0;}
					.inner .about {margin: 0 0 0 193px;}
					.inner .about p {color: #3f7149; padding: 6px 0 0 0; line-height: .9;}
					.inner .about .buy {background: url(../images/buy-bg.png) no-repeat; float: left; width: 58px; height: 16px; text-align: center; text-decoration: none; color: #3e6b35; margin: 15px 0 0 0;}
					.inner .navi {padding: 14px 0 0 3px;}
					.inner .navi .prev {text-decoration: none; color: #595b5a;}
					
					.text-inner {padding: 3px 0 0 0; min-height: 494px;}
					.text-inner p {padding: 2px 7px 11px 16px;}
					
					.news-inner {min-height: 448px;}
					.news-inner .block {padding: 0 10px 10px 14px;}
					.news-inner .block .date {background: url(../images/buy-bg.png) no-repeat; float: left; width: 58px; height: 16px; text-align: center; color: #3a8f4b;}
					.news-inner .block h4 {float: left; padding: 0 0 0 7px; font-size: 12px; font-weight: normal; color: #f3f6f4;}
					.news-inner .block p {padding: 2px 0 0 0; line-height: 1.0;}
					.news-inner .block p a {color: #225d35; padding: 0 0 0 3px;}
					.news-outer .pagenavi {padding: 6px 0 4px 12px;}
					.news-outer .pagenavi-bottom {padding: 8px 10px 0 0;}

			
		.footer {width: 820px; margin: 0 auto;  position: relative; height: 54px; padding: 37px 0 0 0; color: #fff;}
			.footer .meter {width: 85px; height: 29px; float: left; padding: 0 0 0 51px;}
			.footer .design {float: right; padding: 11px 10px 0 0;}
			.footer .design a {color: #fff;}
			.footer .copy {margin: 0 0 0 345px; padding: 11px 0 0 0;}
			*html .footer .copy {margin: 0 0 0 342px;}