body{behavior:url("csshover.htc");}
.search {margin: 23px 0 0 128px;}
.scenes li {display: inline;}
.down-block-inner {height: auto !important; height: 141px;}
.theme .down {background: url(../images/headding-h2-bg.png) 7px top no-repeat; padding: 31px 0 0 7px;}
.pics li {display: inline;}