.catalog li { display: inline; margin: 0;}
.catalog li.first { margin-right: 60px;}
.catalog li.second { margin-right: 69px;}
.contact-list li { display: inline;}
.gall li {display: inline; margin-right: 45px;}