* {margin: 0; padding: 0;}
html, body {height: 100%;}
table {border-collapse: collapse;} 
input:focus {outline: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
img, table {border: none;}
a:link,a:visited {text-decoration: underline; color: #3b7575;}
a:hover, a:active {text-decoration: none; color: #07c6c6;}
button {outline: none;}
h1, h2, h3, h4, h5, h6 {color: #115959; padding: 5px 0; font-weight: normal; font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;}

/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/


header,footer,article,section,hgroup,nav,menu,aside,figure{display:block;}
.left { float: left;}
.right { float: right;}
