/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
* {padding: 0; margin :0;}
html, body {background: #060504 url(../images/body.png) repeat-y; width: 100%; height: 100%;}
body { font: 12px Arial, Helvetica, sans-serif; color: #fff;}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}


/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/

		.body-bg1 {background: url(../images/body-bg1.png) center top no-repeat;}
		.body-bg2 {background: url(../images/body-bg2.png) center 170px no-repeat;}
		.body-bg3 {background: url(../images/body-bg3.png) center 340px no-repeat;}
		.body-bg4 {background: url(../images/body-bg4.png) center 510px no-repeat;}
		.body-bg5 {background: url(../images/body-bg5.png) center 680px no-repeat;}
		
		.body-bg6 {background: url(../images/body-bg6.png) center top no-repeat;}
		.body-bg7 {background: url(../images/body-bg7.png) center 216px no-repeat;}
		.body-bg8 {background: url(../images/body-bg8.png) center 432px no-repeat;}
		
			.wrapper {width: 1000px; margin: 0 auto; position: relative; min-height: 100%; height: auto !important; height: 100%;}
				.but-1 {position: absolute; right: 27px; top: 123px;}
				.but-2 {position: absolute; right: 48px; top: 335px;}
				.but-3 {position: absolute; right: 43px; top: 517px;}
				.but-4 {position: absolute; right: 33px; top: 660px;}
				.but-5 {position: absolute; left: 16px; top: 167px;}
				.but-6 {position: absolute; left: 79px; top: 326px;}
				.but-7 {position: absolute; left: 17px; top: 501px;}
				.but-8 {position: absolute; left: 35px; top: 668px;}
				
				.but-9 {position: absolute; right: 0; top: 123px;}
				.but-10 {position: absolute; right: 10px; top: 335px;}
				.but-11 {position: absolute; right: 16px; top: 517px;}
				.but-12 {position: absolute; right: 2px; top: 660px;}
				.but-13 {position: absolute; left: 8px; top: 167px;}
				.but-14 {position: absolute; left: 12px; top: 326px;}
				.but-15 {position: absolute; left: 0; top: 501px;}
				.but-16 {position: absolute; left: -2px; top: 668px;}
				
				.shadow { position: absolute; right: 0; top: 382px;}
				
				
				.head {width: 1000px; height: 111px; position: relative;}
					.head .logo {position: absolute; top: 16px; left: 16px;}
					.head .menu {padding: 50px 0 0 339px;}
					.head .menu li {float: left; padding: 0 15px 12px 15px; margin: 0 5px 0 0;}
					.head .menu li a {font-size: 13px; text-transform: uppercase; text-decoration: none; color: #fff;}
					.head .menu li.activ a {color: #fedb44;}
					.head .menu li.m01 {background: url(../images/m01.png) center bottom no-repeat;}
					.head .menu li.m02 {background: url(../images/m02.png) center bottom no-repeat;}
					
				.content {width: 1000px; padding-bottom: 78px;}
					.foto-outer {background:url(../images/foto-outer.png) no-repeat; width: 552px; height: 324px; padding: 2px 0 0 2px; margin: 1px auto 0 auto;}
					.text {width: 549px; margin: 0 auto; padding: 21px 0 0 0;}
					.heading-bg1 {background: url(../images/heading-bg1.png) no-repeat; padding: 0 0 0 13px;}
					.heading-bg2 {background: url(../images/heading-bg2.png) right top no-repeat; padding: 0 13px 0 0;}
					.heading-bg3 {background: url(../images/heading-bg3.png) repeat-x; height: 28px;}
					.heading-bg3 img {float: left; margin: 7px 7px 0 1px;}
					.heading-bg3 h2 {color: #fff; font-size: 14px; font-weight: normal; padding: 6px 0 0 0; float: left;}
					.inner-bg1 {background: url(../images/inner-bg1.png) no-repeat; width: 548px; padding: 15px 0 0 0; margin: 6px 0 0 0;}
					.inner-bg2 {background: url(../images/inner-bg2.png) left bottom no-repeat; width: 548px; padding: 0 0 16px 0;}
					.inner-bg3 {background: url(../images/inner-bg3.png) repeat-y; width: 528px; padding: 0 7px 0 13px;}
					.inner-text {float: left; margin: -2px 0 -6px 0;}
					.inner-text p {line-height: 1.2; padding: 0 0 13px 0;}
					.text-wrap {width: 665px; margin: 0 auto;}
					.text-inner-bg1 {background: url(../images/text-inner-bg1.png) no-repeat; width: 665px; padding: 15px 0 0 0; margin: 6px 0 0 0;}
					.text-inner-bg2 {background: url(../images/text-inner-bg2.png) left bottom no-repeat; width: 665px; padding: 0 0 17px 0;}
					.text-inner-bg3 {background: url(../images/text-inner-bg3.png) repeat-y; width: 665px;}
					.block {margin: 0 15px 11px 17px; border-bottom: 1px solid #790f8f; padding: 0 0 13px 0;}
					.block.last {margin-bottom: 0; border-bottom: 0;}
					.block.second {margin-bottom: 0; border-bottom: 0; padding-bottom: 34px;}
					.block h3 {float: left; font-size: 18px; font-weight: normal; color: #feef00; padding: 0 0 7px 0;}
					.block .icons {float: right; padding: 0 4px 0 0;}
					.block .icons li {display: inline; padding: 0 2px;}
					.block p {line-height: 1.2; padding: 0 0 13px 0;}
					.links {padding: 1px 0 0 0;}
					.links a {float: left; color: #ed93ff;}
					.links a.more {background: url(../images/more-bg.png) left 2px no-repeat; padding: 0 15px 0 14px;}
					.links a.comment {background: url(../images/comments-bg.png) no-repeat; padding: 0 0 0 24px;}
					
					.foto-slider {height: 300px; padding: 5px 95px 0 88px; position: relative;}
					.foto-slider .next {background: url(../images/next-bg.png) no-repeat; width: 45px; height: 75px; border: 0; padding: 0; cursor: pointer; position: absolute; right: 27px; top: 118px;}
					.foto-slider .prew {background: url(../images/prew-bg.png) no-repeat; width: 45px; height: 75px; border: 0; padding: 0; cursor: pointer; position: absolute; left: 21px; top: 118px;}
					.foto-slider-inner {overflow: hidden; position: relative; width:100%;}
					.foto-slider-inner .slide {width:100% !important; padding: 0;}
					.foto-slider-inner .slide ul li {float: left; padding: 0 1px; position: relative;}
					
					.postambule-text {padding: 13px 0 0 2px;}
					.postambule-text img {float: left;}
					.postambule-text p {padding: 3px 0 0 14px; width: 419px; float: left;}
					
					.contacts {padding: 4px 15px 277px 18px;}
					.contacts p span {color: #feef00;}
					.contacts h3 {font-size: 18px; font-weight: normal; color: #feef00; padding: 14px 0 9px 0;}
					.contacts form div {padding: 0 0 6px 0;}
					.contacts form label {width: 87px; text-align: right; padding: 4px 18px 0 0; float: left; font-size: 14px; color: #fff;}
					.contacts form input {background: url(../images/input-bg.png) no-repeat; width: 150px; height: 23px; float: left; border: 0; line-height: 23px; padding: 0 5px;}
					.contacts form textarea {background: url(../images/textarea-bg.png) no-repeat; width: 250px; height: 108px; overflow: hidden; float: left; border: 0; padding: 5px;}
					.contacts form .captcha input {background: url(../images/captcha-input.png) no-repeat; width: 85px; height: 23px; margin: 0 8px 0 0;}
					.contacts form .submit {background: url(../images/submit-bg.png) no-repeat; width: 154px; height: 37px; cursor: pointer; margin: -2px 0 0 102px;}
					
					.intro { background: url(../images/intro-bg.png) no-repeat; width: 873px; height: 649px; margin: 0 auto; position: relative;}
					.in { position: absolute; bottom: 60px; right: 175px;}
					
				.footer {width: 1000px; margin: -78px auto 0 auto; position: relative; height: 78px;}
					.footer-inner {width: 532px; margin: 0 auto; padding: 28px 12px 35px 4px;}
					.footer-inner p {font-size: 11px; color: #920eae;}
					.footer-inner p a {color: #920eae;}
					.footer-inner p.copy {float: left;}
					.footer-inner p.design {float: right;}	
					.footer-inner-second { width: 649px;}			