/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
* {padding: 0; margin :0;}
html {height:100%;}
body {background: #dd6d2d; font: 12px Arial, Helvetica, sans-serif; color: #000; height: auto !important; height: 100%; min-height: 100%; position: relative;}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}


/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/


	.left-top {background: url(../images/left-top-bg.png) repeat-x; height: 411px; position: absolute; width: 50%; left: 0; top: 64px; z-index: 10;}
	.right-top {background: url(../images/right-top-bg.png) repeat-x; height: 411px; position: absolute; width: 50%; right: 0; top: 64px; z-index: 10;}
	
	.main {background: url(../images/main-bg1.png) center top repeat-x; position: relative; z-index: 20;}
		
		.wrapper {background: url(../images/wrapper-bg.jpg) center 64px no-repeat; width: 1000px; margin: 0 auto; position: relative; z-index: 99; padding-bottom: 58px;}
		.wrapper-second {padding-bottom: 122px;}
		.wrapper:after {content: "."; display: block; height: 0; visibility: hidden; clear: both;}
			.head {width: 1000px; height: 416px; position: relative;}
			.head h1 {text-align: center; font-size: 35px; color: #000; padding: 9px 0 0 0;}
			.head h1 span {color: #700e13; padding: 0 9px 0 0;}
			.head .logo {position: absolute; left: 160px; top: 89px;}
	
	
			.content {width: 1000px;}
			.left-column {width: 248px; float: left; padding: 67px 0 0 0; position: relative; z-index: 300;}
			.pics {padding: 0 0 0 10px;}
			.pics li {background: url(../images/pics-li-bg.png) no-repeat; width: 110px; height: 128px; float: left; padding: 11px 0 0 11px; margin: -5px -5px 0 0;}
			.center-column {width: 504px; float: left; padding: 0 0 270px 0; position: relative;}
			.heading {background: url(../images/heading-bg.png) no-repeat; width: 426px; height: 42px; padding: 67px 0 0 0; text-align: center; margin: 0 auto -41px auto; position: relative; z-index: 100;}
			.heading a {background: url(../images/free-bg.png) no-repeat; width: 140px; height: 22px; padding: 1px 0 0 0; text-decoration: none; text-align: center; font-size: 19px; color: #fff; display: block; margin: 0 auto;}
			.text-bg1 {background: url(../images/text-bg1.png) no-repeat; padding: 69px 0 0 0; position: relative; z-index: 99;}
			.text-bg2 {background: url(../images/text-bg2.png) left bottom no-repeat; padding: 0 0 7px 0;}
			.text-bg3 {width: 504px; background: #f1d6ab;}
			.text-inner {width: 485px; padding: 0 0 0 19px; float: left; margin: -52px 0 0 0; position: relative; z-index: 100;}
			.text-inner h3 {font-size: 20px; font-weight: normal; color: #9e2847; float: left;}
			.text-inner .rating {float: right; padding: 0 28px 0 0;}
			.text-inner .rating img {float: left; margin: 0 1px 0 0;}
			.text-inner h2 {font-size: 24px; padding: 2px 0 0 0;}
			.text-inner p {padding: 0 23px 17px 2px;}
			.preambule {padding: 7px 0 0 0;}
			.preambule img {float: left; margin: 0 0 0 -3px;}
			.preambule .preambule-inner {background: url(../images/preambule-inner-bg.png) no-repeat; width: 405px; height: 54px; float: left;}
			.preambule .preambule-inner p {font-size: 15px; font-weight: bold; padding: 10px 0 0 25px; line-height: 1.0;}
			.mobile {background: url(../images/mobile.png) no-repeat; width: 608px; height: 304px; position: absolute; bottom: 0; left: -52px; z-index: 400;}
			.mobile .see {background: url(../images/see-bg.png) no-repeat; width: 157px; height: 27px; position: absolute; left: 243px; top: 175px; font-size: 15px;
						font-weight: bold; padding: 6px 0 0 0; text-decoration: none; color: #000; text-align: center;}
			
			.right-column {width: 224px; float: left; padding: 68px 0 0 8px; position: relative; z-index: 300;}
			.sidebar-bg1 {background: url(../images/sidebar-bg1.png) no-repeat; padding: 52px 0 0 0;}	
			.sidebar-bg2 {background: url(../images/sidebar-bg2.png) left bottom no-repeat; padding: 0 0 7px 0;}	
			.sidebar-bg3 {background: #f5c4b8; width: 224px;}
			.sidebar-bg4 {width: 212px; float: left; padding: 0 6px; margin: -46px 0 0 0;}	
			.sidebar-bg4 h2 {background: #f4fdeb url(../images/sidebar-bg4-h2.png) left bottom repeat-x; font-size: 15px; margin: 0 0 14px 0; padding: 2px 0 3px 8px;}
			.sidebar-bg4 .box {padding: 0 0 13px 0;}
			.sidebar-bg4 .box h4 {background: url(../images/sidebar-h4.png) left top no-repeat; padding: 0 0 0 22px; font-size: 14px; color: #772a6f;}
			.sidebar-bg4 .box h4 i {font-style: normal; font-weight: normal; color: #7f7f7f; padding-left: 3px;}
			.sidebar-bg4 .box p {padding: 7px 0 10px 0;}
			.sidebar-bg4 .box span.date {background: #fadfc0; font-size: 10px; padding: 0 3px 0 4px;}
			.add-coment {background: url(../images/add-comment.png) no-repeat; width: 206px; height: 33px; text-align: center; color: #000; text-decoration: none;
									 font-size: 15px; font-weight: bold; padding: 10px 0 0 0; float: left; margin: -5px 0 0 0;}
									 
									 
			.container {width: 968px; margin: 0 auto; padding: 25px 0 0 0;}
			.container-bg1 {background: url(../images/container-bg1.png) no-repeat; padding: 83px 0 0 0;}
			.container-bg2 {background: url(../images/container-bg2.png) left bottom no-repeat; padding: 0 0 7px 0;}
			.container-bg3 {background: #f1d6ab; width: 968px;}
			.container-bg4 {width: 948px; float: left; padding: 0 0 0 20px; margin: -68px 0 0 0; position: relative;}
			.container-bg4 h2 {font-size: 24px; color: #9e2847;}
			.inside {padding: 15px 0 0 0;}
			.inside .img {background: url(../images/img-bg.png) no-repeat; width: 185px; height: 217px; padding: 9px 0 0 9px; float: left;}
			.inner {margin: 0 26px 0 207px;}
			.inner p {font-size: 13px; line-height: 1.2; padding: 0 0 10px 0;}
			.inner h3 {background: #d6fad9 url(../images/inner-h3-bg.png) left bottom repeat-x; font-size: 15px; margin: 0 0 10px 0; padding: 2px 0 3px 9px; border: 1px solid #e7bc97;}
			.inner .list {position: relative; padding: 0 0 2px 0;}
			.inner .list li {background: url(../images/arrow-bg1.gif) left 2px no-repeat; padding: 0 0 2px 18px; font-size: 11px; color: #4b4b4b;}
			.inner .list li.odd {background: url(../images/arrow-bg2.gif) left 2px no-repeat; color: #000;}
			.inner .download {background: url(../images/download-bg.png) no-repeat; width: 223px; height: 76px;  text-indent: -9000px; overflow: hidden; display: block; margin-left: -10px;}
		
			.katalog {padding: 3px 0 0 2px;}
			.kat li {float: left; width: 300px; margin: 14px 16px 14px 0;}
			.kat li .prevu {width: 121px; float: left;}
			.kat li .prevu span {background: url(../images/prevu-bg.png) no-repeat; width: 110px; height: 128px; display: block; padding: 11px 0 0 11px;}
			.kat li .prevu .down {background: url(../images/down-bg.png) no-repeat; width: 116px; height: 33px; text-align: center; display: block; color: #000; font-size: 15px; font-weight: bold; text-decoration: none; padding: 10px 0 0 0;}
			.kat li .info {width: 170px; float: left; padding: 4px 0 0 9px;}
			.kat li .info h4 {font-size: 15px; padding: 0 0 9px 0;}
			.kat li .info p {font-size: 11px;}
			.no-margin {margin-right: 0!important;}
			
			.outside {text-align: center;}
			.outside h2 {padding: 1px 0 5px 0;}
			.outside h3 {font-size: 18px; font-weight: normal; padding: 0 0 9px 0;}
			.outside p {font-size: 13px;}
			.outside .form {padding: 12px 0 11px 0;}
			.outside .form input.in {background: url(../images/input-bg.png) no-repeat; width: 406px; height: 43px; line-height: 43px; border: 0; text-align: center; font-size: 18px;}
			.outside .form input.submit {background: url(../images/submit-bg.png) no-repeat; width: 156px; height: 43px; line-height: 43px; border: 0; font-size: 15px; font-weight: bold; cursor: pointer; margin: -2px 0 0;}
			.outside .text {padding: 18px 0 13px 0;}
			.outside .text p {font-size: 10px; color: #545454;}
			.outside .form-1 input.in {background: url(../images/form-1-input.png) no-repeat; width: 226px; height: 43px; line-height: 43px; border: 0; text-align: center; font-size: 15px; font-weight: bold;}
		    .outside .form-1 input.submit {background: url(../images/submit-bg.png) no-repeat; width: 156px; height: 43px; line-height: 43px; border: 0; font-size: 15px; font-weight: bold; cursor: pointer; margin-left: 2px;}
			
			
			.outside .form input.in, x:-moz-any-link, x:default {padding: 0 0 4px 0; height: 39px; line-height: inherit;}
			.outside .form input.submit, x:-moz-any-link, x:default {padding: 0 0 4px 0; height: 39px; line-height: inherit;}
			.outside .form-1 input.in, x:-moz-any-link, x:default {padding: 0 0 4px 0; height: 39px; line-height: inherit;}
			.outside .form-1 input.submit, x:-moz-any-link, x:default {padding: 0 0 4px 0; height: 39px; line-height: inherit;}
			
		    .outside .form-1 p {padding: 12px 0 0 0;}
			.outside .form-1 .rules {width: 345px; margin: 0 auto; padding: 12px 0 13px 0;}
			.outside .form-1 .rules input {float: left; margin: 6px 10px 0 0;}
			.outside .form-1 .rules p {font-size: 10px; color: #545454; float: left; padding: 0; text-align: left;}
			.outside .form-1 .cod {font-size: 12px; padding: 0 0 18px 0;}
			.outside .form-1 .cod a {color: #a14f49; font-weight: bold;}
			.outside .form-1 textarea {border: 2px solid #000; border-bottom-color: #b2b2b2; border-right-color: #b2b2b2; width: 507px; padding: 0 0 0 4px; margin: 0 auto 19px auto;}
			
			.popap-outer {left:0; position: absolute; top:0; width:100%; height: 100%;  z-index: 1000000; display: none;}
			.popap-wrap {background: url(../images/popap-bg.png) no-repeat; width: 328px; height: 402px; position: absolute; left: 50%; top: 334px; margin: 0 0 0 -164px; z-index: 1000;}
			.popap-shadow {cursor:pointer; left:0; position: absolute; top:0; width:100%; height: 100%; background: #fff;  z-index: 999;}
			.popap-inner h2 {background: #f4fdeb url(../images/popap-wrap-h2-bg.png) left bottom repeat-x;  font-size: 15px; margin: 0 0 16px 0; padding: 2px 0 3px 0; text-align: center;}
			.popap-inner {width: 225px; margin: 0 auto; padding: 46px 0 0 0;}
			.popap-inner form {padding: 0 0 0 10px;}
			.popap-inner form input {background: url(../images/popap-inner-input-bg.png) no-repeat; width: 186px; height: 43px; line-height: 43px; font-size: 14px; border: 0; padding: 0 5px 0 15px;}
			.popap-inner form textarea {background: url(../images/popap-inner-textarea.png) no-repeat; width: 186px; height: 112px; border: 0; overflow: hidden; font-size: 14px; padding: 11px 5px 0 15px;}
			.popap-inner form .add-coment {margin: 0; float: none; display: block;}
			
			.player-outer {left:0; position: absolute; top:0; width:100%; height: 100%;  z-index: 1000000; display: none;}
			.player-shadow {cursor:pointer; left:0; position: absolute; top:0; width:100%; height: 100%; background: #fff;  z-index: 999;}
			.player-inner {background: url(../images/player-inner-bg.png) no-repeat; width: 753px; height: 503px; position: absolute; left: 50%; top: 316px; margin: 0 0 0 -376px; z-index: 1000;}
			.player {width: 640px; height: 390px; border: 1px solid #fff; margin: 50px 0 0 55px;}
			 
			 		 
		.footer {width: 968px; position: absolute; bottom: 15px; left: 50%; margin-left: -484px; height: 97px; z-index: 100;}
			.footer-bg1 {background: url(../images/footer-bg1.png) no-repeat; padding: 10px 0 0 0;}
			.footer-bg2 {background: url(../images/footer-bg2.png) left bottom no-repeat; padding: 0 0 11px 0;}
			.footer-bg3 {background: #8d3c37 url(../images/footer-bg3.png) center bottom repeat-x; width: 968px; padding: 0 0 5px 0;}
			.footer-bg3 .tx {font-size: 9px; color: #f1abc0; line-height: 1.5;}
			.footer-left {width: 450px; float: left; padding: 3px 0 0 18px;}
			.footer-left .copy {color: #fff; font-size: 11px; padding: 0 0 13px 0;}
			.footer-right {width: 443px; float: right; padding: 0 28px 0 0;}
			.footer-right ul {padding: 0 0 20px 0; line-height: 0.8;}
			.footer-right ul li {display: inline;}
			.footer-right ul li a {color: #f0dd85; font-size: 11px; font-weight: bold; padding: 0 8px 0 0;}				