/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
* {padding: 0; margin :0;}
html {height: 100%;}
body {background: #fff; font: 12px Arial, Helvetica, sans-serif; color: #929699; height: auto !important; height: 100%; min-height: 100%; position: relative;}
table {border-collapse: collapse; width: 100%;} 
input:focus {outline: none;}
img, table {border: none;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}


/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/
	
	.wrapper {width:100%; padding: 0 0 113px 0;}

		.head {height: 97px; position: relative;}
		.head .logo {float: left; padding: 0 0 0 57px;}
		.head .menu {float: left; padding: 44px 0 0 81px;}
		.head .menu li {float: left;}
		.head .menu li span {color: #d0d2d4; font-size: 14px; padding: 0 12px 0 10px;}
		.head .menu li a {font-size: 14px; color: #a1a6aa; text-decoration: none;}
		.head .menu li a:hover {color: #30a4dc; text-decoration: underline;}
		.head .menu li.activ a {color: #30a4dc; text-decoration: underline;}
		.head .tell {float: left; margin: 43px 0 0 106px;}
		.slider-wrap {background: #bfe2ff; height: 198px; overflow: hidden;}
		.slider-inner {width: 624px; margin: 0 0 0 203px;}
		
		.content {width: 827px;}
		.left-column {width: 203px; float: left;}
		.sidebar {padding: 29px 0 0 14px;}
		.sidebar h3 {font-size: 12px; color: #30a4dc; padding: 0 0 6px 0;}
		.sidebar ul {padding: 0 0 3px 0;}
		.sidebar ul li {padding: 0 0 5px 0;}
		.sidebar ul li a {color: #929699; text-decoration: none;}
		.sidebar ul li a:hover {text-decoration: underline;}
		#slider1 {width: 624px; height: 198px; overflow: hidden; position: relative;}
		#slider1Content {width: 624px; height: 198px; position: absolute; top: 0; left: 0;}
		.slider1Image {float: left; position: relative; z-index: 1;}
		.slider1Image span {position: absolute; font-size: 15px; padding: 4px 28px 3px 28px; height: 40px; width: 231px; color: #323232; background-color: #fff; filter: alpha(opacity=70); 
							-moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; color: #323232; display: none; z-index: 10;}
		.slider1Image span strong {font-size: 16px;}
		.left {top: 121px; left: 0;}
		.right {right: 0; top: 0;}
		.bottom {right: 0; bottom: 0;}
		.top {left: 0; top: 0;}

		.right-column {width: 622px; float: left; padding: 25px 0 0 2px;}
		.right-column h2 {font-size: 16px; color: #30a4dc; padding: 0 0 12px 0;}
		.right-column p {line-height: 1.8; padding: 0 0 0 3px;}
		.right-column .list {padding: 5px 0 20px 3px;}
		.right-column .list li {padding: 0 0 5px 0;}
		.right-column .list li a {color: #929699;}
		.right-column .portfolio {}
		.right-column .portfolio h3 {font-size: 16px; color: #30a4dc; padding: 0 0 19px 0;}
		.right-column .portfolio ul li {width: 150px; text-align: center; float: left; margin: 0 7px 0 0;}
		.right-column .portfolio ul li div {padding: 0 0 8px 0;}
		.right-column .portfolio ul li div a img {border: 5px solid #bfe2ff;}
		.right-column .portfolio ul li.last {margin-right: 0;}
		.right-column .portfolio ul li span a {color: #30a4dc; font-weight: bold; text-decoration: none;}
		
		
	.footer {border-top: 7px solid #bfe2ff; height: 58px; padding: 13px 0 0 0 ; position: absolute; bottom: 0; width: 100%;}
		.footer p {font-size: 14px;}
		.footer .copy {float: left; padding: 0 0 0 22px;}
		.footer .copy span {color: #30a4dc;}
		.footer .tell {margin: 0 0 0 98px; float: left;}
		.footer .design {float: right; padding: 2px 64px 0 0;}
		.footer .design a {color: #3daade; text-decoration: none;}