.jqGSContainer{position:relative;width:616px;}
.jqGSContainer .jqGSImgContainer ul li {position:relative; float:left;}
.jqGSContainer .jqGSImgContainer ul li .jqGSLoader{width:100%;height:100%;position:absolute;}
.jqGSContainer .jqGSImgContainer ul li .pic { float: left; padding: 34px 0 0 0; width: 232px;}
.jqGSContainer .jqGSImgContainer ul li .info { width: 384px; float: left;}
.jqGSContainer .jqGSImgContainer ul li .info h3 {font-size: 28px; font-weight: normal; color: #444; padding: 10px 0 14px 0;}
.jqGSContainer .jqGSImgContainer ul li .info p { font-size: 24px; color: #444; padding: 0 50px 0 0;}
.jqGSContainer .jqGSImgContainer ul li .jqGSTitle{background:#000;position:absolute;right:0px;top:0px; padding:3px;color:#fff;width:300px}
.jqGSContainer .jqGSPagination{ height:20px; padding: 5px 0; position: absolute; bottom: 20px; left: 233px;}
.jqGSContainer .jqGSPagination ul li{padding:0; float:left; text-align:center;}
.jqGSContainer .jqGSPagination ul li a{padding: 4px 0 0 0;  color: #666; text-decoration:none; display:block; width:30px; font-size: 21px;}
.jqGSContainer .jqGSPagination ul li a.selected {background:#1b1b1b;color:#fff;}
.jqGSContainer .jqGSPagination ul li a:hover {background:#1b1b1b;color:#fff;}

