/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
* {padding: 0; margin :0;}
html {height:100%;}
body {background: #f9f9f9; font: 14px Trebuchet MS1, Trebuchet MS, sans-serif; color: #000; height: auto !important; height: 100%; min-height: 100%; position: relative;}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
a:focus {outline: none;}
/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/




	.wrapper {background: #f9f9f9; width: 988px; margin: 0 auto; padding-bottom: 264px;}
	.wrapper:after {content: "."; display: block; height: 0; visibility: hidden; clear: both;}
	
	.head {position: relative; width: 100%;}
	.head .logo {float: left; padding: 35px 0 0 1px;}
	.head .contacts {float: right; padding: 20px 5px 0 0;}
	.head .contacts p {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 24px; color: #575757; line-height: 0.9;}
	.head .contacts span {font-size: 17px; color: #575757; display: block; padding: 0 0 2px 0;}
	.head .contacts .zvonok {background: url(../images/zvonok.png) no-repeat; width: 167px; height: 30px; text-indent: -9000px; overflow: hidden; display: block;}
	.head .contacts .zvonok:hover {background: url(../images/zvonok-hover.png) no-repeat;}
	.head .menu {background: url(../images/menu-bg.png) repeat-x; height: 45px; border: 1px solid; border-top-color: #ebebeb; border-left-color: #ebebeb; border-right-color: #ececec; border-bottom-color: #eee; margin: 22px 0 0 0;}
	.head .menu li {float: left;}
	.head .menu li a {text-decoration: none; color: #2d2d2d; font-size: 20px; font-weight: normal; padding: 11px 35px 14px 35px; float: left;}
	.head .menu li a:hover,.head .menu li.curent a {background: url(../images/menu-a-hover.png) repeat-x;}
	.slider {background: url(../images/slider-bg.png) no-repeat; width: 616px; height: 283px; float: left; padding: 0 6px 0 6px; position: relative;}
	.slider .more {position: absolute; right: 35px; bottom: 34px; color: #eee; font-size: 11px; text-transform: uppercase; background: #1a1a1a; text-decoration: none; padding: 0 12px 0 13px; line-height: 28px;}
	.slider-inner {background: url(../images/slider-inner-bg.png) left 32px no-repeat; padding: 30px 0 0 0;}
	.banners {width: 352px; float: left; padding: 24px 0 0 8px;}
	.banner {background: url(../images/banner-bg.png) no-repeat; width: 352px; height: 125px; margin-bottom: 6px; position: relative;}
	.banner .ic-01 {position: absolute; left: -2px; top: -9px;}
	.banner h3 {color: #979797; font-size: 38px; text-transform: uppercase; padding: 21px 0 0 169px;}
	.banner p {padding: 2px 0 0 141px; text-align: center; line-height: 1.0;}
	.inner-baner {padding: 7px 0 0 5px;}
	.banner .ic-02 {position: absolute; left: 25px; top: -37px;}
	.banner.last h3 {padding-left: 150px;}
	
	.content {width: 100%; padding-bottom: 12px;}
	.content-bg1 {background: url(../images/content-bg1.png) 113px top no-repeat;}
	.content-bg2 {background: url(../images/content-bg2.png) 743px top no-repeat; min-height: 1000px;}
	.left-col {width: 223px; float: left;}
	.sidebar h2 {color: #666; font-size: 22px; padding: 14px 0 17px 7px;}
	.sidebar .submenu {background: url(../images/submenu-li-bg.gif) no-repeat; width: 187px;}
	.sidebar .submenu li {background: url(../images/submenu-li-bg.gif) left bottom no-repeat; padding: 0 0 2px 0;}
	.sidebar .submenu li a {background: url(../images/submenu-li-a-bg.png) 0 8px no-repeat; padding: 8px 0 5px 21px; font-size: 12px; color: #888; text-decoration: none; display: block;}
	.sidebar .submenu li a:hover {text-decoration: underline;}
	.center-col {width: 520px; float: left;}
	.catalog {padding: 0 0 0 22px;}
	.catalog ul li {display: inline-block; margin: 0 8px 10px 0; position: relative; vertical-align: top; width: 231px;}
	*+html .catalog ul li {display: inline; margin: 0 12px 10px 0;}
	.catalog ul li .product {background: url(../images/product-bg.png) no-repeat; width: 229px; height: 224px; padding: 20px 0 0 2px;}
	.catalog ul li h3 {font-size: 24px; font-weight: normal; padding: 17px 0 8px 27px;}
	.catalog ul li table {margin: 0 0 0 25px;}
	.catalog ul li table tr td {padding: 0 9px 8px 0;}
	.catalog ul li table tr td p {font-size: 21px; color: #666;}
	.catalog ul li table tr td span {font-size: 21px; color: #666; text-decoration: line-through; text-align: center; display: block;}
	.mor {color: #eee; font-size: 11px; text-transform: uppercase; background: #1a1a1a; text-decoration: none; padding: 0 10px 0 12px; line-height: 28px; display: block;}
	.buy {background: url(../images/buy.png) no-repeat; width: 89px; height: 28px; display: block; text-indent: -9000px; overflow: hidden;}
	.buy:hover {background: url(../images/buy-hover.png) no-repeat;}
	.pagenator {text-align: center; padding: 42px 0 0 40px;}
	.pagenator ul li {display: inline;}
	.pagenator ul li a {font-size: 21px; color: #7a7a7a; text-decoration: none; padding: 0 8px;}
	.pagenator ul li.activ a,.pagenator ul li a:hover {background: #1c1c1c; color: #fff;}
	
	.right-col {width: 245px; float: left;}
	.responde {padding: 0 0 0 34px;}
	.responde h2 {background: url(../images/responde-inner-bg.png) left bottom no-repeat; color: #666; font-size: 22px; padding: 13px 0 17px 0;}
	.responde h2.h21 {padding-top: 30px;}
	.responde h2.h22 {padding-top: 17px; text-align: center;}
	.responde-inner {background: url(../images/responde-inner-bg.png) left bottom no-repeat; padding: 4px 0 21px 0;}
	.responde-inner.last {background: none; padding-bottom: 12px;}
	.responde-inner .img {float: left; border: 1px solid #e6e6e6;}
	.responde-inner .img img {border: 1px solid #fff; padding: 2px; display: block;}
	.responde-inner h3 {padding: 2px 0 0 86px; font-size: 14px; color: #444;}
	.responde-inner .date {display: block; font-size: 10px; color: #cdcdcd; text-transform: uppercase; padding: 3px 0 0 86px;}
	.responde-inner p {line-height: 1.0; color: #444; padding: 8px 0 0 0;}
	.other {float: right; color: #444; margin: 3px 0 0 0;}
	
	.catalog-outer {width: 743px; float: left;}
	.catalog-outer .catalog {padding: 27px 0 0 0;}
	.catalog-outer .catalog ul li {width: 336px; margin: 0 13px 67px 0;}
	.catalog-outer .catalog ul li .product {background: url(../images/product-second.png) no-repeat; width: 334px; height: 325px; padding: 14px 0 0 2px;}
	.catalog-outer .catalog ul li h3 {font-size: 30px; padding: 11px 0 9px 38px; color: #444;}
	.catalog-outer .catalog ul li table {margin: 0 0 0 38px;}
	.catalog-outer .catalog ul li table tr td {padding: 0 13px 8px 0;}
	.catalog-outer .catalog ul li table tr td p {font-size: 28px;}
	.catalog-outer .catalog ul li table tr td span {font-size: 28px;}
	.mor-1 {color: #eee; font-size: 16px; text-transform: uppercase; background: #1a1a1a; text-decoration: none; padding: 0 10px 0 12px; line-height: 40px; height: 40px; display: block; position: relative; top: 3px; display: block;}
	*+html .mor-1 {top: 4px;}
	.buy-1 {background: url(../images/buy1.png) no-repeat; width: 137px; height: 47px; display: block; text-indent: -9000px; overflow: hidden;}
	.buy-1:hover {background: url(../images/buy1-hover.png) no-repeat;}
	.catalog-outer .pagenator {padding: 44px 0 0 40px; text-align: left;}
	
	.top-banners {padding: 25px 0 26px 0;}
	.top-banners ul li {background: url(../images/top-banner-li.png) no-repeat; width: 323px; height: 244px; float: left; padding: 6px 0 0 6px; position: relative;}
	.top-banners ul li .sale {position: absolute; left: 0px; top: 118px;}
	.top-banners ul li .morre {position: absolute; right: 28px; bottom: 25px; color: #eee; font-size: 11px; text-transform: uppercase; background: #1a1a1a; text-decoration: none; padding: 0 12px 0 13px; line-height: 28px; z-index: 100;}
	.polosa {height: 32px;}
	
	.text {padding: 9px 10px 0 23px;}
	.text h1 { font-size: 24px; padding: 0 0 19px 0;}
	.text p {padding: 0 0 21px 0; line-height: 1.5;}
	.text dl dt {padding: 0 0 2px 0;}
	.text dl dd {padding: 0 0 2px 0;}
	.text h2 {font-size: 14px; padding: 25px 0 0 0;}
	
	.product-outer {padding: 37px 0 85px 0;}
	.product-outer-second {padding-top: 27px;}
	.product-outer-three {padding: 10px 0 2px 0;}
	.product-inner {padding: 0 0 44px 0;}
	.product-pic {background: url(../images/product-pic.png) no-repeat; width: 355px; height: 208px; float: left;}
	.product-pic a {display: block; padding: 10px 0 0 6px;}
	.product-info {width: 330px; float: left; padding: 0 13px 0 40px;}
	.product-info h2 { font-size: 22px; color: #5c5c5c; padding: 0 0 20px 0;}
	.product-info p {font-size: 12px; line-height: 1.0; color: #666;}
	.product-info ul {padding: 18px 0 0 0;}
	.product-info ul li {background: url(../images/galka-bg.png) left 5px no-repeat; padding: 0 0 0 18px; line-height: 1.2;}
	.product-info ul li a {color: #666; font-size: 12px; text-decoration: none;}
	.product-info ul li a:hover {text-decoration: underline;}
	.more-link {padding: 25px 0 0 0;}
	.more-link a {color: #eee; font-size: 9px; text-transform: uppercase; background: #1a1a1a; text-decoration: none; padding: 0 9px 0 10px; line-height: 23px; float: left; margin: 0 5px 0 0;}
	.more-link a.cupit {background: url(../images/cupit.png) no-repeat; width: 76px; height: 28px; text-indent: -9000px; overflow: hidden; position: relative; top: -2px; padding: 0;}
	.more-link a.cupit:hover {background: url(../images/cupit-hover.png) no-repeat;}
	.product-inside {padding: 0 13px 0 0;}
	.product-inside .product-pic {margin: 0 17px 0 0;}
	.product-inside h1 { font-size: 24px; padding: 0 0 0 0;}
	.product-inside p {line-height: 1.4; padding: 0 0 21px 0;}
	.product-outer .pagenator {padding: 14px 0 0 0;}
	
	
	.player {background: url(../images/player-bg.png) no-repeat; width: 628px; height: 388px; float: left;}
	.player-inner {padding: 31px 0 0 8px;}
	.banners-second-outer {width: 352px; float: left; padding: 0 0 0 8px;}
	.banner-second {background: url(../images/banner-second-bg.png) no-repeat; width: 351px; height: 163px; padding: 2px 0 0 1px; margin: 22px 0 0 0; position: relative;}
	.banner-second-inner {background: url(../images/banner-second-inner.png) no-repeat; width: 346px; height: 158px; padding: 5px 0 0 5px;}
	.banner-second .ic-01 {position: absolute; left: -4px; top: 30px;}
	.partners {width: 211px; overflow: hidden;}
	.partners li {background: url(../images/responde-inner-bg.png) left bottom no-repeat; width: 211px;}
	.partners li div {padding: 15px 0;}
	.partners li div p {padding: 15px 0 0 0; text-align: center;}
	.partners li div p a {color: #717171;}
	.partners li div a img {display: block; margin: 0 auto;}
	
	.tovar-outer {padding: 38px 0 0 0;}
	.tovar-outer .pagenator {text-align: left; padding: 100px 0 0 40px;}
	.tovar-left {width: 336px; float: left;}
	.tovar-left .big {background: url(../images/big-bg.png) no-repeat; width: 333px; height: 327px; padding: 5px 0 0 3px; position: relative;}
	.tovar-left .big .zoom {position: absolute; left: 144px; top: 145px; z-index: 100; cursor: pointer;}
	.slider-gallery {width: 306px; padding: 12px 0 0 30px; overflow: hidden; position: relative;}
	.slider-gallery ul li {background: url(../images/small-bg.png) no-repeat; width: 89px; height: 88px; float: left;}
	.slider-gallery ul li a {display: block; padding: 4px 0 0 2px;}
	.jcarousel-skin-tango .jcarousel-container-horizontal {width: 269px;}
	.jcarousel-skin-tango .jcarousel-next-horizontal {background: url(../images/next-bg.png) no-repeat; width: 27px; height: 44px; position: absolute; top: 27px; right: -39px; cursor: pointer;}
	.jcarousel-skin-tango .jcarousel-prev-horizontal {background: url(../images/prew-bg.png) no-repeat; width: 27px; height: 43px; position: absolute; top: 27px; left: -29px; cursor: pointer;}
	
	.tovar-right {width: 651px; overflow: hidden;}
	.tovar-right .product-info {padding: 0 0 0 71px; width: 580px;}
	.tovar-right .product-info h2 {font-size: 24px;}
	.tovar-right .product-info p {font-size: 16px; line-height: 0.9;}
	.tovar-right .product-info ul {padding: 19px 0 15px 0;}
	.tovar-right .product-info ul li {background-position: left 4px; line-height: 1.4;}
	.tovar-right .product-info ul li a {font-size: 14px;}
	.tovar-right .price {padding: 48px 0 0 40px;}
	.tovar-right .price span {font-size: 26px; float: left; color: #666; font-weight: bold;}
	.tovar-right .price span.old-price {padding: 0 55px 0 62px; text-decoration: line-through; font-weight: normal;}
	.tovar-right .price .price-big {background: url(../images/price-big.png) no-repeat; width: 169px; height: 57px; float: left; text-indent: -9000px; overflow: hidden; position: relative; top: -8px;}
	.tovar-outer h3 {font: normal 20px Verdana, Arial, Helvetica, sans-serif; padding: 60px 0 10px 0;}
	
	.big-gallery {background: url(../images/big-gallery-bg.png) no-repeat; width: 992px; height: 180px;}
	.big-gallery ul li {background: url(../images/li-bg.png) no-repeat; width: 120px; height: 115px; float: left; padding: 6px 0 0 3px; margin: 0 5px 0 0;}
	.big-gallery .jcarousel-skin-tango {padding: 30px 0 0 0;}
	.big-gallery .jcarousel-skin-tango .jcarousel-container-horizontal {width: 891px; margin: 0 0 0 49px;}
	.big-gallery .jcarousel-skin-tango .jcarousel-next-horizontal {background: url(../images/next-big.png) no-repeat; width: 29px; height: 48px; position: absolute; top: 38px; right: -38px; cursor: pointer;}
	.big-gallery .jcarousel-skin-tango .jcarousel-prev-horizontal {background: url(../images/prew-big.png) no-repeat; width: 29px; height: 48px; position: absolute; top: 38px; left: -33px; cursor: pointer;}
	
	
	.letter-outer {position: absolute; left: 0; top: 0; width: 100%; min-height: 100%; height: auto !important; height: 100%; display: none; z-index: 40;}
	.popap-shadow {position: absolute; left: 0; top: 0; width: 100%; min-height: 100%; height: auto !important; height: 100%; background: #6e6e6e; z-index: 9;}
	.letter-inner {width: 515px; margin: 0 auto; position: relative; z-index: 10;}
	#forma-zakaza {background: #fff url(../images/forma-zakaza-bg.png) no-repeat; width: 515px; padding: 36px 0 15px 0; overflow: hidden; margin: 100px 0 0 0;}
	#forma-zakaza h2 {font-size: 19px; padding: 4px 0 11px 107px;}
	#forma-zakaza h2 span {color: #bebebd; font-size: 11px; text-transform: uppercase; font-weight: normal; border-left: 1px solid #bebebd; padding: 0 0 0 9px; position: relative; top: -4px; margin: 0 0 0 8px;}
	#forma-zakaza form {padding: 0 0 0 108px;}
	#forma-zakaza form div {padding: 0 0 14px 0;}
	#forma-zakaza form div label {display: block; color: #858585; font-size: 12px; text-transform: uppercase; padding: 0 0 1px 0;}
	#forma-zakaza form div .txx {width: 284px; height: 26px; border: 1px solid #d8d8d8; line-height: 26px; padding: 0 5px; color: #858585; font-size: 12px; text-transform: uppercase;}
	#forma-zakaza form div .txx-1 {background: #f6f6f6; width: 284px; height: 26px; border: 1px solid #d8d8d8; line-height: 26px; padding: 0 5px; color: #000; font-size: 12px; text-transform: uppercase;}
	#forma-zakaza form div textarea {width: 284px; height: 162px; border: 1px solid #d8d8d8; padding: 0 5px; color: #858585; font-size: 12px; text-transform: uppercase; overflow: hidden;}
	#forma-zakaza .buy-red {background: url(../images/buy-red.png) no-repeat; width: 133px; height: 40px; border: 0; cursor: pointer; margin: 5px 0 0 79px;}
	
	
	.footer {background: #3e3e3e url(../images/footer-bg.gif) repeat-x; height: 264px; width: 100%; position: absolute; bottom: 0;}
	.footer-inner {width: 988px; margin: 0 auto;}
	.zayavka {width: 271px; float: right; padding: 33px 24px 0 0;}
	.zayavka h2 {font-size: 22px; color: #ddd; font-weight: normal; padding: 4px 0 16px 0;}
	.zayavka div {padding: 0 0 5px 0;}
	.zayavka div .tx {background: url(../images/tx-bg.png) no-repeat; width: 190px; height: 28px; line-height: 28px; border: 0; float: left; color: #d2d2d2; font-size: 12px; padding: 0 4px;}
	.zayavka div label {color: #d2d2d2; font-size: 12px; text-transform: uppercase; float: left; padding: 4px 0 0 6px;}
	.zayavka .submit {background: url(../images/zakaz.png) no-repeat; width: 96px; height: 30px; border: 0; margin: 3px 0 0 0; cursor: pointer;}
	.zayavka .submit:hover {background: url(../images/zakaz-hover.png) no-repeat;}
	.copy {padding: 59px 0 0 25px; font-size: 10px; color: #777;}