.member input {position: relative; top: -4px;}
.chek-list li input {position: relative; top: -4px;}
.spez ul li { display: inline; margin: 0 22px 0 0;}
.catalog li  {display: inline; margin: 0 19px 0 0;}
.articl-list li { display: inline; margin-right: 14px;}
.list-manager li  { display: inline; margin-right: 17px;}
.chek input {position: relative; top: -4px;}
.pagers li { display: inline; margin: 0 4px 0 0;}
.predlog .spez ul li { margin: 0 19px 0 0;}
.cheke input {position: relative; top: -4px;}
.che {position: relative; top: -4px; left: -4px;}
.ned-list .spez ul li { margin-right: 9px;}