* {margin: 0; padding: 0;}
html, body {height: 100%;}
table {border-collapse: collapse; width: 100%;} 
input:focus {outline: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
img, table {border: none;}
a:link, a:visited {text-decoration: none; color: #696a6d;}
a:hover, a:active {text-decoration: none; color: #001256;}
button {outline: none;}

/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/



@font-face {
 font-family: 'pt_sans_narrowregular';
 src: url('../fonts/ptn57f-webfont.eot');
 src: url('../fonts/ptn57f-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/ptn57f-webfont.woff') format('woff'),
   url('../fonts/ptn57f-webfont.ttf') format('truetype'),
   url('../fonts/ptn57f-webfont.svg#pt_sans_narrowregular') format('svg');
 font-weight: normal;
 font-style: normal;

}
@font-face {
 font-family: 'pt_sans_narrowbold';
 src: url('../fonts/ptn77f-webfont.eot');
 src: url('../fonts/ptn77f-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/ptn77f-webfont.woff') format('woff'),
   url('../fonts/ptn77f-webfont.ttf') format('truetype'),
   url('../fonts/ptn77f-webfont.svg#pt_sans_narrowbold') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'pt_sansregular';
 src: url('../fonts/pts55f-webfont.eot');
 src: url('../fonts/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/pts55f-webfont.woff') format('woff'),
   url('../fonts/pts55f-webfont.ttf') format('truetype'),
   url('../fonts/pts55f-webfont.svg#pt_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;

}
@font-face {
 font-family: 'pt_sansbold';
 src: url('../fonts/pts75f-webfont.eot');
 src: url('../fonts/pts75f-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/pts75f-webfont.woff') format('woff'),
   url('../fonts/pts75f-webfont.ttf') format('truetype'),
   url('../fonts/pts75f-webfont.svg#pt_sansbold') format('svg');
 font-weight: normal;
 font-style: normal;
}




header,footer,article,section,hgroup,nav,menu,aside,figure,figcaption{display:block;}
.left {float: left;}
.right {float: right;}

body { font-family: 'pt_sans_narrowregular', Tahoma, Geneva, sans-serif; font-size: 16px; background: #fff; color:#333;}

h1, h2, h3, h4, h5, h6 {margin: 15px 0;}
h1 {font-size: 46px;}
h2 {font-size: 38px;}
h3 {font-size: 30px;}
h4 {font-size: 22px;}
h5 {font-size: 14px;}
h6 {font-size: 6px;}

ul, ol {list-style:none;}

p {margin: 15px 0;}






.wrapper {width: 979px; margin: 0 auto;}


/* header */
header {height: 104px; position: relative;}
.logo {float: left; margin: 35px 0 0 21px;}
#nav {float: right; padding: 49px 21px 0 0;}
#nav ul li {float: left; margin: 0 0 0 43px;}
#nav ul li a {font-family: 'pt_sans_narrowbold'; color: #abafb3; text-transform: uppercase; font-size: 22px;}
#nav ul li a:hover,#nav ul li.activ a {color: #001256;}
.content {width: 100%;}
.slider-outer {width: 100%; overflow: hidden; height: 441px;}
.slider-list li {float: left; width: 195px; height: 441px; border-right: 1px solid #fff; position: relative;}
.slider-list li.last {border-right: 0;}
.slider-list li a {width: 100%; height: 100%; display: block;}
.title {position: absolute; width: 153px; border-bottom: 1px solid #fff; left: 21px; top: 11px; color: #fff; padding: 0 0 7px 0;}
.title strong {font-weight: normal; font-size: 24px; display: block; font-family: 'pt_sansregular'; line-height: 1.0;}
.title i {display: block; font-style: normal; font-size: 12px; font-family: 'pt_sansregular'; line-height: 1.0; position: relative; top: -1px;}
.slider-inner {width: 100%; height: 441px; position: relative; overflow: hidden;}
.slider-container {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.slider-container li {width: 100%; height: 441px; overflow: hidden; float: left; position: relative;}
.slider-container li.m01 {background: url(../uploads/big01.jpg) no-repeat;}
.slider-container li.m02 {background: url(../uploads/big02.jpg) no-repeat;}
.slider-container li.m03 {background: url(../uploads/big03.jpg) no-repeat;}
.slider-container li.m04 {background: url(../uploads/big04.jpg) no-repeat;}
.slider-container li.m05 {background: url(../uploads/big05.jpg) no-repeat;}



.text {position: absolute; color: #001256; background: #fff; padding: 4px; left: 18px; top: 88px; z-index: 9; opacity: 0.6}
.text h2 {font-family: 'pt_sansregular'; font-weight: normal; text-transform: uppercase; font-size: 30px; margin: 0; line-height: 1.1;
padding: 0 0 6px 0;}
.text p {margin: 0; font-size: 12px; line-height: 1.1;}
.mini {position: absolute; right: 20px; top: 300px; z-index: 10;}
.mini li {float: left; margin: 0 2px 0 0; position: relative; width: 64px; height: 58px;}
.mini li a { float: left; background: url(../images/a-bg.png); padding: 2px;}
.mini li a img {display: block; position: relative; z-index: 2;}
.mini li a span { background: #FFF url(../images/img.png) no-repeat; position: absolute; width: 60px; height: 55px; z-index: 1; display: block; left: 2px; top: 2px;}
.mini li a:hover span { z-index: 3;}





.navigator {position: absolute; left: 0; top: 361px; z-index: 11; background: #fff; color: #001256; opacity: 0.6;}
.navigator-left {width: 189px; float: left; color: #001256; padding: 0 0 0 21px;}
.navigator-left h3 {font-family: 'pt_sansregular'; font-weight: normal; font-size: 24px; margin: 0;}
.navigator-left h3 span {font-size: 12px; padding: 0 0 0 5px;}
.navigator-left p {font-family: 'pt_sansbold'; margin: 0; text-transform: uppercase; padding: 2px 0 0 0;}
.navigator-right {width: 748px; float: left; border-top: 1px solid #fff; margin: 18px 0 0 0;}
.navigator-right ul {padding: 14px 0 0 0;}
.navigator-right ul li {float: left; height: auto; width: auto; margin: 0 39px 0 0;}
.navigator-right ul li a {font-family: 'pt_sansbold'; font-size: 16px; color: #001256; text-transform: uppercase;}
.navigator-right ul li a:hover {color: #001256; text-decoration: underline;}
.navi {position: absolute; right: 21px; top: 104px; z-index: 20;}
.navi a {text-indent: -9000px; overflow: hidden; width: 18px; height: 40px; display: block; margin: 0 0 10px 0;}
.navi a.next {background: url(../images/next-bg.png) no-repeat;}
.navi a.prew {background: url(../images/prew-bg.png) no-repeat;}



/* contacts */
.main {padding: 0 0 64px 0;}
.hd {background: #f2f2f2; min-height: 85px; position: relative;}
.hd h1 {margin: 0; color: #000; font-family: 'pt_sans_narrowregular'; font-weight: normal; padding: 13px 0 0 242px;}
.page {width: 100%;}
.contact-list {margin: 0 21px; padding: 4px 0 0 0;}
.contact-list li {border-bottom: 1px solid #f2f2f2; padding: 20px 0 10px 288px;}
.contact-list li h4 {color: #000; font-size: 18px; font-family: 'pt_sansbold'; margin: 0; padding: 0 0 16px 0;}
.contact-list li h5 {color: #000; font-size: 14px; font-family: 'pt_sansbold'; margin: 0; padding: 0 0 5px 0; line-height: 1.1;}
.contact-list li p {margin: 0; color: #666; font-size: 12px; padding: 0 3px 0 120px;}
.contact-list li.n01 h4 {padding-left: 120px;}
.contact-list li.n02 {padding-left: 308px;}
.contact-list li.n03 {padding-top: 6px; border-bottom: 0;}
.contact-list li.n03 i {color: #abafb3; font-size: 12px; display: block; line-height: 1.4; padding-right: 230px; font-family: 'pt_sansregular';}
.contact-list li.n03 h3 {font-size: 24px; color: #000; font-family: 'pt_sansregular'; padding: 13px 0 18px 126px; margin: 0;}
.contact-list li.n03 form {}
.contact-list li.n03 form input.tx {width: 406px; height: 26px; line-height: 26px; background: #f2f2f2; padding: 0 7px;
border: 0; color: #666; font-size: 12px; margin: 0 0 10px 0;}
.contact-list li.n03 form textarea {width: 413px; height: 72px; background: #f2f2f2; padding: 6px 0 0 7px; font-family: 'pt_sansregular'; border: 0; color: #666; font-size: 12px; margin: 0 0 10px 0;}
.contact-list li.n03 form .submit {height: 27px; line-height: 27px; background: #333; position: relative; border: 0; font-family: 'pt_sansbold';
font-size: 12px; color: #fff; padding: 0 10px; margin: 0 0 0 179px; cursor: pointer;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
behavior: url(js/PIE.php);}


/* expertise */
.aside {width: 223px; float: left;}
.container {width: 735px; float: right; padding: 1px 0 0 0;}
.aside menu {padding: 5px 0 0 20px;}
.aside menu ul li {border-bottom: 1px solid #f2f2f2; padding: 5px 0 8px 0;}
.aside menu ul li a {color: #5e5f63; font-size: 18px; font-family: 'pt_sans_narrowbold';}
.aside menu ul li a:hover,.aside menu ul li.activ a {color: #001256;}
.photo.last {padding: 8px 0 0 0;}
.photo.last figure figcaption {font-style: italic;}
.photo figure img {display: block;}
.photo figure figcaption {color: #abafb3; font-size: 14px; padding: 4px 0 0 0;}
.container article {padding: 3px 20px 0 0;}
.container article h2 {font-size: 30px; font-family: 'pt_sansregular'; margin: -7px 0 0 0; font-weight: normal;}


/* news */
.news-outer {padding: 19px 0 21px 0;}
.news-outer.second {padding-top: 0; margin: -20px 0 0 0;}
.year {border-bottom: 1px solid #f2f2f2; margin: 0 0 10px 0;}
.year span {font-family: 'pt_sans_narrowbold'; font-size: 16px; color: #abafb3; background: #fff; padding: 0 15px 0 0; position: relative; top: 12px;}
.news-list ul li {display: inline-block; vertical-align: top; width: 328px; margin: 17px 55px 16px 0;}
.news-list ul li.last {margin-right: -4px;}
.news-list ul li .datte {font-size: 12px; color: #000; display: block;}
.news-list ul li h3 {font-family: 'pt_sansregular'; font-size: 18px; margin: 0; line-height: 1.1; padding: 4px 0 19px 0;}
.news-list ul li h3 a {color: #000;}
.news-list ul li h3 a:hover {color: #001256;}
.news-list ul li p {color: #abafb3; font-size: 12px; margin: 0; font-family: 'pt_sansregular'; line-height: 1.4;}
.news-list ul li:hover p {color: #000;} 
.pagenator {padding: 0 0 6px 0;}
.pagenator li {float: left; border-right: 1px solid #f2f2f2;}
.pagenator li a {float: left; font-size: 12px; color: #5e5f63; padding: 4px 11px 0 11px; line-height: 1.1;}
.pagenator li a:hover,.pagenator li.current a {background: #f2f2f2; color: #001256;}
.pagenator li span {padding: 4px 10px 0 10px; float: left; font-size: 12px; color: #5e5f63; line-height: 1.1;}
.pagenator li.last {border-right: 0;}
.pagenator li.pre {border-right: 0;}
.pagenator li.pre a {background: url(../images/pre-bg.png) 4px 4px no-repeat; padding-right: 9px;}
.pagenator li.ne {border-right: 0;}
.pagenator li.ne a {background: url(../images/ne-bg.png) left 4px no-repeat;}
.time {position: absolute; color: #abafb3; right: 19px; bottom: 13px;}


/* portfolio */
#block {background: #001256; text-align: center; color: #fff; padding: 27px 0 71px 0; margin: 0 0 1px 0;}
#block h2 {font-size: 30px; font-weight: normal; margin: 0; line-height: 1.1;}
#block h3 {font-size: 13px; font-weight: normal; margin: 0; line-height: 1.0; padding: 0 0 22px 0;}
#block p {font-size: 11px; margin: 0; line-height: 1.5;}
#box {background: #f2f2f2; padding: 16px 21px 35px 21px;}
#box h2 {font-size: 24px; font-weight: normal; font-family: 'pt_sansregular'; padding: 0 25px 14px 0; margin: 0; line-height: 1.0;}
#box h4 {font-size: 14px; color: #000; font-family: 'pt_sans_narrowbold'; margin: 0;}
#box p {color: #666; font-size: 11px; margin: 0; padding: 3px 0 0 0;}
a.a1 {display: inline-block; height: 27px; line-height: 27px; background: #333; position: relative; border: 0; font-family: 'pt_sansbold';
font-size: 12px; color: #fff; padding: 0 10px; margin: 10px 0 0 0; padding: 0 12px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
behavior: url(js/PIE.php);}
.portfolio {margin: 0 0 -13px 0;}
.portfolio li {display: inline-block; vertical-align: top; width: 244px; margin: 0 -2px 23px 0; text-align: center;}
.portfolio li.second {width: 245px;}
.portfolio li.last {margin-right: -3px;}
.portfolio li img {display: block;}
.portfolio li a span {font-size: 24px; color: #000; display: block; font-family: 'pt_sansregular'; padding: 4px 0 0 0;}
.portfolio li a:hover span {color: #001256;}
.slide-outer {width: 735px; height: 425px; position: relative; overflow: hidden;}
#slideshow {position: absolute; width: 735px; height: 425px; left: 0; top: 0; z-index: 1;}
#small {position: absolute; right: 20px; bottom: 15px; z-index: 2;}
#small li {float: left; margin: 0 2px 0 0; position: relative;}
#small li a { float: left; background: url(../images/a-bg.png); padding: 2px;}
#small li a img {display: block; position: relative; z-index: 2;}
#small li a span { background: #FFF url(../images/img.png) no-repeat; position: absolute; width: 60px; height: 55px; z-index: 1; display: block; left: 2px; top: 2px;}
#small li a:hover span { z-index: 3;}
.cap {margin: 0; color: #abafb3; font-size: 14px; padding: 4px 0 0 0;}
.submenu {padding: 13px 0 9px 0;}
.submenu li {display: inline; margin: 0 37px 0 0;}
.submenu li a {font-family: 'pt_sansbold'; font-size: 16px; color: #000; text-transform: uppercase;}
.submenu li a:hover,.submenu li.activ a {color: #001256;}
.dlist {padding: 0 260px 0 0;}
.dlist dt {font-family: 'pt_sansbold'; font-size: 18px;}
.dlist dd {background: url(../images/dd-bg.jpg) left 9px no-repeat; padding: 0 0 0 13px; margin: 17px 0;}




/* footer */
footer {border-top: 1px solid #fff; width: 979px; margin: 0 auto; padding: 0 0 30px 0;}
.footer-top {background: #001256; height: 99px; padding: 0 21px 0 21px;}
.footer-top-inner {border-bottom: 1px solid #fff; padding: 13px 0 5px 0;}
.footer-top-inner a {color: #fff; font-size: 11px;}
.footer-top-inner a:hover {text-decoration: underline;}
.footer-top-inner a.left {text-transform: uppercase; font-weight: bold;}
.footer-top-news {padding: 10px 350px 0 223px; color: #fff;}
.date {width: 60px; padding: 1px 5px 0 0; font-size: 11px; float: left;}
.footer-top-news p {font-family: 'pt_sans_narrowbold'; font-size: 12px; margin: 0 0 0 65px; line-height: 1.1;}
.footer-bottom {padding: 0 0 0 13px;}
.footer-bottom ul {float: left;}
.footer-bottom ul li {height: 27px; line-height: 27px; border-right: 1px solid #f2f2f2; float: left; padding: 0 8px 0 8px;}
.footer-bottom ul li a {font-family: 'pt_sans_narrowbold'; font-size: 10px; text-transform: uppercase; color: #abafb3;}
.footer-bottom ul li a:hover,.footer-bottom ul li.activ a {color: #001256;}
.footer-bottom ul li.last {border-right: 0;}
.footer-bottom ul.lang {margin: 0 177px 0 0;}
a.follow {float: left; font-size: 10px; text-transform: uppercase; color: #abafb3; margin: 8px 0 0 22px;}
p.copy {float: right; margin: 0; color: #b1b4b8; font-size: 10px; font-family: 'pt_sansregular'; padding: 7px 21px 0 0;}
.footer-bottom ul.social {margin: 0 0 0 12px;}
.footer-bottom ul.social li a {width: 12px; height: 27px; text-indent: -9000px; overflow: hidden; display: block;}
.footer-bottom ul.social li.ic01 a {background: url(../images/ic01.png) 3px 6px no-repeat;}
.footer-bottom ul.social li.ic01 a:hover {background-image: url(../images/ic01-hover.png);}
.footer-bottom ul.social li.ic02 a {background: url(../images/ic02.png) center 6px no-repeat;}
.footer-bottom ul.social li.ic02 a:hover {background-image: url(../images/ic02-hover.png);}
.footer-bottom ul.social li.ic03 a {background: url(../images/ic03.png) 2px 6px no-repeat;}
.footer-bottom ul.social li.ic03 a:hover {background-image: url(../images/ic03-hover.png);}
.footer-bottom ul.social li.ic04 a {background: url(../images/ic04.png) 2px 6px no-repeat;}
.footer-bottom ul.social li.ic04 a:hover {background-image: url(../images/ic04-hover.png);}