/* Table of Contents
==================================================
 #Base 960 Grid
 #Tablet (Portrait)
 #Mobile (Portrait)
 #Mobile (Landscape)
 #Clearing */



/* #Base 960 Grid
================================================== */


/* #Tablet (Portrait)
================================================== */

 /* Note: Design for a width of 768px */

 @media only screen and (min-width: 768px) and (max-width: 959px) {
	
  .inner {width: 758px;}
	.top-header {padding-bottom: 10px;}
	.top-search span {font-size: 13px;}
	#nav ul li {margin-left: 25px;}
	.block {width: 572px;}
	.right-part {width: 276px;}
	.footer-nav li {margin-left: 20px;}
	.popular-outer .slider-list li {margin-right: 25px;}
	.popular-outer .slider-list li:nth-child(3n+3) {margin-right: 0;}
	.popular-outer .slider-list li:nth-child(4n+4) {margin-right: 25px!important;}
	.reg-form {width: 462px;}
	.col-1 {width: 300px;}
	.col-2 {width: 80px;}
	.cat-1 {width: 325px;}
	.cat-2 {width: 78px;}
	 
 }


/* #Mobile (Portrait)
================================================== */

 /* Note: Design for a width of 320px */

 @media only screen and (max-width: 767px) {	
		html {-webkit-text-size-adjust: none;}
		#nav ul {display:none;}
		#nav select {width: 140px; display:block; cursor:pointer; padding: 6px 2px; background:#222; border:1px solid #595959; color:#fff; font-size: 11px; text-transform: uppercase;}
		.#nav select option {background: #07aee3; border-bottom: 1px solid #fff; font-size: 11px; text-transform: uppercase; padding: 11px 5px 12px 5px;}
		#nav select option:hover {background: #fff; color: #5ac9ec;}		
		
		.inner {width: 300px;}
		.top-search span {display: block; font-size: 13px;}
		.search-form {margin: 5px 0 0 0; width: 256px;}
		.login {float: none; padding: 5px 0 10px 0; clear: both;}
		.logo {width: 150px; margin-top: 28px;}
		#nav {right: 0; top: 25px; bottom: auto;}
		.side {float: none; clear: both; width: auto; margin: 0 0 0 70px;}
		.block {float: none; width: 100%; clear: both; padding: 20px 0 0 0;}
		.left-part {float: none; width: 100%; clear: both;}
		.right-part {float: none; width: 100%; clear: both;}
		.heding i {font-size: 19px;}
		.slider-list li {margin: 0 69px 0 69px;}
		.footer-nav {float: none; clear: both; padding: 0 0 0 51px;}
		.footer-nav li {float: none; clear: both; margin: 0;}
		.popular-outer .slider-list li {margin: 0 69px 31px 69px;}
		.pic-film {float: none; width: 100%; clear: both;}
		.reg-form {float: none; width: 100%; clear: both;}
		.spisok-title {display: none;}
		.cat-1 {float: none; width: 100%; clear: both;}
		.cat-info {padding-top: 0;}
		.cat-2 {width: 130px; clear: both;}
		.cat-4 {float: right;}
		
 }


/* #Mobile (Landscape)
================================================== */

 /* Note: Design for a width of 480px */

 @media only screen and (min-width: 480px) and (max-width: 767px) {
	 .inner {width: 420px;}
	 .top-search {width: 300px; padding-bottom: 10px;}
	 .login {float: right; clear: none; padding: 30px 0 0 0;}
	 .login a {font-size: 13px;}
	 .login .in {margin-left: 5px;}
	 .logo {width: 220px; margin-top: 18px;}
	 .side {margin: 0 0 0 100px;}
	 .slider-list li {margin: 0 50px 0 0;}
	 .popular-outer .slider-list li {margin: 0 36px 31px 0px;}
	 .cat-2 {width: 180px;}
	  
 }

