/*reset*/
* {padding: 0; margin :0;}
html, body {width: 100%; height: 100%;}
img, table {border: none;}
table {border-collapse: collapse; width: 100%;}
li {list-style: none;}
.clear {clear: both;}
.clearing {clear: both; height: 0!important; padding: 0!important; margin: 0!important; text-indent: -9000px; overflow: hidden;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
a:focus {outline: none;}

body {background: #FBD3B1; font: 14px Trebuchet MS1, Helvetica, sans-serif; color: #000;}
.body-bg {background: url(../images/body-bg.jpg) center bottom repeat-x;}
.body-bg1 {background: url(../images/body-bg1.jpg) left bottom no-repeat;}
.body-bg2 {background: url(../images/body-bg2.jpg) right bottom no-repeat;}
.body-bg3 {background: url(../images/body-bg3.png) center top repeat-x;}
.body-bg4 {background: url(../images/body-bg4.png) left top no-repeat;}
.body-bg5 {background: url(../images/body-bg5.png) right top no-repeat; padding: 109px 0 0 0;}
.center-td {width: 995px;}
.right-td table tr td {background: url(../images/right-td-bg.png) left bottom no-repeat; height: 524px;}

	.wrapper {width: 995px;}
		.page-top {height: 25px;}
		.page-lt {background: url(../images/page-lt-bg.gif) left top no-repeat; padding: 0 0 0 25px; height: 25px;}
		.page-rt {background: url(../images/page-rt-bg.gif) right top no-repeat; padding: 0 25px 0 0; height: 25px;}
		.page-top-inner {background: url(../images/page-top-inner.gif) repeat-x; height: 25px;}
		.page-bottom {height: 25px;}
		.page-rb {background: url(../images/page-rb-bg.gif) right bottom no-repeat; padding: 0 25px 0 0; height: 25px;}
		.page-lb {background: url(../images/page-lb-bg.gif) left bottom no-repeat; padding: 0 0 0 25px; height: 25px;}
		.page-bottom-inner {background: url(../images/page-bottom-inner.gif) repeat-x; height: 25px;}
		.page-inner {background: #fff url(../images/page-inner.gif) repeat-y; padding: 0 25px 61px 27px; position: relative;}	
		.palochki {background: url(../images/palochki.png) no-repeat; width: 68px; height: 472px; position: absolute; right: 0; bottom: -25px;}
		
		/*header*/
		.header {position: relative; width: 934px;}
		.header .posud {background: url(../images/posood.png) no-repeat; width: 128px; height: 153px; position: absolute; left: -108px; top: 168px;}
		.header p {color: #fff; position: relative;}
		.header .p1 {left: -26px; top: -68px; width: 370px;}
		.header .p1 img {margin: 1px 6px 0 8px}
		.header .p2 {left: 525px; top: -103px; width: 440px;}
		.header .p2 img {margin: 3px 8px 0 12px;}
		.header .logo {padding: 0 0 0 7px; float: left; margin-top: -65px;}
		.header .header-right {float: right; width: 625px; margin-top: -65px;}
		.header .header-right .navigation li {float: left; padding: 0 5px 0 0; height: 26px;}
		.header .header-right .navigation li a {display: block; text-indent: -9000px; overflow: hidden; height: 26px; width: 85px;}
		.header .header-right .navigation li a:hover {background-position: 0 -26px;}
		.header .header-right .navigation li .main {background: url(../images/main-a.png) no-repeat;}
		.header .header-right .navigation li .novelty {background: url(../images/novelty-a.png) no-repeat;}
		.header .header-right .navigation li .basket {background: url(../images/basket-a.png) no-repeat;}
		.header .header-right .navigation li .delivery {background: url(../images/delivery-a.png) no-repeat; width: 170px;}
		.header .header-right .navigation li .response {background: url(../images/response-a.png) no-repeat;}
		.header .header-right .navigation li .contacts {background: url(../images/contacts-a.png) no-repeat;}
		.header-right h1 {font: 18px bold Arial, Helvetica, sans-serif; padding: 32px 0 0 1px;}
		.header .menu {padding: 23px 0 0 0; float: left;}
		.header .menu li {float: left; padding: 0 3px 0 0;}
		.header .menu li a img {width: 131px; height: 119px;}
		.header .header-inner {float: left; padding: 23px 0 0 26px; width: 99px;}
		.header .header-inner a {display: block; padding: 6px 0 16px 26px; color: #000; font-size: 12px; font-weight: bold;}
		.header .header-inner .profile {background: url(../images/profile-bg.gif) no-repeat;}
		.header .header-inner .basket {background: url(../images/basket-bg.gif) no-repeat; padding-left: 30px; margin-left: -4px; position: fixed; top: 285px;}
		
		/*content*/
		.content .left-part {float: left; width: 536px; position: relative;}
		.content .left-part .submenu {padding: 19px 0 0 7px;}
		.content .left-part .submenu li {float: left;}
		.content .left-part .submenu li span {padding: 0 11px 0 8px;}
		.content .left-part .submenu li a {color: #000; font-weight: bold;}
		.content .left-part .submenu li a:hover {color: #EB1C24;}
		.block {background: url(../images/block-bg.gif) left bottom no-repeat; width: 522px; padding: 0 0 9px 14px; margin: 32px 0 0 0;}
		.first {margin: 23px 0 0 0;}
		.second {margin: 52px 0 0 0;}
		.block .left-block {width: 181px; float: left; text-align: center;}
		.block .left-block a {font: 11px Arial, Helvetica, sans-serif; color: #494949; display: block; padding: 8px 0 2px 0;}
		*:first-child+html .block .left-block a {padding: 5px 0 2px 0;}
		.block .left-block a:hover {color: #FF0000;}
		.block .right-block {padding: 0 0 0 210px;}
		.block .right-block form p {font-weight: bold; color: #FF0000; font-size: 13px; padding: 2px 0 14px 0;}
		.block .right-block form table {float: left;}
		.block .right-block form table tr td {font: 12px Arial, Helvetica, sans-serif; padding: 0 0 1px 0; color: #494949;}
		.block .right-block form table tr .left-innet-td {width: 180px;}
		.block .right-block form table tr td b {display: block; float: left; width: 55px;}
		.block .right-block form table tr td strong {font: 14px Trebuchet MS1, Helvetica, sans-serif; font-weight: bold; float: right;}
		.block .right-block form table tr td p {float: right; width: 71px; height: 13px; border: 1px solid #FF0000; padding: 2px; position: relative; right: 2px; top: 8px;}
		.block .right-block form table tr td p a {display: block; width: 13px; height: 13px; float: right; padding: 0 0 0 1px; text-indent: -9000px; overflow: hidden;}
		.block .right-block form table tr td p .minus {background: url(../images/minus.gif) no-repeat;}
		.block .right-block form table tr td p .plus {background: url(../images/plus.gif) no-repeat;}
		.block .right-block form table tr td p input {width: 40px; height: 14px; border: 0; padding: 0 3px 0 0; text-align: right; position: absolute; top: 1px;}
		.block .right-block form table tr .sub {text-align: right; padding: 15px 0 0 0;}
		.block .right-block form table tr .sub .submit-1 {background:url(../images/add-basket-bg.gif) no-repeat; width: 121px; height: 24px; border: 0; padding: 0; cursor: pointer;}	
		.content .right-part {float: right; padding: 61px 23px 0 0; position: relative;}
		.basket-wrapper {background: url(../images/basket-wrapper-bg.gif) no-repeat; width: 326px; padding: 0 0 0 10px;}
	 	.basket-wrapper form table {width: 320px;}
		.basket-wrapper form table tr td {padding: 9px 0 2px 0; border-bottom: 1px solid #757575;}
		.basket-wrapper form table tr td p {font-size: 18px; padding: 2px 0; width: 126px; overflow: hidden;}
		.basket-wrapper form table tr td span {font-size: 14px; font-weight: bold; color: #EB1C24; float: right;}
		.basket-wrapper form table tr td div {float: left; width: 71px; height: 13px; border: 1px solid #FF0000; padding: 2px; margin: 3px 20px 0 58px; position: relative;}
		.basket-wrapper form table tr td div a {display: block; width: 13px; height: 13px; float: right; padding: 0 0 0 1px; text-indent: -9000px; overflow: hidden;}
		.basket-wrapper form table tr td div .minus {background: url(../images/minus.gif) no-repeat;}
		.basket-wrapper form table tr td div .plus {background: url(../images/plus.gif) no-repeat;}
		.basket-wrapper form table tr td div input {width: 40px; height: 14px; border: 0; padding: 0 3px 0 0; text-align: right; position: absolute; top: 1px;}
		.basket-wrapper form table tr td .submit {background: url(../images/submit-bg.gif) no-repeat; width: 36px; height: 23px; border: 0; padding: 0; float: right; margin: 0 2px 0 0; cursor: pointer;}
		.basket-wrapper form .order {background: url(../images/order-bg.gif) no-repeat; width: 137px; height: 28px; border: 0; padding: 0; float: right; margin: 14px 0 0 0; cursor: pointer;}
		
	/*footer*/	
	.footer {width: 995px; height: 73px; margin: 0 auto; padding-bottom: 20px;}
		.footer ul {padding: 21px 0 0 186px;}
		.footer ul li {float: left;}
		.footer ul li span {padding: 0 11px 0 8px;}
		.footer ul li a {color: #000; font-weight: bold;}
		.footer ul li a:hover {color: #EB1C24;}
		.copy {background:url(../images/copy-bg.gif) right top no-repeat; width: 134px; height: 13px; margin: 23px 0 0 411px;}	