@charset "utf-8";
/*
	styles for select
*/
.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
	background: url(../images/select-2.png) no-repeat;
}
.cusel { /* общий вид селекта включая стрелку справа */
	height: 23px;
	width: 142px!important;
	background-position: left top;
	
	position: relative;
	cursor: pointer;
	padding: 0!important;
	
}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 20;
	top: 0;
	right: 0;
	_right: -1px;
	height: 25px;
	width: 26px;
	background-position: right top;
}

.cuselText { /* контейнер для отображенного текста селект */
	
	

	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 20;
	font-size: 11px; color: #927958;
	position: absolute;
	top: 6px;
	left: 7px;
	
}
* html .cuselText { /* высота блока для текста для ие6 */
	height: 22px;
}
.cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	
	padding: 2px 5px 2px 5px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
	
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #e8e5de;

}
.cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #e8e5de;
	cursor: default;

	
}

/*
	styles for focus and hover
*/
.cusel:hover,
.cusel:hover .cuselFrameRight,
.cusel:focus,
.cusel:focus .cuselFrameRight,
.cuselFocus,
.cuselFocus .cuselFrameRight {
	background-image: url(../images/select-focus.png);
}

/*
	styles for disabled select
*/
.classDisCusel,

.classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
.cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	background: #fff; /* фон выпадающего списка */
	min-width: 100%;
	width: auto;
	padding: 0!important;
}
.cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	border: 1px solid #d7d4cf;
	background: #faf6ef;
	  padding: 0!important;
}


.cusel .cusel-scroll-playli {border: 1px solid #e1e6ea;}


.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 7px !important;
	background: #ccc;
	position: absolute;
	top: 0;
	right: 4px;
}
.cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 15px !important;
	height: 27px !important;
	right: -4px;
	
}

.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}

.zaklad .cusel,.zaklad .cuselFrameRight,.zaklad .jScrollPaneDrag,.zaklad .jScrollArrowUp,.zaklad .jScrollArrowDown {background: url(../images/select-21.png) no-repeat;}
.zaklad .cusel {height: 36px!important; background-position: left top; position: relative; cursor: pointer;	}
.zaklad .cusel:hover,.zaklad .cusel:hover .cuselFrameRight,.zaklad .cusel:focus,.zaklad .cusel:focus .cuselFrameRight,.zaklad .cuselFocus, .zaklad .cuselFocus .cuselFrameRight {background-image: url(../images/select-focus-1.png);}
.zaklad .cuselFrameRight {position: absolute; z-index: 20; top: 0; right: 0; width: 26px;background-position: right top;}
.zaklad .cusel-scroll-wrap { width: 142px!important;}

.sell .cusel,.sell .cuselFrameRight,.sell .jScrollPaneDrag,.sell .jScrollArrowUp,.sell .jScrollArrowDown {background: url(../images/select-22.png) no-repeat;}
.sell .cusel {height: 23px!important; width: 614px!important; background-position: left top; position: relative; cursor: pointer;	}
.sell .cusel:hover,.sell .cusel:hover .cuselFrameRight,.sell .cusel:focus,.sell .cusel:focus .cuselFrameRight,.sell .cuselFocus, .sell .cuselFocus .cuselFrameRight {background-image: url(../images/select-focus-2.png);}
.sell .cuselFrameRight {position: absolute; z-index: 20; top: 0; right: 0; width: 26px;background-position: right top;}

.sell .cusel span {padding: 2px 5px 2px 25px; position: relative;}
.sell .cusel span input { position: absolute; left: 6px; top: 3px;}
*+html .sell .cusel span input { margin:0; top: -2px; left: 2px;}
*html .sell .cusel span input { margin:0; top: -2px; left: 2px;}

