@charset "utf-8";
/*
	styles for select
*/
.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
	background: url(../images/selects-2.png) right 8px no-repeat;
}
.cusel { /* общий вид селекта включая стрелку справа */
	height: 23px;
	width: 46px!important;
	
	
	position: relative;
	cursor: pointer;
	padding-right: 13px;
	
}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 20;
	top: 8px;
	right: 0;
	_right: -1px;
	height: 25px;
	width: 26px;
	background-position: right top;
}

.cuselText { /* контейнер для отображенного текста селект */
	height: 22px;
	font-size: 18px;
	
	padding:  0; /* подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 20;
	
	position: absolute;
	top: -2px;
	left: 0;
	color: #000;
	
}
* html .cuselText { /* высота блока для текста для ие6 */
	height: 22px;
}
.cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	/* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
	background: url(../images/cusel-span-bg.png) repeat-y;
	width: 44px;
	text-align: center;
	border-bottom: 1px dotted #bdbdbd;
	
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
	

}
.cusel .cuselActive { /* оформление активного оптиона в списке */
	
	
	cursor: default;
	
	
}

/*
	styles for focus and hover
*/
.cusel:hover,
.cusel:hover .cuselFrameRight,
.cusel:focus,
.cusel:focus .cuselFrameRight,
.cuselFocus,
.cuselFocus .cuselFrameRight {
	background-image: url(../images/selects-focus.png);
	background-position: right 1px;
}


.cusel:hover,
.cusel:hover .cuselFrameRight,
.cusel:focus,
.cusel:focus .cuselFrameRight,
.cuselFocus,
.cuselFocus .cuselFrameRight
.cuselFocus  .cuselFrameRight { top: 0px!important; right: -1px!important;}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
	background-image: url(../images/selects-2-dis.png) !important;
	cursor: default;
	color: #ccc;
}
.classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
.cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	
	min-width: 100%;
	width: auto;
}
.cusel .jScrollPaneContainer {
 background: url(../images/jScrollPaneContainer-bg.png) no-repeat;
 	width: 44px!important; padding: 5px 0 0 0;
	position: absolute;
	
	z-index: 500;
	left: 1pxpx;
	top: 0px;
	font-size: 14px;
	color: #000;
}

.cusel-scroll-pane { position: relative!important;}

.cusel-scroll-pane { background: url(../images/cusel-scroll-day-bg.png) left bottom no-repeat; padding: 0 0 5px 0!important; position: relative!important; width: 44px!important;}

.cusel .cusel-scroll-playli {border: 1px solid #e1e6ea;}


.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 7px !important;
	background: #ccc;
	position: absolute;
	top: 0;
	right: 4px;
	display: none!important;
}
.cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 15px !important;
	height: 27px !important;
	right: -4px;
	display: none!important;
	
	
}

.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}
