/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
* {padding: 0; margin :0;}
*html body {behavior:url("csshover.htc");}
html, body {width:100%;height:100%;}
body {background: #fff url(../images/body-bg.png) center top repeat-y; font: 12px Arial, Helvetica, sans-serif; color: #333;}
img, table {border: none;}
table tr td {border-collapse: collapse; vertical-align: middle;}
li {list-style: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
a:focus {outline: none;}
/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/


	
	.head {background: #fff;}
		.head-inner {width: 989px; margin: 0 auto; position: relative;}
		.head h1 {float: left; padding: 34px 0 0 23px;}
		.head h1 a {cursor: pointer; display: block; width: 300px; height: 61px; position: relative; overflow: hidden; text-indent: -9000px;}
		.head h1 a span {background: url(../images/logo.gif) no-repeat; position: absolute; left: 0; top: 0; width: 300px; height: 61px;}
		.head-inner-center {float: left; width: 407px; padding: 11px 0 0 23px;}
		.tel {float: left;}
		.contacts {float: left; padding: 10px 0 0 17px; width: 83px; overflow: hidden;}
		.contacts a {float: left; margin: 0 11px 0 0; width: 16px;}
		.contacts a.last {margin-top: 2px; margin-right: 0;}
		.head-inner-center p {font-size: 18px; color: #454545; padding: 5px 0 7px 14px;}
		.head-inner-center .text {background: url(../images/input-bg.gif) no-repeat; width: 244px; height: 28px; line-height: 28px; color: #c9c9c9; border: 0; padding: 0 4px; font-size: 16px; float: left; margin: 0 0 0 1px;}
		.head-inner-center .submit {background: url(../images/submit-bg.gif) no-repeat; width: 75px; height: 28px; line-height: 28px; float: left; border: 0; cursor: pointer; padding: 0; font-size: 15px; text-transform: uppercase; color: #3f3f3f;}
		.head-inner-right {width: 236px; float: left;}
		.head-inner-right .regi {width: 194px; border-top: 1px solid #d8d8d8; float: right; margin: 0 19px 0 0;}

		.head-inner-right .regi li {background: url(../images/regi-li-bg.gif) right top no-repeat; padding: 0 6px 0 0; float: right; margin: 0 21px 0 0;}
		.head-inner-right .regi li span {background: url(../images/regi-li-san-bg.gif) no-repeat; padding: 0 0 0 6px; float: left;}
		.head-inner-right .regi li span a {background: url(../images/regi-a-bg.gif) repeat-x; height: 21px; float: left; text-decoration: none; font-size: 13px; color: #3c3c3c; text-transform: uppercase; padding: 4px 5px 0 4px;}
		.head-inner-right .regi li span a:hover {text-decoration: underline;}
		.head-inner-right .regi li.last {margin: 0;}
		.basket-outer {padding: 5px 0 0 0; width: 212px;}
		.basket-outer p {font-size: 15px;}
		.basket-outer p strong {font-size: 18px; color: #70bd23;}
		.basket {background: url(../images/basket-bg.gif) no-repeat; width: 87px; height: 66px; float: left; position: relative;}
		.basket span {position: absolute; font-size: 17px; font-weight: bold; color: #c50000; left: 55px; top: 11px;}
		.price {font-size: 22px; font-weight: bold; color: #6fbd21; padding: 0 21px 2px 0; text-align: right;}
		.sub {background: url(../images/sub-bg.gif) no-repeat; width: 116px; height: 15px; font-size: 12px; color: #363636; float: left; padding: 0 0 0 6px;}
		.sub span {position: relative; top: -1px; padding: 0 0 0 6px;}
		.zakladci {width: 941px; margin: 0 auto;}
		.zakladci a {float: left; margin: -14px 11px 0 0; position: relative;}
		.zakladci a.las {margin: -14px 0 0 0;}
		.menu-outer {height: 42px; background: #ebebea;}
		.menu-inner {width: 989px; margin: 0 auto; padding: 8px 0 0 1px;}
		.menu-inner li {float: left; border-right: 1px solid #cfcfce; padding: 3px 24px 5px 24px;}
		.menu-inner li a {font-size: 16px; color: #424242; float: left;}
		.menu-inner li.lasts {border: 0; padding-right: 0;}
	
	
	.content-inner {background: url(../images/content-inner-bg.gif) center top repeat-y; width: 989px; margin: 0 auto; padding: 4px 0 0 0;}
	.left-column {width: 151px; float: left; overflow: hidden;}
	.sidebar .nav {padding: 0 0 14px 0;}
		.sidebar .nav li {width: 150px;}
		.sidebar .nav li h3 {background: url(../images/l01-bg.gif) no-repeat; width: 134px; height: 29px; font-size: 18px; color: #fff; text-transform: uppercase; padding: 7px 0 0 16px; margin: 0 0 2px 0; cursor: pointer; font-weight: normal;}
		.sidebar .nav li h3:hover {text-decoration: underline;}
		.sidebar .nav li ul {padding: 0 0 2px 0;}
		.sidebar .nav li ul li {margin: 0 0 2px 8px; height: 30px;}
		.sidebar .nav li ul li a {background: url(../images/li-a-bg.gif) no-repeat; width: 131px; height: 24px; font-size: 15px; color: #323131; text-decoration: none; padding: 6px 0 0 11px; display: block;}
		.sidebar .nav li ul li a:hover {text-decoration: underline;}
		.responses h3 {background: #fff4d9; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-weight: normal; font-size: 14px; color: #2d2d2d; text-transform: uppercase; padding: 7px 0 6px 17px;}
		.responses h3 strong {font-size: 16px; display: block; font-weight: normal;}
		.responses-inner {padding: 6px 7px 6px 12px; border-bottom: 1px dotted #c6c6c6;}
		.responses-inner p {font-size: 11px; color: #2d2d2d; line-height: 1.2; padding: 0 0 4px 0;}
		.responses-inner .author {float: right; color: #656565;}
		.responses-inner.las {border-bottom: 0;}
	
	.center-column {width: 687px; float: left; overflow: hidden;}
		.other-responses {background: #fff4d9; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; text-align: center; padding: 2px 0 3px 0;}
		.other-responses a {color: #383838; text-decoration: underline;}
		.other-responses a:hover {text-decoration: none;}
		.tovars-outer {padding: 9px 11px 0 11px; margin: 0 0 12px 0; width: 665px;}
		.tovars-outer-second {margin: 0;}
		.tovars-outer h2 {text-align: center; font-weight: normal; padding: 0 0 6px 0;}
		.tovars-outer h2 span {font-size: 19px; text-transform: uppercase; color: #545454; border-bottom: 1px dashed #000;}
		.tovars-outer h2 span:hover {border-bottom: 1px dashed #fff; cursor: pointer;}
		.tovars-outer h2 i {font-style: normal; font-size: 19px; text-transform: uppercase; color: #545454; display: block; margin-bottom: 10px;}
		.tovars-outer h2 em {font-style: normal; font-size: 19px; text-transform: uppercase; color: #545454; display: block; margin-bottom: 2px;}
		.tovars-inner {background: url(../images/tovars-inner-bg.gif) center top repeat-y; width: 665px;}
		.left-col-inner {background: url(../images/left-col-inner-bg.gif) center top repeat-y; width: 320px; margin: 10px 0 0 0; padding: 0 0 9px 0;}
		.tovars-inside {width: 320px; float: left; margin: 0 25px 0 0;}
		.tovars-inside-last {margin: 0;}
		.tovars-inside-last h3 {border-bottom: 5px solid #f2e3b9!important;}
		.tovars-inside h3 {text-align: center; font-weight: normal; padding: 0 0 4px 0; border-bottom: 5px solid #cceab1;}
		.tovars-inside h3 span {font-size: 16px; text-transform: uppercase; color: #545454; border-bottom: 1px dashed #000; cursor: pointer;}
		.tovars-inside h3 span:hover {border-bottom: 1px dashed #fff;}
		.tovars-inside h4 {font-size: 15px; color: #3a3a3a;}
		.tovars-inside p {color: #3c3c3c;}
		.tovars-inside .tovar {position: relative; text-align: center; height: 126px; padding: 5px 0 0 0;}
		.tovars-inside .tovar a img {display: block; margin: 0 auto;}
		.left-col-inside {width: 160px; float: left;}
		.left-col-inside-second {width: 150px; padding: 0 0 0 10px;}
		.action {background: url(../images/action-bg.png) no-repeat; width: 48px; height: 49px; position: absolute; text-align: center; left: 90px; bottom: 8px;}
		.action span {font-size: 17px; font-weight: bold; color: #c50000; padding: 13px 0 0 0; display: block;}
		.skidka {background: url(../images/skidka.png) no-repeat; width: 48px; height: 49px; position: absolute; left: 90px; bottom: 8px;}
		.korzina {background: url(../images/korzina-bg.gif) no-repeat; width: 150px; height: 27px; margin: 0 0 -1px 0; position: relative;}
		.korzina a {padding: 0 40px 0 0; display: block;}
		.korzina a:hover {text-decoration: none;}
		.korzina i {font-size: 15px; color: #484848; padding: 5px 0 0 6px; display: block; font-style: normal;}
		.korzina i span {width: 46px; float: left;}
		.korzina i strong {font-size: 16px; color: #6cbc1c; width: 57px; float: left;}
		.tovars-outer-last {border-bottom: 1px solid #d6d6d6; margin-bottom: 7px;}
		.tovars-outer-posl { padding-left: 11px!important; width: 676px!important;}
		
		.tovars-outer-last .left-col-inside {padding-bottom: 29px;}
		.tovars-outer-last .left-col-inside-last {padding-bottom: 0;}
		.all {display: block; text-align: center; font-size: 16px; color: #333; padding: 8px 0 13px 0;}
		.all span {border-bottom: 1px dashed #333;}
		.all:hover {text-decoration: none;}
		.all:hover span {border-bottom: 1px dashed #fff;}
		.postambule {padding: 0 13px 23px 7px;}
		.postambule h2 {font-size: 18px; color: #333; font-weight: normal; padding: 0 0 0 10px;}
		.postambule p {text-indent: 11px; line-height: 1.2;}
		.avtorization {padding: 7px 0 0 0;}
		.avtorization h2 {text-align: center; border-bottom: 1px dotted #717171; padding: 0 0 12px 0;}
		.avtorization h2 span {font-size: 19px; font-weight: normal; color: #3d3d3d;}
		.avtorization h3 {text-align: center; color: #3d3d3d; font-size: 15px; font-weight: normal; padding: 9px 0 0 0;}
		.avtorization-inner {background: url(../images/avtorization-inner-bg.gif) left bottom repeat-x; padding: 0 0 18px 0; margin: 0 0 2px 0;}
		.avtorization-inner ul {padding: 0 0 0 12px;}
		.avtorization-inner ul li {float: left; margin: 0 18px 0 0; width: 137px;}
		.avtorization-inner ul li i {font-style: normal; height: 76px; display: block;}
		.avtorization-inner ul li a {display: block; width: 100%; text-align: center; text-decoration: underline; color: #3d3d3d;}
		.avtorization-inner ul li a img {display: block; margin: 0 auto;}
		.avtorization-inner ul li a span {display: block; font-size: 14px;}
		.avtorization-inner ul li a:hover {text-decoration: none;}
		.avtorization-inner ul li.l02 {width: 165px;}
		.avtorization-inner ul li.l02 i {padding-top: 12px; height: 64px;}
		.avtorization-inner ul li.l03 {width: 139px;}
		.avtorization-inner ul li.l03 i {padding-top: 24px; height: 52px;}
		.avtorization-inner ul li.l04 {width: 171px; margin: 0;}
		.avtorization-inner ul li.l04 i {padding-top: 14px; height: 62px;}
		.patway {padding: 2px 0 0 10px;}
		.patway li {float: left; color: #969696;}
		.patway li a {color: #868686; text-decoration: underline;}
		.patway li a:hover {text-decoration: none;}
		.patway li span {padding: 0 2px 0 3px;}
		.patway li i {font-style: normal;}
		.search-outer-bg1 {background: url(../images/search-outer-bg1.gif) no-repeat; padding: 8px 0 0 0;}
		.search-outer-bg2 {background: url(../images/search-outer-bg2.gif) left bottom no-repeat; padding: 0 0 8px 0;}
		.search-outer-bg3 {background: url(../images/search-outer-bg3.gif) repeat-y; width: 687px; padding: 0 0 4px 0;}
		.search-outer-bg3 h3 {font-size: 19px; font-style: italic; font-weight: normal; color: #b2b2b2; text-align: center; line-height: 1.1; padding-bottom: 3px;}
		.chek-outer {padding: 0 0 0 19px;}
		.chek-outer ul {background: url(../images/chek-outer-ul-bg.gif) right top repeat-y; padding: 0 16px 0 0; float: left; width: 111px;}
		.chek-outer ul.second {width: 147px; padding-left: 15px;}
		.chek-outer ul.third {width: 128px; padding-left: 15px;}
		.chek-outer ul li {position: relative;}
		.chek-outer ul li label {font-size: 16px; padding: 0 4px 2px 3px; float: left; border-bottom: 3px solid #fff;}
		.chek-outer ul li.activ label {border-bottom: 3px solid #24b130;}
		.chek-outer ul.first-ul {padding-top: 23px;}
		.chek-outer ul.first-ul li {padding-bottom: 13px;}
		.select-outer {width: 186px; float: left; padding: 11px 0 0 16px;}
		.select-outer select {border: 1px solid #c8c8c8; width: 170px; font-size: 14px;}
		.select-outer .inner {padding: 0 0 13px 0;}
		.niceCheck {width: 20px; height: 23px; display: inline-block; cursor: pointer; background: url(../images/checkbox.png) left -27px; float: right; position: relative; top: -4px; overflow: hidden;}
		.niceCheck input {display: none;}
		.subbmit {background: url(../images/subbmit-bg.png) no-repeat; width: 170px; height: 23px; line-height: 23px; font-size: 16px; color: #3d3d3d; border: 0; padding: 0; cursor: pointer;}
		.dogs-outer {background: url(../images/avtorization-inner-bg.gif) left bottom repeat-x; padding: 6px 0 18px 0;}
		.dogs-outer h3 {text-align: center; font-size: 20px; font-weight: normal; color: #545454; text-transform: uppercase; padding: 0 0 5px 0;}
		.list {padding: 0 0 0 22px;}
		.list li {display: inline-block; position: relative; text-align: center; vertical-align: top; width: 150px; margin: 0 13px 0 0;}
		.list li div {background: url(../images/list-li-div-bg.jpg) no-repeat; display: table-cell; width: 136px; height: 131px; vertical-align: middle;}
		.list li div a {display: block;}
		.list li div a {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
		*+html .list li {display: inline;}
		*+html .list li div a {margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");}
		.list li a {font-size: 15px; color: #404040;}
		.tovars-inner-other {background: url(../images/tovars-inner-other-bg.jpg) center top repeat-y;}
		.tovars-inner-other .left-col-inner {margin: 0; padding-top: 21px;}
		.tovars-inner-other-first .left-col-inner {padding: 0;}
		.pagenavi {border-top: 1px solid #ccc; width: 689px; margin: 0 auto; padding: 0 0 19px 0;}
		.pagenavi ul {float: left; margin: -1px 0 0 0; padding: 0 0 0 51px;}
		.pagenavi li { float: left; margin: 0 3px 0 0;}
		.pagenavi li a {background: #f2f2f2; border: 1px solid #ccc; padding: 2px 7px 0 8px; display: block; font-size: 24px; color: #3b3b3b;}
		.pagenavi li span {color: #ccc; display: block; font-size: 18px;}
		.pagenavi li a i {font-style: normal; font-size: 14px; text-transform: uppercase; display: block; padding: 5px 0 7px 0;}
		.pagenavi li.activ a {border-top: 0; background: #fff; padding-top: 3px;}
		*+html .pagenavi li a i {padding-bottom: 6px;}
		.product-pic {width: 192px; float: left;}
		.big {position: relative; padding: 5px 0 0 18px; z-index: 8; height: 378px;}
		.action-big {background: url(../images/action-big.png) no-repeat; width: 88px; height: 89px; position: absolute; left: 12px; top: 26px; text-align: center;}
		.action-big span {font-size: 30px; font-weight: bold; color: #c50000; display: block; padding: 26px 0 0 0;}
		.zoom {position: absolute; right: 35px; bottom: 30px; cursor: pointer;}
		.small-foto {float: left; margin: -27px 0 0; position: relative; z-index: 10; padding: 0 0 0 42px;}
		.small-foto li {display: inline; margin: 0 10px;}
		.big-popap-bg {background: url(../images/big-popap-bg.png) no-repeat; width: 129px; height: 40px; text-align: center; position: absolute; top: 211px; left: 33px; cursor: pointer; display: none;}
		.big-popap-bg p {font-size: 14px; color: #474646; padding: 2px 0 0 0;}
		.product-info {width: 495px; float: left;}
		.product-info h2 {font-size: 30px; font-weight: normal; padding: 12px 0 6px 0;}
		.product-info h3 {font-size: 19px; font-weight: normal;}
		.rating {border-bottom: 1px solid #d9d9d9; margin: 8px 20px 0 0;}
		.rating span {float: left; color: #7d7d7d; font-size: 13px; padding: 3px 4px 0 0;}
		.rating ul {float: left; padding: 0 18px 0 0;}
		.rating ul li {float: left; margin: 0 1px 0 0;}
		.respons {float: left; font-size: 13px; color: #7d7d7d; border-bottom: 1px dashed #7d7d7d; padding: 2px 0 0 0;}
		.delivery {color: #ff6000; padding: 10px 0 12px 8px; border-bottom: 1px solid #d9d9d9; margin: 0 20px 0 0;}
		.delivery p {font-size: 17px;}
		.inf {position: relative;}
		.plashka {border: 1px solid #999999; background: #efefef; width: 200px; position: absolute; top: 0px; right: 20px; z-index: 1000;}
		.plashka p {padding: 10px; line-height: 1.4; font-size: 11px; color: #000;}
		.tex .plashka {border: 1px solid #999999; background: #efefef; width: 100px; position: absolute; top: 5px; left: 90px; z-index: 1000;}
		
		
		.insid {width: 320px; margin: 10px 0 0 0; padding: 0 0 9px 0;}
		.insid img {float: left; margin: 0 9px 0 0;}
		.insid h4 a {font-size: 15px; text-decoration: underline; color: #3f3f3f;}
		.insid h4 a:hover {text-decoration: none;}
		.insid p {font-size: 13px; text-indent: 7px;}
		.see {background: url(../images/see-bg.png) no-repeat; width: 313px; height: 28px; display: block; margin: 9px auto 0 auto; font-size: 15px; text-decoration: none; color: #3c3c3c; text-align: center; padding: 11px 0 0 0;}
		.insid .see:hover {text-decoration: underline;}
		.tovars-inner-sec .tovars-wrap {border-bottom: 1px dotted #ccc;}
		.tovars-inner-sec .tovars-inside {margin: 0; padding: 0 25px 0 0;}
		.tovars-inner-sec .tovars-inside-last {padding: 0;}
		
		.markes {border-top: 1px dotted #ccc;}
		.markes-inner {border-bottom: 1px dotted #ccc; padding: 20px 5px 15px 0;}
		.markes-inner img {float: left; margin: 0 9px 0 0;}
		.markes-inner h4 a {font-size: 15px; text-decoration: underline; color: #3f3f3f;}
		.markes-inner h4 a:hover {text-decoration: none;}
		.markes-inner p {font-size: 13px; text-indent: 7px;}
		.markes-inner .see {float: right;}
		.markes-inner .more {color: #333; text-decoration: underline; display: block; padding: 8px 0 0 0;}
		.markes-inner .more:hover {text-decoration: none;}
		.other-markets {padding: 12px 0 0 6px;}
		.other-markets p {font-size: 15px; color: #707070;}
		.other-markets p strong {color: #3c3c3c;}
		.other-markets p a {color: #3c3c3c; text-decoration: underline; font-weight: bold;}
		.other-markets p a:hover {text-decoration: none;}
		.tovars-outer-last {padding-left: 0; padding-right: 0; width: 100%;}
		.marks-inner-title {background: url(../images/marks-inner-title-bg.png) left bottom repeat-x; padding: 11px 0 12px 0;}
		.marks-inner-title img {float: left; margin: 0 12px 0 13px;}
		.marks-inner-title h3 {font-size: 15px; padding: 2px 0 11px 0;}
		.marks-inner-title p {padding: 0 0 3px 0;}
		.marks-inner-title p span {text-decoration: underline; font-size: 15px;}
		.marks-inner-title p a {color: #ff6c00; font-size: 11px; padding: 0 0 0 8px;}
		.tovars-outer-last h2 {margin: 0 11px; border-bottom: 1px dotted #ccc; display: block;}
		.marks-inner-body {font-size: 14px; padding: 8px 5px 0 13px;}
		.marks-inner-body p {padding: 0 0 17px 0;}
		.marks-inner-footer {padding: 11px 0 0 3px; border-top: 1px dotted #ccc; margin: 0 11px;}
		.marks-inner-footer p {font-size: 14px; font-weight: bold;}
		.marks-inner-footer p a {text-transform: uppercase; color: #fe6c01; text-decoration: underline; margin: 0 3px 0 0;}
		.marks-inner-footer p a:hover {text-decoration: none;}
		.tovars-outer-last-other {border-bottom: 0;}
		.add-recall {margin: 0 19px 0 17px;}
		.add-recall form {padding: 22px 0 0 0;}
		.add-recall h3 {font-size: 22px; color: #6abe16; border-bottom: 1px dotted #949494; padding: 0 0 3px 0;}
		.add-recall .inn {padding: 0 0 12px 0;}
		.add-recall label {font-size: 16px; padding: 4px 15px 0 0; float: left;}
		.add-recall input {float: left; width: 270px; height: 28px; border: 1px solid #b2b2b2; line-height: 28px;}
		.add-recall .textarea {padding: 9px 0 0 0;}
		.add-recall textarea {width: 527px; height: 155px; border: 1px solid #b2b2b2; overflow: hidden;}
		.add-recall .textarea-footer {background: url(../images/textarea-footer.gif) no-repeat; width: 529px; height: 14px; overflow: hidden; color: #8b7777; font-size: 11px;}
		.add-recall .textarea-footer span {padding: 0 0 0 1px;}
		.add-recall .inn .captcha label {padding-bottom: 10px; padding-top: 2px;}
		.add-recall .inn .captcha img {border: 1px solid #ccc;}
		.add-recall .inn .captcha .refresh {padding: 5px 0 3px 14px;}
		.add-recall .inn .captcha .refresh img {border: 0; margin: 0 3px 0 0;}
		.add-recall .inn .captcha .refresh a {color: #777;}
		.add-recall .inn .captcha .txxx {width: 116px; height: 20px; line-height: 20px; float: none;}
		.add-recall .inn .captcha .subbb {background: url(../images/subbb-bg.png) no-repeat; width: 195px; height: 28px; line-height: 28px; font-size: 16px; color: #3c3c3c; border: 0; display: block; float: none; margin: 17px 0 0 0; cursor: pointer;}
		
		.zakaz-outer {padding: 19px 0 0 0;}
		.zakaz-title {background: #dceed8; border: 1px solid #b8deb1; margin: 0 6px 0 7px; padding: 6px 0 6px 28px;}
		.zakaz-title p {font-weight: bold;}
		.zakaz-body {padding: 19px 5px 0 3px;}
		.zakaz-body .tab1 {border-bottom: 3px solid #dddcdc;}
		.zakaz-body .tab1 tr th {padding: 0 0 8px 0; text-align: left;}
		.zakaz-body .tab1 tr th i {font-style: normal; padding-left: 9px;}
		.zakaz-body .tab2 tr td {border-bottom: 1px solid #e4e3e3; padding: 6px 0 4px 0;}
		.zakaz-body .tab2 tr td.first {border-bottom: 1px solid #fff;}
		.zakaz-body .tab2 tr td .arrow {background: url(../images/up-bg.png) no-repeat; width: 18px; height: 18px; cursor: pointer;}
		.zakaz-body .tab2 tr td .arrow.activ {background: url(../images/down-bg.png) no-repeat;}
		.zakaz-body .tab2 tr td i {font-style: normal; padding: 0 0 0 2px;}
		.zakaz-body .tab2 tr td span {font-weight: bold; color: #7fc21d;}
		.zakaz-body .tab2 tr.las-t td {border-bottom: 0;}
		.zakaz-body .tab3 {margin: 3px 0 0 30px; width: 648px;}
		.zakaz-body .tab3 tr th {text-align: left; border-bottom: 3px solid #dddcdc; padding: 0 0 3px 0;}
		.zakaz-body .tab3 tr td {border-bottom: 1px solid #dddcdc; padding: 3px 0 4px 0;}
		.zakaz-body .tab3 tr td span {display: block; text-align: center;}
		.zakaz-button {background: url(../images/zakaz-bg.png) no-repeat; width: 234px; height: 26px; text-decoration: none; font-size: 16px; float: right; text-transform: uppercase; color: #3c3c3c; padding: 6px 0 0 54px; margin: 6px 0;}
		.summa {background: #efefef; padding: 11px 0 12px 27px;}
		.summa p {font-size: 15px;}
		.summa p strong {color: #6cbc1c; font-size: 20px;}
		
		.dostavka-bg {padding: 11px 0 23px 0; width: 687px;}
		.dostavka-bg h2 {font-size: 19px; font-weight: normal; color: #3d3d3d; text-align: center; text-transform: uppercase; padding: 0 0 12px 0;}
		.dostavka-title {background: url(../images/dostavka-title-bg.png) repeat-x; height: 39px;}
		.dostavka-title ul {float: left; padding: 8px 0 0 15px;}
		.dostavka-title ul li {float: left; font-size: 16px; color: #ccc;}
		.dostavka-title ul li a {color: #3d3d3d; text-decoration: underline;}
		.dostavka-title ul li i {padding: 0 5px 0 2px; font-style: normal;}
		.dostavka-title h3 {font-size: 19px; font-weight: normal; color: #ff7e00; padding: 6px 0 0 147px; float: left;}
		.dostavka-title h3.h31 {padding-left: 30px;}
		.dostavka-preambule {padding: 11px 10px 10px 15px;}
		.dostavka-preambule p {font-size: 15px;}
		.dostavka-inner {background: #f6f6f6; border-top: 1px dotted #ccc; border-bottom: 1px dotted #ccc; padding: 8px 0 5px 29px; position: relative; width: 658px;}
		.dostavka-inner .subbbb {background: url(../images/subbbb-bg.png) no-repeat; width: 80px; height: 28px; line-height: 28px;
								 font-size: 16px; text-transform: uppercase; color: #424242; float: left; cursor: pointer; border: 0; padding: 0; margin-right: 7px;}
		.dostavka-inner .info {background: url(../images/info-bg.png) no-repeat; width: 449px; height: 33px; float: left; padding: 3px 0 0 32px; position: relative;}
		.dostavka-inner .info p {line-height: 1.0;}
		.dostavka-inner .info .spravka {position: relative; top: 2px; margin: 0 0 0 2px; cursor: pointer;}
		.dostavka-inner .info .plashka {position: absolute; right: -80px; top: -6px;}
		.dostavka-inner .close {float: left; margin: 12px 0 0 42px; cursor: pointer;}
		.dostavka-inside {border-bottom: 1px dotted #ccc; padding: 11px 0 10px 0;}
		.dostavka-inside .pic {float: left; width: 140px; text-align: center; position: relative;}
		.dostavka-inside .dostavka-inside-info {width: 547px; float: left;}
		.dostavka-inside-info {padding: 2px 0 0 0;}
		.dostavka-inside-info .name {font-size: 10px;}
		.dostavka-inside-info h4 {font-size: 15px; color: #3a3a3a; padding: 1px 0 0 0;}
		.dostavka-inside-info p {padding: 1px 0 6px 0;}
		.dostavka-inside-info .tab {background: #fff url(../images/tab-bg.png) left bottom repeat-x; height: 43px; border: 1px solid #ccc; width: 444px; padding: 7px 0 0 11px; margin-bottom: 7px;}
		.dostavka-inside-info .tab table tr th {font-weight: normal; text-align: left; font-size: 10px; color: #858585;}
		.lineForm {width: 59px; position: relative; z-index: 100; position:relative;}
		.dostavka-inside-info .tab table tr td {vertical-align: top;}
		.dostavka-inside-info .tab table tr td .in {background: url(../images/in-bg.png) no-repeat; width: 34px; height: 22px; line-height: 22px; border: 0; padding: 0 0 0 6px; font-size: 15px;}
		.dostavka-inside-info .tab table tr td strong {font-size: 19px; font-weight: bold; color: #a4a4a4; text-decoration: line-through;}
		.dostavka-inside-info .tab table tr td i {font-style: normal; font-weight: bold; font-size: 19px;}
		.dostavka-inside-info .tab table tr td b {font-size: 19px; color: #6cbc1c;}
		.dostavka-inside-info .tab table tr th .dell {background: url(../images/dell-bg.png) left 9px no-repeat; padding: 0 0 0 12px; display: block; color: #474747; text-decoration: underline;}
		.dostavka-inside-info .tab table tr th .dell:hover {text-decoration: none;}
		.pic .action {left: 69px; bottom: -5px;}
		.dostavka-footer {background: url(../images/dostavka-footer-bg.png) no-repeat; width: 587px; height: 48px; padding: 13px 0 0 16px; margin: 14px 0 20px 17px;}
		.dostavka-footer span {font-size: 15px; padding: 0 15px 0 0; font-size: 15px;}
		.dostavka-footer span.last {padding-right: 0; font-size: 13px;}
		.dostavka-footer span strong {font-size: 28px; color: #6cbc1c;}
		.su {background: url(../images/su-bg.png) no-repeat; margin: 0 auto; display: block; font-size: 19px; color: #fff; width: 197px; height: 28px; text-align: center; padding: 1px 0 0 0;}
		.sidebar-first h3 {font-size: 18px; color: #ff7e00; font-weight: normal; border-bottom: 1px dotted #ccc; text-align: center; padding: 1px 0 7px 0; margin: 0 0 14px 0;}
		.bo {background: url(../images/one-bg.png) no-repeat; width: 145px; height: 64px; text-align: center; margin: 0 0 4px 3px; padding: 44px 0 0 0;}
		.bo p {color: #929292; padding: 0 10px;}
		.bo.two {background: url(../images/two-bg.png) no-repeat;}
		.texx {position: relative; left: -13px;}
		.texx span {font-size: 15px; padding: 0 10px 0 0;}
		.texx span strong {font-size: 17px; color: #ff7e00;}
		.texx span.last {font-size: 12px;}
		
		.step-outer {padding: 3px 0 0 0; border-top: 1px dotted #ccc;}
		.step-outer .inne {font-size: 16px; position: relative; padding: 0 20px 12px 13px; margin: 0 9px 3px 7px; border-bottom: 1px dotted #ccc;}
		.step-outer .inne-last {padding-bottom: 7px;}
		.step-outer .inne label {display: block; padding: 0 0 5px 8px;}
		.step-outer .inne span {color: #999898; font-size: 12px; position: absolute; top: 9px; right: 28px;}
		.step-outer .inne input.t-x {width: 618px; height: 33px; line-height: 33px; border: 2px solid #ccc; margin: 0 8px;}
		.step-outer .inne-inside {background: #fdf5e3; padding: 0 0 10px 8px;}
		.step-outer .inne-inside div {padding: 0 13px 0 0; float: left;}
		.step-outer .inne-inside div p {font-size: 14px; padding: 0 0 2px 0;}
		.step-outer .inne-inside div p img {position: relative; top: 2px; left: 1px;}
		.step-outer .inne-inside div input {width: 172px; height: 33px; border: 2px solid #ccc; line-height: 33px;}
		.step-outer .inne-inside div.bok-1 input {width: 218px;}
		.step-outer .inne-inside div.bok-2 input {width: 57px;}
		.step-outer .inne-inside div.bok-3 input {width: 41px;}
		.step-outer .inne-inside div.bok-4 {padding: 0;}
		.step-outer .inne-inside div.bok-4 input {width: 61px;}
		.step-outer .inne-inside div.bok-5 input {width: 298px;}
		.step-outer .inne-inside div.bok-6 input {width: 300px;}
		.step-outer .inne-inside div.bok-6 i {font-size: 10px; font-style: normal}
		.step-outer .inne-inside div.bok-7 input {width: 295px;}
		.step-outer .inne-inside div.bok-8 input {width: 300px;}
		.step-outer-second {border: 0; padding-top: 11px;}
		.step-outer-second .inne-inside div {padding: 8px 11px 0 0; position: relative;}
		.step-outer-second .inne-inside div.plashka {position: absolute;}
		.hea {position: relative; font-size: 16px; padding: 13px 0 4px 0;}
		.hea img {cursor: pointer;}
		.t-xx {color: #ff6c44; font-size: 14px; padding: 9px 0 0 8px;}
		.slid {padding: 6px 0 0 20px;}
		.slid h3 {background: url(../images/slid-h3.png) no-repeat; width: 211px; height: 26px; font-size: 16px; font-weight: normal; padding: 5px 0 0 8px; cursor: pointer;}
		.slid h4 {background: url(../images/slid-h4.png) no-repeat; width: 452px; height: 26px; font-size: 16px; font-weight: normal; padding: 5px 0 0 8px; cursor: pointer;}
		.slid textarea {width: 618px; height: 107px; border: 2px solid #ccc; padding: 0; overflow: hidden; margin: 10px 0 18px 8px;}
		
		.pays-variant {padding: 0 0 11px 0;}
		.pays-variant h4 {font-size: 16px; font-weight: normal; padding: 8px 0 13px 28px;}
		.pays-variant ul {padding: 0 0 0 28px;}
		.pays-variant ul li {float: left; position: relative; height: 77px;}
		.pays-variant ul li .niceCheck {position: absolute; right: 10px; top: 38px;}
		.pays-variant ul li div {height: 47px; width: 100%;}
		.pays-variant ul li label {display: block; text-align: center;}
		.pays-variant ul li.pay-1 {padding-right: 31px; width: 98px;}
		.pays-variant ul li.pay-1 div {background: url(../images/pay-5.gif) center top no-repeat;}
		.pays-variant ul li.pay-2 {padding-right: 9px; width: 115px;}
		.pays-variant ul li.pay-2 div {background: url(../images/pay-6.gif) center top no-repeat;}
		.pays-variant ul li.pay-2 .niceCheck {right: 4px;}
		.pays-variant ul li.pay-3 {padding-right: 14px; width: 119px;}
		.pays-variant ul li.pay-3 div {background: url(../images/pay-7.gif) center top no-repeat;}
		.pays-variant ul li.pay-4 {padding-right: 21px; width: 101px;}
		.pays-variant ul li.pay-4 div {background: url(../images/pay-8.gif) center top no-repeat;}
		.pays-variant ul li.pay-4 .niceCheck {right: 15px;}
		.pays-variant ul li.pay-5 {width: 141px;}
		.pays-variant ul li.pay-5 div {background: url(../images/pay-9.gif) center top no-repeat;}
		.pays-variant ul li.pay-5 .niceCheck {right: 4px;}
		.t-xxx {background: url(../images/t-xxx-bg.gif) no-repeat; width: 654px; height: 35px; margin: 11px 0 11px 28px;}
		.t-xxx p {font-size: 15px; padding: 9px 0 0 17px;}

		
		
		.inf {font-size: 14px;}
		.inf img {margin: 0 0 0 5px; position: relative; top: 3px; cursor: pointer;}
		.basket-list {padding: 9px 0 0 6px;}
		.basket-list li {background: url(../images/basket-list-li-bg.gif) no-repeat; width: 458px; height: 46px; margin: 0 0 8px 0; cursor: pointer;}
		.basket-list li:hover {background: url(../images/basket-list-li-bg-hover.gif) no-repeat;}
		.basket-list li .mass {float: left; font-size: 26px; color: #3b3b3b; width: 87px;}
		.basket-list li .mass span {padding: 6px 0 0 14px; display: block;}
		.basket-list li .tex {width: 107px; float: left; font-size: 13px; color: #717171; font-size: 13px; position: relative;}
		.basket-list li .tex p {padding: 5px 0 0 0; text-align: center;}
		.basket-list li .tex p span {display: block; padding: 1px 0 0 0; text-decoration: line-through;}
		.basket-list li .tex p span.activ {color: #FF0000;}
		.basket-list li .tex p i {font-style: normal; display: block; padding: 1px 0 0 0;}
		.basket-list li .tex p i img {margin: 0 0 0 2px; position: relative; top: 3px; cursor: pointer;}
		.basket-list li .prices {width: 134px; float: left; font-size: 28px; font-weight: bold; color: #6cbc1c; padding: 4px 0 0 0;}
		.basket-list li .in-basket {width: 130px; float: left; height: 43px;}
		.basket-list li .in-basket span {font-size: 14px; color: #fff; font-weight: bold; padding: 7px 0 0 8px; display: block;}
		.basket-list li .in-basket:hover {text-decoration: none;}
		.pay-uoter {padding: 10px 0 0 1px;}
		.pay-left {width: 242px; float: left;}
		.pay-right {width: 240px; float: left;}
		.inside {padding: 0 0 15px 0;}
		.inside img {float: left;}
		.inside ul {padding: 1px 0 0 49px;}
		.inside ul li {float: left; position: relative;}
		.inside ul li .plashka {border: 1px solid #999999; background: #efefef; width: 80px; position: absolute; top: -40px; left: -30px; z-index: 1000;}
		.inside ul li .plashka p {padding: 2px; line-height: 1.4; font-size: 11px; color: #000;}
		.inside ul li a {float: left; height: 25px; margin: 0 5px 0 0; text-decoration: none;}
		.inside ul li a.a01 {background: url(../images/cart-1-1.png) no-repeat; width: 38px;}
		.inside ul li a.a01:hover {background: url(../images/cart-1.png) no-repeat;}
		.inside ul li a.a02 {background: url(../images/cart-2-2.png) no-repeat; width: 38px;}
		.inside ul li a.a02:hover {background: url(../images/cart-2.png) no-repeat;}
		.inside ul li a.a03 {background: url(../images/cart-3-3.png) no-repeat; width: 25px;}
		.inside ul li a.a03:hover {background: url(../images/cart-3.png) no-repeat;}
		.inside ul li a.a04 {background: url(../images/cart-4-4.png) no-repeat; width: 24px;}
		.inside ul li a.a04:hover {background: url(../images/cart-4.png) no-repeat;}
		.inside ul li a.a05 {background: url(../images/cart-5-5.png) no-repeat; width: 38px;}
		.inside ul li a.a05:hover {background: url(../images/cart-5.png) no-repeat;}
		.heading {padding: 0 0 0 18px;}
		.heading li {background: url(../images/heading-bg.gif) right 7px no-repeat; float: left; height: 40px; padding: 0 9px 0 0; overflow: hidden; margin: 0 17px 0 0;}
		.heading li:hover {background-position: right 0;}
		.heading li:hover a {background-position: left 0;}
		.heading li a {background: url(../images/heading-a-bg.gif) left 7px no-repeat; float: left; height: 29px; font-size: 20px; color: #fff; text-decoration: none; text-align: center; padding: 11px 0 0 9px; width: 132px;}
		.heading li.current {background: url(../images/heading-bg-current.gif) right 7px no-repeat;}
		.heading li.current a {background: url(../images/heading-a-current.gif) left 7px no-repeat;}
		.heading li.current:hover {background-position: right 0;}
		.heading li.current:hover a {background-position: left 0;}
		.container {border-top: 1px solid #b7b7b7; padding: 2px 5px 11px 0; display: none;}
		.visible {display: block;}
		.container-inner {padding-left: 15px; padding-bottom: 4px;}
		.container-inner p {font-size: 13px; text-indent: 8px;}
		.container-inner h4 {font-size: 14px; padding: 9px 0 8px 0;}
		.container-inner ul {padding: 7px 0 8px 12px;}
		.container-inner ul li {padding: 0 0 2px 0;}
		.container-inner ul li strong {text-transform: uppercase;}
		.container-inner .tx {border-top: 1px dotted #b7b7b7; padding: 5px 0 0 0;}
		.container-inner .tx p {font-size: 12px; line-height: 1.0; color: #767676; text-indent: 0;}
		.bay {padding: 12px 0 0 9px;}
		.bay h3 {font-size: 14px; font-weight: normal; padding: 0 0 14px 0;}
		.bay .table {width: 294px; margin: 0 auto; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-size: 14px;}
		.bay .table tr th {background: #ebebea; border: 1px solid #ccc; border-bottom: 0; border-right: 0; font-weight: normal; padding: 4px 0 3px 0;}
		.bay .table tr td {border: 1px solid #ccc; border-bottom: 0; border-right: 0; text-align: center; padding: 6px 0 4px 0;}
		.bay p {font-size: 14px; padding: 18px 0 0 2px; line-height: 1.3; color: #3a3a3a;}
		.raschet {background: url(../images/raschet.png) no-repeat; width: 672px; height: 136px; padding: 18px 0 0 10px;}
		.box {background: url(../images/box-bg.gif) right top repeat-y; width: 155px; float: left; padding: 0 0 12px 0;}
		.box.two {width: 180px;}
		.box select {width: 152px; height: 20px; border: 1px solid #c8c8c8; font-size: 14px; display: block; margin: 3px auto 0 auto;}
		.box.three {width: 161px;}
		.box.three select {width: 122px;}
		.box.last {width: 159px; background: none;}
		.box h4 {font-size: 16px; font-weight: normal; text-align: center; padding: 0 0 10px 0; position: relative;}
		.box .txx {border: 1px solid #c8c8c8; width: 77px; height: 27px; line-height: 27px; margin: 0 auto; display: block; text-align: center;}
		.box .spravka {margin: 0 0 0 3px; position: relative; top: 1px; cursor: pointer;}
		.subb {background: url(../images/subb-bg.png) no-repeat; width: 418px; height: 30px; line-height: 30px; font-size: 16px; color: #3d3d3d; border: 0; padding: 0; margin: 0 auto; display: block; cursor: pointer;}
		.foot-text p {color: #ff6000; font-size: 15px; text-align: center;}
		.foot-text p strong {font-size: 18px; font-weight: normal;}
		.box h4 .plashka {position: absolute; left: 0px; top: -10px; width: 100px;}
		.box h4 .plashka p {padding: 2px;}
		.otzivi {padding: 0 6px 0 9px;}
		.otzivi-title {border-bottom: 1px dotted #b7b7b7; padding: 12px 0 14px 0;}
		.otzivi-title span {font-size: 15px;}
		.otzivi-inner {}
		.otzivi-inner .rat {float: left;}
		.otzivi-inner .rat ul {float: left; padding: 16px 0 0 0;}
		.otzivi-inner .rat ul li {float: left;}
		.otzivi-inner .rat p {float: left; padding: 15px 0 0 9px;}
		.nambers {width: 168px; float: right; padding: 3px 0 0 0;}
		.nambers .nambers-inner-left {float: left; padding: 3px 0 0 0;}
		.nambers .nambers-inner-left span {font-size: 25px; color: #ff6000;}
		.nambers .nambers-inner-right {float: left; padding: 0 0 0 15px;}
		.nambers .nambers-inner-right p {color: #878787; padding: 0 0 3px 0;}
		.nambers .nambers-inner-right a {margin: 0 15px 0 0;}
		.nambers .nambers-inner-right a.lastt {margin: 0;}
		.otzivi-inner-body {padding: 3px 0 9px 0; border-bottom: 1px dotted #b7b7b7;}
		.otzivi-inner-body p {font-size: 14px; color: #484848; padding: 0 0 14px 2px;}
		.otzivi-inner-body .author {display: block; text-align: right; font-size: 14px; color: #878787; position: relative; top: -7px;}
		.otzivi-inner-footer {padding: 6px 0 0 5px;}
		.otzivi-inner-footer a {color: #ff8a44; font-size: 14px; text-transform: uppercase;}
		

		.pagenavi-top {border-top: 0; padding: 14px 0 0 0; border-bottom: 1px solid #ccc; margin-bottom: 7px;}
		.pagenavi-top ul {padding-left: 137px;}
		.pagenavi-bottom {padding-left: 137px;}
		.pagenavi-top li a {border-bottom: 0;}
		.pagenavi-top li.activ a {border-top: 1px solid #ccc; background: #fff; padding-top: 2px;}
		.recall-inner {border-bottom: 1px dotted #4a4a4a; margin: 0 12px; padding: 10px 0;}
		.recall-inner-last {border-bottom: 0;}
		.recall-insude-bg1 {background: url(../images/recall-insude-bg1.gif) no-repeat; padding: 9px 0 0 0;}
		.recall-insude-bg2 {background: url(../images/recall-insude-bg2.gif) left bottom no-repeat; padding: 0 0 9px 0;}
		.recall-insude-bg3 {background: url(../images/recall-insude-bg3.gif) repeat-y; width: 635px; font-size: 14px; padding: 0 14px 3px 14px;}
		.recall-insude-bg3 .title {padding: 1px 0 4px 0;}
		.recall-insude-bg3 .title .aut {font-weight: bold;}
		.recall-insude-bg3 .title .time {color: #b3b3b3; padding: 0 0 0 12px;}
		.recall-insude-bg3 .title .time i {font-style: normal; padding: 0 0 0 7px;}
		.recall-insude-bg3 h4 {font-weight: normal;}
		.otvet-bg1 {background: url(../images/otvet-bg1.gif) no-repeat; width: 634px; padding: 10px 0 0 0; margin: 4px 0 0 28px;}
		.otvet-bg2 {background: url(../images/otvet-bg2.gif) left bottom no-repeat; padding: 0 0 9px 0;}
		.otvet-bg3 {background: url(../images/otvet-bg3.gif) repeat-y; width: 605px; padding: 0 22px 0 7px;}
		.otvet-bg3 p {font-size: 14px;}
		.otvet-bg3 span {display: block; text-align: right; font-size: 14px;}
		

	
	.right-column {width: 150px; float: left; padding: 0 0 0 1px; overflow: hidden;}
		.sidebar-second h3 {background: url(../images/sidebar-second-h3.gif) no-repeat; width: 141px; height: 27px; font-size: 16px; color: #fff; text-transform: uppercase; font-weight: normal; padding: 9px 0 0 9px;}
		.sidebar-second .h3 {font-size: 13px; padding-top: 10px; height: 26px;}
		.sidebar-second .h31 {font-size: 12px; padding-top: 11px; height: 25px;}
		.sidebar-second .navi {background: #f7f7f7; margin: 2px 0 6px 0;}
		.sidebar-second .navi li {border-bottom: 1px dotted #c3c3c3;}
		.sidebar-second .navi li a {font-size: 14px; color: #3d3d3d; text-decoration: none; display: block; padding: 9px 0 6px 10px;}
		.sidebar-second .navi li a:hover {text-decoration: underline;}
		.navigation {margin: 3px 0 6px 0;}
		.navigation li {background: #ebebea; margin: 0 0 3px 0; width: 150px;}
		.navigation li a {display: block; font-size: 14px; color: #3d3d3d; text-decoration: none; display: block; padding: 8px 0 6px 9px;}
		.all-ststs {color: #323131; font-size: 11px; border-bottom: 1px dashed #0b0b0b; display: block; margin: 0 0 5px 9px; position: relative; top: -3px;}
		.all-ststs:hover {text-decoration: none; border-bottom: 1px dashed #fff;}
		.block {border-bottom: 1px dotted #b4b4b4; font-size: 11px; padding: 5px 0 11px 4px;}
		.block .date {color: #8a8a8a;}
		.block p {line-height: 1.2; padding: 5px 0 0 7px;}
		.consultant {display: block; margin: 2px 0 6px 0;}
		
		
		
	.footer {width: 989px; margin: 0 auto; padding: 0 0 15px 0;}
	.preambule {background: #f0f0f0; height: 42px; padding: 0 0 0 76px;}
	.preambule p {font-size: 18px; float: left; padding: 13px 0 0 0;}
	.preambule img {float: left; margin: 8px 32px 0 33px;}
	.footer-menu {padding: 10px 0 8px 84px;}
	.footer-menu li {float: left; border-right: 1px solid #cfcfce; padding: 3px 20px 5px 20px;}
	.footer-menu li a {font-size: 14px; color: #424242; float: left;}
	.footer-menu li.lasts {border: 0; padding-right: 0;}
	.footer-text {text-align: center;}
	.footer-text p {padding: 0 0 3px 0;}