/*
Author: Shapoval Andry
Author URI: http://www.free-lance.ru/users/merr
*/
html, body {width:100%; height:100%; padding: 0; margin :0;}
table {border-collapse: collapse; width: 100%;} 
input:focus {outline: none;}
.clear {clear: both; height: 0; text-indent: -9000px; overflow: hidden;}
a {text-decoration: underline; color: #003792;}
a:hover {text-decoration: none;}
a:focus {outline: none;}
/*	clearfix			*/
.clearfix{_height: 1%; _overflow: visible;}
.clearfix:after{content: "."; display: block; height: 0px; clear: both; visibility: hidden; line-height:0px; font-size:0px;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*	clearfix			*/


	body {background: #fff url(../images/body-bg.png) repeat-x; font: 12px Arial, Helvetica, sans-serif; color: #8e8f8f;}
	
	.wrapper { width: 973px; margin: 0 auto;  position:relative;  min-height: 100%; height: auto !important; height: 100%;}
	
	.head { height: 226px; position: relative;}
		.head .menu { margin: 0; padding: 14px 0 0 35px; list-style: none;}
		.head .menu li { background: url(../images/menu-li-bg.png) right 3px no-repeat; float: left; padding: 0 26px 0 0; margin: 0 15px 0 0; position: relative;}
		.head .menu li a { font-size: 14px; color: #00bcee;}
		.head .menu li.last { background: none;}
		.head .menu div { background: url(../images/menu-div-bg.gif) 10px 0 no-repeat; position: absolute; top: 26px; left: 0px; width: 221px;}
		.head .menu div ul {background: #317599; padding: 0 10px 11px 11px; list-style: none; width: 200px; margin: 0;}
		.head .menu div ul li { float: none; width: 200px; border-bottom: 1px solid #6da9ca; background: none; padding: 5px 0 8px 0; margin: 0; }
		.head .menu div ul li a { text-decoration: none; color: #fff;}
		.head .logo { float: left; padding: 66px 0 0 36px;}
		.head .logo img { border: 0;}
		.head .head-inner { float: left; padding: 60px 0 0 19px; width: 543px;}
		.head .head-inner .desc { color: #008aff; font-size: 24px; padding: 0 0 0 25px;}
		.head .head-inner h1 { margin: 0; padding: 0; font-size: 30px; font-weight: bold; font-style: italic; color: #1c8fff; line-height: 1.1;}
		.head .head-inner .data { float: left; color: #1c8fff; padding: 15px 85px 0 24px;}
		.head .head-inner .search { float: left; padding: 11px 0 0 0;}
		.head .head-inner .search form { margin: 0; padding: 0;}
		.head .head-inner .search input { background: url(../images/search-input-bg.png) no-repeat; width: 225px; height: 22px; line-height: 22px; border: 0; padding: 0 0 0 25px;}
		.head .icons { float: left; margin: 0; padding: 134px 0 0 90px; list-style: none;}
		.head .icons li { float: left; margin: 0 19px 0 0; width: 28px; height: 22px; text-align: center; padding: 6px 0 0 0;}
		.head .icons li.curr { background: url(../images/curr-bg.png) no-repeat;}
		.head .icons li a { text-decoration: none;}
		.head .icons li a img { border: 0;}
		.head .map { position: absolute; right: 3px; top: 15px;}
	
	.content { background: url(../images/content-bg.gif) no-repeat;  width: 100%; padding-bottom: 121px;}
		.left-col { width: 262px; float: left;}
		.left-col .nav { list-style: none; margin: 0; padding: 25px 0 26px 19px;}
		.left-col .nav li { background: url(../images/nav-li-bg.png) left 6px no-repeat; padding: 0 0 13px 19px;}
		.left-col .nav li a { font-size: 18px; color: #00bcee;}
		.left-col .nav li .submenu { list-style: none; margin: 0 0 -9px 0; padding: 10px 0 0 0;}
		.left-col .nav li .submenu li { background: url(../images/submenu-li-bg.gif) left 4px no-repeat; padding: 0 0 9px 13px; width: 211px;}
		.left-col .nav li .submenu li a { font-size: 14px;}
		.left-col .box { padding: 0 0 0 37px;}
		.left-col .box h2 { font: italic 20px "Times New Roman", Times, serif; color: #4c6573; margin: 0; padding: 0 0 17px 0; line-height: 0.9;}
		.left-col .box form { margin: 0; padding: 0;}
		.left-col .box form input.tx { background: url(../images/box-input-bg.gif) no-repeat; width: 172px; height: 22px; line-height: 22px; font-size: 11px; font-weight: bold; color: #00bdee; border: 0; padding: 0 6px;}
		.left-col .box form .submit { background: url(../images/submit-bg.gif) no-repeat; width: 121px; height: 31px; line-height: 31px; border: 0; padding: 0; font-size: 16px; color: #fff; cursor: pointer; margin: 13px 0 0 0;}
		.center-col {width: 498px; float: left; padding: 24px 0 0 0; position: relative;}
		.center-col h2 {font: italic 20px "Times New Roman", Times, serif; color: #4c6573; margin: 0; padding: 0 65px 16px 0;}
		.center-col .rss { position: absolute; right: 42px; top: 34px;}
		.center-col .rss img { border: 0;}
		.center-col .block { padding: 0 0 8px 0;}
		.center-col .block h3 { margin: 0; padding: 0 0 15px 0;}
		.center-col .block h3 a { text-decoration: none; font-size: 24px; font-weight: normal; color: #303a3e;}
		.center-col .block h3 a img { margin: 0 0 0 7px; border: 0;}
		.center-col .block .inner img { float: left; margin: 3px 16px 0 0;}
		.center-col .block .inner p { margin: 0; padding: 0 20px 0 106px;}
		.center-col .block .inner p a { color: #7d94a2;}
		.center-col .block .inner .time { font-size: 11px; padding: 9px 0 0 106px; color: #b6b6b6; display: block;}
		.center-col .all { float: right; font-size: 11px; color: #ff0000; padding: 0 48px 0 0; position: relative; top: -5px;}
		.center-col .text {padding: 8px 0 0 0;}
		.center-col .text .banner a img { border: 0;}
		.center-col .text-inner { padding: 0 30px 0 0;}
		.center-col .text-inner h2 { margin: 0; padding: 20px 0 9px 0;}
		.center-col .text-inner p { line-height: 1.4; margin: 0; padding: 0 0 20px 0;}
		.right-col { width: 195px; float: left; padding: 30px 0 0 0;}
		.right-col h2 {font: italic 20px "Times New Roman", Times, serif; color: #4c6573; margin: 0; padding: 0 0 16px 0; line-height: 0.9;}
		.right-col .vopros a img { border: 0;}
		.news { padding: 22px 0 0 0;}
		.news-inner { padding: 0 0 23px 0;}
		.news-inner .time {font-size: 11px; color: #b6b6b6; display: block; padding: 0 0 4px 0;}
		.news-inner a { color: #ff0000;}
		.saites ul { list-style: none; margin: 0; padding: 14px 0 0 24px;}
		.saites ul li { padding: 0 0 23px 0;}
		.saites ul li a img { border: 0;}
		
		.question { padding: 0 27px 0 0;}
		.question-inner {padding: 0 0 15px 0; border-bottom: 1px solid #e9e9e9; margin-bottom: 22px;}
		.question-inner span { color: #b6b6b6;}
		.question-inner .out { padding: 0 0 3px 0;}
		.question-inner .out .lef { width: 86px; float: left;}
		.question-inner .out .righ { float: left;}
		.question-inner .out .txx { float: left; width: 385px; }
		.question-inner .out .txx p { margin: 0; position: 0; line-height: 1.4;}
		.question-inner .author { float: right; padding: 7px 5px 0 0;}
		
		.pagenavi { padding-bottom: 164px;}
		.pagenavi ul { padding: 0; margin: 0; list-style: none; border-left: 1px solid #c8d2d9; position: relative; top: -7px;}
		.pagenavi ul li { float: left; border-right: 1px solid #c8d2d9; height: 11px;}
		.pagenavi ul li.activ a, .pagenavi ul li a:hover { color: #00bdee;}
		.pagenavi ul li a { font-weight: bold; text-decoration: none; color: #7c94a2; padding: 0 7px; position: relative; top: -3px;}
		.pagenavi ul li a img { border: 0;}
		
		.asq {}
		.asq form { margin: 0; padding: 0;}
		.asq .onn { padding: 0 0 9px 0;}
		.asq .onn label { font-size: 14px; color: #8e8f8f; display: block; padding: 0 0 2px 11px;}
		.asq .onn label.l01 { font-size: 12px;}
		.asq .onn .tex {background: url(../images/tex-bg.gif) no-repeat; width: 434px; height: 22px; border: 0; line-height: 22px; display: block; padding: 0 10px;}
		.asq .onn span { padding: 3px 0 0 10px;}
		.asq .onn span input { float: left;}
		.asq .onn span i { float: left; font-style: normal; padding: 2px 0 0 0;}
		.asq .onn textarea { background: url(../images/textarea-bg.gif) no-repeat; width: 444px; height: 112px; border: 0; padding: 5px; overflow: hidden;}
		.captcha img { float: left; margin: 0 21px 0 0;}
		.captcha input { background: url(../images/captcha-input-bg.gif) no-repeat; width: 124px; height: 22px; padding: 0 5px; float: left; border: 0;}
		.submitt { background: url(../images/submitt-bg.gif) no-repeat; width: 111px; height: 31px; cursor: pointer; border: 0; padding: 0; font-size: 16px; color: #fff; line-height: 31px; margin: 20px 0 0 0;} 
		
	
	.footer {width: 973px; margin: -108px auto 0 auto; border-top: 2px solid #f0f4f6; height: 108px; position: relative;}
		.footer p { margin: 0;}
		.left-part {width: 266px; float: left;}
		.left-part p { font-size: 11px; color: #d8dde1; padding: 21px 0 0 40px;}
		.center-part { width: 495px; float: left;}
		.center-part p { color: #b3bec5; padding: 21px 90px 0 0;}
		.right-part { width: 212px; float: left; padding: 21px 0 0 0;}
		.right-part a { font-size: 11px; color: #b2bdc5; text-decoration: none; display: block;}
		.right-part a img { display: block; margin: 1px 0 0 0; border: 0;}
		
	